<!--ESTADISTICAS GENERALES-->
<div class="card " *ngIf="listType === 'statistics'">
  <div class="card-header">
    <span *ngIf="transactionMovement === 'Venta'">Productos más vendidos</span>
    <span *ngIf="transactionMovement === 'Compra'">Productos más comprados</span>
  </div>
  <div class="card-block table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Producto </th>
          <th>Ítems Vendidos</th>
          <th>Unidad</th>
          <th>Monto total </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="99" style="padding: 0px">
            <app-progressbar [loading]="loading"></app-progressbar>
          </td>
        </tr>
        <tr *ngFor="let item of items">
          <td class="flat">{{ item.article.description }}</td>
          <td class="flat" *ngIf="transactionMovement === 'Venta' && item.article.quantityPerMeasure">{{ item.count * 1 * item.article.quantityPerMeasure}}</td>
          <td class="flat" *ngIf="transactionMovement === 'Venta' && !item.article.quantityPerMeasure">{{ item.count * 1 }}</td>
          <td class="flat" *ngIf="transactionMovement === 'Compra' && item.article.quantityPerMeasure">{{ item.count * 1 * item.article.quantityPerMeasure * -1}}</td>
          <td class="flat" *ngIf="transactionMovement === 'Compra' && !item.article.quantityPerMeasure">{{ item.count * 1 * -1 }}</td>
          <td class="flat" *ngIf="item.article.unitOfMeasurement">{{ item.article.unitOfMeasurement.name }}</td>
          <td class="flat" *ngIf="!item.article.unitOfMeasurement"></td>
          <td class="flat" *ngIf="transactionMovement === 'Venta'">{{ item.total | currency:'USD':'symbol-narrow':'1.2-2' }}</td>
          <td class="flat" *ngIf="transactionMovement === 'Compra'">{{ item.total * -1 | currency:'USD':'symbol-narrow':'1.2-2' }}</td>
        </tr>
        <tr *ngIf="items.length > 0 && transactionMovement === 'Venta'" align="center">
          <td colspan="4"><a [routerLink]="['','admin','venta','productos-mas-vendidos']">Ver más...</a></td>
        </tr>
        <tr *ngIf="items.length > 0 && transactionMovement === 'Compra'" align="center">
          <td colspan="4"><a [routerLink]="['','admin','compra','productos-mas-comprados']">Ver más...</a></td>
        </tr>
        <tr align="center" *ngIf="areArticlesEmpty && !loading && transactionMovement === 'Venta'">
          <td colspan="4">No se encontraron ventas por productos</td>
        </tr>
        <tr align="center" *ngIf="areArticlesEmpty && !loading && transactionMovement === 'Compra'">
          <td colspan="4">No se encontraron compras por productos</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--REPORTE-->
<section class="container-fluid" *ngIf="listType !== 'statistics'">
  <div class="center-content" *ngIf="alertMessage !== '' && !areTurnsEmptys">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="row container-filter">
    <div class="col-md-2">
      <label for="branch" class="control-label">
        <b>Sucursal</b>
      </label>
      <select class="form-control" [(ngModel)]="branchSelectedId">
        <option [ngValue]="null" [disabled]="!allowChangeBranch">
          Todas
        </option>
        <option 
          *ngFor="let branch of branches" 
          [ngValue]="branch._id" 
          [disabled]="!allowChangeBranch"
          >
          {{branch.number}} - {{branch.name}}
        </option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="startDate" class="control-label">
        <b>Fecha Desde:</b>
      </label>
      <input type="date" class="form-control" name="startDate" min="2000-01-01" [(ngModel)]="startDate" />
    </div>
    <div class="col-md-2">
      <label for="startTime" class="control-label">
        <b>Hora Desde:</b>
      </label>
      <input type="time" class="form-control" name="startTime" [(ngModel)]="startTime" />
    </div>
    <div class="col-md-2">
      <label for="endDate" class="control-label">
        <b>Fecha Hasta:</b>
      </label>
      <input type="date" class="form-control" name="endDate" min="2000-01-01" [(ngModel)]="endDate" />
    </div>
    <div class="col-md-2">
      <label for="endTime" class="control-label">
        <b>Hora Hasta:</b>
      </label>
      <input type="time" class="form-control" name="endTime" [(ngModel)]="endTime" />
    </div>
    <div class="col-md-2" (click)="refresh()">
        <label for="action" class="control-label">
            <b>Acción:</b>
          </label>
      <span class="form-control btn-action center-content">
        <i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i>Actualizar
      </span>
    </div>
  </div>
  <div class="card  card-large">
    <div class="card-header">
      <span *ngIf="transactionMovement === 'Venta'">Productos más vendidos</span>
      <span *ngIf="transactionMovement === 'Compra'">Productos más comprados</span>
      <div class="pull-right">
        
      </div>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <i class="fa fa-bars"></i>
            </th>
            <th (click)="orderBy('article.code')">Código</th>
            <th (click)="orderBy('article.description')">Producto</th>
            <th (click)="orderBy('article.category.description')">Categoría</th>
            <th (click)="orderBy('article.make.description')">Marca</th>
            <th (click)="orderBy('count')">Ítems Vendidos</th>
            <th (click)="orderBy('article.unitOfMeasurement.name')">Unidad</th>
            <th (click)="orderBy('total')">Monto Total</th>
          </tr>
          <tr class="filters">
            <th></th>
            <th><input type="text" class="form-control" [(ngModel)]= "filters['article.code']" placeholder="Código..." (blur)="getBestSellingArticle()" (keyup.enter)="getBestSellingArticle()"></th>
            <th><input type="text" class="form-control" [(ngModel)]= "filters['article.description']" placeholder="Producto..." (blur)="getBestSellingArticle()" (keyup.enter)="getBestSellingArticle()"></th>
            <th><input type="text" class="form-control" [(ngModel)]= "filters['article.category.description']" placeholder="Categoría..." (blur)="getBestSellingArticle()" (keyup.enter)="getBestSellingArticle()"></th>
            <th><input type="text" class="form-control" [(ngModel)]= "filters['article.make.description']" placeholder="Marca..." (blur)="getBestSellingArticle()" (keyup.enter)="getBestSellingArticle()"></th>
            <th></th>
            <th><input type="text" class="form-control" [(ngModel)]= "filters['article.unitOfMeasurement.name']" placeholder="Unidad..." (blur)="getBestSellingArticle()" (keyup.enter)="getBestSellingArticle()"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="99" style="padding: 0px">
              <app-progressbar [loading]="loading"></app-progressbar>
            </td>
          </tr>
          <tr *ngFor="let item of items">
            <td align="left" width="50">
              <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view', item)" title="Ver"><i class="fa fa-eye"></i></button>
            </td>
            <td class="flat">{{ item.article.code }}</td>
            <td class="flat">{{ item.article.description }}</td>
            <td class="flat" *ngIf="item.article.category">{{ item.article.category.description }}</td>
            <td class="flat" *ngIf="!item.article.category"></td>
            <td class="flat" *ngIf="item.article.make">{{ item.article.make.description }}</td>
            <td class="flat" *ngIf="!item.article.make"></td> 
            <td class="flat" *ngIf="transactionMovement === 'Venta' && item.article.quantityPerMeasure">{{ item.count * 1 * item.article.quantityPerMeasure}}</td>
            <td class="flat" *ngIf="transactionMovement === 'Venta' && !item.article.quantityPerMeasure">{{ item.count * 1 }}</td>
            <td class="flat" *ngIf="transactionMovement === 'Compra' && item.article.quantityPerMeasure">{{ item.count * 1 * item.article.quantityPerMeasure * -1}}</td>
            <td class="flat" *ngIf="transactionMovement === 'Compra' && !item.article.quantityPerMeasure">{{ item.count * 1 * -1 }}</td>
            <td class="flat" *ngIf="item.article.unitOfMeasurement">{{ item.article.unitOfMeasurement.name }}</td>
            <td class="flat" *ngIf="!item.article.unitOfMeasurement"></td>
            <td class="flat" *ngIf="transactionMovement === 'Venta'">{{ item.total | currency:'USD':'symbol-narrow':'1.2-2' }}</td>
            <td class="flat" *ngIf="transactionMovement === 'Compra'">{{ item.total * -1 | currency:'USD':'symbol-narrow':'1.2-2' }}</td>
          </tr>
          <tr align="center" *ngIf="areArticlesEmpty && !loading && transactionMovement === 'Venta'">
            <td colspan="7">No se encontraron ventas por productos</td>
          </tr>
          <tr align="center" *ngIf="areArticlesEmpty && !loading && transactionMovement === 'Compra'">
            <td colspan="7">No se encontraron compras por productos</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th >Total</th>
            <th></th>
            <th></th>
            <th></th>
            <th >{{totalItem}}</th>
            <th >{{totalAmount | currency:'USD':'symbol-narrow':'1.2-2' }}</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="card-footer">
    </div>
  </div>
</section>
