<section class="container-fluid">
  <div class="card card-large">
    <div class="card-header">
      <span style="color: #607D8B">{{title}}</span>
      <div class="pull-right">
        <button *ngFor="let button of headerButtons" [type]="'button'" [class]="button.class"
          (click)="runEvent(button.click, null, null)" [disabled]="loading"><i
            [class]="button.icon"></i><span>{{ button.title | translate | capitalize }}</span>
        </button>
        <div class="columns-area float-right" ngbDropdown>
          <button class="btn btn-light" type="button" id="user" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-columns"></i><span>{{ 'columns' | translate | capitalize }}</span>
          </button>
          <div ngbDropdownMenu>
            <div ngbDropdownItem cdkDropList class="example-list" (cdkDropListDropped)="datatableController.drop($event)">
              <div class="example-box" *ngFor="let column of columns" cdkDrag [cdkDragDisabled]="column.disabled">
                <label for="column"><input type="checkbox" [id]="column.name" (change)="getItems()" [(ngModel)]="column.visible"
                    [disabled]="column.disabled">{{ column.name | translate}}:</label>
              </div>
            </div>
          </div>
        </div>
        <app-export-excel #exportExcelComponent [title]="title" [loading]="loading" [columns]="columns" (eventExport)="exportItems()"></app-export-excel>
      </div>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <i class="fa fa-bars"></i>
            </th>
            <ng-container *ngFor="let column of columns">
              <th *ngIf="column.visible" (click)="orderBy(column.name)">{{ column.name | translate | capitalize }}</th>
            </ng-container>
          </tr>
          <tr class="filters">
            <th></th>
            <ng-container *ngFor="let column of columns">
              <th *ngIf="column.visible">
                <input *ngIf="column.datatype !== 'boolean'" type="text" class="form-control"
                  [ngClass]="{'disabled': loading, 'enabled': !loading }" [(ngModel)]="filters[column.name]"
                  (keydown.enter)="addFilters()" placeholder="{{ column.name | translate }}"
                  [disabled]="!column.filter || loading">
                <select class="form-control" *ngIf="column.datatype === 'boolean'" [(ngModel)]="filters[column.name]"
                  (change)="addFilters()">
                  <option value="" [ngClass]="{'disabled': loading, 'enabled': !loading }" [disabled]="!column.filter || loading">
                    {{'select filter' | translate | capitalize}}</option>
                  <option [value]="true" [ngClass]="{'disabled': loading, 'enabled': !loading }"
                    [disabled]="!column.filter || loading">{{'true' | translate | capitalize}}
                  </option>
                  <option [value]="false" [ngClass]="{'disabled': loading, 'enabled': !loading }"
                    [disabled]="!column.filter  || loading">{{'false' | translate | capitalize}}
                  </option>
                </select>
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td [attr.colspan]="datatableController.getColumnsVisibles() + 1" style="padding: 0px">
              <app-progressbar [loading]="loading"></app-progressbar>
            </td>
          </tr>
          <tr *ngFor="let item of items | paginate: { itemsPerPage: itemsPerPage,
														  currentPage: currentPage,
														  totalItems: totalItems
														}">
            <td align="left">
              <button *ngFor="let button of rowButtons" [type]="'button'" [class]="button.class"
                (click)="runEvent(button.click, item, items)" [disabled]="loading" [title]="button.title | translate | capitalize"><i
                  [class]="button.icon"></i>
              </button>
            </td>
            <ng-container *ngFor="let column of columns">
              <td *ngIf="column.visible && column.datatype !== 'boolean'" [attr.align]="column.align">
                {{getValue(item, column)}}</td>
              <td *ngIf="column.visible && column.datatype === 'boolean'" [attr.align]="column.align">
                <input type="checkbox" [checked]="getValue(item, column)" disabled>
              </td>
            </ng-container>
          </tr>
          <tr align="center" *ngIf="totalItems === 0 && !loading">
            <td [attr.colspan]="datatableController.getColumnsVisibles() + 1">{{ 'no data found' | translate | capitalize }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-10">
          <pagination-controls class="my-pagination" (pageChange)="pageChange($event)" #api previousLabel="Ant." nextLabel="Sig."
            autoHide="true">
          </pagination-controls>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" [(ngModel)]="itemsPerPage" (change)="changeItemsPerPage()">
            <option [value]="5">{{'show 5 records' | translate | capitalize}}</option>
            <option [value]="10">{{'show 10 records' | translate | capitalize}}</option>
            <option [value]="20">{{'show 20 records' | translate | capitalize}}</option>
            <option [value]="50">{{'show 50 records' | translate | capitalize}}</option>
            <option [value]="100">{{'show 100 records' | translate | capitalize}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>
