<div class="modal-header">
  <h4 class="modal-title" *ngIf="operation==='add'">Agregar País</h4>
  <h4 class="modal-title" *ngIf="operation==='edit'">Editar País</h4>
  <h4 class="modal-title" *ngIf="operation==='view'">Ver País</h4>
  <h4 class="modal-title" *ngIf="operation==='delete'">Eliminar País</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="countryForm" (ngSubmit)="addCountry()" autocomplete="off">
    <div class="modal-body">
      <ul ngbNav #nav="ngbNav" class="nav-tabs" [orientation]="orientation">
        <li ngbNavItem>
          <a ngbNavLink>Datos principales</a>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="form-group col-md-12">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="code" class="control-label">Código</label>
                    <div class="input-group">
                      <input type="text" class="form-control" formControlName="code" name="code" id="code"
                        [readonly]="readonly" [focus]="focusEvent" />
                    </div>
                    <div *ngIf="formErrors.code" class="alert alert-danger">
                      {{ formErrors.code }}
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name" class="control-label">Nombre</label>
                    <div class="input-group">
                      <input type="text" class="form-control" formControlName="name" name="name" id="name"
                        [readonly]="readonly" />
                    </div>
                    <div *ngIf="formErrors.name" class="alert alert-danger">
                      {{ formErrors.name }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-12">
                <div class="row">
                  <div class="form-group col-md-4">
                    <label for="callingCodes" class="control-label">Código de llamada:</label>
                    <div class="input-group">
                      <input type="text" class="form-control" formControlName="callingCodes" name="callingCodes"
                        id="callingCodes" [readonly]="readonly" />
                    </div>
                    <div *ngIf="formErrors.callingCodes" class="alert alert-danger">
                      {{ formErrors.callingCodes }}
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="timezones" class="control-label">Zona Horaria:</label>
                    <div class="input-group">
                      <input type="text" class="form-control" formControlName="timezones" name="timezones"
                        id="timezones" [readonly]="readonly" />
                    </div>
                    <div *ngIf="formErrors.timezones" class="alert alert-danger">
                      {{ formErrors.timezones }}
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="flag" class="control-label">Bandera:</label>
                    <div class="input-group">
                      <input type="text" class="form-control" formControlName="flag" name="flag" id="flag"
                        [readonly]="readonly" />
                    </div>
                    <div *ngIf="formErrors.flag" class="alert alert-danger">
                      {{ formErrors.flag }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-12">
                <div class="row">
                  <div class="form-group col-md-3">
                    <label for="alpha2Code" class="control-label">Código 2:</label>
                    <div class="input-group">
                      <input type="text" class="form-control" formControlName="alpha2Code" name="alpha2Code"
                        id="alpha2Code" [readonly]="readonly" />
                    </div>
                    <div *ngIf="formErrors.alpha2Code" class="alert alert-danger">
                      {{ formErrors.alpha2Code }}
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="alpha3Code" class="control-label">Código 3:</label>
                    <div class="input-group">
                      <input type="text" class="form-control" formControlName="alpha3Code" name="alpha3Code"
                        id="alpha3Code" [readonly]="readonly" />
                    </div>
                    <div *ngIf="formErrors.alpha3Code" class="alert alert-danger">
                      {{ formErrors.alpha3Code }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink *ngIf="this.operation !== 'add'">Auditoría</a>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="form-group col-md-12">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="control-label">Creado por:</label>
                    <label *ngIf="country.creationUser"
                      class="control-label"><b>{{country.creationUser.name}}</b></label>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="control-label">El día:</label>
                    <label *ngIf="country.creationDate" class="control-label"> <b>{{country.creationDate |
                        dateFormat:'DD/MM/YYYY HH:mm:ss'}}</b></label>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="control-label">Última modificación por:</label>
                    <label *ngIf="country.updateUser" class="control-label"><b>{{country.updateUser.name}}</b></label>
                    <label *ngIf="!country.updateUser" class="control-label"><b>-</b></label>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="control-label">El día:</label>
                    <label *ngIf="country.updateDate" class="control-label"><b>{{country.updateDate |
                        dateFormat:'DD/MM/YYYY HH:mm:ss'}}</b></label>
                    <label *ngIf="!country.updateDate" class="control-label"><b>-</b></label>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
    <div class="modal-footer" *ngIf="operation !== 'view'">
      <button type="button" class="btn btn-light" (click)="activeModal.dismiss('cancel')">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!countryForm.valid || loading"
        *ngIf="operation !== 'delete'">
        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Guardar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
      <button type="button" class="btn btn-danger" *ngIf="operation === 'delete'"
        [disabled]="!countryForm.valid || loading" (click)="deleteCountry()">
        <i class="fa" [ngClass]="{'fa-trash':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Eliminar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
</section>