<section class="container-fluid">
  <div class="card">
    <div class="card-header">
      <span style="color: #607d8b" *ngIf="operation === 'add' || operation === 'copy'">{{
        'add-galery' | translate | capitalize
      }}</span>
      <span style="color: #607d8b" *ngIf="operation === 'update'"
        >{{ 'edit' | translate | capitalize }} {{ gallery.name }}</span
      >
      <span style="color: #607d8b" *ngIf="operation === 'view' || operation === 'delete'">{{
        gallery?.name ?? ''
      }}</span>
      <div class="pull-right">
        <button type="button" class="btn" (click)="returnTo()">
          <i class="fa fa-arrow-left"></i><span>{{ 'return' | translate | capitalize }}</span>
        </button>
        <button
          type="button"
          class="btn"
          [disabled]="loading"
          *ngIf="operation !== 'delete' && operation !== 'view'"
          (click)="addGallery()"
        >
          <i class="fa" [ngClass]="{ 'fa-save': !loading, 'fa-spinner fa-spin': loading }"></i>
          <span *ngIf="!loading"> {{ 'save' | translate | capitalize }}</span>
          <span *ngIf="loading"> {{ 'loading' | translate | capitalize }}</span>
        </button>
        <button
          type="button"
          class="btn btn-danger active"
          *ngIf="operation === 'delete'"
          [disabled]="loading"
          (click)="deleteGallery()"
        >
          <i class="fa" [ngClass]="{ 'fa-trash': !loading, 'fa-spinner fa-spin': loading }"></i>
          <span *ngIf="!loading">{{ 'delete' | translate | capitalize }}</span>
          <span *ngIf="loading">{{ 'loading' | translate | capitalize }}</span>
        </button>
      </div>
    </div>
    <app-progressbar [loading]="loading"></app-progressbar>
    <div class="card-body">
      <form [formGroup]="galleryForm" autocomplete="off">
        <div class="row">
          <label class="form-group col-md-12">
            <b>{{ 'mainData' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-8">
            <label for="name" class="control-label">{{ 'name' | translate | capitalize }}:</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                formControlName="name"
                name="name"
                id="name"
                [focus]="focusEvent"
                [readonly]="readonly"
                [ngClass]="{
                  'is-invalid': galleryForm.get('name')?.touched && galleryForm.get('name')?.hasError('required'),
                }"
              />
            </div>
            <div
              class="invalid-feedback"
              *ngIf="galleryForm.get('name')?.touched && galleryForm.get('name')?.hasError('required')"
            >
              Este campo es obligatorio.
            </div>
          </div>

          <div class="form-group col-md-2">
            <label for="interval" class="control-label">{{ 'interval' | translate | capitalize }}:</label>
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                formControlName="interval"
                name="interval"
                id="interval"
                value="interval"
                [readonly]="readonly"
              />
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">seg</span>
              </div>
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="barcode" class="control-label">Tiene Codigo de Barra</label>
            <select class="form-control" formControlName="barcode">
              <option [ngValue]="true" [disabled]="readonly">
                {{ 'true' | translate | capitalize }}
              </option>
              <option [ngValue]="false" [disabled]="readonly">
                {{ 'false' | translate | capitalize }}
              </option>
            </select>
          </div>
        </div>
        <form #resourceForm="ngForm" (ngSubmit)="addResource(resourceForm)">
          <div class="row">
            <div class="form-group col-md-5">
              <label for="resource" class="control-label"> {{ 'resource' | translate | capitalize }}:</label>
              <select class="form-control" [(ngModel)]="selectedResource" name="resource">
                <option *ngFor="let resource of resources" [value]="resource._id" [disabled]="readonly">
                  {{ resource.name }}
                </option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="order" class="control-label">{{ 'order' | translate | capitalize }}:</label>
              <div class="input-group">
                <input type="number" class="form-control" ngModel name="order" [readonly]="readonly" />
              </div>
            </div>
            <div class="form-group col-md-2">
              <label class="control-label">{{ 'add' | translate | capitalize }}</label>
              <div class="input-group">
                <button type="summit" class="btn btn-success btn-sm especial">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
        <table class="table table-striped">
          <thead>
            <tr class="separation">
              <th>{{ 'resource' | translate | capitalize }}</th>
              <th>{{ 'order' | translate | capitalize }}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="separation" *ngFor="let resourceAux of galleryForm.get('resources')['controls']; let i = index">
              <div *ngFor="let resource of resources; let i = index">
                <td
                  *ngIf="
                    resourceAux &&
                    resourceAux.value &&
                    resourceAux.value.resource &&
                    resourceAux.value.resource === resource._id
                  "
                >
                  {{ resource.name }}
                </td>
              </div>
              <td>{{ resourceAux.value.order }}</td>
              <td align="right" width="10">
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteResource(i)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <hr />
        <div class="row">
          <label class="form-group col-md-12">
            <b>{{ 'audit' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'creationUser.name' | translate | capitalize }}:
                  <b>{{ gallery?.creationUser?.name || '' }}</b>
                </label>
              </div>
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'theDay' | translate | capitalize }}:
                  <b>{{ gallery?.creationDate ?? null | dateFormat: 'DD/MM/YYYY HH:mm:ss' }}</b>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'updateUser.name' | translate | capitalize }}:
                  <b>{{ gallery?.updateUser?.name || '' }}</b>
                </label>
              </div>
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'theDay' | translate | capitalize }}:
                  <b>{{ gallery?.updateDate ?? null | dateFormat: 'DD/MM/YYYY HH:mm:ss' }}</b>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  ID:<b>{{ gallery?._id || '' }}</b>
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
