<div class="input-group mr-2">
  <input
    class="form-control"
    (blur)="inputBlur($event)"
    [ngModel]="dateString | date: inputDatetimeFormat"
    readonly
    [disabled]="disabled"
    [ngStyle]="{ 'background-color': 'white', width: '135px' }"
  />
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" [ngbPopover]="calendarContent" [disabled]="disabled" type="button">
      <i class="fa fa-calendar"></i>
    </button>
  </div>
</div>

<ng-template #calendarContent>
  <div>
    <div *ngIf="!showTimePickerToggle">
      <ngb-datepicker
        #dp
        name="datepicker"
        [ngModel]="datetime"
        (ngModelChange)="onDateChange($event)"
      ></ngb-datepicker>
      <button
        class="btn btn-block btn-outline-secondary"
        [disabled]="!datetime?.day"
        type="button"
        (click)="toggleDateTimeState($event)"
      >
        <i class="fa fa-clock-o"></i>
      </button>
    </div>
    <div *ngIf="showTimePickerToggle">
      <ngb-timepicker
        #tp
        name="timepicker"
        [ngModel]="datetime"
        (ngModelChange)="onTimeChange($event)"
        [seconds]="seconds"
        [hourStep]="hourStep"
        [minuteStep]="minuteStep"
      >
      </ngb-timepicker>
      <button class="btn btn-block btn-outline-secondary mt-2" type="button" (click)="toggleDateTimeState($event)">
        <i class="fa fa-calendar"></i>
      </button>
    </div>
  </div>
</ng-template>
