<!-- SELECCIONAR -->
<section class="container-fluid" *ngIf="selectionView">
    <div class="card ">
        <div class="card-header">Seleccionar Transacciones a Cancelar
            <div class="pull-right">
                <button class="btn fa fa-minus-square" (click)="deleteAllMovements()"><span>Deseleccionar
                        todo</span></button>
                <button class="btn fa fa-refresh" (click)="refresh()" [disabled]="loading"><i
                        [ngClass]="{'fa fa-refresh fa-spin':loading}"></i>Actualizar</button>
                <button class="btn fa fa-close"
                    (click)="activeModal.dismiss('close_click')"><span>Cerrar</span></button>
            </div>
        </div>
        <div class="center-content" *ngIf="alertMessage !== '' && totalItems > 0">
            <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
                {{alertMessage}}
            </ngb-alert>
        </div>
        <div class="card-block table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <i class="fa fa-bars"></i>
                        </th>
                        <th (click)="orderBy('endDate')">Fecha</th>
                        <th (click)="orderBy('type.name')">Nombre</th>
                        <th (click)="orderBy('origin')" *ngIf="userCountry === 'AR'">POS</th>
                        <th (click)="orderBy('letter')">Letra</th>
                        <th (click)="orderBy('number')">Número</th>
                        <th *ngIf="!requestCompany" (click)="orderBy('company.city')">Ciudad</th>
                        <th *ngIf="!requestCompany" (click)="orderBy('company.state.name')">Provincia</th>
                        <th *ngIf="!requestCompany" (click)="orderBy('company.group.description')">Grupo</th>

                        <th (click)="orderBy('totalPrice')">Precio Total</th>
                        <th (click)="orderBy('balance')">Saldo</th>
                    </tr>
                    <tr class="filters">
                        <th></th>
                        <th><input type="text" class="form-control" [(ngModel)]="filters['endDate']"
                                (input)="getTransactions()" placeholder="Fecha..." [focus]="focusEvent"></th>
                        <th><input type="text" class="form-control" [(ngModel)]="filters['type.name']"
                                (input)="getTransactions()" placeholder="Nombre..."></th>
                        <th><input type="text" class="form-control" [(ngModel)]="filters['origin']"
                                (input)="getTransactions()" placeholder="POS..." *ngIf="userCountry === 'AR'"></th>
                        <th><input type="text" class="form-control" [(ngModel)]="filters['letter']"
                                (input)="getTransactions()" placeholder="Letra..."></th>
                        <th><input type="text" class="form-control" [(ngModel)]="filters['number']"
                                (input)="getTransactions()" placeholder="Número..."></th>
                        <th *ngIf="!requestCompany"><input type="text" class="form-control" [(ngModel)]="filters['company.city']"
                                (input)="getTransactions()" placeholder="Ciudad..."></th>
                                <th *ngIf="!requestCompany"><input type="text" class="form-control" [(ngModel)]="filters['company.state.name']"
                                    (input)="getTransactions()" placeholder="Provincia..."></th>
                                    <th *ngIf="!requestCompany"><input type="text" class="form-control" [(ngModel)]="filters['company.group.description']"
                                        (input)="getTransactions()" placeholder="Grupo..."></th>
                        <th>
                            <!-- <input type="text" class="form-control" [(ngModel)]="filters['totalPrice']"
                (input)="getTransactions()" placeholder="Precio Total..."> -->
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="99" style="padding: 0px">
                            <app-progressbar [loading]="loading"></app-progressbar>
                        </td>
                    </tr>
                    <tr *ngFor="let transaction of transactions"
                        [ngClass]="{'row-active':isTransactionSelected(transaction), 'row-inactive':!isTransactionSelected(transaction)}">
                        <td align="left" width="50">
                            <button type="button" class="btn btn-success  btn-sm"
                                (click)="openModal('view', transaction)" title="Ver"><i class="fa fa-eye"></i></button>
                        </td>
                        <td (click)="selectTransaction(transaction, false)">{{transaction.endDate}}</td>
                        <td *ngIf="transaction.type" (click)="selectTransaction(transaction, false)">
                            {{transaction.type.name}}</td>
                        <td *ngIf="!transaction.type" (click)="selectTransaction(transaction, false)"></td>
                        <td *ngIf="userCountry === 'AR'" (click)="selectTransaction(transaction, false)">
                            {{transaction.origin}}</td>
                        <td (click)="selectTransaction(transaction, false)">{{transaction.letter}}</td>
                        <td (click)="selectTransaction(transaction, false)">{{transaction.number}}</td>
                        <td  *ngIf="!requestCompany" (click)="selectTransaction(transaction, false)">{{transaction.company.city}}</td>
                        <td  *ngIf="!requestCompany" (click)="selectTransaction(transaction, false)">{{transaction.company.state?.name}}</td>
                        <td  *ngIf="!requestCompany" (click)="selectTransaction(transaction, false)">{{transaction.company.group?.description}}</td>
                        <td (click)="selectTransaction(transaction, false)">
                            {{transaction.totalPrice  }}</td>
                        <td>
                            <input type="number" class="form-control" [(ngModel)]="transaction['balanceSelected']"
                                (blur)="updateBalanceOrigin(transaction)"
                                [readonly]="!isTransactionSelected(transaction)">
                        </td>
                    </tr>
                    <tr align="center" *ngIf="totalItems === 0 && !loading">
                        <td colspan="16">No se encontraron transacciones para cancelar</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-8">
                    <b>Saldo Seleccionado: {{ balanceSelected | currency:'USD':'symbol-narrow':'1.2-2' }}</b>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" (click)="activeModal.close()">
                        Cancelar
                    </button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" (click)="finish()">
                        Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- VISTA ADMIN -->
<section class="container-fluid" *ngIf="!selectionView">
    <div class="center-content" *ngIf="alertMessage !== '' && totalItems > 0">
        <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
            {{alertMessage}}
        </ngb-alert>
    </div>
    <div class="card-block table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <i class="fa fa-bars"></i>
                    </th>
                    <th (click)="orderBy('endDate')">Fecha</th>
                    <th (click)="orderBy('state')">Estado</th>
                    <th (click)="orderBy('type.name')">Nombre</th>
                    <th (click)="orderBy('origin')" *ngIf="userCountry === 'AR'">POS</th>
                    <th (click)="orderBy('letter')">Letra</th>
                    <th (click)="orderBy('number')">Número</th>
                    <th (click)="orderBy('totalPrice')">Precio Total</th>
                    <th (click)="orderBy('balance')">Saldo Cancelado</th>
                </tr>
                <tr class="filters">
                    <th></th>
                    <th><input type="text" class="form-control" [(ngModel)]="filters['endDate']"
                            (input)="getTransactions()" placeholder="Fecha..."></th>
                    <th><input type="text" class="form-control" [(ngModel)]="filters['state']"
                                (input)="getTransactions()" placeholder="Estado..."></th>
                    <th><input type="text" class="form-control" [(ngModel)]="filters['type.name']"
                            (input)="getTransactions()" placeholder="Nombre..."></th>
                    <th><input type="text" class="form-control" [(ngModel)]="filters['origin']"
                            (input)="getTransactions()" placeholder="POS..." *ngIf="userCountry === 'AR'"></th>
                    <th><input type="text" class="form-control" [(ngModel)]="filters['letter']"
                            (input)="getTransactions()" placeholder="Letra..."></th>
                    <th><input type="text" class="form-control" [(ngModel)]="filters['number']"
                            (input)="getTransactions()" placeholder="Número..."></th>
                    <th><input type="text" class="form-control" [(ngModel)]="filters['totalPrice']"
                            (input)="getTransactions()" placeholder="Precio Total..."></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="99" style="padding: 0px">
                        <app-progressbar [loading]="loading"></app-progressbar>
                    </td>
                </tr>
                <tr *ngFor="let transaction of transactions"
                    [ngClass]="{'row-active':isTransactionSelected(transaction), 'row-inactive':!isTransactionSelected(transaction)}">
                    <td align="left" width="50">
                        <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view', transaction)"
                            title="Ver"><i class="fa fa-eye"></i></button>
                    </td>
                    <td>{{transaction.endDate | dateFormat:'DD/MM/YYYY'}}</td>
                    <td >{{transaction.state}}</td>
                    <td *ngIf="transaction.type">{{transaction.type.name}}</td>
                    <td *ngIf="!transaction.type"></td>
                    <td *ngIf="userCountry === 'AR'">{{transaction.origin}}</td>
                    <td>{{transaction.letter}}</td>
                    <td>{{transaction.number}}</td>
                    <td>{{transaction.totalPrice | currency:'USD':'symbol-narrow':'1.2-2' }}</td>
                    <td>{{transaction.balance | currency:'USD':'symbol-narrow':'1.2-2' }}</td>
                </tr>
                <tr align="center" *ngIf="transactions.length === 0 && !loading">
                    <td colspan="16">No se encontraron transacciones</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>