<section class="container-fluid" >
  <div class="center-content" *ngIf="alertMessage !== '' && totalItems > 0">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Listado de Transacciones
      <div class="pull-right">
        <button class="btn btn-primary fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span> Actualizar</span></button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"> Filtrar</i>
        </span>
      </div>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              <i class="fa fa-bars"></i>
            </th>
            <th (click)="orderBy('type.name')">Nombre</th>
            <th (click)="orderBy('number')">Numero</th>
            <th (click)="orderBy('letter')">Letra</th>
            <th (click)="orderBy('totalPrice')">Precio Total</th>
            <th (click)="orderBy('balance')">Saldo</th>

          </tr>
          <tr *ngIf="areFiltersVisible" class="filters">
            <th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['type.name']" (input)="getTransactions()" placeholder="Nombre..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['number']" (input)="getTransactions()" placeholder="Numero..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['letter']" (input)="getTransactions()" placeholder="Letra..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['totalPrice']" (input)="getTransactions()" placeholder="Precio Total..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['balance']" (input)="getTransactions()" placeholder="Saldo..."></th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions | paginate: { itemsPerPage: itemsPerPage,
                                                                      currentPage: currentPage,
                                                                      totalItems: totalItems
                                                                    }"
                                                                    (click)="selectTransaction(transaction)">
            <td align="left" width="150">
              <button type="button"
                      class="btn btn-success  btn-sm" 
                      (click)="openModal('view', transaction)" 
                      title="Ver"><i class="fa fa-eye"></i></button>
            </td>
            <td *ngIf="transaction.type">{{transaction.type.name}}</td>
            <td *ngIf="transaction.number">{{transaction.number}}</td> 
            <td *ngIf="transaction.letter">{{transaction.letter}}</td>
            <td *ngIf="transaction.totalPrice">{{transaction.totalPrice}}</td>
            <td *ngIf="transaction.balance">{{transaction.balance}}</td>

          </tr>
          <tr align="center" *ngIf="totalItems === 0 && !loading">
            <td colspan="16">No se encontraron Documentos para Cancelar</td>
          </tr>
          <tr align="center" *ngIf="loading">
            <td colspan="16">Cargando...</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="card-footer bg-primary">
      <div class="row">
        <div class="col-md-10">
          <pagination-controls
            class="my-pagination"
            (pageChange)="pageChange($event)"
            #api
            previousLabel="Ant."
            nextLabel="Sig."
            autoHide="true">
          </pagination-controls>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" [(ngModel)]="itemsPerPage" (change)="getTransactions()">
            <option [value]="5">Mostrar 5 ítems</option>
            <option [value]="10">Mostrar 10 ítems</option>
            <option [value]="15">Mostrar 15 ítems</option>
            <option [value]="20">Mostrar 20 ítems</option>
            <option [value]="50">Mostrar 50 ítems</option>
            <option [value]="100">Mostrar 100 ítems</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>