<section class="container-fluid" *ngIf="userType==='pos'">
  <div class="row" *ngIf="areArticlesVisible" class="articles-list">
    <div *ngFor="let article of filteredArticles">
      <div class="iarticle" (click)="addItem(article)">
        <div class="col-md-2 offset-md-8" align="right" class="number-price" *ngIf="transaction.type && transaction.type.showPrices">
          <span class="badge badge-info">
            <b *ngIf="transaction.type.transactionMovement !== 'Venta'">{{ article.costPrice | currency:'USD':'symbol-narrow':'1.2-2' }}</b>
            <b *ngIf="transaction.type.transactionMovement === 'Venta'">{{ article.salePrice | currency:'USD':'symbol-narrow':'1.2-2' }}</b>
          </span>
        </div>
        <img *ngIf="article.picture == 'default.jpg' || article.picture == undefined" src="./../../../assets/img/default.jpg" height="120"
          width="120">
        <img *ngIf="article.picture !== 'default.jpg' && article.picture !== undefined" [src]="apiURL + 'get-image-article/'+article.picture+'/'+database"
          height="120" width="120">
        <div *ngIf="article.posDescription" class="image-title">{{article.posDescription}}</div>
        <div *ngIf="!article.posDescription" class="image-title">{{article.description | slice:0:19 }}</div>
        <div id="make" *ngIf="article.make && article.make.visibleSale" class="image-title">{{article.make.description}}</div>
      </div>
    </div>
  </div>
</section>