<!--ADMIN-->
<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="center-content" *ngIf="alertMessage !== '' && !areDepositsEmpty">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card ">
    <div class="card-header">Listado de Depósitos
      <div class="pull-right">
        <button class="btn" (click)="openModal('add', null)"><i class="fa fa-plus"></i><span>Agregar</span></button>
        <button class="btn fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span>Actualizar</span></button>
      </div>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><i class="fa fa-bars"></i></th>
            <th (click)="orderBy('branch','name')">Sucursal </th>
            <th (click)="orderBy('name')">Nombre </th>
            <th (click)="orderBy('capacity')">Capacidad </th>
            <th (click)="orderBy('default')">Defecto</th>

          </tr>
          <tr class="filters">
            <th></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterBranch" placeholder="Sucursal..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterName" placeholder="Nombre..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterCapacity" placeholder="Capacidad..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterDefault" placeholder="Defecto..."></th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="99" style="padding: 0px">
              <app-progressbar [loading]="loading"></app-progressbar>
            </td>
          </tr>
          <tr *ngFor="let deposit of deposits | filter: filterName:'name'
                                              | filter: filterBranch:'name':'branch'
                                              | filter: filterCapacity:'capacity'
                                              | filter: filterDefault:'default'
                                              | orderBy: orderTerm: propertyTerm
                                              | paginate: { itemsPerPage: itemsPerPage,
                                                        currentPage: p,
                                                        totalItems: totalItems
                                                      }">
            <td align="left" width="130">
              <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view', deposit)" title="Ver">
                <i class="fa fa-eye"></i>
              </button>
              <button type="button" class="btn btn-primary btn-sm" (click)="openModal('update', deposit)" title="Modificar">
                <i class="fa fa-pencil"></i>
              </button>
              <button type="button" class="btn btn-danger btn-sm" (click)="openModal('delete', deposit)" title="Eliminar">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>
            <td class="flat" *ngIf="deposit.branch">{{deposit.branch.name}}</td>
            <td class="flat" *ngIf="!deposit.branch"></td>
            <td class="flat">{{deposit.name}}</td>
            <td class="flat">{{deposit.capacity}}</td>
            <td class="flat">{{deposit.default}}</td>

          </tr>
          <tr align="center" *ngIf="areDepositsEmpty && !loading">
            <td colspan="4">No se encontraron depósitos</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-10">
          <pagination-controls class="my-pagination" (pageChange)="p=$event" #api previousLabel="Ant." nextLabel="Sig." autoHide="true">
          </pagination-controls>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" [(ngModel)]="itemsPerPage">
            <option [value]="5">Mostrar 5 Registros</option>
            <option [value]="10">Mostrar 10 Registros</option>
            <option [value]="15">Mostrar 15 Registros</option>
            <option [value]="20">Mostrar 20 Registros</option>
            <option [value]="50">Mostrar 50 Registros</option>
            <option [value]="100">Mostrar 100 Registros</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>
