<div class="modal-header">
  <h4 class="modal-title">Exportar Citi</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>

<section class="container-fluid">
  <div class="center-content"  *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>

  <form [formGroup]="exportCitiForm" #formExportCiti="ngForm" (ngSubmit)="exportCiti()" autocomplete="off">
    <div class="modal-body">
      <div class = "row">
				<div class="form-group col-md-12">
					<label for="destination" class="control-label">Destino:</label>
					<input type="text" class="form-control" formControlName="destination" name="destination" id="destination"/>
					<div *ngIf="formErrors.destination" class="alert alert-danger">
						{{ formErrors.destination }}
					</div>
				</div>
			</div>
			<div class = "row">
				<div class="form-group col-md-4">
					<label for="month" class="control-label">Mes:</label>
					<select class="form-control" formControlName="month">
						<option *ngFor="let month of months" [ngValue]="month">{{month}}</option>
					</select>
					<div *ngIf="formErrors.month" class="alert alert-danger">
						{{ formErrors.month }}
					</div>
				</div>
				<div class="form-group col-md-4">
						<label for="year" class="control-label">Año:</label>
						<input type="text" class="form-control" formControlName="year" name="year" id="year" />
						<div *ngIf="formErrors.year" class="alert alert-danger">
							{{ formErrors.year }}
						</div>
				</div>
				<div class="form-group col-md-4">
						<label for="pointofsale" class="control-label">Punto de venta:</label>
						<input type="text" class="form-control" formControlName="pointofsale" name="pointofsale" id="pointofsale" />
						<div *ngIf="formErrors.pointofsale" class="alert alert-danger">
							{{ formErrors.pointofsale }}
						</div>
				</div>
			</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.close('cancel')">Cancelar</button>
        <button type="submit" class="btn btn-primary" [disabled]="!exportCitiForm.valid || loading" >
          <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
          <span *ngIf="!loading">Enviar</span>
          <span *ngIf="loading">Espere por favor</span>
        </button>
    </div>
  </form>

</section>