<section class="container-fluid">
  <div class="card">
    <div class="card-header">
      <span style="color: #607d8b" *ngIf="operation === 'add' || operation === 'copy'">
        {{ 'add-branch' | translate | capitalize }}
      </span>
      <span style="color: #607d8b" *ngIf="operation === 'update'">
        {{ 'edit' | translate | capitalize }} {{ branch?.name ?? '' }}
      </span>
      <span style="color: #607d8b" *ngIf="operation === 'view' || operation === 'delete'">
        {{ branch?.name ?? '' }}
      </span>
      <div class="pull-right">
        <button type="button" class="btn" (click)="returnTo()">
          <i class="fa fa-arrow-left"></i><span>{{ 'return' | translate | capitalize }}</span>
        </button>
        <button
          type="button"
          class="btn"
          [disabled]="loading"
          *ngIf="operation !== 'delete' && operation !== 'view'"
          (click)="handleBranchOperation()"
        >
          <i class="fa" [ngClass]="{ 'fa-save': !loading, 'fa-spinner fa-spin': loading }"></i>
          <span *ngIf="!loading">{{ 'save' | translate | capitalize }}</span>
          <span *ngIf="loading">{{ 'loading' | translate | capitalize }}</span>
        </button>
        <button
          type="button"
          class="btn btn-danger active"
          *ngIf="operation === 'delete'"
          [disabled]="loading"
          (click)="handleBranchOperation()"
        >
          <i class="fa" [ngClass]="{ 'fa-trash': !loading, 'fa-spinner fa-spin': loading }"></i>
          <span *ngIf="!loading">{{ 'delete' | translate | capitalize }}</span>
          <span *ngIf="loading">{{ 'loading' | translate | capitalize }}</span>
        </button>
      </div>
    </div>
    <div class="card-body scroll">
      <form [formGroup]="branchForm" (ngSubmit)="handleBranchOperation()" autocomplete="off">
        <!-- Datos principales -->
        <div class="row">
          <label class="form-group col-md-12">
            <b>{{ 'mainData' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-2">
            <label for="number" class="control-label">{{ 'number' | translate | capitalize }}:</label>
            <input
              type="number"
              class="form-control"
              formControlName="number"
              id="number"
              [focus]="focusEvent"
              [ngClass]="{
                'is-invalid': branchForm.get('number')?.touched && branchForm.get('number')?.invalid,
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="branchForm.get('number')?.touched && branchForm.get('number')?.hasError('required')"
            >
              {{ 'fieldRequired' | translate | capitalize }}
            </div>
          </div>
          <div class="col-md-6">
            <label for="name" class="control-label">{{ 'name' | translate | capitalize }}:</label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              id="name"
              [ngClass]="{
                'is-invalid': branchForm.get('name')?.touched && branchForm.get('name')?.invalid,
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="branchForm.get('name')?.touched && branchForm.get('name')?.hasError('required')"
            >
              {{ 'fieldRequired' | translate | capitalize }}
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="default" class="control-label">{{ 'branch.default' | translate | capitalize }}</label>
            <select class="form-control" formControlName="default">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <label class="form-group col-md-12">
            <b>{{ 'Datos Fiscales' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="row g-3">
              <div class="col-md-6">
                <label for="branchName" class="form-label"> {{ 'branchName' | translate | capitalize }} </label>
                <input type="text" class="form-control" formControlName="branchName" id="branchName" />
              </div>
              <div class="col-md-6">
                <label for="branchFantasyName" class="form-label">
                  {{ 'branchFantasyName' | translate | capitalize }}
                </label>
                <input type="text" class="form-control" formControlName="branchFantasyName" id="branchFantasyName" />
              </div>
              <div class="col-md-6">
                <label for="branchIdentificationType" class="form-label">
                  {{ 'identificationType' | translate | capitalize }}
                </label>
                <app-typeahead-dropdown
                  class="w-100"
                  placeholder="{{ 'identificationType' | translate | capitalize }}"
                  [control]="branchForm.get('branchIdentificationType')"
                  [data]="identificationTypes"
                  [keyField]="'_id'"
                  [displayField]="'name'"
                ></app-typeahead-dropdown>
              </div>
              <div class="col-md-6">
                <label for="branchIdentificationValue" class="form-label">
                  {{ 'identificationValue' | translate | capitalize }}
                </label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="branchIdentificationValue"
                  id="branchIdentificationValue"
                  placeholder="{{ 'identificationValue' | translate | capitalize }}"
                />
              </div>
              <div class="col-md-12">
                <label for="branchVatCondition" class="form-label">
                  {{ 'vatCondition' | translate | capitalize }}
                </label>
                <app-typeahead-dropdown
                  class="w-100"
                  placeholder="{{ 'vatCondition' | translate | capitalize }}"
                  [control]="branchForm.get('branchVatCondition')"
                  [data]="vatConditions"
                  [keyField]="'_id'"
                  [displayField]="'description'"
                ></app-typeahead-dropdown>
              </div>
              <div class="col-md-6">
                <label for="branchStartOfActivity" class="form-label">
                  {{ 'branchStartOfActivity' | translate | capitalize }}
                </label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="branchStartOfActivity"
                  id="branchStartOfActivity"
                  placeholder="DD/MM/AAAA"
                />
              </div>
              <div class="col-md-6">
                <label for="branchGrossIncome" class="form-label">
                  {{ 'grossIncome' | translate | capitalize }}
                </label>
                <input type="text" class="form-control" formControlName="branchGrossIncome" id="branchGrossIncome" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-flex justify-content-center align-items-start pt-3 pt-lg-0">
            <div class="border rounded p-3 bg-light w-100 text-center">
              <app-upload-file
                (uploadedUrls)="onImagesUploaded($event)"
                [folder]="'branches'"
                [existingImageUrl]="branchForm.get('branchPicture')?.value"
              >
              </app-upload-file>
            </div>
          </div>
        </div>
        <hr />
        <!-- Ubicación y contacto -->
        <div class="row">
          <label class="col-md-12">
            <b>{{ 'locationAndContact' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="form-section mb-4">
          <div class="row g-3">
            <div class="col-md-4">
              <label for="branchPhone" class="form-label">
                {{ 'phone' | translate | capitalize }}
              </label>
              <input type="text" class="form-control" formControlName="branchPhone" id="branchPhone" />
            </div>
            <div class="col-md-4">
              <label for="branchAddress" class="form-label">
                {{ 'address' | translate | capitalize }}
              </label>
              <input type="text" class="form-control" formControlName="branchAddress" id="branchAddress" />
            </div>
            <div class="col-md-4">
              <label for="branchPostalCode" class="form-label">
                {{ 'zipCode' | translate | capitalize }}
              </label>
              <input type="text" class="form-control" formControlName="branchPostalCode" id="branchPostalCode" />
            </div>
            <div class="col-md-3">
              <label for="country" class="form-label">
                {{ 'country' | translate | capitalize }}
              </label>
              <select
                class="form-control"
                formControlName="country"
                id="country"
                (change)="getTimeZone(branchForm.get('country')?.value)"
              >
                <option *ngFor="let country of countries" [value]="country.name">
                  {{ country.name }}
                </option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="latitude" class="form-label">
                {{ 'latitude' | translate | capitalize }}
              </label>
              <input type="text" class="form-control" formControlName="latitude" id="latitude" />
            </div>
            <div class="col-md-3">
              <label for="longitude" class="form-label">
                {{ 'longitude' | translate | capitalize }}
              </label>
              <input type="text" class="form-control" formControlName="longitude" id="longitude" />
            </div>
            <div class="col-md-3">
              <label for="timezone" class="form-label">
                {{ 'timezone' | translate | capitalize }}
              </label>
              <select class="form-control" formControlName="timezone" id="timezone">
                <option *ngFor="let timezone of timezones" [value]="timezone">
                  {{ timezone }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <label class="form-group col-md-12">
            <b>{{ 'audit' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'creationUser.name' | translate | capitalize }}:
                  <b>{{ branch?.creationUser?.name ?? '' }}</b>
                </label>
              </div>
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'theDay' | translate | capitalize }}:
                  <b>{{ branch?.creationDate ?? null | dateFormat: 'DD/MM/YYYY HH:mm:ss' }}</b>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'updateUser.name' | translate | capitalize }}:
                  <b>{{ branch?.updateUser?.name ?? '' }}</b>
                </label>
              </div>
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'theDay' | translate | capitalize }}:
                  <b>{{ branch?.updateDate ?? null | dateFormat: 'DD/MM/YYYY HH:mm:ss' }}</b>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'id' | translate | capitalize }}:
                  <b>{{ branch?._id ?? '' }}</b>
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
