<div class="modal-header">
  <h4 class="modal-title">Editar Usuario</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="center-content"  *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="userForm" #formUpdateUser="ngForm" (ngSubmit)="updateUser()" autocomplete="off">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-12">
          <label for="name" class="control-label">Nombre:</label>
          <div class="input-group">
            <input type="text" class="form-control" formControlName="name" name="name" id="name" [focus]="focusEvent"/>
          </div>
          <div *ngIf="formErrors.name" class="alert alert-danger">
            {{ formErrors.name }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8">
          <label for="state" class="control-label">Habilitado</label>
          <select class="form-control" formControlName="state">
            <option *ngFor="let state of states" [ngValue]="state">{{state}}</option>
          </select>
          <div *ngIf="formErrors.state" class="alert alert-danger">
            {{ formErrors.state }}
          </div>
        </div>
				<div class="form-group col-md-4">
					<label for="tokenExpiration" class="control-label">Minutos de sesión:</label>
					<input type="text" class="form-control" formControlName="tokenExpiration" name="tokenExpiration" id="tokenExpiration"/>
					<div *ngIf="formErrors.tokenExpiration" class="alert alert-danger">
						{{ formErrors.tokenExpiration }}
					</div>
				</div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="employee" class="control-label">Empleado Asociado</label>
          <select class="form-control" formControlName="employee">
            <option *ngFor="let employee of employees" [selected]="employee._id==user.employee._id" [value]="employee._id">{{employee.name}}</option>
          </select>
          <div *ngIf="formErrors.employee" class="alert alert-danger">
            {{ formErrors.state }}
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.close('cancel')">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid || loading" >
        <i [ngClass]="{'fa fa-save':!loading, 'fa-refresh fa-spin':loading}"></i>
        <span *ngIf="!loading">Guardar Cambios</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
</section>