app-config {
    .card {
        margin-top: 20px;
        min-height: auto !important;
    }
    
    .card-block {
        margin-top: 20px;
        min-height: auto !important;
    }
    
    img.mediana{
        width: 200px; height: 150px;
    }
}