<section class="container-fluid" *ngIf="config">
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage = ''">
      {{ alertMessage }}
    </ngb-alert>
  </div>

  <div class="card">
    <div class="card-body scroll">
      <div class="row">
        <label class="form-group col-md-12">
          <b>Correo</b>
        </label>
      </div>
      <form [formGroup]="configFormEmail" (ngSubmit)="addConfigEmail()" autocomplete="off">
        <div class="row">
          <div class="form-group col-md-12">
            <label for="emailAccount">Cuenta de Email:</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                formControlName="emailAccount"
                name="emailAccount"
                id="emailAccount"
                placeholder="Ingrese su cuenta de email"
              />
              <button
                type="button"
                class="btn btn-light"
                placement="right"
                ngbPopover="Solo se permite cuenta de Gmail y tendra que habilitar la app en el siguiente link https://myaccount.google.com/lesssecureapps"
              >
                <b>?</b>
              </button>
            </div>
            <div *ngIf="formErrors.emailAccount" class="alert alert-danger mt-2">
              {{ formErrors.emailAccount }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="emailPassword">Contraseña de Email:</label>
            <input
              type="password"
              class="form-control"
              formControlName="emailPassword"
              name="emailPassword"
              id="emailPassword"
            />
            <div *ngIf="formErrors.emailPassword" class="alert alert-danger mt-2">
              {{ formErrors.emailPassword }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-8">
            <label for="emailHost">Host:</label>
            <input type="text" class="form-control" formControlName="emailHost" name="emailHost" id="emailHost" />
          </div>
          <div class="form-group col-md-4">
            <label for="emailPort">Puerto:</label>
            <input type="number" class="form-control" formControlName="emailPort" name="emailPort" id="emailPort" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary" [disabled]="!configFormEmail.valid || loadingEmail">
              <i
                class="fa"
                [ngClass]="{
                  'fa-save': !loadingEmail,
                  'fa-spinner fa-spin': loadingEmail,
                }"
              ></i>
              <span *ngIf="!loadingEmail">Guardar</span>
              <span *ngIf="loadingEmail">Espere por favor</span>
            </button>
          </div>
        </div>
      </form>

      <hr />

      <div class="row">
        <label class="form-group col-md-12">
          <b>ARCA</b>
        </label>
      </div>
      <form (ngSubmit)="generateCRS()" autocomplete="off">
        <div class="row">
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary">
              <span *ngIf="!loading">Generar Certificado (CRS)</span>
              <span *ngIf="loading">Espere por favor</span>
            </button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="form-group col-md-6">
            <label for="crtFile">Subir Certificado (CRT):</label>
            <div class="input-group">
              <input type="file" accept=".crt" class="form-control" (change)="fileChangeEvent($event)" id="crtFile" />
              <button type="button" class="btn btn-secondary" (click)="upload()">Subir</button>
            </div>
          </div>
        </div>
      </form>

      <hr />

      <div class="row">
        <label class="form-group col-md-12">
          <b>Sistema</b>
        </label>
      </div>
      <form [formGroup]="configFormSystem" (ngSubmit)="addConfigSystem()" autocomplete="off">
        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Longitud de código interno en artículo:</span>
              <input
                type="number"
                class="form-control"
                formControlName="article.code.validators.maxLength"
                name="article.code.validators.maxLength"
                id="article.code.validators.maxLength"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <ng-template #rtAccounts let-r="result" let-t="term">
                <ngb-highlight [result]="r.description" [term]="t"></ngb-highlight>
              </ng-template>
              <label for="article.salesAccount.default">Cuenta Venta defecto de Producto:</label>
              <input
                id="article.salesAccount.default"
                type="text"
                class="form-control"
                formControlName="article.salesAccount.default"
                name="article.salesAccount.default"
                [ngbTypeahead]="searchAccounts"
                [resultTemplate]="rtAccounts"
                [inputFormatter]="formatterAccounts"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <ng-template #rtAccounts let-r="result" let-t="term">
                <ngb-highlight [result]="r.description" [term]="t"></ngb-highlight>
              </ng-template>
              <label for="article.purchaseAccount.default">Cuenta Compra defecto de Producto:</label>
              <input
                id="article.purchaseAccount.default"
                type="text"
                class="form-control"
                formControlName="article.purchaseAccount.default"
                name="article.purchaseAccount.default"
                [ngbTypeahead]="searchAccounts"
                [resultTemplate]="rtAccounts"
                [inputFormatter]="formatterAccounts"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1" *ngIf="configFormCompany.value.country === 'AR'"
                >Cóndicion de IVA defecto para las empresas:</span
              >
              <span class="input-group-addon" id="basic-addon1" *ngIf="configFormCompany.value.country !== 'AR'"
                >Régimen Fiscal defecto para las empresas:</span
              >
              <select
                class="form-control"
                formControlName="company.vatCondition.default"
                name="company.vatCondition.default"
                id="company.vatCondition.default"
              >
                <option
                  [ngValue]="null"
                  [selected]="!config.company || !config.company.vatCondition || !config.company.vatCondition.default"
                ></option>
                <option
                  *ngFor="let vatCondition of vatConditions"
                  [selected]="
                    (config.company &&
                      config.company.vatCondition &&
                      config.company.vatCondition.default &&
                      config.company.vatCondition.default._id &&
                      vatCondition._id === config.company.vatCondition.default._id) ||
                    (config.company &&
                      config.company.vatCondition &&
                      config.company.vatCondition.default &&
                      vatCondition._id === config.company.vatCondition.default)
                  "
                  [value]="vatCondition._id"
                >
                  {{ vatCondition.description }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- <div class="form-group col-md-12">
                          <div class="input-group">
                              <span class="input-group-addon" id="basic-addon1">Valor defecto si permite cuenta corriente
                                  al dar de alta:</span>
                              <select class="form-control" formControlName="company.allowCurrentAccount.default"
                                  name="company.allowCurrentAccount.default" id="company.allowCurrentAccount.default">
                                  <option value="true">Si</option>
                                  <option value="false">No</option>
                              </select>
                          </div>
                      </div> -->

          <div class="form-group col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"
                >Valor defecto si permite cuenta corriente al dar de alta un proveedor :</span
              >
              <select
                class="form-control"
                formControlName="company.allowCurrentAccountProvider.default"
                name="company.allowCurrentAccountProvider.default"
                id="company.allowCurrentAccountProvider.default"
              >
                <option value="true">Si</option>
                <option value="false">No</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"
                >Valor defecto si permite cuenta corriente al dar de alta un cliente :</span
              >
              <select
                class="form-control"
                formControlName="company.allowCurrentAccountClient.default"
                name="company.allowCurrentAccountClient.default"
                id="company.allowCurrentAccountClient.default"
              >
                <option value="true">Si</option>
                <option value="false">No</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <ng-template #rtAccounts let-r="result" let-t="term">
                <ngb-highlight [result]="r.description" [term]="t"></ngb-highlight>
              </ng-template>
              <label for="company.accountClient.default">Valor Defecto de cuenta para clientes:</label>
              <input
                id="company.accountClient.default"
                type="text"
                class="form-control"
                formControlName="company.accountClient.default"
                name="company.accountClient.default"
                [ngbTypeahead]="searchAccounts"
                [resultTemplate]="rtAccounts"
                [inputFormatter]="formatterAccounts"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <ng-template #rtAccounts let-r="result" let-t="term">
                <ngb-highlight [result]="r.description" [term]="t"></ngb-highlight>
              </ng-template>
              <label for="company.accountProvider.default">Valor Defecto de cuenta para proveedores:</label>
              <input
                id="company.accountProvider.default"
                type="text"
                class="form-control"
                formControlName="company.accountProvider.default"
                name="company.accountProvider.default"
                [ngbTypeahead]="searchAccounts"
                [resultTemplate]="rtAccounts"
                [inputFormatter]="formatterAccounts"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Administrar caja por usuario:</span>
              <select
                class="form-control"
                formControlName="cashBox.perUser"
                name="cashBox.perUser"
                id="cashBox.perUser"
              >
                <option value="true">Si</option>
                <option value="false">No</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"
                >Valor defecto si el artículo es pesable al dar de alta:</span
              >
              <select
                class="form-control"
                formControlName="article.isWeigth.default"
                name="article.isWeigth.default"
                id="article.isWeigth.default"
              >
                <option value="true">Si</option>
                <option value="false">No</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"
                >Valor defecto si el artículo se puede vender sin stock:</span
              >
              <select
                class="form-control"
                formControlName="article.allowSaleWithoutStock.default"
                name="article.allowSaleWithoutStock.default"
                id="article.allowSaleWithoutStock.default"
              >
                <option value="true">Si</option>
                <option value="false">No</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Prefijo del código de barra de la balanza:</span>
              <input
                type="number"
                class="form-control"
                formControlName="tradeBalance.codePrefix"
                name="tradeBalance.codePrefix"
                id="tradeBalance.codePrefix"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"
                >Cantidad de digitos del código de producto para la balanza:</span
              >
              <input
                type="number"
                class="form-control"
                formControlName="tradeBalance.numberOfCode"
                name="tradeBalance.numberOfCode"
                id="tradeBalance.numberOfCode"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"
                >Número de cantidad de producto del código de barra de la balanza:</span
              >
              <input
                type="number"
                class="form-control"
                formControlName="tradeBalance.numberOfQuantity"
                name="tradeBalance.numberOfQuantity"
                id="tradeBalance.numberOfQuantity"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"
                >Número de enteros del precio del código de barra de la balanza:</span
              >
              <input
                type="number"
                class="form-control"
                formControlName="tradeBalance.numberOfIntegers"
                name="tradeBalance.numberOfIntegers"
                id="tradeBalance.numberOfIntegers"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"
                >Número de decimales del precio en el código de barra de la balanza:</span
              >
              <input
                type="number"
                class="form-control"
                formControlName="tradeBalance.numberOfDecimals"
                name="tradeBalance.numberOfDecimals"
                id="tradeBalance.numberOfDecimals"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Cantidad de lecturas por voucher permitidas:</span>
              <input
                type="number"
                class="form-control"
                formControlName="voucher.readingLimit"
                name="voucher.readingLimit"
                id="voucher.readingLimit"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Expiración del voucher (en minutos):</span>
              <input
                type="number"
                class="form-control"
                formControlName="voucher.minutesOfExpiration"
                name="voucher.minutesOfExpiration"
                id="voucher.minutesOfExpiration"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Moneda:</span>
              <select class="form-control" formControlName="currency" name="currency" id="currency">
                <option
                  *ngFor="let currency of currencies"
                  [value]="currency._id"
                >
                  {{ currency.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Pie de Impresión:</span>
              <input
                type="text"
                class="form-control"
                formControlName="footerInvoice"
                name="footerInvoice"
                id="footerInvoice"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary" [disabled]="!configFormSystem.valid || loadingSystem">
              <i
                class="fa"
                [ngClass]="{
                  'fa-save': !loadingSystem,
                  'fa-spinner fa-spin': loadingSystem,
                }"
              ></i>
              <span *ngIf="!loadingSystem">Guardar</span>
              <span *ngIf="loadingSystem">Espere por favor</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
