<div class="modal-header">
  <h4 class="modal-title"> Ubicación</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="locationForm" (ngSubmit)="addLocation()" autocomplete="off">
    <div class="modal-body">
      <div class="row">
          <div class="form-group col-md-6">
              <label for="deposit" class="control-label">Depósito:</label>
              <select class="form-control" formControlName="deposit">
                <option *ngFor="let deposit of deposits"
                        [selected]="(location.deposit && location.deposit._id && deposit._id===location.deposit._id) ||
                                    (location.deposit && deposit._id===location.deposit)"
                        [value]="deposit._id"
                        [disabled]="readonly">
                        {{deposit.name}}
                </option>
              </select>
              <div *ngIf="formErrors.deposit" class="alert alert-danger">
                {{ formErrors.deposit }}
              </div>
            </div>
        <div class="form-group col-md-6">
          <label for="description" class="control-label">Descripción:</label>
          <input type="text" class="form-control" formControlName="description" name="description" id="description" [focus]="focusEvent" [readonly]="readonly"/>
          <div *ngIf="formErrors.description" class="alert alert-danger">
            {{ formErrors.description }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="positionX" class="control-label">Posición X:</label>
          <input type="text" class="form-control" formControlName="positionX" name="positionX" id="positionX" [readonly]="readonly"/>

        </div>
        <div class="form-group col-md-4">
          <label for="positionY" class="control-label">Posición Y:</label>
          <input type="text" class="form-control" formControlName="positionY" name="positionY" id="positionY" [readonly]="readonly"/>

        </div>
        <div class="form-group col-md-4">
          <label for="positionZ" class="control-label">Posición Z:</label>
          <input type="text" class="form-control" formControlName="positionZ" name="positionZ" id="positionZ" [readonly]="readonly"/>
        </div>
      </div>
    </div>
    <div class="modal-footer" *ngIf="operation !== 'view'">
      <button type="button" class="btn btn-light" (click)="activeModal.dismiss('cancel')">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!locationForm.valid || loading" *ngIf="operation !== 'delete'">
        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Guardar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
      <button type="button" 
              class="btn btn-danger" 
              *ngIf="operation === 'delete'" 
              [disabled]="!locationForm.valid || loading" 
              (click)="deleteLocation()">
        <i class="fa" [ngClass]="{'fa-trash':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Eliminar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
</section>