<section class="container-fluid">
    <div class="row container-filter">
        <div class="col-md-2">
            <label for="number" class="control-label">
                <b>Numero de cheque</b>
            </label>
            <input type="text" placeholder="Numero" [(ngModel)]="numberCheck" (keydown.enter)="getCheck()">
        </div>
    </div>
    <div *ngIf="check" class="card card-large">
        <div class="card-header">
            <span>Cheque</span>
        </div>
    </div>
    <div *ngIf="check" class="card-block table-responsive">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <h5><strong>Numbero:</strong> {{check.number}}</h5>
                </div>
                <div class="col-3">
                    <h5><strong>Cuit:</strong> {{check.CUIT}}</h5>
                </div>
                <div class="col-3">
                    <h5><strong>Banco:</strong> {{check.bank.name}}</h5>
                </div>
                <div class="col-3">
                    <h5><strong>Titular:</strong> {{check.titular}}</h5>
                </div>
                <div class="col-3">
                    <h5><strong>Estado del cheque:</strong> {{check.statusCheck}}</h5>
                </div>
                <div class="col-3">
                    <h5><strong>Importe total:</strong> {{check.amountPaid}}</h5>
                </div>
                <div class="col-3">
                    <h5><strong>Importe de impuesto:</strong> {{check.taxAmount}}</h5>
                </div>
                <div class="col-3">
                    <h5><strong>Saldo cancelado:</strong> {{check.balanceCanceled}}</h5>
                </div>
                <div class="col-3">
                    <h5><strong>Observación:</strong> {{check.observation}}</h5>
                </div>
                <div class="col-3">
                    <h5><strong>fecha de caducidad:</strong> {{check.expirationDate}}</h5>
                </div>
                <div class="col-3">
                    <h5><strong>fecha de creación:</strong> {{check.creationDate}}</h5>
                </div>
            </div>
        </div>
        <!-- transactions -->
        <div class="card  card-large">
            <div class="card-header">
                <span>{{title}}</span>
            </div>
            <div class="card-block table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <i class="fa fa-bars"></i>
                            </th>
                            <ng-container *ngFor="let column of columns">
                                <th *ngIf="column.visible" (click)="orderBy(column.name)">{{ column.name | translate }}</th>
                            </ng-container>
                        </tr>
                        <tr class="filters">
                            <th></th>
                            <ng-container *ngFor="let column of columns">
                                <th *ngIf="column.visible">
                                    <input type="text" class="form-control" [(ngModel)]="filters[column.name]"
                                        (keydown.enter)="getItems()" placeholder="{{ column.name | translate }}"
                                        [disabled]="!column.filter">
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td [attr.colspan]="getColumnsVisibles() + 1" style="padding: 0px">
                                <app-progressbar [loading]="loading"></app-progressbar>
                            </td>
                        </tr>
                        <tr *ngFor="let item of items | paginate: { itemsPerPage: itemsPerPage,
                                                            currentPage: currentPage,
                                                            totalItems: totalItems
                                                          }">
                            <td align="left">
                                <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view', item)"
                                    title="Ver"><i class="fa fa-eye"></i>
                                </button>
                                <!-- <button type="button" *ngIf="item.type.allowEdit"
                                    class="btn btn-primary btn-sm" (click)="openModal('edit', item)" title="Editar"><i
                                        class="fa fa-pencil"></i>
                                </button> -->
                                <!-- <button type="button" *ngIf="item.type.allowDelete &&
                                  (!item.type.electronics ||
                                  (item.type.electronics &&
                                  item.state.toString() !== 'Cerrado'))" class="btn btn-danger btn-sm"
                                    (click)="openModal('delete', item)" title="Eliminar"><i class="fa fa-trash-o"></i>
                                </button>
                                <button *ngIf="item.state.toString() !== 'Pendiente' || item.state.toString() !== 'Abierto'" type="button" class="btn btn-light btn-sm"
                                    (click)="openModal('print', item)" title="Imprimir"><i class="fa fa-print"></i>
                                </button>
                                <button type="button" *ngIf="item.state.toString() !== 'Pendiente' || item.state.toString() !== 'Abierto'" class="btn btn-light btn-sm"
                                    (click)="openModal('send-email', item)" title="Enviar"><i class="fa fa-envelope"></i>
                                </button> -->
                            </td>
                            <ng-container *ngFor="let column of columns">
                                <td *ngIf="column.visible" [attr.align]="column.align">{{getValue(item, column)}}</td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- / transaction -->
    </div>
</section>