<div class="modal-header">
  <h4 class="modal-title" *ngIf="!transaction._id || transaction._id === ''">Agregar {{transaction.type.name}}</h4>
  <h4 class="modal-title" *ngIf="transaction._id && transaction._id !== ''">Editar {{transaction.type.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="transactionForm" #formAddTransaction="ngForm" (ngSubmit)="addTransaction()" autocomplete="off">
    <div class="modal-body">
      <div class="row" *ngIf="transaction.type.requestCompany">
        <div class="form-group col-md-12">
          <label for="company" class="control-label">{{ transaction.type.requestCompany }}:</label>
        </div>
      </div>
      <div class="row" *ngIf="transaction.type.requestCompany">
        <div class="form-group col-md-10">
          <input type="text" class="form-control" formControlName="company" name="company" readonly/>
        </div>
        <div class="col-md-2" align="right">
          <button type="button" class="btn btn-secondary" (click)="changeCompany()">
            Cambiar
          </button>
        </div>
      </div>
      <div class="row" *ngIf="transaction.type.requestEmployee">
        <div class="form-group col-md-12">
          <label for="employeeOpening" class="control-label">Asignar {{ transaction.type.requestEmployee.description }}</label>
          <select class="form-control" formControlName="employeeOpening">
            <option *ngFor="let employee of employees"
                    [selected]="transaction.employeeOpening && employee._id === transaction.employeeOpening._id"
                    [value]="employee._id">
              {{employee.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="row" *ngIf="transactionMovement === 'Venta'">
        <div class="form-group col-md-6">
          <label for="date" class="control-label">Fecha:</label>
          <input type="date" class="form-control" formControlName="date" name="date" min="2000-01-01" [readonly]="readonly"/>
          <div *ngIf="formErrors.date" class="alert alert-danger">
            {{ formErrors.date }}
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="origin" class="control-label">POS:</label>
          <input type="number" class="form-control" formControlName="origin" name="origin" min="0" [focus]="focusEvent" [readonly]="readonly"/>
          <div *ngIf="formErrors.origin" class="alert alert-danger">
            {{ formErrors.origin }}
          </div>
        </div>
      </div>
      <div class="row" *ngIf="transactionMovement === 'Compra'">
        <div class="form-group col-md-4">
          <label for="date" class="control-label">Fecha:</label>
          <input type="date" class="form-control" formControlName="date" name="date" min="2000-01-01"[readonly]="readonly" />
          <div *ngIf="formErrors.date" class="alert alert-danger">
            {{ formErrors.date }}
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for="origin" class="control-label">POS:</label>
          <input type="number" class="form-control" formControlName="origin" name="origin" min="0" [focus]="focusEvent" [readonly]="readonly"/>
          <div *ngIf="formErrors.origin" class="alert alert-danger">
            {{ formErrors.origin }}
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for="letter" class="control-label">Letra:</label>
          <select class="form-control" formControlName="letter">
            <option *ngFor="let letter of letters"
                    [selected]="!transaction.letter && transaction.company.vatCondition.transactionLetter === letter || transaction.letter === letter"
                    [value]="letter"
                    [disabled]="readonly">
                    {{ letter }}
            </option>
          </select>
          <div *ngIf="formErrors.letter" class="alert alert-danger">
            {{ formErrors.letter }}
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="number" class="control-label">Número:</label>
          <input type="number" class="form-control" formControlName="number" name="number" min="1" [readonly]="readonly"/>
          <div *ngIf="formErrors.number" class="alert alert-danger">
            {{ formErrors.number }}
          </div>
        </div>
      </div>
      <div class="row" *ngIf="transaction.type.tax">
        <div class="form-group col-md-12">
          <label for="VATPeriod" class="control-label">Período de IVA:</label>
          <input type="text" class="form-control" formControlName="VATPeriod" name="VATPeriod" [readonly]="readonly" />
          <div *ngIf="formErrors.VATPeriod" class="alert alert-danger">
            {{ formErrors.VATPeriod }}
          </div>
        </div>
      </div>
      <div class="row" *ngIf="transaction.type && transaction.type.requestTaxes && !transaction.type.requestArticles">
        <div class="form-group col-md-6">
          <label for="basePrice" class="control-label">Importe Gravado:</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" class="form-control" formControlName="basePrice" name="basePrice" min="0" step="1" (blur)="updatePrices('basePrice')" [readonly]="readonly"/>
          </div>
          <div *ngIf="formErrors.basePrice" class="alert alert-danger">
            {{ formErrors.basePrice }}
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="exempt" class="control-label">Importe Exento:</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" class="form-control" formControlName="exempt" name="exempt" min="0" step="1" (blur)="updatePrices('exempt')" [readonly]="readonly"/>
          </div>
          <div *ngIf="formErrors.exempt" class="alert alert-danger">
            {{ formErrors.exempt }}
          </div>
        </div>
      </div>
      <app-add-article-tax  (eventAddArticleTax)="addTransactionTaxes($event)"
                            [articleTaxes]="taxes"
                            *ngIf="transaction.type && transaction.type.requestTaxes&& !transaction.type.requestArticles">
      </app-add-article-tax>
      <div class="row" *ngIf="transaction.type && !transaction.type.requestArticles">
        <div class="form-group col-md-12">
          <label for="totalPrice" class="control-label">Importe Total:</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" class="form-control" formControlName="totalPrice" name="totalPrice" min="0" step="1" (blur)="updatePrices('totalPrice')" [readonly]="readonly"/>
          </div>
          <div *ngIf="formErrors.totalPrice" class="alert alert-danger">
            {{ formErrors.totalPrice }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="observation" class="control-label">Observación:</label>
          <textarea type="text" class="form-control" formControlName="observation" name="observation" id="observation" rows="2" [disabled]="readonly">
          </textarea>
        </div>
      </div>
      <div class="row" *ngIf="transaction.type.allowEdit && transaction && transaction._id && transaction._id !== ''">
        <div class="form-group col-md-12">
          <label for="state" class="control-label">Estado</label>
          <select class="form-control" formControlName="state">
            <option *ngFor="let state of states"
                    [selected]="transaction.state && state === transaction.state"
                    [value]="state">
              {{state}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.close('cancel')">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!transactionForm.valid || loading">
        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Siguiente</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
</section>
