<section class="container-fluid">
  <div class="card">
    <div class="card-header">
      <span style="color: #607d8b" *ngIf="operation === 'add' || operation === 'copy'">
        {{ 'add-unit-of-measurement' | translate | capitalize }}
      </span>
      <span style="color: #607d8b" *ngIf="operation === 'update'">
        {{ 'edit' | translate | capitalize }} {{ unit?.name ?? '' }}
      </span>
      <span style="color: #607d8b" *ngIf="operation === 'view' || operation === 'delete'">
        {{ unit?.name ?? '' }}
      </span>
      <div class="pull-right">
        <button type="button" class="btn" (click)="returnTo()">
          <i class="fa fa-arrow-left"></i><span>{{ 'return' | translate | capitalize }}</span>
        </button>
        <button
          type="button"
          class="btn"
          [disabled]="loading"
          *ngIf="operation !== 'delete' && operation !== 'view'"
          (click)="handleUnitOperation()"
        >
          <i class="fa" [ngClass]="{ 'fa-save': !loading, 'fa-spinner fa-spin': loading }"></i>
          <span *ngIf="!loading"> {{ 'save' | translate | capitalize }}</span>
          <span *ngIf="loading"> {{ 'loading' | translate | capitalize }}</span>
        </button>
        <button
          type="button"
          class="btn btn-danger active"
          *ngIf="operation === 'delete'"
          [disabled]="loading"
          (click)="handleUnitOperation()"
        >
          <i class="fa" [ngClass]="{ 'fa-trash': !loading, 'fa-spinner fa-spin': loading }"></i>
          <span *ngIf="!loading">{{ 'delete' | translate | capitalize }}</span>
          <span *ngIf="loading">{{ 'loading' | translate | capitalize }}</span>
        </button>
      </div>
    </div>
    <div class="card-body scroll">
      <form [formGroup]="unitForm" (ngSubmit)="handleUnitOperation()" autocomplete="off">
        <div class="row">
          <label class="form-group col-md-12">
            <b>{{ 'mainData' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-3">
            <label for="code" class="control-label">{{ 'code' | translate | capitalize }}:</label>
            <input
              type="text"
              class="form-control"
              formControlName="code"
              id="code"
              [ngClass]="{
                'is-invalid': unitForm.get('code')?.touched && unitForm.get('code')?.invalid,
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="unitForm.get('code')?.touched && unitForm.get('code')?.hasError('required')"
            >
              {{ 'fieldRequired' | translate | capitalize }}
            </div>
          </div>
          <div class="form-group col-md-3">
            <label for="abbreviation" class="control-label">{{ 'abbreviation' | translate | capitalize }}:</label>
            <input
              type="text"
              class="form-control"
              formControlName="abbreviation"
              id="abbreviation"
              [ngClass]="{
                'is-invalid': unitForm.get('abbreviation')?.touched && unitForm.get('abbreviation')?.invalid,
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="unitForm.get('abbreviation')?.touched && unitForm.get('abbreviation')?.hasError('required')"
            >
              {{ 'fieldRequired' | translate | capitalize }}
            </div>
          </div>
          <div class="form-group col-md-3">
            <label for="name" class="control-label">{{ 'name' | translate | capitalize }}:</label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              id="name"
              [ngClass]="{
                'is-invalid': unitForm.get('name')?.touched && unitForm.get('name')?.invalid,
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="unitForm.get('name')?.touched && unitForm.get('name')?.hasError('required')"
            >
              {{ 'fieldRequired' | translate | capitalize }}
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <label class="form-group col-md-12">
            <b>{{ 'audit' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'creationUser.name' | translate | capitalize }}:
                  <b>{{ unit?.creationUser?.name || '' }}</b>
                </label>
              </div>
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'theDay' | translate | capitalize }}:
                  <b>{{ unit?.creationDate ?? null | dateFormat: 'DD/MM/YYYY HH:mm:ss' }}</b>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'updateUser.name' | translate | capitalize }}:
                  <b>{{ unit?.updateUser?.name || '' }}</b>
                </label>
              </div>
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'theDay' | translate | capitalize }}:
                  <b>{{ unit?.updateDate ?? null | dateFormat: 'DD/MM/YYYY HH:mm:ss' }}</b>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  ID:<b>{{ unit?._id || '' }}</b>
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
