app-point-of-sale {
	.margin-top {
			margin-top: 20px;
	}
	
	.list-delivery {
			height:33/100vh;
	}
	
	.list-counter {
			min-height: 85vh;
			height: auto;
	}
	
	.tables-container {
		height:75vh;
	}

	.header-bottom {
		position: fixed;
		height: 120px;
		bottom: 0px;
		left: 0;
		right: 0;
		padding: 20px;
		margin: 0;
		background-color: white;
	}

	.quick-btn {
		height: 80px;
		width: 90px;
		color: #2E2E2E;
		background-color: white;
		text-align: center;
		padding-top: 5px;
		font-size: 15px;
		border-radius: 5px;
		border: 1px solid #848484;
		font-weight: 500;
		cursor: pointer;
		margin-left: 20px;
		i {
			font-size: 20px;
		}
	}
	
	.btn-turn-text {
		color: white;
		font-size: 20px;
	}
	
	.container-btns {
		padding-left: 50px;
	}
	
	.pos-resto {
		background-color: #FFF;
	}

	td {
		cursor: pointer;
	}

	/* RESPONSIVE */
	@media (max-width: 767px) {
		.tables-container {
			padding: 0px;
			margin: 0px;
		}

		.header-bottom {
			height: 80px;
			padding: 10px;
		}
	
		.quick-btn {
			height: 60px;
			width: 70px;
			padding-top: 5px;
			font-size: 10px;
			margin-left: 10px;
			i {
				font-size: 15px;
			}
		}
	}
}