<section class="container-fluid">
  <div class="row">
    <div class="center-content"  *ngIf="alertMessage !== ''">
      <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
        {{alertMessage}}
      </ngb-alert>
    </div>
  </div>
  <div class="row center-content">
    <div class="btn-group btn-lg" role="group" aria-label="Basic example">
      <button type="button" 
              [ngClass]="{'btn btn-primary':roomSelected._id===room._id, 
                          'btn btn-secondary':roomSelected._id!==room._id}" 
              *ngFor="let room of rooms" 
              (click)="changeRoom(room)">
        {{room.description}}
      </button>
    </div>
  </div>
</section>
<div *ngIf="roomSelected">
  <app-list-tables (eventBackToRoom)="changeRoom($room)" [filterRoom]="roomSelected.description"></app-list-tables>
</div>