app-point-of-sale {
      .margin-top {
            margin-top: 20px;
      }
      
      .list-delivery {
            height:33/100vh;
      }
      
      .list-counter {
            min-height: 85vh;
            height: auto;
      }
      
      .tables-container {
          height:70vh;
          padding-left: 50px;
          padding-right: 50px;
      }
      
       .btn-turn {
          background: #0275d8;
          width: 100px;
          height: 100px;
          margin: 25px;
          float: left;
          text-align: center;
          cursor: pointer;
          border: 1px solid black;
          padding-top: 20px;
          box-shadow: 0px 0px 2px;
      }
      
       .btn-turn:hover {
          opacity: 0.5;
       }
      
      .btn-turn-text {
          color: white;
          font-size: 20px;
      }
      
      .container-btns {
          padding-left: 50px;
      }
      
      .pos-resto {
          background-color: #FFF;
      }
}