<div class="modal-header">
	<h4 class="modal-title" *ngIf="!readonly">Editar {{company.type}} {{company.code}}-{{company.name}}</h4>
	<h4 class="modal-title" *ngIf="readonly">{{company.type}} {{company.code}}-{{company.name}}</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
	<span aria-hidden="true">&times;</span>
	</button>
</div>
<section class="container-fluid">
	<div class="center-content"  *ngIf="alertMessage !== ''">
		<ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
			{{alertMessage}}
		</ngb-alert>
	</div>
	<form [formGroup]="companyForm" #formUpdateCompany="ngForm" (ngSubmit)="updateCompany()" autocomplete="off">
		<div class="modal-body">
			<ngb-tabset>
				<ngb-tab title="Datos principales">
					<ng-template ngbTabContent>
            <div class="row tab-content">
              <div class="form-group col-md-12">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="type" class="control-label">Tipo:</label>
                    <select class="form-control" formControlName="type">
                      <option *ngFor="let type of types" [ngValue]="type" [disabled]="readonly">{{type}}</option>
                    </select>
                    <div *ngIf="formErrors.type" class="alert alert-danger">
                      {{ formErrors.type }}
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="vatCondition" class="control-label">Condición de IVA:</label>
                    <select class="form-control" formControlName="vatCondition">
                      <option *ngFor="let vatCondition of vatConditions" [selected]="company.vatCondition && vatCondition._id==company.vatCondition._id" [value]="vatCondition._id" [disabled]="readonly">
                        {{vatCondition.description}}
                      </option>
                    </select>
                    <div *ngIf="formErrors.vatCondition" class="alert alert-danger">
                      {{ formErrors.vatCondition }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-3">
                    <label for="identityType" class="control-label">Tipo de Identificació</label>
                    <select class="form-control" formControlName="identityType">
                      <option *ngFor="let identityType of identityTypes" [ngValue]="identityType" [disabled]="readonly">
                        {{identityType}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-md-4" *ngIf="identityTypeSelected==='CUIT'">
                    <label for="CUIT" class="control-label">Número</label>
                    <div class="input-group">
                      <input type="text" class="form-control" formControlName="CUIT" name="CUIT" id="CUIT" [focus]="focusEvent" [readonly]="readonly"/>
                    </div>
                    <div *ngIf="formErrors.CUIT" class="alert alert-danger">
                      {{ formErrors.CUIT }}
                    </div>
                  </div>
                  <div class="form-group col-md-4" *ngIf="identityTypeSelected==='DNI'">
                    <label for="DNI" class="control-label">Número</label>
                    <div class="input-group">
                      <input type="text" class="form-control" formControlName="DNI" name="DNI" id="DNI" [focus]="focusEvent" [readonly]="readonly"/>
                    </div>
                    <div *ngIf="formErrors.DNI" class="alert alert-danger">
                      {{ formErrors.DNI }}
                    </div>
                  </div>
                  <div class="form-group col-md-5">
                    <label for="grossIncome" class="control-label">Ingresos Brutos:</label>
                    <div class="input-group">
                      <input type="text" class="form-control" formControlName="grossIncome" name="grossIncome" id="grossIncome" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name" class="control-label">Nombre:</label>
                    <div class="input-group">
                      <input type="text" class="form-control" formControlName="name" name="name" id="name" [readonly]="readonly"/>
                    </div>
                    <div *ngIf="formErrors.name" class="alert alert-danger">
                      {{ formErrors.name }}
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="fantasyName" class="control-label">Nombre de Fantasía:</label>
                    <div class="input-group">    
                      <input type="text" class="form-control" formControlName="fantasyName" name="fantasyName" id="fantasyName" [readonly]="readonly"/>
                    </div>
                    <div *ngIf="formErrors.fantasyName" class="alert alert-danger">
                      {{ formErrors.fantasyName }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-8">
                    <label for="address" class="control-label">Dirección:</label>
                    <div class="input-group">
                      <input type="text" class="form-control" formControlName="address" name="address" id="address" [readonly]="readonly"/>
                    </div>
                    <div *ngIf="formErrors.address" class="alert alert-danger">
                      {{ formErrors.address }}
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="city" class="control-label">Ciudad:</label>
                    <div class="input-group">
                      <input type="text" class="form-control" formControlName="city" name="city" id="city" [readonly]="readonly"/>
                    </div>
                    <div *ngIf="formErrors.city" class="alert alert-danger">
                      {{ formErrors.city }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <label for="phones" class="control-label">Teléfonos:</label>
                    <div class="input-group">
                      <input type="number" class="form-control" formControlName="phones" name="phones" id="phones" [readonly]="readonly"/>
                    </div>
                    <div *ngIf="formErrors.phones" class="alert alert-danger">
                      {{ formErrors.phones }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <label for="emails" class="control-label">Emails:</label>
                    <div class="input-group">
                      <input type="text" class="form-control" formControlName="emails" name="emails" id="emails" [readonly]="readonly"/>
                    </div>
                    <div *ngIf="formErrors.emails" class="alert alert-danger">
                      {{ formErrors.emails }}
                    </div>
                  </div>
                </div>
                <div class = "row">
                  <div class="form-group col-md-8">
                    <label for="gender" class="control-label">Género:</label>
                    <select class="form-control" formControlName="gender">
                      <option *ngFor="let gender of genders" [ngValue]="gender">{{gender}}</option>
                    </select>
                    <div *ngIf="formErrors.gender" class="alert alert-danger">
                      {{ formErrors.gender }}
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="birthday" class="control-label">Cumpleaños:</label>
                    <input type="date" class="form-control" formControlName="birthday" placeholder="DD/MM/AAAA" name="birthday" id="birthday"/>
                    <div *ngIf="formErrors.birthday" class="alert alert-danger">
                      {{ formErrors.birthday }}
                    </div>
                  </div>
                </div>
                <div class = "row">
                  <div class="form-group col-md-12">
                    <label for="observation" class="control-label">Observación:</label>
                    <input type="text" class="form-control" formControlName="observation" name="observation" id="observation"/>
                    <div *ngIf="formErrors.observation" class="alert alert-danger">
                      {{ formErrors.observation }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Novedades">
					<ng-template ngbTabContent>
            <div class="row tab-content">
              <div class="form-group col-md-12">
                <app-company-news [company]="company"></app-company-news>
              </div>
            </div>
					</ng-template>
        </ngb-tab>
        <ngb-tab title="Contacto">
					<ng-template ngbTabContent>
            <div class="row tab-content">
              <div class="form-group col-md-12">
                <app-company-contact [company]="company"></app-company-contact>
              </div>
            </div>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Configuración">
					<ng-template ngbTabContent>
            <div class="row tab-content">
              <div class="form-group col-md-12">
                <div class="row">
                  <div class="form-group col-md-12">
                    <label for="allowCurrentAccount" class="control-label">¿Habilitado para comprar en cuenta corriente?</label>
                    <select class="form-control" formControlName="allowCurrentAccount">
                      <option value="true" >Si</option>
                      <option value="false" selected>No</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <label for="group" class="control-label">Grupo</label>
                    <select class="form-control" formControlName="group">
                      <option *ngFor="let companyGroup of companiesGroup" [selected]="company.group && companyGroup._id == company.group._id" [value]="companyGroup._id" [disabled]="readonly">
                        {{companyGroup.description}}
                      </option>
                    </select>
                    <div *ngIf="formErrors.group" class="alert alert-danger">
                      {{ formErrors.group }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
					</ng-template>
        </ngb-tab>
        <ngb-tab title="Auditoría">
					<ng-template ngbTabContent>
            <div class="row tab-content">
              <div class="form-group col-md-12">
                <div class="row">
                  <div class="form-group col-md-6">
                      <label class="control-label">Creado por:</label>
                      <label *ngIf="company.creationUser" class="control-label"><b>{{company.creationUser.name}}</b></label>
                  </div>
                  <div class="form-group col-md-6">
                      <label class="control-label">El día:</label>
                      <label *ngIf="company.creationDate" class="control-label"> <b>{{company.creationDate | dateFormat:'DD/MM/YYYY'}}</b></label>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                      <label class="control-label">Modificado por:</label>
                      <label *ngIf="company.updateUser" class="control-label"><b>{{company.updateUser.name}}</b></label>
                      <label *ngIf="!company.updateUser" class="control-label"><b>-</b></label>
                  </div>
                  <div class="form-group col-md-6">
                      <label class="control-label">El día:</label>
                      <label *ngIf="company.updateDate" class="control-label"><b>{{company.updateDate | dateFormat:'DD/MM/YYYY'}}</b></label>
                      <label *ngIf="!company.updateDate" class="control-label"><b>-</b></label>
                  </div>
                </div>
              </div>
            </div>
					</ng-template>
        </ngb-tab>
			</ngb-tabset>
		</div>
		<div class="modal-footer" *ngIf="!readonly">
			<button type="button" class="btn btn-secondary" (click)="activeModal.close('cancel')">Cancelar</button>
			<button type="submit" class="btn btn-primary" [disabled]="!companyForm.valid || loading" >
				<i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
				<span *ngIf="!loading">Guardar Cambios</span>
				<span *ngIf="loading">Espere por favor</span>
			</button>
		</div>
	</form>
</section>
