<div class="modal-header">
  <h4 class="modal-title">Editar contraseña</h4>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <form [formGroup]="form" autocomplete="off" (keydown.enter)="onEnter()">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="password" class="control-label">
            {{ 'password' | translate | capitalize }}
          </label>
          <div class="input-group">
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              formControlName="password"
              name="password"
              id="password"
              [focus]="focusEvent"
              [ngClass]="{
                'is-invalid': form.get('password')?.touched && form.get('password')?.invalid,
              }"
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="showPassword = !showPassword">
                <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button>
            </div>
            <div
              class="invalid-feedback"
              *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')"
            >
              {{ 'fieldRequired' | translate | capitalize }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="activeModal.dismiss('cancel')">Cancelar</button>
      <button type="button" class="btn" [disabled]="loading" (click)="changePassword()">
        <i class="fa" [ngClass]="{ 'fa-save': !loading, 'fa-spinner fa-spin': loading }"></i>
        <span *ngIf="!loading"> {{ 'save' | translate | capitalize }}</span>
        <span *ngIf="loading"> {{ 'loading' | translate | capitalize }}</span>
      </button>
      <!-- <button type="submit" class="btn btn-primary" [disabled]="loading">
        <i class="fa" [ngClass]="{ 'fa-save': !loading, 'fa-spinner fa-spin': loading }"></i>
        <span *ngIf="!loading">Guardar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button> -->
    </div>
  </form>
</section>
