<div class="modal-header">
	<h4 class="modal-title">Tipo de Transacción <span *ngIf="transactionType">{{transactionType.name}}</span></h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<section class="container-fluid">
	<div class="center-content" *ngIf="alertMessage !== ''">
		<ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
			{{alertMessage}}
		</ngb-alert>
	</div>
	<form [formGroup]="transactionTypeForm" #formAddTransactionType="ngForm" (ngSubmit)="addTransactionType()"
		autocomplete="off">
		<div class="modal-body-lg">
			<ngb-tabset [orientation]="orientation">
				<ngb-tab title="Datos principales">
					<ng-template ngbTabContent>
						<div class="row tab-content">
							<div class="form-group col-md-12">
								<div class="row">
									<div class="form-group col-md-2">
										<label for="transactionMovement" class="control-label">Movimiento</label>
										<div class="input-group">
											<select class="form-control" formControlName="transactionMovement">
												<option *ngFor="let transactionMovement of transactionMovements"
													[ngValue]="transactionMovement" [disabled]="readonly"
													[selected]="transactionType.transactionMovement && transactionType.transactionMovement === transactionMovement">
													{{transactionMovement}}</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Qué tipo de movimiento es el comprobante que quieres crear/editar?">
												<b>?</b>
											</button>
										</div>
										<div *ngIf="formErrors.transactionMovement" class="alert alert-danger">
											{{ formErrors.transactionMovement }}
										</div>
									</div>
									<div class="form-group col-md-2">
										<label for="abbreviation">Abrev.</label>
										<div class="input-group">
											<input type="text" class="form-control" formControlName="abbreviation"
												name="abbreviation" id="abbreviation" [focus]="focusEvent"
												[readonly]="readonly" />
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="Siglas utilizadas para la alta de transacciones en la aplicación">
												<b>?</b>
											</button>
										</div>
										<div *ngIf="formErrors.abbreviation" class="alert alert-danger">
											{{ formErrors.abbreviation }}
										</div>
									</div>
									<div class="form-group col-md-4">
										<label for="name">Nombre</label>
										<div class="input-group">
											<input type="text" class="form-control" formControlName="name" name="name"
												id="name" [readonly]="readonly" />
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class" ngbPopover="¿Nombre de la transacción?">
												<b>?</b>
											</button>
										</div>
										<div *ngIf="formErrors.name" class="alert alert-danger">
											{{ formErrors.name }}
										</div>
									</div>
									<div class="form-group col-md-4">
										<label for="labelPrint">Nombre en Impresión</label>
										<div class="input-group">
											<input type="text" class="form-control" formControlName="labelPrint"
												name="labelPrint" id="labelPrint" [readonly]="readonly" />
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Como saldrá el nombre de la transacción en la impresión?">
												<b>?</b>
											</button>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-6">
										<label for="currentAccount" class="control-label">Afecta Cuenta
											Corriente</label>
										<div class="input-group">
											<select class="form-control" formControlName="currentAccount">
												<option value="Si"
													[selected]="transactionType.currentAccount.toString() === 'Si'"
													[disabled]="readonly">Si</option>
												<option value="No"
													[selected]="transactionType.currentAccount.toString() === 'No'"
													[disabled]="readonly">No</option>
												<option value="Cobra"
													[selected]="transactionType.currentAccount.toString() === 'Cobra'"
													[disabled]="readonly">Cobra/Paga</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Afecta la cuenta corriente la transacción?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label for="movement" class="control-label">Movimiento de dinero</label>
										<div class="input-group">
											<select class="form-control" formControlName="movement">
												<option [ngValue]="null"
													[selected]="!transactionType || !transactionType.movement"
													[disabled]="readonly"></option>
												<option value="Entrada"
													[selected]="transactionType.movement.toString() === 'Entrada'"
													[disabled]="readonly">Entrada</option>
												<option value="Salida"
													[selected]="transactionType.movement.toString() === 'Salida'"
													[disabled]="readonly">Salida</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Qué tipo de movimiento de dinero realiza?">
												<b>?</b>
											</button>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-3">
										<label for="electronics" class="control-label">Transacción Electrónica</label>
										<div class="input-group">
											<select class="form-control" formControlName="electronics">
												<option value="true" [selected]="transactionType.electronics"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.electronics"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Se valida la transacción fiscal?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div *ngIf="userCountry === 'MX'" class="form-group col-md-3">
										<label for="fiscalCode">Código Fiscal</label>
										<div class="input-group">
											<input type="text" class="form-control" formControlName="fiscalCode"
												name="fiscalCode" id="fiscalCode" [readonly]="readonly" />
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Cuál es el tipo de comprobante según el ente fiscal?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div *ngIf="userCountry === 'MX'" class="form-group col-md-3">
										<label for="defectUseOfCFDI" class="control-label">Uso de CFDI Defecto</label>
										<div class="input-group">
											<select class="form-control" formControlName="defectUseOfCFDI">
												<option *ngFor="let useOfCFDI of usesOfCFDI" [ngValue]="useOfCFDI._id"
													[selected]="(transactionType.defectUseOfCFDI && transactionType.defectUseOfCFDI._id && useOfCFDI._id===transactionType.defectUseOfCFDI._id) ||
											  (transactionType.defectUseOfCFDI && useOfCFDI._id===transactionType.defectUseOfCFDI)"
													[disabled]="readonly">
													{{ useOfCFDI.description }}</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="Al dar de alta la transacción el Uso de CFDI elegido estará asignado por defecto.">
												<b>?</b>
											</button>
										</div>
									</div>
									<div *ngIf="userCountry === 'AR'" class="form-group col-md-3">
										<label for="codeA">Código AFIP A</label>
										<input type="number" class="form-control" formControlName="codeA" codeA="codeA"
											id="codeA" [readonly]="readonly" />
									</div>
									<div *ngIf="userCountry === 'AR'" class="form-group col-md-3">
										<label for="codeB">Código AFIP B</label>
										<input type="number" class="form-control" formControlName="codeB" codeB="codeB"
											id="codeB" [readonly]="readonly" />
									</div>
									<div *ngIf="userCountry === 'AR'" class="form-group col-md-3">
										<label for="codeC">Código AFIP C</label>
										<input type="number" class="form-control" formControlName="codeC" codeC="codeC"
											id="codeC" [readonly]="readonly" />
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-4">
										<label for="automaticCreation" class="control-label">Crea
											automáticamente</label>
										<div class="input-group">
											<select class="form-control" formControlName="automaticCreation">
												<option value="true" [selected]="transactionType.automaticCreation"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.automaticCreation"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Crea automáticamente después de finalizar una operación?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-4">
										<label for="requestTaxes" class="control-label">Pide Impuestos</label>
										<div class="input-group">
											<select class="form-control" formControlName="requestTaxes">
												<option value="true" [selected]="transactionType.requestTaxes"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.requestTaxes"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Permite cargar impuestos en la transacción?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-4">
										<label for="tax">Afecta Libro de IVA</label>
										<div class="input-group">
											<select class="form-control" formControlName="tax">
												<option value="true" [selected]="transactionType.tax"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.tax"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿La transacción aparece en el Libro de IVA?">
												<b>?</b>
											</button>
										</div>
									</div>
								</div>
								<b>PERMISOS</b>
								<hr>
								<div class="row">
									<div class="form-group col-md-3">
										<label for="allowEdit" class="control-label">Permite editar</label>
										<div class="input-group">
											<select class="form-control" formControlName="allowEdit">
												<option value="true" [selected]="transactionType.allowEdit"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.allowEdit"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Se puede editar la transacción?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-3">
										<label for="allowDelete" class="control-label">Permite borrar</label>
										<div class="input-group">
											<select class="form-control" formControlName="allowDelete">
												<option value="true" [selected]="transactionType.allowDelete"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.allowDelete"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Se puede borrar la transacción?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-3">
										<label for="allowAPP">Permite APP</label>
										<div class="input-group">
											<select class="form-control" formControlName="allowAPP">
												<option value="true" [selected]="transactionType.allowAPP"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.allowAPP"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Permitir usar en la aplicación?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-3">
										<label for="requestTransport">Pide Transporte</label>
										<div class="input-group">
											<select class="form-control" formControlName="requestTransport">
												<option value="true" [selected]="transactionType.requestTransport"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.requestTransport"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class" ngbPopover="¿Pide Transporte?">
												<b>?</b>
											</button>
										</div>
									</div>
								</div>
								<b>PERSONALIZADO</b>
								<hr>
								<div class="row">
									<div class="form-group col-md-3">
										<label for="requestCompany" class="control-label">Pide empresa</label>
										<div class="input-group">
											<select class="form-control" formControlName="requestCompany">
												<option *ngFor="let companyType of companyTypes" [ngValue]="companyType"
													[selected]="transactionType.requestCompany === companyType"
													[disabled]="readonly">{{ companyType }}</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="Selecciona el tipo de empresa a solicitar en la carga">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-3">
										<label for="requestEmployee" class="control-label">Pide empleado</label>
										<div class="input-group">
											<select class="form-control" formControlName="requestEmployee">
												<option [ngValue]="null"
													[selected]="!transactionType || !transactionType.requestEmployee"
													[disabled]="readonly"></option>
												<option *ngFor="let employeeType of employeeTypes"
													[ngValue]="employeeType._id" [selected]="(transactionType.requestEmployee && transactionType.requestEmployee._id && employeeType._id===transactionType.requestEmployee._id) ||
											  (transactionType.requestEmployee && employeeType._id===transactionType.requestEmployee)"
													[disabled]="readonly">{{ employeeType.description }}</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="Selecciona el tipo de empleado a solicitar en la carga">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-3">
										<label for="requestCurrency" class="control-label">Pide moneda</label>
										<div class="input-group">
											<select class="form-control" formControlName="requestCurrency">
												<option value="true" [selected]="transactionType.requestCurrency"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.requestCurrency"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Pide tipo de moneda al dar el alta la transacción?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-3">
										<label for="defectOrders" class="control-label">Defecto como pedido</label>
										<div class="input-group">
											<select class="form-control" formControlName="defectOrders">
												<option value="true" [selected]="transactionType.defectOrders"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.defectOrders"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Se utiliza para dar de alta pedidos en POS modo resto o delivery?">
												<b>?</b>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Numeración">
					<ng-template ngbTabContent>
						<div class="row tab-content">
							<div class="form-group col-md-12">
								<div class="row">
									<div class="form-group col-md-4">
										<label for="automaticNumbering" class="control-label">Numeración
											Automática</label>
										<div class="input-group">
											<select class="form-control" formControlName="automaticNumbering">
												<option value="true" [selected]="transactionType.automaticNumbering"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.automaticNumbering"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Desea que el sistema enumere la transacción automaticamente?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-4" *ngIf="userCountry === 'AR'">
										<label for="fixedOrigin">Punto de venta fijo</label>
										<div class="input-group">
											<input type="number" class="form-control" formControlName="fixedOrigin"
												name="fixedOrigin" id="fixedOrigin" [readonly]="readonly" />
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿La transacción siempre va a tener el mismo punto de venta?, ¿Cuál?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-4">
										<label for="fixedLetter">Letra fija</label>
										<div class="input-group">
											<select class="form-control" formControlName="fixedLetter">
												<option *ngFor="let letter of letters"
													[selected]="transactionType.fixedLetter === letter" [value]="letter"
													[disabled]="readonly">
													{{ letter }}
												</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿La transacción siempre va a tener la misma letra?, ¿Cuál?">
												<b>?</b>
											</button>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-4">
										<label for="expirationDate" class="control-label">Vencimiento:</label>
										<input type="date" class="form-control" formControlName="expirationDate"
											name="expirationDate" id="expirationDate" [readonly]="readonly" />
										<div *ngIf="formErrors.expirationDate" class="alert alert-danger">
											{{ formErrors.expirationDate }}
										</div>
									</div>
									<div class="form-group col-md-4">
										<label for="maxOrderNumber">Máximo número de pedido</label>
										<div class="input-group">
											<input type="number" class="form-control" formControlName="maxOrderNumber"
												name="maxOrderNumber" id="maxOrderNumber" [readonly]="readonly" />
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="Si es distinto de 0, reiniciará el número de pedido cuando llegué al número ingresado.">
												<b>?</b>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Producto">
					<ng-template ngbTabContent>
						<div class="row tab-content">
							<div class="form-group col-md-12">
								<div class="row">
									<div class="form-group col-md-3">
										<label for="requestArticles" class="control-label">Intercambia Productos</label>
										<div class="input-group">
											<select class="form-control" formControlName="requestArticles">
												<option value="true" [selected]="transactionType.requestArticles"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.requestArticles"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Se intercambia productos en la transacción?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-3">
										<label for="modifyArticle" class="control-label">Modifica Producto</label>
										<div class="input-group">
											<select class="form-control" formControlName="modifyArticle">
												<option value="true" [selected]="transactionType.modifyArticle"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.modifyArticle"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Permite modificar el producto dentro de la transacción?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-3">
										<label for="entryAmount" class="control-label">Monto a editar</label>
										<div class="input-group">
											<select class="form-control" formControlName="entryAmount">
												<option [ngValue]="null" [selected]="!transactionType.entryAmount"
													[disabled]="readonly"></option>
												<option value="Costo sin IVA"
													[selected]="transactionType.entryAmount.toString() === 'Costo sin IVA'"
													[disabled]="readonly">Costo sin IVA</option>
												<option value="Costo con IVA"
													[selected]="transactionType.entryAmount.toString() === 'Costo con IVA'"
													[disabled]="readonly">Costo con IVA</option>
												<option value="Venta sin IVA"
													[selected]="transactionType.entryAmount.toString() === 'Venta sin IVA'"
													[disabled]="readonly">Venta sin IVA</option>
												<option value="Venta con IVA"
													[selected]="transactionType.entryAmount.toString() === 'Venta con IVA'"
													[disabled]="readonly">Venta con IVA</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Cuál es el precio unitario a modificar dentro de la transacción?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-3">
										<label for="showPrices" class="control-label">Ver precios</label>
										<div class="input-group">
											<select class="form-control" formControlName="showPrices">
												<option value="true" [selected]="transactionType.showPrices"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.showPrices"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Permite ver el precio del producto en el listado dentro de la transacción?">
												<b>?</b>
											</button>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-3">
										<label for="showPriceType" class="control-label">Monto que muestra?</label>
										<div class="input-group">
											<select class="form-control" formControlName="showPriceType">
												<option *ngFor="let priceType of PriceTypes" [ngValue]="priceType"
													[disabled]="readonly">
													{{ priceType }}
												</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Cuál es el precio que se muestra a la derecha en mostrador?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-3">
										<label for="showDescriptionType" class="control-label">Descripción que
											muestra?</label>
										<div class="input-group">
											<select class="form-control" formControlName="showDescriptionType">
												<option *ngFor="let descriptionType of DescriptionTypes"
													[ngValue]="descriptionType" [disabled]="readonly">
													{{ descriptionType }}
												</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Cuál la descripción que se muestra a la derecha en mostrador?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-3">
										<label for="updatePrice" class="control-label">Actualiza Precio?</label>
										<div class="input-group">
											<select class="form-control" formControlName="updatePrice">
												<option value="true" [selected]="transactionType.updatePrice"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.updatePrice"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="Actualiza automaticamente los precios del producto una vez cerrada esta transacción">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-3">
										<label for="updateArticle" class="control-label">Permite editar
											producto?</label>
										<div class="input-group">
											<select class="form-control" formControlName="updateArticle">
												<option value="true" [selected]="transactionType.updateArticle"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.updateArticle"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="Permite editar el articulo en la transacción">
												<b>?</b>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Método de Pago">
					<ng-template ngbTabContent>
						<div class="row tab-content">
							<div class="form-group col-md-12">
								<div class="row">
									<div class="form-group col-md-4">
										<label for="requestPaymentMethods" class="control-label">¿Requiere método de
											pago?</label>
										<div class="input-group">
											<select class="form-control" formControlName="requestPaymentMethods">
												<option value="true" [selected]="transactionType.requestPaymentMethods"
													[disabled]="readonly">Si</option>
												<option value="false"
													[selected]="!transactionType.requestPaymentMethods"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="Al finalizar la transacción, ¿Desea que se solicite el método de pago?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-4">
										<label for="allowZero" class="control-label">¿Permite cambiar monto en base a
											medios?</label>
										<div class="input-group">
											<select class="form-control" formControlName="allowZero">
												<option value="true" [selected]="transactionType.allowZero"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.allowZero"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="Según los métodos de pago cargados, se asigna el monto a la transacción">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-4">
										<label for="fastPayment" class="control-label">Botón de Pago Rápido</label>
										<div class="input-group">
											<select class="form-control" formControlName="fastPayment">
												<option [ngValue]="null"
													[selected]="!transactionType || !transactionType.fastPayment"
													[disabled]="readonly"></option>
												<option *ngFor="let paymentMethod of paymentMethods" [selected]="(transactionType.fastPayment && transactionType.fastPayment._id && paymentMethod._id===transactionType.fastPayment._id) ||
										(transactionType.fastPayment && paymentMethod._id===transactionType.fastPayment)"
													[ngValue]="paymentMethod._id" [disabled]="readonly">
													{{ paymentMethod.name }}
												</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Qué método de pago tendrá el botón de pago rápido?">
												<b>?</b>
											</button>
										</div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
										<label for="finishCharge" class="control-label">¿Permite cambiar monto en base a
											medios?</label>
										<div class="input-group">
											<select class="form-control" formControlName="finishCharge">
												<option value="true" [selected]="transactionType.finishCharge"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.finishCharge"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="Pone estado finalizado al cobrar?">
												<b>?</b>
											</button>
										</div>
									</div>
                                </div>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Stock">
					<ng-template ngbTabContent>
						<div class="row tab-content">
							<div class="form-group col-md-12">
								<div class="row">
									<div class="form-group col-md-6">
										<label for="modifyStock" class="control-label">Afecta stock</label>
										<div class="input-group">
											<select class="form-control" formControlName="modifyStock">
												<option value="true" [selected]="transactionType.modifyStock"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.modifyStock"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Afecta el stock la transacción?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label for="stockMovement" class="control-label">Movimiento</label>
										<div class="input-group">
											<select class="form-control" formControlName="stockMovement">
												<option [ngValue]="null"
													[selected]="!transactionType || !transactionType.stockMovement"
													[disabled]="readonly"></option>
												<option value="Entrada"
													[selected]="transactionType.stockMovement.toString() === 'Entrada'"
													[disabled]="readonly">Entrada</option>
												<option value="Salida"
													[selected]="transactionType.stockMovement.toString() === 'Salida'"
													[disabled]="readonly">Salida</option>
												<option value="Inventario"
													[selected]="transactionType.stockMovement.toString() === 'Inventario'"
													[disabled]="readonly">Inventario</option>
												<option value="Transferencia"
													[selected]="transactionType.stockMovement.toString() === 'Transferencia'"
													[disabled]="readonly">Transferencia</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class" ngbPopover="¿Como modifica al stock?">
												<b>?</b>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Fondos">
					<ng-template ngbTabContent>
						<div class="row tab-content">
							<div class="form-group col-md-12">
								<div class="row">
									<div class="form-group col-md-4">
										<label for="cashBoxImpact" class="control-label">Caja diaria</label>
										<div class="input-group">
											<select class="form-control" formControlName="cashBoxImpact">
												<option value="true" [selected]="transactionType.cashBoxImpact"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.cashBoxImpact"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class" ngbPopover="¿Afecta la caja diaria?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-4">
										<label for="cashOpening" class="control-label">Apertura de caja</label>
										<div class="input-group">
											<select class="form-control" formControlName="cashOpening">
												<option value="true" [selected]="transactionType.cashOpening"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.cashOpening"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Se utiliza para apertura de caja?">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-4">
										<label for="cashClosing" class="control-label">Cierre de caja</label>
										<div class="input-group">
											<select class="form-control" formControlName="cashClosing">
												<option value="true" [selected]="transactionType.cashClosing"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.cashClosing"
													[disabled]="readonly">No</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Se utiliza para cierre de caja?">
												<b>?</b>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Impresión">
					<ng-template ngbTabContent>
						<div class="row tab-content">
							<div class="form-group col-md-12">
								<div class="row">
									<div class="form-group col-md-6">
										<label for="defectPrinter" class="control-label">Impresora defecto</label>
										<div class="input-group">
											<select class="form-control" formControlName="defectPrinter">
												<option [ngValue]="null"
													[selected]="!transactionType || !transactionType.defectPrinter"
													[disabled]="readonly"></option>
												<option *ngFor="let printer of printers"
													[selected]="transactionType.defectPrinter && transactionType.defectPrinter._id === printer._id"
													[ngValue]="printer._id" [disabled]="readonly">
													{{printer.name}}</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="Al imprimir la transacción, se emitirá por la impresora seleccionada como defecto.">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-3">
										<label for="printable" class="control-label">Impresión automática</label>
										<div class="input-group">
											<select class="form-control" formControlName="printable">
												<option value="true" [selected]="transactionType.printable"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.printable">No
												</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="Si se imprime al finalizar la carga de la transacción">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-3">
										<label for="readLayout" class="control-label">Lee diseño?</label>
										<div class="input-group">
											<select class="form-control" formControlName="readLayout">
												<option value="true" [selected]="transactionType.readLayout"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.readLayout">No
												</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="Lee el diseño cargado en la impresora?">
												<b>?</b>
											</button>
										</div>
									</div>

								</div>
								<div class="row">
									<div class="form-group col-md-6">
										<label for="isPreprinted" class="control-label">Es Preimpreso?</label>
										<div class="input-group">
											<select class="form-control" formControlName="isPreprinted">
												<option value="true" [selected]="transactionType.isPreprinted"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.isPreprinted">No
												</option>
											</select>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label for="printDescriptionType" class="control-label">Descripción que
											muestra?</label>
										<div class="input-group">
											<select class="form-control" formControlName="printDescriptionType">

												<option value="Descripción"
													[selected]="transactionType.printDescriptionType.toString() === 'Descripción'"
													[disabled]="readonly">Descripción</option>
												<option value="Descripción Corta"
													[selected]="transactionType.printDescriptionType.toString() === 'Descripción Corta'"
													[disabled]="readonly">Descripción Corta</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Cuál la descripción que se muestra en la impresión ?">
												<b>?</b>
											</button>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-6">
										<label for="printSign" class="control-label">Imprime Firma</label>
										<div class="input-group">
											<select class="form-control" formControlName="printSign">
												<option value="true" [selected]="transactionType.printSign"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.printSign">No
												</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="Si se imprime para firmar el comprobante">
												<b>?</b>
											</button>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label for="posKitchen" class="control-label">Imprime Voucher/Bar/Cocina</label>
										<div class="input-group">
											<select class="form-control" formControlName="posKitchen">
												<option value="true" [selected]="transactionType.posKitchen"
													[disabled]="readonly">Si</option>
												<option value="false" [selected]="!transactionType.posKitchen">No
												</option>
											</select>
											<button type="button" class="btn btn-light" placement="right"
												popoverClass="popover-class"
												ngbPopover="¿Se imprimen los productos configurados como Imprime en Bar/Cocina/Voucher?">
												<b>?</b>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab *ngIf="transactionType" title="Auditoría">
					<ng-template ngbTabContent>
						<div class="row tab-content">
							<div class="form-group col-md-12">
								<div class="row">
									<div class="form-group col-md-6">
										<label class="control-label">Creado por:</label>
										<label *ngIf="transactionType.creationUser"
											class="control-label"><b>{{transactionType.creationUser.name}}</b></label>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label">El día:</label>
										<label *ngIf="transactionType.creationDate" class="control-label">
											<b>{{transactionType.creationDate | dateFormat:'DD/MM/YYYY HH:mm:ss'}}</b></label>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-6">
										<label class="control-label">Última modificación por:</label>
										<label *ngIf="transactionType.updateUser"
											class="control-label"><b>{{transactionType.updateUser.name}}</b></label>
										<label *ngIf="!transactionType.updateUser"
											class="control-label"><b>-</b></label>
									</div>
									<div class="form-group col-md-6">
										<label class="control-label">El día:</label>
										<label *ngIf="transactionType.updateDate"
											class="control-label"><b>{{transactionType.updateDate | dateFormat:'DD/MM/YYYY HH:mm:ss'}}</b></label>
										<label *ngIf="!transactionType.updateDate"
											class="control-label"><b>-</b></label>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
			</ngb-tabset>
		</div>
		<div class="modal-footer" *ngIf="operation !== 'view'">
			<button type="button" class="btn btn-light" (click)="activeModal.dismiss('cancel')">Cancelar</button>
			<button type="submit" class="btn btn-primary" [disabled]="!transactionTypeForm.valid || loading"
				*ngIf="operation !== 'delete'">
				<i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
				<span *ngIf="!loading">Guardar</span>
				<span *ngIf="loading">Espere por favor</span>
			</button>
			<button type="button" class="btn btn-danger" *ngIf="operation === 'delete'"
				[disabled]="!transactionTypeForm.valid || loading" (click)="deleteTransactionType()">
				<i class="fa" [ngClass]="{'fa-trash':!loading, 'fa-spinner fa-spin':loading}"></i>
				<span *ngIf="!loading">Eliminar</span>
				<span *ngIf="loading">Espere por favor</span>
			</button>
		</div>
	</form>
</section>