<div class="modal-header">
	<h4 class="modal-title">Editar Artículo</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
	<span aria-hidden="true">&times;</span>
	</button>
</div>
<section class="container-fluid">
	<div class="center-content"  *ngIf="alertMessage">
		<ngb-alert (close)="alertMessage=''">
			{{alertMessage}}
		</ngb-alert>
	</div>
	<form [formGroup]="articleForm" #formUpdateArticle="ngForm" (ngSubmit)="updateArticle()" autocomplete="off">
		<div class="modal-body">
			<div class="row">
				<div class="form-group col-md-4">
					<label for="make" class="control-label">Marca</label>
					<select class="form-control" formControlName="make">
						<option *ngFor="let make of makes" [selected]="make._id==article.make._id" [value]="make._id" disabled>
							{{make.description}}
						</option>
					</select>
					<div *ngIf="formErrors.make" class="alert alert-danger">
						{{ formErrors.make }}
					</div>
				</div>
				<div class="form-group col-md-4">
					<label for="code" class="control-label">Código:</label>
					<input type="number" class="form-control" formControlName="code" name="code" id="code" readonly/>
					<div *ngIf="formErrors.code" class="alert alert-danger">
						{{ formErrors.code }}
					</div>
				</div>
				<div class="form-group col-md-4">
					<label for="barcode">Código de Barra:</label>
					<input type="text" class="form-control" formControlName="barcode" name="barcode" id="barcode"/>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-8">
					<label for="description" class="control-label">Descripción:</label>
					<input type="text" class="form-control" formControlName="description" name="description" id="description"/>
					<div *ngIf="formErrors.description" class="alert alert-danger">
						{{ formErrors.description }}
					</div>
				</div>
				<div class="form-group col-md-4">
					<label for="unitOfMeasure" class="control-label">Unidad de Medida:</label>
					<input type="text" class="form-control" formControlName="unitOfMeasure" name="unitOfMeasure" id="unitOfMeasure" placeholder="Ej: Kgs"/>
					<div *ngIf="formErrors.unitOfMeasure" class="alert alert-danger">
						{{ formErrors.unitOfMeasure }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					<label for="category" class="control-label">Rubro</label>
					<select class="form-control" formControlName="category">
						<option *ngFor="let category of categories" [selected]="category._id==this.article.category._id" [value]="category._id">
							{{category.description}}
						</option>
					</select>
					<div *ngIf="formErrors.category" class="alert alert-danger">
						{{ formErrors.category }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					<label for="observation" class="control-label">Observación:</label>
					<div class="input-group">
						<textarea type="text" class="form-control" formControlName="observation" name="observation" id="observation" rows="2"></textarea>
					</div>
					<div *ngIf="formErrors.observation" class="alert alert-danger">
						{{ formErrors.observation }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					<label for="salePrice" class="control-label">Precio de Venta:</label>
					<div class="input-group">
						<span class="input-group-addon">$</span>
						<input type="number" class="form-control" formControlName="salePrice" name="salePrice" id="salePrice" step="0.01"/>
					</div>
					<div *ngIf="formErrors.salePrice" class="alert alert-danger">
						{{ formErrors.salePrice }}
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancelar</button>
			<button type="submit" class="btn btn-primary" [disabled]="!articleForm.valid || loading" >
				<i [ngClass]="{'fa fa-save':!loading, 'fa-refresh fa-spin':loading}"></i>
				<span *ngIf="!loading">Guardar Cambios</span>
				<span *ngIf="loading">Espere por favor</span>
			</button>
		</div>
	</form>
</section>