.center-content {
      margin-top: 30px;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      justify-content: center;
}

.btn {
      cursor: pointer;
}

.checkbox {
      margin-left: 20px;
}

section {
      width: 700px;
}

.btn-group {
  margin-right: 5px;
}
