<section class="container-fluid">
  <div class="card card-large">
    <div class="card-header">
      <span>Ordenes Woo Commerce</span>
      <div class="pull-right">
        <button class="btn fa fa-refresh" (click)="refresh()" [disabled]="loading">
          <i [ngClass]="{ 'fa-spin': loading }"></i>Actualizar
        </button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th [width]="50">
              <i class="fa fa-bars"></i>
            </th>
            <ng-container *ngFor="let column of columns">
              <th *ngIf="column.visible" (click)="orderBy(column.name)">
                <i *ngIf="sort[column.name] === 1" class="fa fa-sort-up"></i>
                <i *ngIf="sort[column.name] === -1" class="fa fa-sort-down"></i>
                <i *ngIf="!sort[column.name]" class="fa fa-sort"></i>
                {{ column.name | translate | capitalize }}
              </th>
            </ng-container>
          </tr>
          <tr class="filters">
            <th></th>
            <ng-container *ngFor="let column of columns">
              <th *ngIf="column.visible">
                <!-- Input para columnas sin defaultFilter -->
                <input
                  *ngIf="!column.defaultFilter && column.datatype !== 'boolean'"
                  type="text"
                  class="form-control"
                  [ngClass]="{
                    disabled: loading,
                    enabled: !loading,
                    'has-data': filters[column.name],
                  }"
                  [(ngModel)]="filters[column.name]"
                  (keydown.enter)="getTransactions()"
                  placeholder="{{ column.name | translate }}"
                  [disabled]="!column.filter || loading"
                />

                <!-- Select para columnas booleanas -->
                <select
                  class="form-control"
                  *ngIf="column.datatype === 'boolean'"
                  [(ngModel)]="filters[column.name]"
                  (change)="getTransactions()"
                >
                  <option
                    value=""
                    [ngClass]="{ disabled: loading, enabled: !loading }"
                    [disabled]="!column.filter || loading"
                  >
                    {{ 'select filter' | translate | capitalize }}
                  </option>
                  <option
                    [value]="true"
                    [ngClass]="{ disabled: loading, enabled: !loading }"
                    [disabled]="!column.filter || loading"
                  >
                    {{ 'true' | translate | capitalize }}
                  </option>
                  <option
                    [value]="false"
                    [ngClass]="{ disabled: loading, enabled: !loading }"
                    [disabled]="!column.filter || loading"
                  >
                    {{ 'false' | translate | capitalize }}
                  </option>
                </select>
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="99" style="padding: 0px">
              <app-progressbar [loading]="loading"></app-progressbar>
            </td>
          </tr>
          <tr *ngFor="let transaction of transactions">
            <ng-container>
              <td align="left" width="150">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="openModal('view-transaction', transaction)"
                  title="Ver"
                >
                  <i class="fa fa-eye"></i>
                </button>
                <button type="button" class="btn btn-light" (click)="openModal('print', transaction)" title="Imprimir">
                  <i class="fa fa-print"></i>
                </button>
              </td>
              <td>
                <b>{{ transaction?.number }}</b>
              </td>
              <td>{{ transaction?.startDate }}</td>
              <td *ngIf="transaction.company">
                {{ transaction?.company?.name }}
              </td>
              <td>
                <div class="btn-group mr-3" *ngIf="transaction.wooId !== undefined">
                  <button
                    type="button"
                    class="btn"
                    [ngClass]="{
                      'btn-state-close': transaction?.state?.toString() === 'Cerrado',
                      'btn-state-open':
                        transaction?.state?.toString() === 'En espera' ||
                        transaction?.state?.toString() === 'Pendiente' ||
                        transaction?.state?.toString() === 'En proceso',
                      'btn-state-canceled':
                        transaction?.state?.toString() === 'Reembolsado' ||
                        transaction?.state?.toString() === 'Cancelado',
                    }"
                  >
                    {{ transaction?.state }}
                  </button>
                  <!-- processing: 'En proceso',
                  pending: 'Pendiente',
                  'on-hold': 'En espera',
                  completed: 'Cerrado',
                  cancelled: 'Cancelado',
                  refunded: 'Reembolsado', -->
                  <div
                    class="btn-group"
                    ngbDropdown
                    role="group"
                    [placement]="isLastTransaction(transaction) ? 'top' : 'bottom'"
                    aria-label="Button group with nested dropdown"
                  >
                    <button
                      class="btn dropdown-toggle-split"
                      ngbDropdownToggle
                      id="dropdownConfig"
                      [ngClass]="{
                        'btn-state-close': transaction?.state?.toString() === 'Cerrado',
                        'btn-state-open':
                          transaction?.state?.toString() === 'En espera' ||
                          transaction?.state?.toString() === 'Pendiente' ||
                          transaction?.state?.toString() === 'En proceso',
                        'btn-state-canceled':
                          transaction?.state?.toString() === 'Reembolsado' ||
                          transaction?.state?.toString() === 'Cancelado',
                      }"
                    ></button>
                    <!-- processing: 'En proceso',
                    pending: 'Pendiente',
                    'on-hold': 'En espera',
                    completed: 'Cerrado',
                    cancelled: 'Cancelado',
                    refunded: 'Reembolsado', -->
                    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownConfig">
                      <button ngbDropdownItem (click)="changeStateOfTransaction(transaction, 'processing')">
                        En proceso
                      </button>
                      <button ngbDropdownItem (click)="changeStateOfTransaction(transaction, 'pending')">
                        Pendiente
                      </button>
                      <button ngbDropdownItem (click)="changeStateOfTransaction(transaction, 'on-hold')">
                        En espera
                      </button>
                      <button ngbDropdownItem (click)="changeStateOfTransaction(transaction, 'completed')">
                        Cerrado
                      </button>
                      <button ngbDropdownItem (click)="changeStateOfTransaction(transaction, 'cancelled')">
                        Cancelado
                      </button>
                      <button ngbDropdownItem (click)="changeStateOfTransaction(transaction, 'refunded')">
                        Reembolsado
                      </button>
                    </div>
                  </div>
                </div>
              </td>
              <td style="white-space: normal; line-height: 1.5">
                <b *ngIf="transaction && transaction?.shipmentMethod">{{ transaction?.shipmentMethod?.name }} - </b>
                <span *ngIf="transaction && transaction.deliveryAddress">
                  {{ transaction?.deliveryAddress?.name ?? '' }}
                  {{
                    transaction?.deliveryAddress?.number && transaction?.deliveryAddress?.number !== 'No informado'
                      ? ' ' + transaction?.deliveryAddress?.number
                      : ''
                  }}
                  {{ transaction?.deliveryAddress?.flat || transaction?.deliveryAddress?.floor ? ' -' : '' }}
                  {{
                    transaction?.deliveryAddress?.flat && transaction?.deliveryAddress?.flat !== 'No informado'
                      ? ' Depto. ' + transaction?.deliveryAddress?.flat
                      : ''
                  }}
                  {{
                    transaction?.deliveryAddress?.floor && transaction?.deliveryAddress?.floor !== 'No informado'
                      ? ' Piso ' + transaction?.deliveryAddress?.floor
                      : ''
                  }}
                  {{
                    transaction?.deliveryAddress?.city && transaction?.deliveryAddress?.city !== 'No informado'
                      ? ', ' + transaction?.deliveryAddress?.city
                      : ''
                  }}
                  {{
                    transaction?.deliveryAddress?.state && transaction?.deliveryAddress?.state !== 'No informado'
                      ? ', ' + transaction?.deliveryAddress?.state
                      : ''
                  }}
                  {{
                    transaction?.deliveryAddress?.postalCode &&
                    transaction?.deliveryAddress?.postalCode !== 'No informado'
                      ? ', CP: ' + transaction?.deliveryAddress?.postalCode
                      : ''
                  }}
                </span>
              </td>

              <td>
                {{ transaction?.paymentMethodEcommerce | translate }}
              </td>
              <td style="white-space: normal">
                {{ transaction?.observation }}
              </td>
              <td>
                {{ transaction?.balance | currency: 'USD' : 'symbol-narrow' : '1.2-2' }}
              </td>
              <td>
                {{ transaction?.totalPrice | currency: 'USD' : 'symbol-narrow' : '1.2-2' }}
              </td>
            </ng-container>
          </tr>
          <tr align="center" *ngIf="(!transactions || transactions.length === 0) && this.loading === false">
            <td colspan="10">No se encontraron pedidos</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer"></div>
  </div>
</section>
