app-add-movement-of-cash {
  .modal .modal-open .modal-header .fade {
    overflow-y: auto !important;
  }
  .center-content {
    margin-top: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .fade.show {
    opacity: 1;
    overflow-y: auto;
  }

  .btn {
    cursor: pointer;
  }

  .modal-header .container-fluid {
    overflow: hidden !important;
    overflow-y: auto !important;
  }
  .box-finance {
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    background-color: #f2f2f2;
  }
  .simple-keyboard {
    max-width: 850px;
  }
  .simple-keyboard.hg-layout-default .hg-button.hg-blue {
    background-color: #007bff;
    color: white;
  }
  .simple-keyboard.hg-layout-default .hg-button.hg-red {
    background-color: #fa5858;
    color: white;
  }
}
ngb-modal-window.modal.fade.show.d-block {
  overflow-y: auto !important ;
}
