<div class="modal-header">
  <h4 class="modal-title">Forma de pago</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
    <form [formGroup]="movementOfCashForm" #formAddMovementOfCash="ngForm" autocomplete="off" (ngSubmit)="addMovementOfCash()">
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-md-12">
            <label for="amountToCharge" class="control-label">Importe de venta:</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" class="form-control" min="0" step="0.01" [value]="transaction.totalPrice" readonly/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="paymentMethod" class="control-label">Medio de pago:</label>
            <select class="form-control" formControlName="paymentMethod" name="paymentMethod">
                <option *ngFor="let paymentMethod of paymentMethods"
                        [selected]="paymentMethod._id==movementOfCash.type._id" 
                        [ngValue]="paymentMethod"
                        [disabled]="(!transaction.company && paymentMethod.name === 'Cuenta Corriente') ||
                                    (transaction.type.name === 'Cobro' && paymentMethod.name === 'Cuenta Corriente') ||
                                    (transaction.type.name === 'Saldo Inicial' && paymentMethod.name !== 'Cuenta Corriente')">
                      {{paymentMethod.name}}
                </option>
              </select>
              <div *ngIf="formErrors.paymentMethod" class="alert alert-danger">
                {{ formErrors.paymentMethod }}
              </div>
          </div>
          <div class="form-group col-md-6">
            <label for="amountPaid" class="control-label">Importe de pago:</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" class="form-control" formControlName="amountPaid" name="amountPaid" min="0" step="0.01" [value]="movementOfCash.amountPaid"  [focus]="focusEvent"/>
            </div>
            <div *ngIf="formErrors.amountPaid" class="alert alert-danger">
              {{ formErrors.amountPaid }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="cashChange" class="control-label">Su vuelto es:</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" class="form-control"  name="cashChange" formControlName="cashChange" min="0" step="0.01" [(ngModel)]="paymentChange" readonly/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="observation" class="control-label">Observación:</label>
            <textarea type="text" class="form-control" formControlName="observation" name="observation" id="observation" rows="2">
            </textarea>
          </div>
        </div>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!movementOfCashForm.valid || loading" >
        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Guardar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
</section>