<div class="modal-header">
  <h4 class="modal-title">Forma de pago</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
    <form [formGroup]="movementOfCashForm" #formAddMovementOfCash="ngForm" autocomplete="off" (ngSubmit)="addMovementOfCash()">
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-md-12">
            <label for="transactionAmount" class="control-label">Importe de la transacción:</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" class="form-control" formControlName="transactionAmount" name="transactionAmount" readonly/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="paymentMethod" class="control-label">Medio de pago:</label>
            <select class="form-control" formControlName="paymentMethod" name="paymentMethod"  (change)="updateAmounts('paymentMethod')">
                <option *ngFor="let paymentMethod of paymentMethods"
                        [selected]="this.movementOfCash.type && this.movementOfCash.type._id === paymentMethod._id"
                        [ngValue]="paymentMethod"
                        [disabled]="(!transaction.company && paymentMethod.name === 'Cuenta Corriente') ||
                                    (transaction.type.name === 'Cobro' && paymentMethod.name === 'Cuenta Corriente') ||
                                    ((transaction.type.name === 'Saldo Inicial (+)' || transaction.type.name === 'Saldo Inicial (+)') && paymentMethod.name !== 'Cuenta Corriente')">
                      {{paymentMethod.name}}
                </option>
              </select>
              <div *ngIf="formErrors.paymentMethod" class="alert alert-danger">
                {{ formErrors.paymentMethod }}
              </div>
          </div>
        </div>
        <div class="row" *ngIf="movementOfCash.type && (
                                ( movementOfCash.type.discount &&
                                  movementOfCash.type.discount > 0) ||
                                ( movementOfCash.type.surcharge &&
                                  movementOfCash.type.surcharge > 0))">
          <div class="form-group col-md-4">
            <label for="discount" class="control-label">Descuento:</label>
            <div class="input-group">
              <span class="input-group-addon">%</span>
              <input type="number" class="form-control" formControlName="discount" name="discount" min="0" step="0.01" readonly/>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="surcharge" class="control-label">Recargo:</label>
            <div class="input-group">
              <span class="input-group-addon">%</span>
              <input type="number" class="form-control" formControlName="surcharge" name="surcharge" min="0" step="0.01" readonly/>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="amountDiscount" class="control-label">Descuento/Recargo:</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" class="form-control" min="0" step="0.01" formControlName="amountDiscount" name="amountDiscount" readonly/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="amountToPay" class="control-label">Importe a pagar:</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" class="form-control" formControlName="amountToPay" name="amountToPay" min="0" step="0.01" [focus]="focusEvent" (change)="updateAmounts('amountToPay')"/>
            </div>
            <div *ngIf="formErrors.amountToPay" class="alert alert-danger">
              {{ formErrors.amountToPay }}
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="amountPaid" class="control-label">Importe abonado:</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" class="form-control" formControlName="amountPaid" name="amountPaid" min="0" step="0.01" readonly/>
            </div>
            <div *ngIf="formErrors.amountPaid" class="alert alert-danger">
              {{ formErrors.amountPaid }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="paymentChange" class="control-label">Su vuelto es:</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" class="form-control"  name="paymentChange" formControlName="paymentChange" min="0" step="0.01" [(ngModel)]="paymentChange" readonly/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="observation" class="control-label">Observación:</label>
            <textarea type="text" class="form-control" formControlName="observation" name="observation" id="observation" rows="2">
            </textarea>
          </div>
        </div>
        <div class="row" *ngIf="movementOfCashForm.value.paymentMethod && movementOfCashForm.value.paymentMethod.checkDetail">
          <div class="form-group col-md-12">
            <b>Datos del cheque:</b>
          </div>
        </div>
        <div class="row" *ngIf="movementOfCashForm.value.paymentMethod && movementOfCashForm.value.paymentMethod.checkDetail">
          <div class="form-group col-md-6">
            <label for="number" class="control-label">Comprobante:</label>
            <input type="text" class="form-control" name="number" formControlName="number"/>
          </div>
          <div class="form-group col-md-6">
            <label for="expirationDate" class="control-label">Fecha Vencimiento:</label>
            <input type="date" class="form-control" formControlName="expirationDate" name="expirationDate" min="2000-01-01" />
          </div>
        </div>
        <div class="row" *ngIf="movementOfCashForm.value.paymentMethod && movementOfCashForm.value.paymentMethod.checkDetail">
          <div class="form-group col-md-12">
            <label for="bank" class="control-label">Banco:</label>
            <input type="text" class="form-control" name="bank" formControlName="bank" />
          </div>
        </div>
        <div class="row" *ngIf="movementOfCashForm.value.paymentMethod && movementOfCashForm.value.paymentMethod.checkDetail">
          <div class="form-group col-md-6">
            <label for="deliveredBy" class="control-label">Entregado por:</label>
            <input type="text" class="form-control" name="deliveredBy" formControlName="deliveredBy"/>
          </div>
          <div class="form-group col-md-6">
            <label for="receiver" class="control-label">Destinatario:</label>
            <input type="text" class="form-control" name="receiver" formControlName="receiver"/>
          </div>
        </div>
        <div class="row" *ngIf="movementOfCashForm.value.paymentMethod && movementOfCashForm.value.paymentMethod.checkDetail">
          <div class="form-group col-md-6">
            <label for="titular" class="control-label">Titular:</label>
            <input type="text" class="form-control" name="titular" formControlName="titular"/>
          </div>
          <div class="form-group col-md-6">
            <label for="CUIT" class="control-label">CUIT:</label>
            <input type="text" class="form-control" name="CUIT" formControlName="CUIT"/>
            <div *ngIf="formErrors.CUIT" class="alert alert-danger">
              {{ formErrors.CUIT }}
            </div>
          </div>
        </div>
        <div class="row table-responsive" *ngIf="movementsOfCashes && movementsOfCashes.length > 0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th width="130">
                  <i class="fa fa-bars"></i>
                </th>
                <th>Método</th>
                <th>Monto</th>
                <th>Comprobante</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let movement of movementsOfCashes">
                <td align="left" width="130">
                  <button type="button" class="btn btn-danger btn-sm" title="Eliminar" (click)="openModal('delete', movement)">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
                <td class="flat" width="430">{{ movement.type.name }}</td>
                <td class="flat" width="430">{{ movement.amountPaid }}</td>
                <td class="flat" width="430">{{ movement.number }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!movementOfCashForm.valid || loading" >
        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Guardar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
</section>