<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['inicio']"><i class="fa fa-cloud"></i> POS Cloud</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" ngbDropdown>
        <a class="nav-link btn" ngbDropdownToggle data-toggle="tooltip" data-placement="top"><i class="fa fa-fax"></i> POS</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item" [routerLink]="['pos','resto']">Resto</button>
          <button class="dropdown-item" [routerLink]="['pos','mostrador']">Mostrador</button>
          <button class="dropdown-item" [routerLink]="['pos','delivery']">Delivery</button>
        </div>
      </li>
      <li class="nav-item" ngbDropdown *ngIf="identity">
        <a class="nav-link btn" ngbDropdownToggle data-toggle="tooltip" data-placement="top"><i class="fa fa-shopping-basket"></i> Productos</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item" [routerLink]="['admin','productos']">Productos</button>
          <button class="dropdown-item" [routerLink]="['admin','marcas']">Marcas</button>
          <button class="dropdown-item" [routerLink]="['admin','rubros']">Rubros</button>
        </div>
      </li>
      <li class="nav-item" ngbDropdown *ngIf="identity">
        <a class="nav-link btn" ngbDropdownToggle data-toggle="tooltip" data-placement="top"><i class="fa fa-male"></i> Empresas</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item" [routerLink]="['admin','empresas']">Clientes</button>
          <button class="dropdown-item" [routerLink]="['admin','cuentas-corrientes']">Cuentas Corrientes</button>
        </div>
      </li>
      <li class="nav-item" ngbDropdown *ngIf="identity">
        <a class="nav-link btn" ngbDropdownToggle data-toggle="tooltip" data-placement="top"><i class="fa fa-users"></i> Empleados</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item" [routerLink]="['admin','empleados']">Empleados</button>
          <button class="dropdown-item" [routerLink]="['admin','turnos']">Turnos</button>
        </div>
      </li>
      <li class="nav-item" ngbDropdown *ngIf="identity">
        <a class="nav-link btn" ngbDropdownToggle data-toggle="tooltip" data-placement="top"><i class="fa fa-cutlery"></i> Resto</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item" [routerLink]="['admin','mesas']">Mesas</button>
          <button class="dropdown-item" [routerLink]="['admin','salones']">Salones</button>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" *ngIf="identity" [routerLink]="['admin','transacciones']" [routerLinkActive]="['active']"><i class="fa fa-bar-chart"></i> Ventas</a>
      </li>
      <li class="nav-item" ngbDropdown *ngIf="identity">
        <a class="nav-link btn" ngbDropdownToggle data-toggle="tooltip" data-placement="top"><i class="fa fa-gears"></i> Configuración</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item" [routerLink]="['admin','usuarios']">Usuarios</button>
          <button class="dropdown-item" [routerLink]="['admin','configuraciones']">Generales</button>
          <button class="dropdown-item" [routerLink]="['admin','impresoras']">Impresoras</button>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <span class="badge badge-success" *ngIf="online | async; else elseBlock">Online</span>
        <ng-template #elseBlock> <span class="badge badge-danger"> Offline </span> </ng-template>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" *ngIf="identity" (click)="logout()"><i class="fa fa-sign-out"></i> Cerrar Sesión</a>
      </li>
      <li class="nav-item pull-right">
        <a class="nav-link btn" *ngIf="!identity" [routerLink]="['login']" [routerLinkActive]="['active']"><i class="fa fa-sign-in"></i> Iniciar Sesión</a>
      </li>
    </ul>
  </div>
</nav>