.btn, .nav-link {
      cursor: pointer;
}

.navbar .active {
      border-bottom: 5px solid #0275d8;
}

.navbar {
      margin: 0px;
      padding: 0px;
      padding-top: 10px;
}

.nav-item, .navbar-brand {
      margin-left: 10px;
}

.logo {
      height: 50px;
      width: 100px;
}

.nav-link {
    color: black;
}

.active-primary {
      color: #0275D8;
      border-bottom: 5px solid #0275D8;
}