<nav class="navbar navbar-toggleable-md bg-faded" *ngIf="!hideMenu">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['inicio']"> POS Cloud</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="modules">
      <li class="nav-item navbar-inverse" *ngIf=" identity &&
                                                  identity.employee &&
                                                  identity.employee.type.description !== 'Administrador' && 
                                                  modules &&
                                                  modules.sale &&
                                                  modules.sale[0].resto === 'Yes'">
        <a class="nav-link btn" [routerLink]="['pos','resto']" [routerLinkActive]="['active-primary']"><i class="fa fa-cutlery"></i> Resto</a>
      </li>
      <li class="nav-item" *ngIf="identity && 
                                  identity.employee && 
                                  identity.employee.type.description !== 'Administrador' && 
                                  modules && 
                                  modules.sale &&
                                  modules.sale[1].counter === 'Yes'">
        <a class="nav-link btn" [routerLink]="['pos','mostrador']" [routerLinkActive]="['active-primary']"><i class="fa fa-handshake-o"></i> Mostrador</a>
      </li>
      <li class="nav-item" *ngIf="identity &&
                                  identity.employee && 
                                  identity.employee.type.description !== 'Administrador' &&
                                  modules && 
                                  modules.sale &&
                                  modules.sale[2].delivery === 'Yes'">
        <a class="nav-link btn" [routerLink]="['pos','delivery']" [routerLinkActive]="['active-primary']"><i class="fa fa-motorcycle"></i> Delivery</a>
      </li>
      <li class="nav-item" ngbDropdown *ngIf="(identity &&
                                              identity.employee && 
                                              identity.employee.type.description === 'Administrador')">
        <a class="nav-link btn" ngbDropdownToggle data-toggle="tooltip" data-placement="top"><i class="fa fa-fax"></i> POS</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <div *ngIf="modules && 
                      modules.sale && 
                      modules.sale[0].resto === 'Yes'">
            <button class="dropdown-item" [routerLink]="['pos','resto']" [routerLinkActive]="['active']">Resto</button>
          </div>
          <div *ngIf="modules && 
                      modules.sale && 
                      modules.sale[1].counter === 'Yes'">
            <button class="dropdown-item" [routerLink]="['pos','mostrador']" [routerLinkActive]="['active']">Mostrador</button>
          </div>
          <div *ngIf="modules && 
                      modules.sale &&
                      modules.sale[2].delivery === 'Yes'">
            <button class="dropdown-item" [routerLink]="['pos','delivery']" [routerLinkActive]="['active']">Delivery</button>
          </div>
        </div>
      </li>
      <li class="nav-item" ngbDropdown *ngIf="(identity &&
                                              identity.employee && 
                                              identity.employee.type.description === 'Administrador')">
        <a class="nav-link btn" ngbDropdownToggle data-toggle="tooltip" data-placement="top"><i class="fa fa-shopping-basket"></i> Productos</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item" [routerLink]="['admin','productos']" [routerLinkActive]="['active']">Productos</button>
          <button class="dropdown-item" [routerLink]="['admin','marcas']" [routerLinkActive]="['active']">Marcas</button>
          <button class="dropdown-item" [routerLink]="['admin','rubros']" [routerLinkActive]="['active']">Rubros</button>
        </div>
      </li>
      <li class="nav-item" ngbDropdown *ngIf="(identity &&
                                              identity.employee && 
                                              identity.employee.type.description === 'Administrador')">
        <a class="nav-link btn" ngbDropdownToggle data-toggle="tooltip" data-placement="top"><i class="fa fa-male"></i> Empresas</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <div *ngIf="modules && 
                      modules.sale &&
                      (modules.sale[0].resto === 'Yes' || 
                      modules.sale[1].counter === 'Yes' ||
                      modules.sale[2].delivery === 'Yes')">
            <button class="dropdown-item" [routerLink]="['admin','clientes']" [routerLinkActive]="['active']">Clientes</button>
          </div>
          <div *ngIf="modules && 
                      modules.sale &&
                      modules.purchase === 'Yes'">
            <button class="dropdown-item" [routerLink]="['admin','proveedores']" [routerLinkActive]="['active']">Proveedores</button>
          </div>
          <button class="dropdown-item" [routerLink]="['admin','cuentas-corrientes']" [routerLinkActive]="['active']">Cuentas Corrientes</button>
        </div>
      </li>
      <li class="nav-item" ngbDropdown *ngIf="(identity &&
                                              identity.employee && 
                                              identity.employee.type.description === 'Administrador')">
        <a class="nav-link btn" ngbDropdownToggle data-toggle="tooltip" data-placement="top"><i class="fa fa-users"></i> Empleados</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item" [routerLink]="['admin','empleados']" [routerLinkActive]="['active']">Empleados</button>
          <div *ngIf="modules && modules.sale && modules.sale[0].resto === 'Yes'">
            <button class="dropdown-item" [routerLink]="['admin','turnos']" [routerLinkActive]="['active']">Turnos</button>
          </div>
        </div>
      </li>
      <li class="nav-item" ngbDropdown *ngIf="identity &&
                                              identity.employee && 
                                              identity.employee.type.description === 'Administrador' && 
                                              modules &&
                                              modules.sale &&
                                              modules.sale[0].resto === 'Yes'">
        <a class="nav-link btn" ngbDropdownToggle data-toggle="tooltip" data-placement="top"><i class="fa fa-cutlery"></i> Resto</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item" [routerLink]="['admin','mesas']" [routerLinkActive]="['active']">Mesas</button>
          <button class="dropdown-item" [routerLink]="['admin','salones']" [routerLinkActive]="['active']">Salones</button>
        </div>
      </li>
      <li class="nav-item" *ngIf="(identity &&
                                  identity.employee && 
                                  identity.employee.type.description === 'Administrador')">
        <a class="nav-link btn" [routerLink]="['admin','transacciones']" [routerLinkActive]="['active-primary']"><i class="fa fa-bar-chart"></i> Ventas</a>
      </li>
      <li class="nav-item" ngbDropdown *ngIf="(identity &&
                                              identity.employee && 
                                              identity.employee.type.description === 'Administrador')">
        <a class="nav-link btn" ngbDropdownToggle data-toggle="tooltip" data-placement="top"><i class="fa fa-gears"></i> Configuración</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item" [routerLink]="['admin','usuarios']" [routerLinkActive]="['active']">Usuarios</button>
          <button class="dropdown-item" [routerLink]="['admin','configuraciones']" [routerLinkActive]="['active']">Generales</button>
          <button class="dropdown-item" [routerLink]="['admin','impresoras']" [routerLinkActive]="['active']">Impresoras</button>
          <button class="dropdown-item" [routerLink]="['admin','tipos-transaccion']" [routerLinkActive]="['active']">Tipos de Transacción</button>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!-- <li class="nav-item"  *ngIf="accessType === 'Cloud'">
        <span class="badge badge-success" *ngIf="isAPIConected && online | async; else elseBlock">Online</span>
        <ng-template #elseBlock> <span class="badge badge-danger"> Offline </span> </ng-template>
      </li> -->
      <li class="nav-item">
        <a class="nav-link btn" *ngIf="identity" (click)="logout()"><i class="fa fa-sign-out"></i>Cerrar Sesión</a>
      </li>
      <li class="nav-item pull-right">
        <a class="nav-link btn" *ngIf="!identity" (click)="openModal('login')"><i class="fa fa-sign-in"></i>Iniciar Sesión</a>
      </li>
      <li class="nav-item pull-right">
        <a class="nav-link btn" *ngIf="!identity" (click)="openModal('register')"><i class="fa fa-sign-in"></i>Registrarme</a>
      </li>
    </ul>
  </div>
</nav>