<section class="container-fluid">
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="variantForm" #formAddVariant="ngForm" (ngSubmit)="addVariant()" autocomplete="off">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-5">
          <label for="type" class="control-label">Tipo de variante</label>
          <select class="form-control" formControlName="type" (change)="refreshValues()">
            <option value="null"></option>
            <option *ngFor="let type of variantTypes" [ngValue]="type">{{type.name}}</option>
          </select>
          <div *ngIf="formErrors.type" class="alert alert-danger">
            {{ formErrors.type }}
          </div>
        </div>
        <div class="form-group col-md-5">
          <label for="value" class="control-label">Valor</label>
          <select class="form-control" formControlName="value">
            <option value="null"></option>
            <option *ngFor="let value of variantValues" [ngValue]="value">{{value.description}}</option>
          </select>
          <div *ngIf="formErrors.value" class="alert alert-danger">
            {{ formErrors.value }}
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for="value" class="control-label">Acción</label>
          <button type="submit" class="btn btn-success" [disabled]="!variantForm.valid || loading">Agregar</button>
        </div>
      </div>
      <div class="row table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th  width="130"><i class="fa fa-bars"></i></th>
              <th>Variante</th>
              <th>Código de barras</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let articleAux of articlesWithVariants">
              <td align="left" width="130">
                <button type="button" class="btn btn-danger btn-sm" title="Eliminar" (click)="deleteVariant(articleAux)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
              <td class="flat" width="430">{{articleAux.variantDescription}}</td>
              <td class="flat"><input type="text" [value]="articleAux.barcode"/></td>
            </tr>
            <tr align="center" *ngIf="!articlesWithVariants || articlesWithVariants.length === 0 && !loading">
              <td colspan="10">No se encontraron variantes</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</section>
