<!--ADMIN-->
<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="center-content" *ngIf="alertMessage !== '' && !areTransactionTypesEmpty">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Listado de Tipos de transacciones
      <div class="pull-right">
        <button class="btn btn-primary" (click)="openModal('add', null)"><i class="fa fa-plus"> Agregar Tipo de transacción</i></button>
        <button class="btn btn-primary fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span> Actualizar</span></button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"> Filtrar</i>
        </span>
      </div>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><i class="fa fa-bars"></i></th>
            <th (click)="orderBy('transactionMovement')">Movimiento</th>
            <th (click)="orderBy('name')">Nombre</th>
            <th (click)="orderBy('labelPrint')">Etiqueta</th>
            <th (click)="orderBy('currentAccount')">Afecta CC</th>
            <th (click)="orderBy('movement')">Movimiento de dinero</th>
            <th (click)="orderBy('requestArticles')">Intercambia productos</th>
            <th (click)="orderBy('modifyArticle')">Modifica producto</th>
            <th (click)="orderBy('entryAmount')">Monto a editar</th>
            <th (click)="orderBy('modifyStock')">Modifica el stock</th>
            <th (click)="orderBy('stockMovement')">Movimiento de stock</th>
            <th (click)="orderBy('defectOrders')">Para pedidos</th>
            <th (click)="orderBy('fixedOrigin')">Punto de venta fijo</th>
            <th (click)="orderBy('fixedLetter')">Letra Fija</th>
            <th (click)="orderBy('electronics')">Electrónico</th>
            <th>Cídigo A</th>
            <th>Cídigo B</th>
            <th>Cídigo C</th>
            <th (click)="orderBy('allowEdit')">Permite Editar</th>
            <th (click)="orderBy('allowDelete')">Permite Eliminar</th>
            <th (click)="orderBy('printable')">Imprime al finalizar</th>
            <th (click)="orderBy('defectPrinter','name')">Impresora defecto</th>
            <th (click)="orderBy('requestTaxes')">Pide impuestos</th>
            <th (click)="orderBy('tax')">Afecta Libro IVA</th>
            <th (click)="orderBy('requestEmployee','description')">Pide Empleado</th>
            <th (click)="orderBy('fastPayment','name')">Pago rápido</th>
            <th (click)="orderBy('allowAPP')">APP</th>
          </tr>
          <tr *ngIf="areFiltersVisible" class="filters">
            <th></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterTransactionMovement" placeholder="Movimiento..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterName" placeholder="Nombre..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterLabelPrint" placeholder="Etiqueta..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterCurrentAccount" placeholder="Cuenta Corriente..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterMovement" placeholder="Movimiento..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterRequestArticles" placeholder="Intercambia productos..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterModifyArticle" placeholder="Modifica productos..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterEntryAmount" placeholder="Monto a editar..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterModifyStock" placeholder="Modifica el stock..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterStockMovement" placeholder="Movimiento de stock..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterDefectOrders" placeholder="Para pedidos..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterFixedOrigin" placeholder="Punto de venta fijo..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterFixedLetter" placeholder="Letra Fija..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterElectronics" placeholder="Electrónico..."></th>
            <th></th>
            <th></th>
            <th></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterAllowDelete" placeholder="Permite Editar..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterAllowDelete" placeholder="Permite Eliminar..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterPrintable" placeholder="Imprime al finalizar..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterDefectPrinter" placeholder="Impresora defecto..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterRequestTaxes" placeholder="Pide impuestos..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterTax" placeholder="Afechta Libro IVA..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterRequestEmployee" placeholder="Pide Empleado..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterFastPayment" placeholder="Pago rápido..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterAllowAPP" placeholder="APP..."></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transactionType of transactionTypes | filter: filterTransactionMovement:'transactionMovement'
                                                              | filter: filterName:'name'
                                                              | filter: filterLabelPrint:'labelPrint'
                                                              | filter: filterCurrentAccount:'currentAccount'
                                                              | filter: filterMovement:'movement'
                                                              | filter: filterRequestArticles:'requestArticles'
                                                              | filter: filterModifyArticle:'modifyArticle'
                                                              | filter: filterEntryAmount:'entryAmount'
                                                              | filter: filterModifyStock:'modifyStock'
                                                              | filter: filterStockMovement:'stockMovement'
                                                              | filter: filterDefectOrders:'defectOrders'
                                                              | filter: filterFixedOrigin:'fixedOrigin'
                                                              | filter: filterFixedLetter:'letter'
                                                              | filter: filterElectronics:'electronics'
                                                              | filter: filterAllowEdit:'allowEdit'
                                                              | filter: filterAllowDelete:'allowDelete'
                                                              | filter: filterPrintable:'printable'
                                                              | filter: filterDefectPrinter:'name':'defectPrinter'
                                                              | filter: filterRequestTaxes:'requestTaxes'
                                                              | filter: filterTax:'tax'
                                                              | filter: filterRequestEmployee:'description':'requestEmployee'
                                                              | filter: filterFastPayment:'name':'fastPayment'
                                                              | filter: filterAllowAPP:'allowAPP'
                                                              | orderBy: orderTerm: propertyTerm
                                                              | paginate: { itemsPerPage: itemsPerPage,
                                                                            currentPage: p,
                                                                            totalItems: totalItems
                                                                          }">
            <td align="left" width="130">
              <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view', transactionType)" title="Ver"><i class="fa fa-eye"></i></button>
              <button type="button" class="btn btn-primary  btn-sm" (click)="openModal('update', transactionType)" title="Modificar"><i class="fa fa-pencil"></i></button>
              <button type="button" class="btn btn-danger  btn-sm" (click)="openModal('delete', transactionType)" title="Eliminar"><i class="fa fa-trash-o"></i></button>
            </td>
            <td class="flat">{{transactionType.transactionMovement}}</td>
            <td class="flat">{{transactionType.name}}</td>
            <td class="flat">{{transactionType.labelPrint}}</td>
            <td class="flat">{{transactionType.currentAccount}}</td>
            <td class="flat">{{transactionType.movement}}</td>
            <td class="flat">{{transactionType.requestArticles}}</td>
            <td class="flat">{{transactionType.modifyArticle}}</td>
            <td class="flat">{{transactionType.entryAmount}}</td>
            <td class="flat">{{transactionType.modifyStock}}</td>
            <td class="flat">{{transactionType.stockMovement}}</td>
            <td class="flat">{{transactionType.defectOrders}}</td>
            <td class="flat">{{transactionType.fixedOrigin}}</td>
            <td class="flat">{{transactionType.fixedLetter}}</td>
            <td class="flat">{{transactionType.electronics}}</td>
            <td class="flat">{{getCode(transactionType, "A")}}</td>
            <td class="flat">{{getCode(transactionType, "B")}}</td>
            <td class="flat">{{getCode(transactionType, "C")}}</td>
            <td class="flat">{{transactionType.allowEdit}}</td>
            <td class="flat">{{transactionType.allowDelete}}</td>
            <td class="flat">{{transactionType.printable}}</td>
            <td class="flat" *ngIf="transactionType.defectPrinter">{{transactionType.defectPrinter.name}}</td>
            <td class="flat" *ngIf="!transactionType.defectPrinter"></td>
            <td class="flat">{{transactionType.requestTaxes}}</td>
            <td class="flat">{{transactionType.tax}}</td>
            <td class="flat" *ngIf="transactionType.requestEmployee">{{transactionType.requestEmployee.name}}</td>
            <td class="flat" *ngIf="!transactionType.requestEmployee"></td>
            <td class="flat" *ngIf="transactionType.fastPayment">{{transactionType.fastPayment.name}}</td>
            <td class="flat" *ngIf="!transactionType.fastPayment"></td>
            <td class="flat">{{transactionType.allowAPP}}</td>
          </tr>
          <tr align="center" *ngIf="areTransactionTypesEmpty">
            <td colspan="19">No se encontraron tipos de transacción</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer bg-primary">
      <div class="row">
        <div class="col-md-10">
          <pagination-controls class="my-pagination" (pageChange)="p=$event" #api previousLabel="Ant." nextLabel="Sig." autoHide="true">
          </pagination-controls>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" [(ngModel)]="itemsPerPage">
            <option [value]="5">Mostrar 5 ítems</option>
            <option [value]="10">Mostrar 10 ítems</option>
            <option [value]="15">Mostrar 15 ítems</option>
            <option [value]="20">Mostrar 20 ítems</option>
            <option [value]="50">Mostrar 50 ítems</option>
            <option [value]="100">Mostrar 100 ítems</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>
