<!--ADMIN-->
<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="center-content" *ngIf="alertMessage !== '' && !areTransactionTypesEmpty">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card ">
    <div class="card-header">Listado de Tipos de transacciones
      <div class="pull-right">
        <button class="btn" (click)="openModal('add', null)"><i class="fa fa-plus"></i><span>Agregar</span></button>
        <button class="btn fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span>Actualizar</span></button>
      </div>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><i class="fa fa-bars"></i></th>
            <th (click)="orderBy('transactionMovement')">Movimiento</th>
            <th (click)="orderBy('abbreviation')">Abrev.</th>
            <th (click)="orderBy('name')">Nombre</th>
            <th (click)="orderBy('labelPrint')">Etiqueta</th>
            <th (click)="orderBy('currentAccount')">Afecta CC</th>
            <th (click)="orderBy('movement')">Movimiento de dinero</th>
            <th (click)="orderBy('cashBoxImpact')">Caja Diaria</th>
            <th (click)="orderBy('cashOpening')">Apertura de Caja</th>
            <th (click)="orderBy('cashClosing')">Cierre de Caja</th>
            <th (click)="orderBy('requestArticles')">Intercambia productos</th>
            <th (click)="orderBy('modifyArticle')">Modifica producto</th>
            <th (click)="orderBy('entryAmount')">Monto a editar</th>
            <th (click)="orderBy('modifyStock')">Modifica el stock</th>
            <th (click)="orderBy('stockMovement')">Movimiento de stock</th>
            <th (click)="orderBy('defectOrders')">Para pedidos</th>
            <th (click)="orderBy('automaticNumbering')">Numeración Automática</th>
            <th (click)="orderBy('fixedOrigin')" *ngIf="userCountry === 'AR'">Punto de venta fijo</th>
            <th (click)="orderBy('fixedLetter')">Letra Fija</th>
            <th (click)="orderBy('electronics')">Electrónico</th>
            <th *ngIf="userCountry === 'AR'">Cídigo A</th>
            <th *ngIf="userCountry === 'AR'">Cídigo B</th>
            <th *ngIf="userCountry === 'AR'">Cídigo C</th>
            <th *ngIf="userCountry !== 'AR'" (click)="orderBy('fiscalCode')">Código Fiscal</th>
            <th *ngIf="userCountry === 'MX'" (click)="orderBy('defectUseOfCFDI','description')">Uso de CFDI</th>
            <th (click)="orderBy('allowEdit')">Permite Editar</th>
            <th (click)="orderBy('allowDelete')">Permite Eliminar</th>
            <th (click)="orderBy('allowDelete')">Cambia monto según medios</th>
            <th (click)="orderBy('printable')">Imprime al finalizar</th>
            <th (click)="orderBy('defectPrinter','name')">Impresora defecto</th>
            <th (click)="orderBy('requestTaxes')">Pide impuestos</th>
            <th (click)="orderBy('tax')">Afecta Libro IVA</th>
            <th (click)="orderBy('requestCompany')">Pide Empresa</th>
            <th (click)="orderBy('requestEmployee','description')">Pide Empleado</th>
            <th (click)="orderBy('requestCurrency')">Pide Moneda</th>
            <th (click)="orderBy('fastPayment','name')">Pago rápido</th>
            <th (click)="orderBy('allowAPP')">APP</th>
          </tr>
          <tr class="filters">
            <th></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterTransactionMovement" placeholder="Movimiento..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterAbbreviation" placeholder="Abrev..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterName" placeholder="Nombre..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterLabelPrint" placeholder="Etiqueta..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterCurrentAccount" placeholder="Cuenta Corriente..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterMovement" placeholder="Movimiento..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterCashBoxImpact" placeholder="Caja Diaria..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterCashOpening" placeholder="Apertura de Caja..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterCashClosing" placeholder="Ciere de Caja..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterRequestArticles" placeholder="Intercambia productos..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterModifyArticle" placeholder="Modifica productos..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterEntryAmount" placeholder="Monto a editar..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterModifyStock" placeholder="Modifica el stock..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterStockMovement" placeholder="Movimiento de stock..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterDefectOrders" placeholder="Para pedidos..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterAutomaticNumbering" placeholder="Numeración Automática..."></th>
            <th *ngIf="userCountry === 'AR'"><input type="text" class="form-control" [(ngModel)]="filterFixedOrigin" placeholder="Punto de venta fijo..." ></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterFixedLetter" placeholder="Letra Fija..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterElectronics" placeholder="Electrónico..."></th>
            <th *ngIf="userCountry === 'AR'"></th>
            <th *ngIf="userCountry === 'AR'"></th>
            <th *ngIf="userCountry === 'AR'"></th>
            <th *ngIf="userCountry !== 'AR'"><input type="text" class="form-control" [(ngModel)]="filterFiscalCode" placeholder="Código Fiscal..."></th>
            <th *ngIf="userCountry === 'MX'"><input type="text" class="form-control" [(ngModel)]="filterDefectUseOfCFDI" placeholder="Uso de CFDI..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterAllowDelete" placeholder="Permite Editar..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterAllowDelete" placeholder="Permite Eliminar..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterAllowZero" placeholder="Cambia monto según medios..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterPrintable" placeholder="Imprime al finalizar..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterDefectPrinter" placeholder="Impresora defecto..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterRequestTaxes" placeholder="Pide impuestos..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterTax" placeholder="Afechta Libro IVA..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterRequestEmployee" placeholder="Pide Empleado..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterRequestCompany" placeholder="Pide Empresa..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterRequestCurrency" placeholder="Pide Moneda..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterFastPayment" placeholder="Pago rápido..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterAllowAPP" placeholder="APP..."></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transactionType of transactionTypes | filter: filterTransactionMovement:'transactionMovement'
                                                              | filter: filterAbbreviation:'abbreviation'
                                                              | filter: filterName:'name'
                                                              | filter: filterLabelPrint:'labelPrint'
                                                              | filter: filterCurrentAccount:'currentAccount'
                                                              | filter: filterMovement:'movement'
                                                              | filter: filterCashBoxImpact:'cashBoxImpact'
                                                              | filter: filterCashOpening:'cashOpening'
                                                              | filter: filterCashClosing:'cashClosing'
                                                              | filter: filterRequestArticles:'requestArticles'
                                                              | filter: filterModifyArticle:'modifyArticle'
                                                              | filter: filterEntryAmount:'entryAmount'
                                                              | filter: filterModifyStock:'modifyStock'
                                                              | filter: filterStockMovement:'stockMovement'
                                                              | filter: filterDefectOrders:'defectOrders'
                                                              | filter: filterAutomaticNumbering:'automaticNumbering'
                                                              | filter: filterFixedOrigin:'fixedOrigin'
                                                              | filter: filterFixedLetter:'letter'
                                                              | filter: filterElectronics:'electronics'
                                                              | filter: filterFiscalCode:'fiscalCode'
                                                              | filter: filterDefectUseOfCFDI:'description':'defectUseOfCFDI'
                                                              | filter: filterAllowEdit:'allowEdit'
                                                              | filter: filterAllowDelete:'allowDelete'
                                                              | filter: filterAllowZero:'allowZero'
                                                              | filter: filterPrintable:'printable'
                                                              | filter: filterDefectPrinter:'name':'defectPrinter'
                                                              | filter: filterRequestTaxes:'requestTaxes'
                                                              | filter: filterTax:'tax'
                                                              | filter: filterRequestCompany:'requestCompany'
                                                              | filter: filterRequestEmployee:'description':'requestEmployee'
                                                              | filter: filterRequestCurrency:'requestCurrency'
                                                              | filter: filterFastPayment:'name':'fastPayment'
                                                              | filter: filterAllowAPP:'allowAPP'
                                                              | orderBy: orderTerm: propertyTerm
                                                              | paginate: { itemsPerPage: itemsPerPage,
                                                                            currentPage: p,
                                                                            totalItems: totalItems
                                                                          }">
            <td align="left" width="130">
              <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view', transactionType)" title="Ver"><i class="fa fa-eye"></i></button>
              <button type="button" class="btn btn-primary  btn-sm" (click)="openModal('update', transactionType)" title="Modificar"><i class="fa fa-pencil"></i></button>
              <button type="button" class="btn btn-danger  btn-sm" (click)="openModal('delete', transactionType)" title="Eliminar"><i class="fa fa-trash-o"></i></button>
            </td>
            <td class="flat">{{transactionType.transactionMovement}}</td>
            <td class="flat">{{transactionType.abbreviation}}</td>
            <td class="flat">{{transactionType.name}}</td>
            <td class="flat">{{transactionType.labelPrint}}</td>
            <td class="flat">{{transactionType.currentAccount}}</td>
            <td class="flat">{{transactionType.movement}}</td>
            <td class="flat">{{transactionType.cashBoxImpact}}</td>
            <td class="flat">{{transactionType.cashOpening}}</td>
            <td class="flat">{{transactionType.cashClosing}}</td>
            <td class="flat">{{transactionType.requestArticles}}</td>
            <td class="flat">{{transactionType.modifyArticle}}</td>
            <td class="flat">{{transactionType.entryAmount}}</td>
            <td class="flat">{{transactionType.modifyStock}}</td>
            <td class="flat">{{transactionType.stockMovement}}</td>
            <td class="flat">{{transactionType.defectOrders}}</td>
            <td class="flat">{{transactionType.automaticNumbering}}</td>
            <td class="flat" *ngIf="userCountry === 'AR'">{{transactionType.fixedOrigin}}</td>
            <td class="flat">{{transactionType.fixedLetter}}</td>
            <td class="flat">{{transactionType.electronics}}</td>
            <td class="flat" *ngIf="userCountry === 'AR'">{{getCode(transactionType, "A")}}</td>
            <td class="flat" *ngIf="userCountry === 'AR'">{{getCode(transactionType, "B")}}</td>
            <td class="flat" *ngIf="userCountry === 'AR'">{{getCode(transactionType, "C")}}</td>
            <td class="flat" *ngIf="userCountry !== 'AR'">{{transactionType.fiscalCode}}</td>
            <td class="flat" *ngIf="userCountry === 'MX' && transactionType.defectUseOfCFDI">{{transactionType.defectUseOfCFDI.description}}</td>
            <td class="flat" *ngIf="userCountry === 'MX' && !transactionType.defectUseOfCFDI"></td>
            <td class="flat">{{transactionType.allowEdit}}</td>
            <td class="flat">{{transactionType.allowDelete}}</td>
            <td class="flat">{{transactionType.allowZero}}</td>
            <td class="flat">{{transactionType.printable}}</td>
            <td class="flat" *ngIf="transactionType.defectPrinter">{{transactionType.defectPrinter.name}}</td>
            <td class="flat" *ngIf="!transactionType.defectPrinter"></td>
            <td class="flat">{{transactionType.requestTaxes}}</td>
            <td class="flat">{{transactionType.tax}}</td>
            <td class="flat">{{transactionType.requestCompany}}</td>
            <td class="flat" *ngIf="transactionType.requestEmployee">{{transactionType.requestEmployee.name}}</td>
            <td class="flat" *ngIf="!transactionType.requestEmployee"></td>
            <td class="flat">{{transactionType.requestCurrency}}</td>
            <td class="flat" *ngIf="transactionType.fastPayment">{{transactionType.fastPayment.name}}</td>
            <td class="flat" *ngIf="!transactionType.fastPayment"></td>
            <td class="flat">{{transactionType.allowAPP}}</td>
          </tr>
          <tr align="center" *ngIf="areTransactionTypesEmpty && !loading">
            <td colspan="19">No se encontraron tipos de transacción</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-10">
          <pagination-controls class="my-pagination" (pageChange)="p=$event" #api previousLabel="Ant." nextLabel="Sig." autoHide="true">
          </pagination-controls>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" [(ngModel)]="itemsPerPage">
            <option [value]="5">Mostrar 5 Registros</option>
            <option [value]="10">Mostrar 10 Registros</option>
            <option [value]="15">Mostrar 15 Registros</option>
            <option [value]="20">Mostrar 20 Registros</option>
            <option [value]="50">Mostrar 50 Registros</option>
            <option [value]="100">Mostrar 100 Registros</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>

<!--REPORT-->
<section class="container-fluid" *ngIf="userType == 'report'">
  <div class="center-content" *ngIf="alertMessage !== '' && !areTurnsEmptys">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="row container-filter">
    <div class="col-md-2">
      <label for="branch" class="control-label">
        <b>Sucursal</b>
      </label>
      <select class="form-control" [(ngModel)]="branchSelectedId">
        <option [ngValue]="null" [disabled]="!allowChangeBranch">
          Todas
        </option>
        <option 
          *ngFor="let branch of branches" 
          [ngValue]="branch._id" 
          [disabled]="!allowChangeBranch"
          >
          {{branch.number}} - {{branch.name}}
        </option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="startDate" class="control-label">
        <b>Fecha Desde:</b>
      </label>
      <input type="date" class="form-control" name="startDate" min="2000-01-01" [(ngModel)]="startDate" />
    </div>
    <div class="col-md-2">
      <label for="startTime" class="control-label">
        <b>Hora Desde:</b>
      </label>
      <input type="time" class="form-control" name="startTime" [(ngModel)]="startTime" />
    </div>
    <div class="col-md-2">
      <label for="endDate" class="control-label">
        <b>Fecha Hasta:</b>
      </label>
      <input type="date" class="form-control" name="endDate" min="2000-01-01" [(ngModel)]="endDate" />
    </div>
    <div class="col-md-2">
      <label for="endTime" class="control-label">
        <b>Hora Hasta:</b>
      </label>
      <input type="time" class="form-control" name="endTime" [(ngModel)]="endTime" />
    </div>
    <div class="col-md-2" (click)="getTransactionTypesV2()">
        <label for="action" class="control-label">
            <b>Acción:</b>
          </label>
      <span class="form-control btn-action center-content">
        <i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i>Actualizar
      </span>
    </div>
  </div>
  <div class="card  card-large">
  <div class="card-header" *ngIf="pathLocation[2] === 'venta'">Ventas por tipo de transacción</div>
  <div class="card-header" *ngIf="pathLocation[2] === 'compra'">Compras por tipo de transacción</div>
  <div class="card-header" *ngIf="pathLocation[2] === 'fondo'">Fondos por tipo de transacción</div>
    <div class="card-block table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th (click)="orderBy('_id')">Nombre</th>
            <th (click)="orderBy('count')">Cantidad</th>
            <th (click)="orderBy('totalPrice')">Monto Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="99" style="padding: 0px">
              <app-progressbar [loading]="loading"></app-progressbar>
            </td>
          </tr>
          <tr *ngFor="let item of items">
            <td class="flat">{{ item._id.name }}</td>
            <td class="flat">{{ item.count }}</td>
            <td class="flat" >{{ item.totalPrice | currency:'USD':'symbol-narrow':'1.2-2' }}</td>
          </tr>
          <tr align="center" *ngIf="areItemsEmpty && !loading && pathLocation[2] === 'venta'">
            <td colspan="3">No se encontraron ventas por tipo de comprobante</td>
          </tr>
          <tr align="center" *ngIf="areItemsEmpty && !loading && pathLocation[2] === 'compra'">
            <td colspan="3">No se encontraron compras por tipo de comprobante</td>
          </tr>
          <tr align="center" *ngIf="areItemsEmpty && !loading && pathLocation[2] === 'fondo'">
            <td colspan="3">No se encontraron fondos por tipo de comprobante</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th >Total</th>
            <th >{{totalItem}}</th>
            <th >{{totalAmount | currency:'USD':'symbol-narrow':'1.2-2' }}</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="card-footer">
    </div>
  </div>
</section>

