.ql-editor {
    height: 150px;
    /* Altura fija */
    width: 100%;
    /* El editor ocupará el 100% del ancho disponible */
    max-width: 100%;
    /* Asegura que no se agrande más allá del 100% de su contenedor */
    min-width: 200px;
    /* Establece un ancho mínimo */
    width: 1000px;
    /* Establece el ancho inicial en 500px */
    margin: 0 auto;
    /* Centra el editor (opcional) */
}