.card {
    margin-top: 50px;
}

.btn {
      cursor: pointer;
}

.card-header {
      color: white;
}

img.mediana{
  width: 200px; height: 150px;
}

.btn-action {
      width: 100%;
      border: 1px solid white;
      padding: 10px;
      cursor: pointer;
      background: #0275d8;
      color: white;
      height: 40px;
}

.btn-action:hover {
      background: #025aa5;
}
