<section class="container-fluid" *ngIf="userType=='admin'"> 
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Respaldo</div>
    <div class= 'card-block'> 
      <form [formGroup]="configFormBackup" #formAddConfig="ngForm" (ngSubmit)="addConfigBackup()" autocomplete="off">
        <div class="row">  
          <div class="form-group col-md-12"> 
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Ubicacion de Mongo</span>
              <input type="text" class="form-control" formControlName="pathMongo" name="pathMongo" id="pathMongo" aria-describedby="basic-addon1">
            </div>
            <div *ngIf="formErrors.pathMongo" class="alert alert-danger">
                {{ formErrors.pathMongo }}
            </div>
          </div>
        </div>
        <div class= "row">
          <div class="form-group col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Ubicacion de Backup</span>
              <input type="text" class="form-control" formControlName="pathBackup" name="pathBackup" id="pathBackup" aria-describedby="basic-addon1">
            </div>
            <div *ngIf="formErrors.pathBackup" class="alert alert-danger">
                {{ formErrors.pathBackup }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="backupTime" class="control-label">Hora del Backup:</label>
            <input type="time" class="form-control" formControlName="backupTime" name="backupTime" id="backupTime"/>
            <div *ngIf="formErrors.backupTime" class="alert alert-danger">
              {{ formErrors.backupTime }}
            </div>
          </div>
        </div>
        <div class= "row">
          <div class= "form-group col-md-12">
            <button type="submit" class="btn btn-primary" [disabled]="!configFormBackup.valid || loading" >
              <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
              <span *ngIf="!loading">Guardar</span>
              <span *ngIf="loading">Espere por favor</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Email</div>
    <div class= 'card-block'>
      <form [formGroup]="configFormEmail" #formAddConfig="ngForm" (ngSubmit)="addConfigEmail()" autocomplete="off">
        <div class="row">
          <div class= "form-group col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Cuenta de Mail</span>
              <input type="text" class="form-control" formControlName="mailAccount" name="mailAccount" id="mailAccount" aria-describedby="basic-addon1">
            </div>
            <div *ngIf="formErrors.mailAccount" class="alert alert-danger">
                {{ formErrors.mailAccount }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class= "form-group col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Contraseña de Mail</span>
              <input type="password" class="form-control" formControlName="mailPassword" name="mailPassword" id="mailPassword" aria-describedby="basic-addon1" >
            </div>
            <div *ngIf="formErrors.mailPassword" class="alert alert-danger">
                {{ formErrors.mailPassword }}
            </div>
          </div>
        </div>
        <div class= "row">
          <div class= "form-group col-md-12">
            <button type="submit" class="btn btn-primary" [disabled]="!configFormEmail.valid || loading" >
              <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
              <span *ngIf="!loading">Guardar</span>
              <span *ngIf="loading">Espere por favor</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>