app-list-categories {
      .categories-list {
            height: 70vh;
            overflow: scroll;
      }
      
      .icategory {
            color: white;
            width: 120px;
            height: 160px;
            margin: 4px;
            float: left;
            text-align: center;
            cursor: pointer;
            position: relative;
      }
      
      .icategory:hover {
            opacity: 0.5;
      }
      
      .image-title {
            color: black;
            font-size: 17px;
            width: 100%;
      }
}