<!--ADMIN-->
<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="card card-outline-primary">
    <div class="card-header bg-primary card-inverse">Lista de Rubros
      <div class="pull-right">
        <button class="btn btn-primary" (click)="openModal('add', null)" >Agregar Rubro</button>
        <span (click)="filters = !filters">
          <i class="fa fa-filter"></i>
        </span>
      </div>
    </div>
      <div class="card-block">
        <table class="table table-hover">
          <thead>
            <tr>
              <th (click)="orderBy('description')">Description </th>
              <th><em class="fa fa-cog"></em></th>
            </tr>
            <tr *ngIf="filters">
                <th><input type="text" class="form-control" [(ngModel)]= "filterDescription" placeholder="Descripción..." ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories | orderBy: [orderTerm] | filter: filterDescription:'description'">
              <td class="flat">{{category.description}}</td>
              <td align="center">
                <button type="button" class="btn btn-primary" (click)="openModal('update', category)"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger" (click)="openModal('delete', category)"><i class="fa fa-trash-o"></i></button>
              </td>
            </tr>
            <tr align="center" *ngIf="areRoomsEmpty">
              <td colspan="2">No se encontraron rubros</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-primary card-inverse">
        Page 1 of 5
      </div>
  </div>
</section>