<!--ADMIN-->
<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Lista de Rubros
      <div class="pull-right">
        <button class="btn btn-primary" (click)="openModal('add', null)" >Agregar Rubro</button>
        <button class="btn btn-primary" (click)="refresh()"[disabled]="loading"><i [ngClass]="{'fa fa-spinner fa-spin':loading}"></i><span *ngIf="loading">Cargando</span><span *ngIf="!loading">Actualizar</span></button>
        <button class="btn btn-primary" (click)="openModal('import', null)">Importar Rubros</button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"></i>
        </span>
      </div>
    </div>
      <div class="card-block table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><i class="fa fa-bars"></i></th>
              <th (click)="orderBy('description')">Description </th>
            </tr>
            <tr *ngIf="areFiltersVisible">
                <th><input type="text" class="form-control" [(ngModel)]= "filterDescription" placeholder="Descripción..." ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories  | orderBy: orderTerm: propertyTerm
                                                    | filter: filterDescription:'description' 
                                                    | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
              <td align="left" width="130">
                <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view', category)"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-primary  btn-sm" (click)="openModal('update', category)"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger  btn-sm" (click)="openModal('delete', category)"><i class="fa fa-trash-o"></i></button>
              </td>
              <td class="flat">{{category.description}}</td>
            </tr>
            <tr align="center" *ngIf="areCategoriesEmpty">
              <td colspan="2">No se encontraron rubros</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-primary">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <pagination-controls (pageChange)="p=$event" #api previousLabel="Anterior" nextLabel="Siguiente">
            </pagination-controls>
          </div>
          <div class="col-md-1"></div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="itemsPerPage">
              <option [value]="5">Mostrar 5 ítems</option>
              <option [value]="10">Mostrar 10 ítems</option>
              <option [value]="15">Mostrar 15 ítems</option>
              <option [value]="20">Mostrar 20 ítems</option>
              <option [value]="50">Mostrar 50 ítems</option>
              <option [value]="100">Mostrar 100 ítems</option>
            </select>
          </div>
        </div>
      </div>
  </div>
</section>

<!--POS-->
<section  class="container-fluid" *ngIf="userType=='pos'">
  <div class="row" *ngIf="areCategoriesVisible"> 
    <div *ngFor="let category of categories">
      <div class="icategory" (click)="selectCategory(category)">
        <img *ngIf="category.picture == 'default.jpg' || category.picture == undefined" src="./../../../assets/img/default.jpg"
          height="120" width="120">
        <img *ngIf="category.picture !== 'default.jpg' && category.picture !== undefined" [src]="apiURL + 'get-image-category/'+category.picture"
          height="120" width="120">
         <div class="image-title">{{category.description}}</div> 
      </div>
    </div>
    <div class="center-content" *ngIf="areCategoriesEmpty">
      <ngb-alert type="info">
        No se encontraron rubros
      </ngb-alert>
	  </div>
  </div>
</section>