app-list-categories {
      .card {
            margin-top: 50px;
            height:80vh;
      }
      
      .card-header {
            color: white;
      }
      
      .card-header {
            color: white;
      }
      
      .btn {
            cursor: pointer;
      }
      
      .table {
          box-shadow: 0px 0px 2px;
          border-radius: 5px;
       }

       table {
          cursor: pointer;
       }
      
       .center-content {
            margin-top: 30px;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-justify-content: center;
            justify-content: center;
      }
      
      .categories-list {
            height: 70vh;
            overflow: scroll;
      }
      
      .icategory {
            color: white;
            width: 120px;
            height: 160px;
            margin: 4px;
            float: left;
            text-align: center;
            cursor: pointer;
            position: relative;
      }
      
      .icategory:hover {
            opacity: 0.5;
      }
      
      .image-title {
            color: black;
            font-size: 17px;
            width: 100%;
      }
      
      .my-pagination /deep/ .ngx-pagination {
          color: white;
      }
      
      ::placeholder {
            color: #D8D8D8;
      }
      
      .filters {
            background-color: #F8F8F8;
      }
}

@media (min-width: 1100px) {
      .modal-lg {
            max-width: 1000px;
      }
}

@media (min-width: 1400px) {
      .modal-lg {
            max-width: 1200px;
      }
}