<!--ADMIN
<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="center-content" *ngIf="alertMessage !== '' && !areArticleStocksEmpty">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card ">
    <div class="card-header">Listado de Stock
      <div class="pull-right">
          <button class="btn" (click)="openModal('print-inventario', null)"><i class="fa fa-print"></i> Imprimir Inventario</button>
        <button class="btn fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i>Actualizar</button>
        
      </div>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <i class="fa fa-bars"></i>
            </th>
            <th (click)="orderBy('branch.number')">Sucursal </th>
            <th (click)="orderBy('deposit.name')">Depósito </th>
            <th (click)="orderBy('article.make.description')">Marca </th>
            <th (click)="orderBy('article.category.description')">Rubro </th>
            <th (click)="orderBy('article.code')">Código </th>
            <th (click)="orderBy('article.barcode')">Cód. Barras </th>
            <th (click)="orderBy('article.description')">Descripción </th>
            <th >Presentación</th>
            <th (click)="orderBy('realStock')">Stock Actual </th>
            <th (click)="orderBy('article.costPrice')">Costo </th>
            <th> Total </th>
          </tr>
          <tr class="filters">
            <th></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['branch.number']" (input)="getArticleStocksV2()" placeholder="Sucursal..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['deposit.name']" (input)="getArticleStocksV2()" placeholder="Depósito..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['article.make.description']" (input)="getArticleStocksV2()" placeholder="Marca..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['article.category.description']" (input)="getArticleStocksV2()" placeholder="Rubro..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['article.code']" (input)="getArticleStocksV2()" placeholder="Código..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['article.barcode']" (input)="getArticleStocksV2()" placeholder="Cód. Barras..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['article.description']" (input)="getArticleStocksV2()" placeholder="Descripción..."></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="99" style="padding: 0px">
              <app-progressbar [loading]="loading"></app-progressbar>
            </td>
          </tr>
          <tr *ngFor="let articleStock of articleStocks 
                                                        | paginate: { itemsPerPage: itemsPerPage,
                                                                      currentPage: currentPage,
                                                                      totalItems: totalItems
                                                                    }">
            <td align="left" width="100">
              <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view', articleStock)" title="Ver"><i class="fa fa-eye"></i></button>
              <button *ngIf="priceLists && priceLists.length > 0 && articleStock.realStock >= '0'" type="button" class="btn btn-light btn-sm" title="Imprimir" (click)= "openModal('price-lists', articleStock )"><i class="fa fa-print"></i></button>
              <button *ngIf="priceLists && priceLists.length == 0 && articleStock.realStock >= '0'" type="button" class="btn btn-light btn-sm" title="Imprimir" (click)= "openModal('print-label', articleStock )"><i class="fa fa-print"></i></button>
            </td>
            <td class="flat" *ngIf="articleStock.branch">{{articleStock.branch.number}}</td>
            <td class="flat" *ngIf="!articleStock.branch"></td>
            <td class="flat" *ngIf="articleStock.deposit">{{articleStock.deposit.name}}</td>
            <td class="flat" *ngIf="!articleStock.deposit"></td>
            <td class="flat" *ngIf="articleStock.article.make">{{articleStock.article.make.description}}</td>
            <td class="flat" *ngIf="!articleStock.article.make"></td>
            <td class="flat" *ngIf="articleStock.article.category">{{articleStock.article.category.description}}</td>
            <td class="flat" *ngIf="!articleStock.article.category"></td>
            <td class="flat">{{articleStock.article.code}}</td>
            <td class="flat">{{articleStock.article.barcode}}</td>
            <td class="flat">{{articleStock.article.description}}</td>
            <td class="flat" *ngIf="articleStock.article.quantityPerMeasure && articleStock.article.unitOfMeasurement">{{articleStock.article.quantityPerMeasure}} {{articleStock.article.unitOfMeasurement.abbreviation}}</td>
            <td class="flat" *ngIf="!articleStock.article.quantityPerMeasure || !articleStock.article.unitOfMeasurement"></td>
            <td class="flat">{{articleStock.realStock}}</td>
            <td class="flat">{{articleStock.article.costPrice | currency:'USD':'symbol-narrow':'1.2-2' }}</td>
            <td class="flat">{{articleStock.article.costPrice * articleStock.realStock | currency:'USD':'symbol-narrow':'1.2-2' }}</td>
          </tr>
          <tr align="center" *ngIf="totalItems === 0 && !loading">
            <td colspan="11">No se encontraron artículos en stock</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Total</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{totalRealStock}}</th>
            <th>{{totalCost | currency:'USD':'symbol-narrow':'1.2-2'}}</th>
            <th>{{totalTotal | currency:'USD':'symbol-narrow':'1.2-2'}}</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="form-group col-md-10">
          <pagination-controls 
            class="my-pagination"
            (pageChange)="pageChange($event)"
            #api
            previousLabel="Ant."
            nextLabel="Sig."
            autoHide="true">
          </pagination-controls>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" [(ngModel)]="itemsPerPage" (change)="getArticleStocksV2()">
            <option [value]="5">Mostrar 5 Registros</option>
            <option [value]="10">Mostrar 10 Registros</option>
            <option [value]="15">Mostrar 15 Registros</option>
            <option [value]="20">Mostrar 20 Registros</option>
            <option [value]="50">Mostrar 50 Registros</option>
            <option [value]="100">Mostrar 100 Registros</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>-->

<section class="container-fluid" >
  <div class="center-content" *ngIf="alertMessage !== '' && userType=='admin'">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card  card-large">
    <div class="card-header">
      <span>{{title}}</span>
      <div class="pull-right">
        <button class="btn" (click)="openModal('print-inventario', null)"><i class="fa fa-print"></i> Imprimir Inventario</button>
        <app-export-excel #exportExcelComponent [title]="title" [loading]="loading" [columns]="columns" (eventExport)="exportItems()"></app-export-excel>
        <div class="btn-group" ngbDropdown>
          <button class="btn" ngbDropdownToggle data-toggle="tooltip" data-placement="top" title="Columnas"><i class="fa fa-columns"></i><span>Columnas</span></button>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
              <div
                class="example-box"
                *ngFor="let column of columns"
                cdkDrag
                [cdkDragDisabled]="column.disabled">
                  <label for="column"><input type="checkbox" [id]="column.name" (change)="getItems()" [(ngModel)]="column.visible" [disabled]="column.disabled">{{ column.name | translate}}</label>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <i class="fa fa-bars"></i>
            </th>
            <ng-container *ngFor="let column of columns">
              <th *ngIf="column.visible" (click)="orderBy(column.name)">{{ column.name | translate }}</th>
            </ng-container>
          </tr>
          <tr class="filters">
            <th></th>
            <ng-container *ngFor="let column of columns">
              <th *ngIf="column.visible">
                <input type="text" class="form-control" [(ngModel)]="filters[column.name]" (keydown.enter)="getItems()" placeholder="{{ column.name | translate }}" [disabled]="!column.filter">
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td [attr.colspan]="getColumnsVisibles() + 1" style="padding: 0px">
              <app-progressbar [loading]="loading"></app-progressbar>
            </td>
          </tr>
          <tr *ngFor="let item of items | paginate: { itemsPerPage: itemsPerPage,
                                                        currentPage: currentPage,
                                                        totalItems: totalItems
                                                      }">
            <td align="left" width="50">
              <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view', item)" title="Ver"><i class="fa fa-eye"></i></button>
              <button *ngIf="priceLists && priceLists.length > 0" type="button" class="btn btn-light btn-sm" (click)= "openModal('price-lists', item)" title="Imprimir Etiqueta"><i class="fa fa-barcode"></i></button>
              <button *ngIf="priceLists && priceLists.length == 0" type="button" class="btn btn-light btn-sm" (click)= "openModal('print-label', item)" title="Imprimir Etiqueta"><i class="fa fa-barcode"></i></button>
            </td>
            <ng-container *ngFor="let column of columns">
              <td *ngIf="column.visible" [attr.align]="column.align">{{getValue(item, column)}}</td>
            </ng-container>
          </tr>
          <tr align="center" *ngIf="totalItems === 0 && !loading">
            <td [attr.colspan]="getColumnsVisibles() + 1">No se encontraron productos</td>
          </tr>
        </tbody>
        <tfoot>
        <!--<tr>
            <th [attr.colspan]="getColumnsVisibles() - 2"></th>
            <th class="align-right"> <strong>Total</strong></th>
            <th class="align-right"><strong>{{totalItem | number:'1.2-2'}}</strong></th>
            <th class="align-right"><strong>{{totalAmount | currency:'USD':'symbol-narrow':'1.2-2' }}</strong></th>
          </tr>-->
        </tfoot>
      </table>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-10">
          <pagination-controls
            class="my-pagination"
            (pageChange)="pageChange($event)"
            #api
            previousLabel="Ant."
            nextLabel="Sig."
            autoHide="true">
          </pagination-controls>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control"  [(ngModel)]="itemsPerPage" (change)="getItems()">
            <option [value]="5">Mostrar 5 Registros</option>
            <option [value]="10">Mostrar 10 Registros</option>
            <option [value]="15">Mostrar 15 Registros</option>
            <option [value]="20">Mostrar 20 Registros</option>
            <option [value]="50">Mostrar 50 Registros</option>
            <option [value]="100">Mostrar 100 Registros</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>
