<div class="modal-header">
  <h4 class="modal-title">
    <span>Estructure</span>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="center-content"  *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="structureForm" #formCancellationType="ngForm" (ngSubmit)="addStructure()" autocomplete="off">
    <div class="modal-body">
      <ngb-tabset [orientation]="orientation">
        <ngb-tab title="Datos principales">
          <ng-template ngbTabContent>
            <div class="row tab-content">
              <div class="form-group col-md-12">
                <div class="row">
                  <div class="form-group col-md-12">
                    <ng-template #rtArticles let-r="result" let-t="term">
                      <ngb-highlight [result]="r.description" [term]="t"></ngb-highlight>
                    </ng-template>
                    <label for="parent">Padre:</label>
                    <input id="parent"
                          type="text"
                          class="form-control"
                          formControlName="parent"
                          name="parent"
                          [ngbTypeahead]="searchArticles"
                          [resultTemplate]="rtArticles"
                          [inputFormatter]="formatterArticles" />
                  </div>
                  <hr>
                </div>
                <div class = "row">
                  <div class="form-group col-md-12">
                    <ng-template #rtArticles let-r="result" let-t="term">
                      <ngb-highlight [result]="r.description" [term]="t"></ngb-highlight>
                    </ng-template>
                    <label for="child">Hijo:</label>
                    <input id="child"
                          type="text"
                          class="form-control"
                          formControlName="child"
                          name="child"
                          [ngbTypeahead]="searchArticles"
                          [resultTemplate]="rtArticles"
                          [inputFormatter]="formatterArticles" />
                  </div>
                  <hr>
                </div>
                <div class = "row">
                                    <div class="form-group col-md-2">
                    <label for="name" class="control-label">Cantidad</label>
                    <div class="input-group">
                      <input type="quantity" class="form-control" formControlName="quantity" name="quantity" id="quantity" [readonly]="readonly" [focus]="focusEvent"/>
                    </div>
                    <div *ngIf="formErrors.quantity" class="alert alert-danger">
                      {{ formErrors.quantity }}
                    </div>
                </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab *ngIf="this.operation !== 'add'" title="Auditoría">
          <ng-template ngbTabContent>
            <div class="row tab-content">
              <div class="form-group col-md-12">
                <div class="row">
                  <div class="form-group col-md-6">
                      <label class="control-label">Creado por:</label>
                      <label *ngIf="structure.creationUser" class="control-label"><b>{{structure.creationUser.name}}</b></label>
                  </div>
                  <div class="form-group col-md-6">
                      <label class="control-label">El día:</label>
                      <label *ngIf="structure.creationDate" class="control-label"> <b>{{structure.creationDate | dateFormat:'DD/MM/YYYY'}}</b></label>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                      <label class="control-label">Modificado por:</label>
                      <label *ngIf="structure.updateUser" class="control-label"><b>{{structure.updateUser.name}}</b></label>
                      <label *ngIf="!structure.updateUser" class="control-label"><b>-</b></label>
                  </div>
                  <div class="form-group col-md-6">
                      <label class="control-label">El día:</label>
                      <label *ngIf="structure.updateDate" class="control-label"><b>{{structure.updateDate | dateFormat:'DD/MM/YYYY'}}</b></label>
                      <label *ngIf="!structure.updateDate" class="control-label"><b>-</b></label>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="modal-footer" *ngIf="operation !== 'view'">
      <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('cancel')">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!structureForm.valid || loading" *ngIf="operation !== 'delete'">
        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Guardar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
      <button type="button" 
              class="btn btn-danger" 
              *ngIf="operation === 'delete'" 
              [disabled]="!structureForm.valid || loading" 
              (click)="deleteStructure()">
        <i class="fa" [ngClass]="{'fa-trash':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Eliminar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
</section>
