<section style="margin: 20px;">
	<div class="row">
		<ng-container *ngFor="let state of transactionStates; let i = index">
			<div [className]="'col-md-' + column" *ngIf="state !== 'Armando'">
				<div class="card">
					<div class="card-title"
						[style.backgroundColor]="(this.colors && this.colors[i].split(':')[0]) ? this.colors[i].split(':')[0] : 'white'"
						[style.color]="(this.colors && this.colors[i].split(':')[1]) ? (this.colors[i].split(':')[1]) : 'black'">
						{{ state | translate }}
					</div>
					<div class="card-body">
						<div class="order-number rounded-circle"
							[style.backgroundColor]="(this.colors && this.colors[i].split(':')[0]) ? this.colors[i].split(':')[0] : 'white'"
							[style.color]="(this.colors && this.colors[i].split(':')[1]) ? (this.colors[i].split(':')[1]) : 'black'"
							[style.font-size.px]="fontSize"
							*ngFor="let transaction of transactions | filter: state:'state'"
							(click)="finishTransaction(transaction)">
							<span *ngIf="transaction.orderNumber > 0">{{ transaction.orderNumber }}</span>
							<span *ngIf="!transaction.orderNumber">{{ transaction.number }}</span>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</section>