app-pos-client-view {
	.card {
		min-height: 94vh !important;
		.card-title {
			font-size: 60px;
			font-weight: 900px;
			padding-left: 20px;
		}
	}

	.order-number {
		font-weight: 900px;
		float: left;
		padding: 0px 25px;
		margin: 25px;
		cursor: pointer;
	}
}