<!-- <div class="modal-header">
  <h4 class="modal-title">Galería</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('close_click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->
<section class="container-fluid">
  <div class="card">
    <div class="card-header">
      <span
        style="color: #607d8b"
        *ngIf="operation === 'add' || operation === 'copy'"
        >{{ 'add-product' | translate | capitalize }}</span
      >
      <span style="color: #607d8b" *ngIf="operation === 'update'"
        >{{ 'edit' | translate | capitalize }} {{ articleType }}
        {{ gallery.name }}</span
      >
      <span
        style="color: #607d8b"
        *ngIf="operation === 'view' || operation === 'delete'"
        >{{ articleType }} {{ gallery.name }}</span
      >
      <div class="pull-right">
        <button type="button" class="btn" (click)="returnTo()">
          <i class="fa fa-arrow-left"></i
          ><span>{{ 'return' | translate | capitalize }}</span>
        </button>
        <button
          type="button"
          class="btn"
          [disabled]="loading"
          *ngIf="operation !== 'delete' && operation !== 'view'"
          (click)="addGallery()"
        >
          <i
            class="fa"
            [ngClass]="{ 'fa-save': !loading, 'fa-spinner fa-spin': loading }"
          ></i>
          <span *ngIf="!loading"> {{ 'save' | translate | capitalize }}</span>
          <span *ngIf="loading"> {{ 'loading' | translate | capitalize }}</span>
        </button>
        <button
          type="button"
          class="btnStyle"
          *ngIf="operation === 'delete'"
          [disabled]="loading"
          (click)="deleteGallery()"
        >
          <i
            class="fa"
            [ngClass]="{ 'fa-trash': !loading, 'fa-spinner fa-spin': loading }"
          ></i>
          <span *ngIf="!loading">{{ 'delete' | translate | capitalize }}</span>
          <span *ngIf="loading">{{ 'loading' | translate | capitalize }}</span>
        </button>
      </div>
    </div>
    <div class="card-body scroll">
      <form [formGroup]="galleryForm" autocomplete="off">
        <div class="modal-body">
          <a>Datos principales</a>
          <div class="row">
            <div class="form-group col-md-12">
              <div class="row">
                <div class="form-group col-md-8">
                  <label for="name" class="control-label">Nombre:</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="name"
                      name="name"
                      id="name"
                      [focus]="focusEvent"
                      [readonly]="readonly"
                    />
                  </div>
                  <div *ngIf="formErrors.name" class="alert alert-danger">
                    {{ formErrors.name }}
                  </div>
                </div>
                <div class="form-group col-md-2">
                  <label for="speed" class="control-label">Velocidad:</label>
                  <div class="input-group">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="speed"
                      name="speed"
                      id="speed"
                      [focus]="focusEvent"
                      [readonly]="readonly"
                    />
                  </div>
                  <div *ngIf="formErrors.speed" class="alert alert-danger">
                    {{ formErrors.speed }}
                  </div>
                </div>
                <div class="form-group col-md-2">
                  <label for="colddown" class="control-label">Intervalo:</label>
                  <div class="input-group">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="colddown"
                      name="colddown"
                      id="colddown"
                      [focus]="focusEvent"
                      [readonly]="readonly"
                    />
                  </div>
                  <div *ngIf="formErrors.name" class="alert alert-danger">
                    {{ formErrors.colddown }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-3">
                  <label for="barcode" class="control-label"
                    >Tiene Lector Codigo de Barra</label
                  >
                  <select class="form-control" formControlName="barcode">
                    <option [ngValue]="true" [disabled]="readonly">Si</option>
                    <option [ngValue]="false" [disabled]="readonly">No</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <a>Recursos</a>
          <div class="row">
            <form #resourceForm="ngForm" (ngSubmit)="addResource(resourceForm)">
              <div class="row">
                <div class="form-group col-md-7">
                  <label for="resource" class="control-label">Recurso:</label>
                  <select
                    class="form-control"
                    [(ngModel)]="selectedResource"
                    name="resource"
                  >
                    <option
                      *ngFor="let resource of resources"
                      [value]="resource._id"
                      [disabled]="readonly"
                    >
                      {{ resource.name }}
                    </option>
                  </select>

                  <div *ngIf="formErrors.resource" class="alert alert-danger">
                    {{ formErrors.resource }}
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <label for="order" class="control-label">Orden:</label>
                  <div class="input-group">
                    <input
                      type="number"
                      class="form-control"
                      ngModel
                      name="order"
                      [readonly]="readonly"
                    />
                  </div>
                </div>
                <div class="form-group col-md-2">
                  <label for="colddown" class="control-label">Agregar</label>
                  <div class="input-group">
                    <button
                      type="summit"
                      class="btn btn-success btn-sm especial"
                    >
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <table class="table table-striped">
              <thead>
                <tr class="separation">
                  <th>Recurso</th>
                  <th>Orden</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  class="separation"
                  *ngFor="
                    let resourceAux of galleryForm.get('resources')['controls'];
                    let i = index
                  "
                >
                  <div *ngFor="let resource of resources; let i = index">
                    <td
                      *ngIf="
                        resourceAux &&
                        resourceAux.value &&
                        resourceAux.value.resource &&
                        resourceAux.value.resource === resource._id
                      "
                    >
                      {{ resource.name }}
                    </td>
                  </div>
                  <td>{{ resourceAux.value.order }}</td>
                  <td align="right" width="10">
                    <button
                      type="button"
                      class="btn btn-danger btn-sm"
                      (click)="deleteResource(i)"
                    >
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot></tfoot>
            </table>
          </div>

          <!-- <li ngbNavItem>
              <a ngbNavLink *ngIf="this.operation !== 'add'">Auditoría</a>
              <ng-template ngbNavContent>
                <div class="row">
                  <div class="form-group col-md-12">
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="control-label">Creado por:</label>
                        <label
                          *ngIf="gallery.creationUser"
                          class="control-label"
                          ><b>{{ gallery.creationUser.name }}</b></label
                        >
                      </div>
                      <div class="form-group col-md-6">
                        <label class="control-label">El día:</label>
                        <label
                          *ngIf="gallery.creationDate"
                          class="control-label"
                        >
                          <b>{{
                            gallery.creationDate
                              | dateFormat : 'DD/MM/YYYY HH:mm:ss'
                          }}</b></label
                        >
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="control-label"
                          >Última modificación por:</label
                        >
                        <label *ngIf="gallery.updateUser" class="control-label"
                          ><b>{{ gallery.updateUser.name }}</b></label
                        >
                        <label *ngIf="!gallery.updateUser" class="control-label"
                          ><b>-</b></label
                        >
                      </div>
                      <div class="form-group col-md-6">
                        <label class="control-label">El día:</label>
                        <label *ngIf="gallery.updateDate" class="control-label"
                          ><b>{{
                            gallery.updateDate
                              | dateFormat : 'DD/MM/YYYY HH:mm:ss'
                          }}</b></label
                        >
                        <label *ngIf="!gallery.updateDate" class="control-label"
                          ><b>-</b></label
                        >
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="control-label">Id:</label>
                        <label class="control-label"
                          ><b>{{ gallery._id }}</b></label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul> -->
          <!-- <div [ngbNavOutlet]="nav" class="mt-2"></div> -->
        </div>
      </form>
    </div>
  </div>
</section>
