<!--ADMIN-->
<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="center-content" *ngIf="alertMessage !== '' && !areMakesEmpty">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card ">
    <div class="card-header">Listado de Métodos de Pagos
      <div class="pull-right">
        <button class="btn" (click)="openModal('add', null)"><i class="fa fa-plus"></i><span>Agregar</span></button>
        <button class="btn fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span>Actualizar</span></button>
      </div>
    </div>
      <div class="card-block table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><i class="fa fa-bars"></i></th>
              <th (click)="orderBy('code')">Código </th>
              <th (click)="orderBy('name')">Nombre </th>
              <th (click)="orderBy('discount')">Descuento </th>
              <th (click)="orderBy('surcharge')">Recargo </th>
              <th (click)="orderBy('isCurrentAccount')">Cuenta Corriente </th>
              <th (click)="orderBy('acceptReturned')">Acepta vuelto </th>
              <th (click)="orderBy('inputAndOuput')">Entrada/Salida </th>
              <th (click)="orderBy('checkDetail')">Detalle de cheque </th>
              <th (click)="orderBy('cardDetail')">Detalle de tarjeta </th>
              <th (click)="orderBy('allowToFinance')">Permite financiar </th>
              <th (click)="orderBy('cashBoxImpact')">Afecta caja diaria </th>
              <th (click)="orderBy('allowCurrencyValue')">Pide Valores de Moneda</th>

            </tr>
            <tr class="filters">
              <th></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterCode" placeholder="Código..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterName" placeholder="Nombre..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterDiscount" placeholder="Descuento..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterSurcharge" placeholder="Recargo..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterIsCurrentAccount" placeholder="Cuenta Corriente..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterAcceptReturned" placeholder="Acepta vuelto..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterInputAndOuput" placeholder="Entrada/Salida..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterCheckDetail" placeholder="Detalle de cheque..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterCardDetail" placeholder="Detalle de tarjeta..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterAllowToFinance" placeholder="Permite financiar..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterCashBoxImpact" placeholder="Afecta caja diaria..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterAllowCurrencyValue" placeholder="Valores de moneda..." ></th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let paymentMethod of paymentMethods | filter: filterCode:'code'
                                                            | filter: filterName:'name'
                                                            | filter: filterDiscount:'discount'
                                                            | filter: filterSurcharge:'surcharge'
                                                            | filter: filterIsCurrentAccount:'isCurrentAccount'
                                                            | filter: filterAcceptReturned:'acceptReturned'
                                                            | filter: filterInputAndOuput:'inputAndOuput'
                                                            | filter: filterCheckDetail:'checkDetail'
                                                            | filter: filterAllowToFinance:'allowToFinance'
                                                            | filter: filterCardDetail:'cardDetail'
                                                            | filter: filterCashBoxImpact:'cashBoxImpact'
                                                            | filter: filterAllowCurrencyValue:'allowCurrencyValue'
                                                            | orderBy: orderTerm: propertyTerm
                                                            | paginate: { itemsPerPage: itemsPerPage,
                                                                          currentPage: p,
                                                                          totalItems: totalItems
                                                                        }">
              <td align="left" width="130">
                <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view', paymentMethod)" title="Ver"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-primary btn-sm" (click)="openModal('update', paymentMethod)" title="Modificar"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger btn-sm" (click)="openModal('delete', paymentMethod)" title="Eliminar"><i class="fa fa-trash-o"></i></button>
              </td>
              <td class="flat">{{paymentMethod.code}}</td>
              <td class="flat">{{paymentMethod.name}}</td>
              <td class="flat">{{paymentMethod.discount}}</td>
              <td class="flat">{{paymentMethod.surcharge}}</td>
              <td class="flat">{{paymentMethod.isCurrentAccount}}</td>
              <td class="flat">{{paymentMethod.acceptReturned}}</td>
              <td class="flat">{{paymentMethod.inputAndOuput}}</td>
              <td class="flat">{{paymentMethod.checkDetail}}</td>
              <td class="flat">{{paymentMethod.cardDetail}}</td>
              <td class="flat">{{paymentMethod.allowToFinance}}</td>
              <td class="flat">{{paymentMethod.cashBoxImpact}}</td>
              <td class="flat">{{paymentMethod.allowCurrencyValue}}</td>

            </tr>
            <tr align="center" *ngIf="arePaymentMethodsEmpty && !loading">
              <td colspan="2">No se encontraron métodos de pagos</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-10">
            <pagination-controls
                      class="my-pagination"
                      (pageChange)="p=$event"
                      #api
                      previousLabel="Ant."
                      nextLabel="Sig."
                      autoHide="true">
            </pagination-controls>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="itemsPerPage">
              <option [value]="5">Mostrar 5 Registros</option>
              <option [value]="10">Mostrar 10 Registros</option>
              <option [value]="15">Mostrar 15 Registros</option>
              <option [value]="20">Mostrar 20 Registros</option>
              <option [value]="50">Mostrar 50 Registros</option>
              <option [value]="100">Mostrar 100 Registros</option>
            </select>
          </div>
        </div>
      </div>
  </div>
</section>
