.center-content {
      margin-top: 30px;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      justify-content: center;
}
    
img.mediana {
  width: 200px; height: 150px;
}

.selectVariant {
      height: 150px;
}

.form-check {
      margin-left: 40px;
}

.btn {
      cursor: pointer;
}

.btn-variant {
      width: 150px;
      margin-left: 20px;
}