app-add-movement-of-article {
      .center-content {
            margin-top: 30px;
      }
      
      img.mediana {
            width: 200px; height: 150px;
      }

      .selectVariant {
            height: 150px;
      }

      .form-check {
            margin-left: 40px;
      }

      .btn {
            cursor: pointer;
      }

      .btn-variant {
            width: 150px;
            margin-left: 20px;
      }

      .btn-note, .btn-variant {
            width: auto;
            margin-left: 20px;
      }

      .btn-big {
            font-size: 15px;
            min-width: 50px;
      }
}