<div class="modal-header">
  <h4 class="modal-title">Agregar Producto</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="movementOfArticleForm" #formAddMovementOfArticle="ngForm" (ngSubmit)="addMovementOfArticle()" autocomplete="off">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-12">
          <label for="description" class="control-label">Descripción:</label>
          <div class="input-group">
            <input type="text" class="form-control" formControlName="description" name="description" id="description" readonly/>
          </div>
          <div *ngIf="formErrors.description" class="alert alert-danger">
            {{ formErrors.description }}
          </div>
        </div>
      </div>
      <div class="row" *ngIf="movementOfArticle.article && movementOfArticle.article.allowMeasure">
        <div class="form-group col-md-6">
          <label class="control-label">Medida:</label>
          <div class="input-group">
            <input class="form-control"  formControlName="measure" name="measure" id="measure" step="1" (change)="calculateMeasure()" autofocus/>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label">Cantidad:</label>
          <div class="input-group">
            <input type="number" class="form-control" formControlName="quantityMeasure" name="quantityMeasure" id="quantityMeasure" step="1" (change)="calculateMeasure()"/>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="movementOfArticle.article && movementOfArticle.article.allowMeasure">
        <div class="form-group col-md-12">
          <label class="control-label">Cantidad calculada:</label>
          <input type="number" class="form-control" formControlName="amount" name="amount" readonly/>
          <div *ngIf="formErrors.amount" class="alert alert-danger">
            {{ formErrors.amount }}
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!movementOfArticle.article || !movementOfArticle.article.allowMeasure">
        <div class="form-group col-md-12">
          <label for="amount" class="control-label">Ingrese la Cantidad:</label>
        </div>
      </div>
      <div class="row" *ngIf="!movementOfArticle.article || !movementOfArticle.article.allowMeasure">
        <div class="form-group col-md-10">
          <div class="input-group">
            <input type="number" class="form-control" formControlName="amount" name="amount" autofocus/>
          </div>
          <div *ngIf="formErrors.amount" class="alert alert-danger">
            {{ formErrors.amount }}
          </div>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-danger" (click)="subtractAmount()">-</button>
          <button type="button" class="btn btn-success" (click)="addAmount()">+</button>
        </div>
      </div>
      <div class="row" *ngIf="variantTypes && variantTypes.length > 0">
        <div class="form-group col-md-12">
          <label for="variants" class="control-label">Seleccione las variantes:</label>
        </div>
      </div>
      <div class="row" *ngIf="variantTypes && variantTypes.length > 0">
        <div class="form-group col-md-12">
          <span *ngFor="let variantType of variantTypes">
            {{ variantType.name }}
            <div class="row">
              <button type="button"
                      class="btn btn-variant"
                      *ngFor="let variant of getVariantsByType(variantType)"
                      [ngClass]="{'btn-primary': selectedVariants[variant.type.name] !== null && selectedVariants[variant.type.name] === variant.value.description,
                                  'btn-secondary': selectedVariants[variant.type.name] === null  || selectedVariants[variant.type.name] !== variant.value.description}"
                      (click)="selectVariant(variant.type, variant.value)" >
                      {{ variant.value.description }}
              </button>
            </div>
          </span>
        </div>
      </div>
      <div *ngIf="errVariant" class="row alert alert-danger">
        {{ errVariant }}
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="unitPrice" class="control-label">Precio Unitario:</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number" class="form-control" formControlName="unitPrice" name="unitPrice" id="unitPrice" step="1" [readOnly]="!movementOfArticle.transaction.type.modifyArticle"/>
          </div>
          <div *ngIf="formErrors.unitPrice" class="alert alert-danger">
            {{ formErrors.unitPrice }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="notes" class="control-label">Notas:</label>
          <div class="input-group">
            <textarea type="text" class="form-control" formControlName="notes" name="notes" id="notes" rows="2"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.close('cancel')">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="deleteMovementOfArticle()" [disabled]="false">Eliminar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!movementOfArticleForm.valid || loading">
        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Guardar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
</section>
