<!--ESTADISTICAS GENERALES-->
<div class="card card-outline-primary" *ngIf="listType === 'statistics'">
  <div class="card-header bg-primary">Ventas por método de pago
  </div>
  <div class="card-block table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Método de pago </th>
          <th>Transacciones </th>
          <th>Monto total </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td class="flat">{{ item.type.name }}</td>
          <td class="flat">{{ item.count }}</td>
          <td class="flat">{{ item.total | currency:'USD':'1.2-2' }}</td>
        </tr>
        <tr align="center" *ngIf="arePaymentMethodsEmpty">
          <td colspan="3">No se encontraron ventas por métodos de pago</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--REPORTE-->
<section class="container-fluid" *ngIf="listType !== 'statistics'">
  <div class="center-content" *ngIf="alertMessage !== '' && !areTurnsEmptys">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="row container-filter">
    <div class="col-md-2 offset-md-1">
      <label for="startDate" class="control-label">
        <b>Fecha Desde:</b>
      </label>
      <input type="date" class="form-control" name="startDate" min="2000-01-01" [(ngModel)]="startDate" />
    </div>
    <div class="col-md-2">
      <label for="startTime" class="control-label">
        <b>Hora Desde:</b>
      </label>
      <input type="time" class="form-control" name="startTime" [(ngModel)]="startTime" />
    </div>
    <div class="col-md-2">
      <label for="endDate" class="control-label">
        <b>Fecha Hasta:</b>
      </label>
      <input type="date" class="form-control" name="endDate" min="2000-01-01" [(ngModel)]="endDate" />
    </div>
    <div class="col-md-2">
      <label for="endTime" class="control-label">
        <b>Hora Hasta:</b>
      </label>
      <input type="time" class="form-control" name="endTime" [(ngModel)]="endTime" />
    </div>
    <div class="col-md-2" (click)="refresh()">
      <span class="form-control btn-action center-content">
        <i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i>Actualizar</span>
    </div>
  </div>
  <div class="card card-outline-primary card-large">
    <div class="card-header bg-primary">Ventas por método de pago
    </div>
    <div class="card-block table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th (click)="orderBy('type.name')">Método de pago</th>
            <th (click)="orderBy('count')">Transacciones</th>
            <th (click)="orderBy('total')">Monto Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td class="flat">{{ item.type.name }}</td>
            <td class="flat">{{ item.count }}</td>
            <td class="flat">{{ item.total | currency:'USD':'1.2-2' }}</td>
          </tr>
          <tr align="center" *ngIf="arePaymentMethodsEmpty">
            <td colspan="3">No se encontraron ventas por métodos de pago</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer bg-primary">
    </div>
  </div>
</section>
