.card {
  margin-top: 20px;
}

.card-large {
  height:75vh;
}

.btn, thead {
    cursor: pointer;
}

.container-filter {
  margin-top: 20px;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}