<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Cuenta Corriente
      <div class="pull-right">
        <app-point-of-sale (eventRefreshCurrentAccount)="refresh()" [company]="companySelected" [totalPrice]="balance"></app-point-of-sale>
        <!-- <button *ngIf="companySelected && companySelected.type === 'Cliente'" class="btn btn-primary" (click)="addTransaction('Cobro')">Cobrar</button>
        <button *ngIf="companySelected && companySelected.type === 'Proveedor'" class="btn btn-primary" (click)="addTransaction('Pago')">Pagar</button> -->
        <button class="btn btn-primary" (click)="openModal('print')"><i class="fa fa-print"></i> Imprimir</button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"> Filtrar</i>
        </span>
      </div>
    </div>
    <div class="card-block table-responsive">
      <div class="center-content" *ngIf="alertMessage !== ''">
        <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
          {{alertMessage}}
        </ngb-alert>
      </div>
      <div class="row container-filter">
        <div class="col-md-2 offset-md-1">
          <label for="detailsPaymentMethod" class="control-label">
            <b>Detallar método de pago</b>
          </label>
          <select class="form-control" [(ngModel)]="detailsPaymentMethod">
            <option [value]="true" >Sí</option>
            <option [value]="false" >No</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="startDate" class="control-label">
            <b>Fecha Desde:</b>
          </label>
          <input type="date" class="form-control" name="startDate" min="2000-01-01" [(ngModel)]="startDate" />
        </div>
        <div class="col-md-2">
          <label for="endDate" class="control-label">
            <b>Fecha Hasta:</b>
          </label>
          <input type="date" class="form-control" name="endDate" min="2000-01-01" [(ngModel)]="endDate" />
        </div>
        <div class="col-md-2" (click)="refresh()">
          <label for="btn-action" class="control-label"><b>Acción:</b></label>
          <span class="form-control btn-action center-content">
            <i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i>Actualizar
          </span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label *ngIf="companySelected" for="company" class="control-label"><b>{{companySelected.type}}:</b></label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3" *ngIf="companySelected">
          <label for="name" class="control-label">Nombre:</label>
          <input type="text" class="form-control" [value]="companySelected.name" readonly/>
        </div>
        <div class="form-group col-md-3" *ngIf="companySelected">
          <label for="address" class="control-label">Dirección:</label>
          <input type="text" class="form-control" [value]="companySelected.address" readonly/>
        </div>
        <div class="form-group col-md-2" *ngIf="companySelected">
          <label for="phones" class="control-label">Teléfono:</label>
          <input type="text" class="form-control" [value]="companySelected.phones" readonly/>
        </div>
        <div class="form-group col-md-2" *ngIf="companySelected">
          <label for="emails" class="control-label">Email:</label>
          <input type="text" class="form-control" [value]="companySelected.emails" readonly/>
        </div>
        <div class="form-group col-md-10" *ngIf="!companySelected">
          <input type="text" class="form-control" value="Seleccione una empresa" readonly/>
        </div>
        <div class="col-md-2">
          <label for="btn" class="control-label" *ngIf="companySelected">Acción:</label>
          <span class="form-control cursor-pointer center-content" (click)="openModal('company')">
            Cambiar
          </span>
        </div>
      </div>
      <div class="row center-content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="th transaction-data"></th>
              <th colspan="6" class="th transaction-data">Datos de la Transacción</th>
              <th colspan="3" class="th payment-method-data" *ngIf="showPaymentMethod">Datos del Pago</th>
              <th colspan="3" class="th balance-data">Saldos</th>
            </tr>
            <tr>
              <th class=""><i class="fa fa-bars"></i></th>
              <th class="">Fecha</th>
              <th class="">Tipo</th>
              <th class="" *ngIf="userCountry === 'AR'">Punto de venta</th>
              <th class="">Letra</th>
              <th class="">Número</th>
              <th class="">Importe</th>
              <th class="" *ngIf="showPaymentMethod">Método</th>
              <th class="" *ngIf="showPaymentMethod">Cuota</th>
              <th class="" *ngIf="showPaymentMethod">Vencimiento</th>
              <th class="">Debe</th>
              <th class="">Haber</th>
              <th class="">Saldo</th>
            </tr>
            <tr *ngIf="areFiltersVisible" class="filters">
              <th></th>
              <th></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterType" placeholder="Tipo..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterOrigin" placeholder="Punto de venta..."  *ngIf="userCountry === 'AR'"></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterLetter" placeholder="Letra..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterNumber" placeholder="Número..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterTotalPrice" placeholder="Importe..."></th>
              <th *ngIf="showPaymentMethod"><input type="text" class="form-control" [(ngModel)]="filterPaymentMethodName" placeholder="Método..."></th>
              <th *ngIf="showPaymentMethod"><input type="text" class="form-control" [(ngModel)]="filterQuota" placeholder="Cuota..."></th>
              <th *ngIf="showPaymentMethod"><input type="text" class="form-control" [(ngModel)]="filterPaymentMethodExpirationDate" placeholder="Vencimiento..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterDebe" placeholder="Debe..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterHaber" placeholder="Haber..."></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr align="center" *ngIf="loading">
              <td colspan="12" *ngIf="showPaymentMethod">Cargando...</td>
              <td colspan="9" *ngIf="!showPaymentMethod">Cargando...</td>
            </tr>
            <tr *ngFor="let item of items | filter: filterDate:'transactionDate'
                                          | filter: filterType:'transactionTypeName'
                                          | filter: filterOrigin:'transactionOrigin'
                                          | filter: filterLetter:'transactionLetter'
                                          | filter: filterNumber:'transactionNumber'
                                          | filter: filterTotalPrice:'transactionTotalPrice'
                                          | filter: filterPaymentMethodName:'paymentMethodName'
                                          | filter: filterQuota:'quota'
                                          | filter: filterPaymentMethodExpirationDate:'paymentMethodExpirationDate'
                                          | filter: filterDebe:'debe'
                                          | filter: filterHaber:'haber'
                                          | filter: filterSaldo:'saldo'
                                          | paginate: { itemsPerPage: itemsPerPage,
                                                        currentPage: currentPage,
                                                        totalItems: totalItems
                                                      }">
              <td align="left" width="100">
                <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view-transaction', item._id)" title="Ver"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="openModal('print-transaction', item._id)" title="Imprimir"><i class="fa fa-print"></i></button>
              </td>
              <td class="align-center" *ngIf="item.transactionEndDate">{{item.transactionEndDate | dateFormat: 'DD/MM/YYYY' }}</td>
              <td class="align-center" *ngIf="!item.transactionEndDate">{{item.transactionStartDate | dateFormat: 'DD/MM/YYYY' }}</td>
              <td *ngIf="item.transactionTypeName">{{item.transactionTypeName}}</td>
              <td class="align-center"  *ngIf="userCountry === 'AR'">{{item.transactionOrigin}}</td>
              <td class="align-center">{{item.transactionLetter}}</td>
              <td class="align-right">{{item.transactionNumber}}</td>
              <td class="align-right">{{item.transactionTotalPrice | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
              <td class="align-left" *ngIf="showPaymentMethod">{{item.paymentMethodName}}</td>
              <td class="align-center" *ngIf="showPaymentMethod">{{item.quota}}</td>
              <td class="align-center" *ngIf="showPaymentMethod">{{item.paymentMethodExpirationDate | dateFormat: 'DD/MM/YYYY' }}</td>
              <td class="align-right" [ngClass]="{'credit': item.debe > 0 }">{{item.debe | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
              <td class="align-right" [ngClass]="{'debit': item.haber > 0 }">{{item.haber | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
              <td class="align-right" [ngClass]="{'credit':item.balance>0,'debit':item.balance<0}">{{item.balance | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
            </tr>
            <tr align="center" *ngIf="items.length === 0 && !loading">
              <td colspan="13">No se encontraron movimientos</td>
            </tr>
          </tbody>
          <tfoot [ngClass]="{'credit':balance>0,'debit':balance<0}">
            <td colspan="12" class="align-right" *ngIf="showPaymentMethod">
              <strong>SALDO TOTAL</strong>
            </td>
            <td colspan="9" class="align-right" *ngIf="!showPaymentMethod">
              <strong>SALDO TOTAL</strong>
            </td>
            <td *ngIf="balance>=0" class="align-right">
              <strong>{{balance | currency:'USD':'symbol-narrow':'1.2-2'}}</strong>
            </td>
            <td *ngIf="balance<0" class="align-right">
              <strong>{{balance | currency:'USD':'symbol-narrow':'1.2-2'}}</strong>
            </td>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="card-footer bg-primary">
      <div class="row">
        <div class="col-md-10">
          <pagination-controls
            class="my-pagination"
            (pageChange)="currentPage=$event"
            #api
            previousLabel="Ant."
            nextLabel="Sig."
            autoHide="true">
          </pagination-controls>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" [(ngModel)]="itemsPerPage">
            <option [value]="5">Mostrar 5 ítems</option>
            <option [value]="10">Mostrar 10 ítems</option>
            <option [value]="15">Mostrar 15 ítems</option>
            <option [value]="20">Mostrar 20 ítems</option>
            <option [value]="50">Mostrar 50 ítems</option>
            <option [value]="100">Mostrar 100 ítems</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>
