<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Cuenta Corriente
      <div class="pull-right">
        <button *ngIf="companySelected && companySelected.type === 'Cliente'" class="btn btn-primary" (click)="addTransaction('Cobro')">Cobrar</button>
        <button *ngIf="companySelected && companySelected.type === 'Proveedor'" class="btn btn-primary" (click)="addTransaction('Pago')">Pagar</button>
        <button class="btn btn-primary fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span> Actualizar</span></button>
        <button class="btn btn-primary" (click)="openModal('print')"><i class="fa fa-print"></i> Imprimir</button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"> Filtrar</i>
        </span>
      </div>
    </div>
    <div class="card-block table-responsive">
      <div class="center-content" *ngIf="alertMessage !== ''">
        <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
          {{alertMessage}}
        </ngb-alert>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label *ngIf="companySelected" for="company" class="control-label"><b>{{companySelected.type}}:</b></label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3" *ngIf="companySelected">
          <label for="name" class="control-label">Nombre:</label>
          <input type="text" class="form-control" [value]="companySelected.name" readonly/>
        </div>
        <div class="form-group col-md-3" *ngIf="companySelected">
          <label for="address" class="control-label">Dirección:</label>
          <input type="text" class="form-control" [value]="companySelected.address" readonly/>
        </div>
        <div class="form-group col-md-2" *ngIf="companySelected">
          <label for="phones" class="control-label">Teléfono:</label>
          <input type="text" class="form-control" [value]="companySelected.phones" readonly/>
        </div>
        <div class="form-group col-md-2" *ngIf="companySelected">
          <label for="emails" class="control-label">Email:</label>
          <input type="text" class="form-control" [value]="companySelected.emails" readonly/>
        </div>
        <div class="form-group col-md-10" *ngIf="!companySelected">
          <input type="text" class="form-control" value="Seleccione una empresa" readonly/>
        </div>
        <div class="col-md-2" align="right">
          <br>
          <button type="button" class="btn btn-secondary" (click)="openModal('company')">
            Cambiar <span *ngIf="companySelected">{{companySelected.type}}</span>
          </button>
        </div>
      </div>
      <div class="row center-content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>
                <i class="fa fa-bars"></i>
              </th>
              <th (click)="orderBy('transactionDate')">Fecha</th>
              <th (click)="orderBy('transactionTypeName')">Tipo</th>
              <th (click)="orderBy('transactionOrigin')">Punto de venta</th>
              <th (click)="orderBy('transactionLetter')">Letra</th>
              <th (click)="orderBy('transactionNumber')">Número</th>
              <th (click)="orderBy('transactionTotalPrice')">Importe</th>
              <th (click)="orderBy('paymentMethodName')">Método</th>
              <th (click)="orderBy('quota')">Cuota</th>
              <th (click)="orderBy('paymentMethodExpirationDate')">Vencimiento</th>
              <th (click)="orderBy('debe')">Debe</th>
              <th (click)="orderBy('haber')">Haber</th>
              <th>Saldo</th>
            </tr>
            <tr *ngIf="areFiltersVisible" class="filters">
              <th></th>
              <th><input type="date" class="form-control" [(ngModel)]="filterDate" placeholder="Fecha..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterType" placeholder="Tipo..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterOrigin" placeholder="Punto de venta..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterLetter" placeholder="Letra..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterNumber" placeholder="Número..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterTotalPrice" placeholder="Importe..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterPaymentMethodName" placeholder="Método..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterQuota" placeholder="Cuota..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterPaymentMethodExpirationDate" placeholder="Vencimiento..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterDebe" placeholder="Debe..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterHaber" placeholder="Haber..."></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items | filter: filterDate:'transactionDate'
                                          | filter: filterType:'transactionTypeName'
                                          | filter: filterOrigin:'transactionOrigin'
                                          | filter: filterLetter:'transactionLetter'
                                          | filter: filterNumber:'transactionNumber'
                                          | filter: filterTotalPrice:'transactionTotalPrice'
                                          | filter: filterPaymentMethodName:'paymentMethodName'
                                          | filter: filterQuota:'quota'
                                          | filter: filterPaymentMethodExpirationDate:'paymentMethodExpirationDate'
                                          | filter: filterDebe:'debe'
                                          | filter: filterHaber:'haber'
                                          | filter: filterSaldo:'saldo'
                                          | orderBy: orderTerm: propertyTerm
                                          | paginate: { itemsPerPage: itemsPerPage,
                                                        currentPage: currentPage,
                                                        totalItems: totalItems
                                                      }">
              <td align="left" width="50">
              <button type="button" class="btn btn-success  btn-sm" (click)="getTransaction(item.transactionId)" title="Ver"><i class="fa fa-eye"></i></button>
              </td>
              <td *ngIf="item.transactionEndDate">{{item.transactionEndDate | dateFormat:'DD/MM/YYYY' }}</td>
              <td *ngIf="!item.transactionEndDate">{{item.transactionStartDate | dateFormat:'DD/MM/YYYY' }}</td>
              <td *ngIf="item.transactionTypeName">{{item.transactionTypeName}}</td>
              <td>{{item.transactionOrigin}}</td>
              <td>{{item.transactionLetter}}</td>
              <td>{{item.transactionNumber}}</td>
              <td>{{item.transactionTotalPrice | currency:'USD':'1.2-2'}}</td>
              <td>{{item.paymentMethodName}}</td>
              <td>{{item.quota}}</td>
              <td>{{item.paymentMethodExpirationDate | dateFormat:'DD/MM/YYYY' }}</td>
              <td [ngClass]="{'credit': item.debe > 0 }">{{item.debe | currency:'USD':'1.2-2'}}</td>
              <td [ngClass]="{'debit': item.haber > 0 }">{{item.haber | currency:'USD':'1.2-2'}}</td>
              <td [ngClass]="{'credit':item.balance>0,'debit':item.balance<0}">{{item.balance | currency:'USD':'1.2-2'}}</td>
            </tr>
            <tr align="center" *ngIf="items.length === 0">
              <td colspan="13">No se encontraron movimientos</td>
            </tr>
          </tbody>
          <tfoot [ngClass]="{'credit':balance>0,'debit':balance<0}">
            <td colspan="12" align="right">
              <strong>SALDO TOTAL</strong>
            </td>
            <td *ngIf="balance>=0">
              <strong>{{balance | currency:'USD':'1.2-2'}}</strong>
            </td>
            <td *ngIf="balance<0">
              <strong>{{balance | currency:'USD':'1.2-2'}}</strong>
            </td>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="card-footer bg-primary">
      <div class="row">
        <div class="col-md-10">
          <pagination-controls
            class="my-pagination"
            (pageChange)="currentPage=$event"
            #api
            previousLabel="Ant."
            nextLabel="Sig."
            autoHide="true">
          </pagination-controls>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" [(ngModel)]="itemsPerPage">
            <option [value]="5">Mostrar 5 ítems</option>
            <option [value]="10">Mostrar 10 ítems</option>
            <option [value]="15">Mostrar 15 ítems</option>
            <option [value]="20">Mostrar 20 ítems</option>
            <option [value]="50">Mostrar 50 ítems</option>
            <option [value]="100">Mostrar 100 ítems</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>
