<section class="container-fluid" *ngIf="userType=='admin'">

  <div class="card card-outline-primary">
    <div class="card-header bg-primary card-inverse">Cuenta Corriente
      <div class="pull-right">
        <button class="btn btn-primary" (click)="refresh()"><i [ngClass]="{'fa fa-spinner fa-spin':loading}"></i> Actualizar</button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"></i>
        </span>
      </div>
    </div>
    
    <div class="card-block table-responsive">
      <div class="center-content" *ngIf="alertMessage !== ''">
        <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
          {{alertMessage}}
        </ngb-alert>
      </div>
      <div class="row">
        <div class="form-group col-md-6 offset-md-3">
          <select class="form-control" [(ngModel)]="companySelectedId" (change)="getTransactionsByCompany()">
              <option [value]="undefined">Selecciona una empresa</option>
              <option *ngFor="let company of companies" [value]="company._id">{{company.name}}</option>
          </select>
        </div>
      </div>
      <div class="row center-content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th (click)="orderBy('date')">Fecha</th>
              <th (click)="orderBy('type')">Tipo</th>
              <th (click)="orderBy('origin')">Origen</th>
              <th (click)="orderBy('number')">Número</th>
              <th (click)="orderBy('totalPrice')">Monto</th>
            </tr>
            <tr *ngIf="areFiltersVisible">
              <th><input type="text" class="form-control" [(ngModel)]="filterDate" placeholder="Fecha..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterType" placeholder="Tipo..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterOrigin" placeholder="Origen..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterNumber" placeholder="Número..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filterTotalPrice" placeholder="Monto..."></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions | orderBy: orderTerm: propertyTerm
                                                        | filter: filterDate:'date' 
                                                        | filter: filterType:'name':'type' 
                                                        | filter: filterOrigin:'origin' 
                                                        | filter: filterNumber:'number' 
                                                        | filter: filterTotalPrice:'totalPrice' 
                                                        | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
              <td *ngIf="transaction.date">{{transaction.date | date: ['dd/MM/yyyy'] }}</td>
              <td *ngIf="transaction.type">{{transaction.type.name}}</td>
              <td *ngIf="!transaction.type"></td>
              <td>{{transaction.origin}}</td>
              <td>{{transaction.number}}</td>
              <td align="right" 
                  *ngIf="transaction.type.name==='Saldo Inicial'"
                  [ngClass]="{'debit': transaction.type.name==='Saldo Inicial' && transaction.totalPrice<0,
                              'credit': transaction.type.name==='Saldo Inicial' && transaction.totalPrice>0}">
                <strong *ngIf="transaction.totalPrice>=0">
                  {{transaction.totalPrice | currency:'USD':'1.2-2'}}
                </strong>
                <strong *ngIf="transaction.totalPrice<0">
                  {{transaction.totalPrice*-1 | currency:'USD':'1.2-2'}}
                </strong>
              </td>
              <td align="right" 
                  *ngIf="transaction.type.name!=='Saldo Inicial'"
                  [ngClass]="{'debit': transaction.type.movement==='Salida',
                                            'credit': transaction.type.movement==='Entrada'}">
                <strong *ngIf="transaction.totalPrice>=0">
                  {{transaction.totalPrice | currency:'USD':'1.2-2'}}
                </strong>
                <strong *ngIf="transaction.totalPrice<0">
                  {{transaction.totalPrice*-1 | currency:'USD':'1.2-2'}}
                </strong>
              </td>
            </tr>
            <tr align="center" *ngIf="areTransactionsEmpty">
              <td colspan="5">No se encontraron transacciones</td>
            </tr>
          </tbody>
          <tfoot [ngClass]="{'credit':balance>0,'debit':balance<0}">
            <td><strong>Saldo</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td *ngIf="balance>=0"><strong>{{balance | currency:'USD':'1.2-2'}}</strong></td>
            <td *ngIf="balance<0"><strong>{{balance*-1 | currency:'USD':'1.2-2'}}</strong></td>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="card-footer bg-primary card-inverse">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <pagination-controls (pageChange)="p=$event" #api previousLabel="Anterior" nextLabel="Siguiente">
          </pagination-controls>
        </div>
        <div class="col-md-2"></div>
        Mostrar
        <div class="form-group col-md-1">
          <select class="form-control" [(ngModel)]="itemsPerPage">
              <option [value]="5" >5</option>
              <option [value]="10">10</option>
              <option [value]="15">15</option>
              <option [value]="20">20</option>
              <option [value]="50">50</option>
              <option [value]="100">100</option>
            </select>
        </div>
        ítems
      </div>
    </div>
  </div>
</section>

<!--POS-->
<section class="row" *ngIf="userType=='pos'">
  <div class="table" *ngFor="let transaction of transactions | orderBy:[orderTerm]" (click)="addTransaction(transaction.code)">
    <p>{{transaction.code}}</p>
  </div>
</section>