.cursor-pointer {
  cursor: pointer;
}

.credit {
  background: #dff0d8;
}

.debit {
  background: #F6CECE;
}

.container-filter {
  margin-top: 20px;
}

th {
  text-align: center;
}

.transaction-data {
  background-color: #5BA0D9;
}

.payment-method-data {
  background-color: #7CC3FF;
}

.balance-data {
  background-color: #0271CF;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}
