<section class="container-fluid">
	<div class="row" *ngIf="areCategoriesVisible" class="categories-list">
		<div *ngFor="let category of categories | orderBy: orderTerm: propertyTerm ">
			<div class="icategory" (click)="selectCategory(category)">
				<img *ngIf="category.picture == 'default.jpg' || category.picture == undefined"
					src="./../../../assets/img/default.jpg" height="120" width="120">
				<img *ngIf="category.picture !== 'default.jpg' && category.picture !== undefined"
					[src]="category.picture" height="120" width="120">
				<div class="image-title">{{ category.description | slice:0:19 }}</div>
			</div>
		</div>
	</div>
</section>