<div class="modal-header">
  <h4 class="modal-title" *ngIf="!readonly">Editar {{transactionType.name}}</h4>
  <h4 class="modal-title" *ngIf="readonly">{{transactionType.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="transactionTypeForm" #formAddTable="ngForm" (ngSubmit)="updateTransactionType()" autocomplete="off">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-12">
          <label for="transactionMovement" class="control-label">¿Qué tipo de movimiento es el comprobante que quieres?</label>
          <select class="form-control" formControlName="transactionMovement">
            <option *ngFor="let transactionMovement of transactionMovements" [selected]="transactionType.transactionMovement===transactionMovement" [ngValue]="transactionMovement">{{transactionMovement}}</option>
          </select>
          <div *ngIf="formErrors.transactionMovement" class="alert alert-danger">
            {{ formErrors.transactionMovement }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="name">¿Nombre del documento con el que se realizará las transacciones?</label>
          <input type="text" class="form-control" formControlName="name" name="name" id="name" [focus]="focusEvent" [readonly]="readonly"/>
          <div *ngIf="formErrors.name" class="alert alert-danger">
            {{ formErrors.name }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="labelPrint">¿Como saldrá el nombre del comprobante en la impresión?</label>
          <input type="text" class="form-control" formControlName="labelPrint" name="labelPrint" id="labelPrint" [readonly]="readonly"/>
          <div *ngIf="formErrors.labelPrint" class="alert alert-danger">
            {{ formErrors.labelPrint }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="currentAccount" class="control-label">¿Afecta la cuenta corriente?</label>
          <select class="form-control" formControlName="currentAccount">
            <option value="Si" [disabled]="readonly">Si</option>
            <option value="No" [disabled]="readonly">No</option>
            <option value="Cobra" [disabled]="readonly">Cobra</option>
          </select>
          <div *ngIf="formErrors.currentAccount" class="alert alert-danger">
            {{ formErrors.currentAccount }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="movement" class="control-label">¿Qué tipo de movimiento de dinero realiza?</label>
          <select class="form-control" formControlName="movement">
            <option value="Entrada" [disabled]="readonly">Entrada</option>
            <option value="Salida" [disabled]="readonly">Salida</option>
          </select>
          <div *ngIf="formErrors.movement" class="alert alert-danger">
            {{ formErrors.movement }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="requestArticles" class="control-label">¿Se intercambia artículos en la transacción?</label>
          <select class="form-control" formControlName="requestArticles">
            <option value="Si" [disabled]="readonly">Si</option>
            <option value="No" [disabled]="readonly">No</option>
          </select>
          <div *ngIf="formErrors.requestArticles" class="alert alert-danger">
            {{ formErrors.requestArticles }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="defectOrders" class="control-label">¿Se utiliza para dar de alta pedidos en POS modo resto o delivery?</label>
          <select class="form-control" formControlName="defectOrders">
            <option value="Si" [disabled]="readonly">Si</option>
            <option value="No" [disabled]="readonly">No</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="fixedOrigin">¿El documento siempre va a tener el mismo punto de venta?, ¿Cuál?</label>
          <input type="number" class="form-control" formControlName="fixedOrigin" fixedOrigin="fixedOrigin" id="fixedOrigin" [readonly]="readonly"/>
          <div *ngIf="formErrors.fixedOrigin" class="alert alert-danger">
            {{ formErrors.fixedOrigin }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="fixedLetter">¿El documento siempre va a tener la misma letra?, ¿Cuál?</label>
          <input type="text" class="form-control" formControlName="fixedLetter" fixedLetter="fixedLetter" id="fixedLetter" [readonly]="readonly"/>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="electronics" class="control-label">¿Es un documento electrónico?</label>
          <select class="form-control" formControlName="electronics">
            <option value="Si" [disabled]="readonly">Si</option>
            <option value="No" [disabled]="readonly">No</option>
          </select>
          <div *ngIf="formErrors.electronics" class="alert alert-danger">
            {{ formErrors.electronics }}
          </div>
        </div>
      </div>
      <div class="row" *ngIf="transactionTypeForm.value.electronics=='Si'">
        <div class="form-group col-md-4">
          <label for="codeA">Código AFIP A</label>
          <input type="number" class="form-control" formControlName="codeA" codeA="codeA" id="codeA" [readonly]="readonly"/>
        </div>
        <div class="form-group col-md-4">
          <label for="codeB">Código AFIP B</label>
          <input type="number" class="form-control" formControlName="codeB" codeB="codeB" id="codeB" [readonly]="readonly"/>
        </div>
        <div class="form-group col-md-4">
          <label for="codeC">Código AFIP C</label>
          <input type="number" class="form-control" formControlName="codeC" codeC="codeC" id="codeC" [readonly]="readonly"/>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="printable" class="control-label">¿Imprime al finalizar la carga?</label>
          <select class="form-control" formControlName="printable">
            <option value="Si" [selected]="'Si'==transactionType.printable" [disabled]="readonly">Si</option>
            <option value="No" [selected]="'No'==transactionType.printable" [disabled]="readonly">No</option>
          </select>
        </div>
      </div>
      <div class="row" *ngIf="transactionTypeForm.value.printable === 'Si'">
        <div class="form-group col-md-12">
          <label for="defectPrinter" class="control-label">Selecciona impresora defecto</label>
          <select class="form-control" formControlName="defectPrinter">
            <option *ngFor="let printer of printers"  [selected]="transactionType.defectPrinter && printer._id==transactionType.defectPrinter._id" [value]="printer._id" [disabled]="readonly">{{printer.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.close('cancel')">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!transactionTypeForm.valid || loading">
        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Guardar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
</section>