<div class="table-container pos-sale-lines-root">
  <div #linesScrollContainer class="articles-container">
    <table class="table table-striped pos-lines-table">
      <thead class="pos-lines-table__head">
        <tr>
          <th class="col-qty">Cant.</th>
          <th class="col-desc">Descripción</th>
          <th class="col-unit text-end" *ngIf="transaction?.type?.showPrices">P. unit.</th>
          <th class="col-total text-end" *ngIf="transaction?.type?.showPrices">Monto</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let movementOfArticle of movementsOfArticles"
          (click)="onLineClick(movementOfArticle, $event)"
          [ngClass]="{ disabled: loading, enabled: !loading }"
        >
          <ng-container
            *ngIf="
              !movementOfArticle.movementParent || (movementOfArticle.isOptional && movementOfArticle.salePrice > 0)
            "
          >
            <td class="col-qty">
              <span class="badge badge-info">
                <b>{{ movementOfArticle.amount }}</b>
              </span>
            </td>
            <td class="col-desc">
              <div class="pos-line-desc">
                <span *ngIf="transaction?.type?.showDescriptionType?.toString() === 'Descripción'">{{
                  movementOfArticle.description
                }}</span>
                <span *ngIf="transaction?.type?.showDescriptionType?.toString() === 'Descripción Corta'">{{
                  movementOfArticle.article.posDescription
                }}</span>
                <span *ngIf="transaction?.type?.showDescriptionType?.toString() === 'Código'">{{
                  movementOfArticle.code
                }}</span>
              </div>
              <div *ngIf="movementOfArticle.make && movementOfArticle.make.visibleSale" class="pos-line-make">
                {{ movementOfArticle.make.description }}
              </div>
              <div *ngIf="movementOfArticle?.notes">
                <strong>{{ movementOfArticle.notes }}</strong>
              </div>
            </td>
            <td class="col-unit text-end" *ngIf="transaction?.type?.showPrices">
              <div>{{ getLineUnitPrice(movementOfArticle) | currency: 'USD' : 'symbol-narrow' : '1.2-2' }}</div>
              <div *ngIf="movementOfArticle.transactionDiscountAmount !== 0" class="pos-line-price-old">
                {{ getLineUnitPriceBeforeDiscount(movementOfArticle) | currency: 'USD' : 'symbol-narrow' : '1.2-2' }}
              </div>
            </td>
            <td class="col-total text-end" *ngIf="transaction?.type?.showPrices">
              <div>{{ getLineTotalPrice(movementOfArticle) | currency: 'USD' : 'symbol-narrow' : '1.2-2' }}</div>
              <div *ngIf="movementOfArticle.transactionDiscountAmount !== 0" class="pos-line-price-old">
                {{ getLineTotalPriceBeforeDiscount(movementOfArticle) | currency: 'USD' : 'symbol-narrow' : '1.2-2' }}
              </div>
            </td>
          </ng-container>
        </tr>
        <tr class="pos-lines-empty" *ngIf="areMovementsOfArticlesEmpty">
          <td [attr.colspan]="transaction?.type?.showPrices ? 4 : 2">Todavía no se cargaron productos al pedido</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row table-totals" *ngIf="transaction.type && transaction.type.showPrices">
    <table class="table table-striped">
      <tbody>
        <tr class="totals">
          <td align="left">
            <strong>Productos</strong>
          </td>
          <td align="left">
            <strong>{{ quantity }}</strong>
          </td>
          <td align="left">
            <strong>Subtotal</strong>
          </td>
          <td align="right">
            <strong>{{
              transaction.totalPrice + transaction.discountAmount | currency: 'USD' : 'symbol-narrow' : '1.2-2'
            }}</strong>
          </td>
        </tr>
        <tr
          class="totals"
          *ngIf="
            transaction.discountAmount > 0 && transactionMovement !== 'Stock' && transactionMovement !== 'Producción'
          "
        >
          <td align="left"></td>
          <td align="left"></td>
          <td align="left">
            <strong>Descuento</strong>
          </td>
          <td align="right">
            <strong>({{ transaction.discountAmount | currency: 'USD' : 'symbol-narrow' : '1.2-2' }})</strong>
          </td>
        </tr>
        <tr
          *ngIf="
            (transactionMovement !== 'Stock' || transactionMovement !== 'Producción') && transaction.type.requestTaxes
          "
          [ngClass]="{ disabled: loading, enabled: !loading }"
          class="pointer totals"
        >
          <td align="left"></td>
          <td align="left"></td>
          <td align="left">
            <strong>Neto Gravado</strong>
          </td>
          <td align="right">
            <strong>{{ totalTaxesBase | currency: 'USD' : 'symbol-narrow' : '1.2-2' }}</strong>
          </td>
        </tr>
        <tr
          *ngIf="
            (transactionMovement !== 'Stock' || transactionMovement !== 'Producción') && transaction.type.requestTaxes
          "
          (click)="onChangeTaxesClick($event)"
          [ngClass]="{ disabled: loading, enabled: !loading }"
          class="pointer totals"
        >
          <td align="left"></td>
          <td align="left"></td>
          <td align="left">
            <strong>Impuestos</strong>
          </td>
          <td align="right">
            <strong>{{ totalTaxesAmount | currency: 'USD' : 'symbol-narrow' : '1.2-2' }}</strong>
          </td>
        </tr>
        <tr
          *ngIf="
            transaction.exempt > 0 &&
            transactionMovement !== 'Stock' &&
            transactionMovement !== 'Producción' &&
            transaction.type.requestTaxes
          "
          [ngClass]="{ disabled: loading, enabled: !loading }"
          class="pointer totals"
        >
          <td align="left"></td>
          <td align="left"></td>
          <td align="left">
            <strong>Exento</strong>
          </td>
          <td align="right">
            <strong>{{ transaction.exempt | currency: 'USD' : 'symbol-narrow' : '1.2-2' }}</strong>
          </td>
        </tr>
        <tr>
          <td align="left">
            <div *ngIf="m3 > 0" class="d-inline-block me-3"><strong>M<sup>3</sup>:</strong> {{ m3 }}</div>
            <br />
            <div *ngIf="weight > 0" class="d-inline-block me-3"><strong>Peso:</strong> {{ weight }}</div>
          </td>
          <td align="left"></td>
          <td align="left">
            <h6>
              <b>TOTAL</b>
            </h6>
          </td>
          <td align="right">
            <h5>
              <b>{{ transaction.totalPrice | currency: 'USD' : 'symbol-narrow' : '1.2-2' }}</b>
            </h5>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    class="row"
    *ngIf="transactionMovement && transactionMovement !== 'Stock' && transactionMovement !== 'Producción'"
  >
    <div
      *ngIf="transaction.type && !transaction.type.fastPayment"
      class="col-md-12 btn-action btn-large center-content"
      (click)="onChargeClick(null, $event)"
      [ngClass]="{ disabled: loading, enabled: !loading }"
      ngbTooltip="Atajo: F2"
      placement="top"
    >
      <span *ngIf="transactionMovement && transactionMovement === 'Compra' && transaction.type.requestPaymentMethods"
        >Pagar</span
      >
      <span *ngIf="transactionMovement && transactionMovement === 'Venta' && transaction.type.requestPaymentMethods"
        >Cobrar</span
      >
      <span *ngIf="transactionMovement && transactionMovement === 'Venta' && !transaction.type.requestPaymentMethods"
        >Finalizar</span
      >
    </div>
    <div
      *ngIf="transaction.type && transaction.type.fastPayment"
      class="col-md-6 col-sm-6 col-6 btn-action btn-large center-content"
      (click)="onChargeClick(transaction.type.fastPayment, $event)"
      [ngClass]="{ disabled: loading, enabled: !loading }"
      ngbTooltip="Atajo: F1"
      placement="top"
    >
      <span>{{ transaction.type.fastPayment.name }}</span>
    </div>
    <div
      *ngIf="transaction.type && transaction.type.fastPayment"
      class="col-md-6 col-sm-6 col-6 btn-action btn-large center-content"
      (click)="onChargeClick(null, $event)"
      [ngClass]="{ disabled: loading, enabled: !loading }"
      ngbTooltip="Atajo: F2"
      placement="top"
    >
      <span *ngIf="transactionMovement && transactionMovement === 'Compra'">Pagar</span>
      <span *ngIf="transactionMovement && transactionMovement === 'Venta'">Cobrar</span>
    </div>
  </div>
  <div
    class="row"
    *ngIf="transactionMovement && transactionMovement !== 'Stock' && transactionMovement !== 'Producción'"
  >
    <div
      class="col-md-4 col-sm-4 col-4 btn-action btn-large center-content"
      (click)="onAddClientClick($event)"
      [ngClass]="{ disabled: loading, enabled: !loading }"
    >
      <span *ngIf="transactionMovement && transactionMovement === 'Compra'">Proveedor</span>
      <span *ngIf="transactionMovement && transactionMovement === 'Venta'">Cliente</span>
    </div>
    <div
      class="col-md-4 col-sm-4 col-4 btn-action btn-large center-content"
      (click)="onApplyDiscountClick($event)"
      [ngClass]="{ disabled: loading, enabled: !loading }"
    >
      Descuento
    </div>
    <div
      class="col-md-4 col-sm-4 col-4 btn-action btn-large center-content"
      (click)="onCancelClick($event)"
      [ngClass]="{ disabled: loading, enabled: !loading }"
    >
      Anular
    </div>
  </div>
  <div
    class="row"
    *ngIf="transactionMovement && (transactionMovement === 'Stock' || transactionMovement === 'Producción')"
  >
    <table class="table table-striped">
      <tbody>
        <tr class="totals">
          <td align="left">
            <strong>Total: {{ quantity }}</strong>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="col-md-12 btn-action btn-large center-content"
      (click)="onFinishClick($event)"
      [ngClass]="{ disabled: loading, enabled: !loading }"
    >
      <span>Procesar</span>
    </div>
  </div>
</div>
