.credit {
  background: #dff0d8;
}

.debit {
  background: #f6cece;
}

th {
  text-align: center;
}

.transaction-data {
  background-color: #5ba0d9;
}

.payment-method-data {
  background-color: #7cc3ff;
}

.balance-data {
  background-color: #0271cf;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}
