<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <a *ngIf="model === 'articles-stock'" href="/assets/modelo_crear_inventario.xlsx" target="_self" download class="pull-right">
    Descargar Modelo
  </a>
  <a *ngIf="model === 'articles'" href="/assets/modelo_crear_producto.xlsx" target="_self" download class="pull-right">
    Descargar Modelo
  </a>
  <a *ngIf="model === 'company'" href="/assets/modelo_crear_clientes.xlsx" target="_self" download class="pull-right">
    Descargar Modelo
  </a>
  <div class="row container-filter" *ngIf="model === 'articles-stock'">
    <div class="col-md-3">
      <label for="branch" class="control-label">
        <b>{{'branch' | translate | capitalize}}</b>
      </label>
      <ng-multiselect-dropdown [placeholder]="'branch' | translate" [settings]="dropdownSettings" [data]="branches"
        [(ngModel)]="branchesSelected" (onSelect)="onBranchSelect($event)"></ng-multiselect-dropdown>
    </div>
    <div class="col-md-3">
      <label for="deposit" class="control-label">
        <b>{{'deposit' | translate | capitalize}}</b>
      </label>
      <ng-multiselect-dropdown [placeholder]="'deposit' | translate" [settings]="dropdownSettings" [data]="depositsData"
        [(ngModel)]="depositsSelected"></ng-multiselect-dropdown>
    </div>
  </div>
  <form [formGroup]="importForm" (ngSubmit)="import()" autocomplete="off" class="d-inline">
    <div class="modal-body" class="d-inline">
      <div class="row">
        <div class="form-group col-md-12">
          <label for="file" class="control-label">Archivo:</label>
          <input type="file" class="form-control" formControlName="file" id="fileInput" [focus]="focusEvent" accept=".xls,.xlsx"/>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="activeModal.close('cancel')">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!importForm.valid || loading">
        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Importar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
  <div class="container" *ngIf="notUpdate?.length > 0 || update?.length > 0">
    <p>
      <span class="font-weight-bold">{{ countUpdate }} {{ model === 'company' ? 'empresa' : 'artículo' }}<span *ngIf="countUpdate !== 1">s</span> {{ model === 'company' ? 'actualizada' : 'actualizado' }}<span
      *ngIf="countUpdate !== 1">s</span>: </span>

      <ng-container *ngFor="let article of update; let last = last">
        <span class="text-success">{{ article }}</span>{{ !last ? ', ' : '' }}
      </ng-container>
    </p>
    <p>
      <span class="font-weight-bold">{{ countNotUpdate }} {{ model === 'company' ? 'empresa' : 'artículo' }}<span *ngIf="countNotUpdate !== 1">s</span> no
      {{ model === 'company' ? 'actualizada' : 'actualizado' }}<span *ngIf="countNotUpdate !== 1">s</span>: </span>
      <ng-container *ngFor="let article of notUpdate; let last = last">
        <span class="text-danger">{{ article }}</span>{{ !last ? ', ' : '' }}
      </ng-container>
    </p>
  </div>
</section>