<div class="modal-header">
  <h4 class="modal-title">Importar</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <a href="/assets/modelo_crear_inventario.xlsx" target="_self" download class="pull-right">
    Descargar Modelo Crear
  </a>
  <div class="row container-filter">
    <div class="col-md-3">
      <label for="branch" class="control-label">
        <b>{{'branch' | translate | capitalize}}</b>
      </label>
      <ng-multiselect-dropdown
        [placeholder]="'branch' | translate"
        [settings]="dropdownSettings"
        [data]="branches"
        [(ngModel)]="branchesSelected"
        (onSelect)="onBranchSelect($event)"
      ></ng-multiselect-dropdown>
    </div>
    <div class="col-md-3">
      <label for="deposit" class="control-label">
        <b>{{'deposit' | translate | capitalize}}</b>
      </label>
      <ng-multiselect-dropdown
        [placeholder]="'deposit' | translate"
        [settings]="dropdownSettings"
        [data]="depositsData"
        [(ngModel)]="depositsSelected"
      ></ng-multiselect-dropdown>
    </div>
  </div>
  <form [formGroup]="importForm" (ngSubmit)="import()" autocomplete="off">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-12">
          <label for="file" class="control-label">Archivo:</label>
          <input type="file" class="form-control" formControlName="file" id="fileInput" [focus]="focusEvent" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="activeModal.close('cancel')">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!importForm.valid || loading">
        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Importar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
  
  <div class="container" *ngIf="notUpdateArticle?.length > 0  && updateArticle?.length > 0">
    <p>
      <span class="font-weight-bold">{{ countUpdate }} artículo<span *ngIf="countUpdate !== 1">s</span> actualizado<span *ngIf="countUpdate !== 1">s</span>: </span>
      <ng-container *ngFor="let article of updateArticle; let last = last">
        <span class="text-success">{{ article }}</span>{{ !last ? ', ' : '' }}
      </ng-container>
    </p>
    <p>
      <span class="font-weight-bold">{{ countNotUpdate }} artículo<span *ngIf="countNotUpdate !== 1">s</span> no actualizado<span *ngIf="countNotUpdate !== 1">s</span>: </span>
      <ng-container  *ngFor="let article of notUpdateArticle; let last = last">
        <span class="text-danger">{{ article }}</span>{{ !last ? ', ' : '' }}
      </ng-container>
    </p>    
  </div>
</section>
