app-list-articles {
    .align-right {
        text-align: right;
      }
      
      .align-left {
        text-align: left;
      }
      
      .align-center {
        text-align: center;
      }
}

.full-screen {
	left: -200px;
	position:absolute;
	width: 100vh;
	height: 100vh;
}