<section class="container-fluid">
    <div class="modal-header">
      <h4 class="modal-title">Exportar IVA</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="center-content"  *ngIf="alertMessage !== ''">
      <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
        {{alertMessage}}
      </ngb-alert>
    </div>
    <form [formGroup]="exportIVAForm" (ngSubmit)="exportPDF()" autocomplete="off">
      <div class="modal-body">
        <div class = "row">
          <div class="form-group col-md-6">
            <label for="month" class="control-label">Mes (*)</label>
            <select class="form-control" formControlName="month">
              <option *ngFor="let month of months" [ngValue]="month">{{month}}</option>
            </select>
            <div *ngIf="formErrors.month" class="alert alert-danger">
              {{ formErrors.month }}
            </div>
          </div>
          <div class="form-group col-md-6">
              <label for="year" class="control-label">Año (*)</label>
              <select class="form-control" formControlName="year">
                <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
              </select>
              <div *ngIf="formErrors.year" class="alert alert-danger">
                {{ formErrors.year }}
              </div>
          </div>
        </div>
        <div class = row>
          <div class="form-group col-md-6">
            <label for="folioNumber" class="control-label">Folio:</label>
            <div class="input-group">
              <input type="text" class="form-control" formControlName="folioNumber" name="folioNumber" id="folioNumber"/>
            </div>
            <div *ngIf="formErrors.folioNumber" class="alert alert-danger">
              {{ formErrors.folioNumber }}
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="otherFields" class="control-label">Discrimina por Campos Personalizados? (*)</label>
            <div class="input-group">
                <select class="form-control" formControlName="otherFields">
                    <option value="true">Si</option>
                    <option value="false" selected>No</option>
                </select>            
            </div>
            <div *ngIf="formErrors.otherFields" class="alert alert-danger">
              {{ formErrors.otherFields }}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="activeModal.close('cancel')">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="!exportIVAForm.valid || loading" >
            <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
            <span *ngIf="!loading">Exportar PDF</span>
            <span *ngIf="loading">Espere por favor</span>
          </button>
          <button type="button" class="btn btn-primary" (click)="exportAsXLSX()" [disabled]="!exportIVAForm.valid || loading">Exportar Excel</button>
      </div>
    </form>
  
  </section>