<section class="container-fluid">
    <div class="modal-header">
      <h4 class="modal-title">Exportar IVA</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="center-content"  *ngIf="alertMessage !== ''">
      <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
        {{alertMessage}}
      </ngb-alert>
    </div>
    <form [formGroup]="exportIVAForm" (ngSubmit)="exportPDF()" autocomplete="off">
      <div class="modal-body">
        <div class = "row">
          <div class="form-group col-md-4">
            <label for="month" class="control-label">Mes (*)</label>
            <div class="input-group">
              <input type="text" class="form-control" formControlName="month" name="month" id="month"/>
            </div>
            <div *ngIf="exportIVAForm.get('month').invalid && (exportIVAForm.get('month').dirty || exportIVAForm.get('month').touched)"
                class="alert alert-danger">
              <div *ngIf="exportIVAForm.get('month').hasError('required')">Campo obligatorio.</div>
              <div *ngIf="exportIVAForm.get('month').hasError('pattern')">Formato inválido (MM).</div>
            </div>
          </div>
          <div class="form-group col-md-4">
              <label for="year" class="control-label">Año (*)</label>
              <div class="input-group">
                <input type="text" class="form-control" formControlName="year" name="year" id="year"/>
              </div>
              <div *ngIf="exportIVAForm.get('year').invalid && (exportIVAForm.get('year').dirty || exportIVAForm.get('year').touched)"
                class="alert alert-danger">
              <div *ngIf="exportIVAForm.get('year').hasError('required')">Campo obligatorio.</div>
              <div *ngIf="exportIVAForm.get('year').hasError('pattern')">Formato inválido (AAAA).</div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="folioNumber" class="control-label">Folio:</label>
            <div class="input-group">
              <input type="text" class="form-control" formControlName="folioNumber" name="folioNumber" id="folioNumber"/>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="activeModal.close('cancel')">Cancelar</button>

          <button type="button" class="btn btn-primary" (click)="exportPDF()" [disabled]="!exportIVAForm?.valid || loading">
            <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
            Exportar PDF
          </button>

          <button type="button" class="btn btn-primary" (click)="exportAsXLSX()" [disabled]="!exportIVAForm?.valid || loading">
            <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
            Exportar Excel
          </button>
      </div>
    </form>
  
  </section>