app-home {
  .container-fluid {
    height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
  .fondo {
    display:block;
    height: auto;
    margin: auto;
  }
  .card {
    min-width: 250px;
    width: 250px;
    height: 130px;
    min-height: 130px;
    float: left;
    margin: 20px;
  }
}