<div class="modal-header">
    <h4 class="modal-title">Cancelar pedido</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<section class="container-fluid">
    <form [formGroup]="fulfilledForm" (ngSubmit)="changeStatusTiendaNube()">
    <div class="row">
        <div class="form-group col-md-3" >
                <label for="shipping_tracking_number" class="control-label">Número de seguimiento de envío:</label>
                <input type="string" class="form-control" formControlName="shipping_tracking_number" name="shipping_tracking_number"
                 id="shipping_tracking_number" />
        </div>
        <div class="form-group col-md-3" >
                <label for="shipping_tracking_url" class="control-label">URL de seguimiento envío:</label>
                <input type="url"  class="form-control" formControlName="shipping_tracking_url" name="shipping_tracking_url"
                 id="shipping_tracking_url"  />
        </div>       
        <div class="form-group col-md-3">
            <label for="notify_customer" class="control-label">Notificar cliente:</label>
            <select class="form-control" formControlName="notify_customer">
                <option [value]="true">Si</option>
                <option [value]="false">No</option>
            </select>
        </div>     
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="activeModal.dismiss('cancel')">Cancelar</button>
        <button type="submit" class="btn btn-primary" [disabled]="loading">
            <i [ngClass]="{'save':!loading, 'spinner spin':loading}"></i>
            <span *ngIf="!loading">Enviar</span>
            <span *ngIf="loading">Espere por favor</span>
        </button>
        </div>
    </form>
</section>