<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="card card-outline-primary">
    <div class="card-header bg-primary card-inverse">Lista de Usuarios
      <div class="pull-right">
        <button class="btn btn-primary" (click)="openModal('add', null)" >Agregar Usuario</button>
        <button class="btn btn-primary" (click)="refresh()"[disabled]="loading"><i [ngClass]="{'fa fa-spinner fa-spin':loading}"></i><span *ngIf="loading">Cargando</span><span *ngIf="!loading">Actualizar</span></button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"></i>
        </span>
      </div>
    </div>
      <div class="card-block table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><i class="fa fa-bars"></i></th>
              <th (click)="orderBy('name')">Nombre</th>
              <th (click)="orderBy('state')">Estado</th>
              <th (click)="orderBy('tokenExpiration')">Minutos de sesión</th>
	            <th (click)="orderBy('employee','name')">Empleado</th>
            </tr>
            <tr *ngIf="areFiltersVisible">
                <th><input type="text" class="form-control" [(ngModel)]= "filterName" placeholder="Nombre..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterState" placeholder="Estado..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterTokenExpiration" placeholder="Minutos de sesión..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterEmployee" placeholder="Empleado..." ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users | orderBy: orderTerm: propertyTerm 
                                          | filter: filterName:'name' 
                                          | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
              <td align="left" width="130">
                <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view', user)"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-primary btn-sm" (click)="openModal('update', user)"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger btn-sm" (click)="openModal('delete', user)"><i class="fa fa-trash-o"></i></button>
              </td>
              <td>{{user.name}}</td>
              <td>
                <h6>
                  <span class="badge" [ngClass]="{'badge-danger':user.state==='No Habilitado',
                                                  'badge-success':user.state==='Habilitado'}">
                    {{user.state}}
                  </span>
                </h6>
              </td>
              <td>{{user.tokenExpiration}}</td>
              <td *ngIf="user.employee">{{user.employee.name}}</td>
              <td *ngIf="!user.employee"></td>
            </tr>
            <tr align="center" *ngIf="areUsersEmpty">
              <td colspan="5">No se encontraron usuarios</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-primary card-inverse">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <pagination-controls (pageChange)="p=$event" #api previousLabel="Anterior" nextLabel="Siguiente">
            </pagination-controls>
          </div>
          <div class="col-md-2"></div>
          Mostrar
          <div class="form-group col-md-1">
            <select class="form-control" [(ngModel)]="itemsPerPage">
              <option [value]="5" >5</option>
              <option [value]="10">10</option>
              <option [value]="15">15</option>
              <option [value]="20">20</option>
              <option [value]="50">50</option>
              <option [value]="100">100</option>
            </select>
          </div>
          ítems
        </div>
      </div>
  </div>
</section>