<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="card card-outline-primary">
    <div class="card-header bg-primary card-inverse">Lista de Usuarios
      <div class="pull-right">
        <button class="btn btn-primary" (click)="openModal('add', null)" >Agregar Usuario</button>
        <button class="btn btn-primary" (click)="refresh()" >Actualizar</button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="fa fa-filter"></i>
        </span>
      </div>
    </div>
      <div class="card-block">
        <table class="table table-hover">
          <thead>
            <tr>
              <th (click)="orderBy('name')">Nombre</th>
              <th (click)="orderBy('state')">Estado</th>
              <th (click)="orderBy('tokenExpiration')">Minutos de sesión</th>
	            <th (click)="orderBy('employee','name')">Empleado</th>
              <th></th>
            </tr>
            <tr *ngIf="areFiltersVisible">
                <th><input type="text" class="form-control" [(ngModel)]= "filterName" placeholder="Nombre..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterState" placeholder="Estado..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterTokenExpiration" placeholder="Minutos de sesión..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterEmployee" placeholder="Empleado..." ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users | orderBy: orderTerm: propertyTerm | filter: filterName:'name' | paginate: {  itemsPerPage: 9, currentPage: p }">
              <td>{{user.name}}</td>
              <td>
                <h6>
                  <span class="badge" [ngClass]="{'badge-danger':user.state==='No Habilitado',
                                                  'badge-success':user.state==='Habilitado'}">
                    {{user.state}}
                  </span>
                </h6>
              </td>
              <td>{{user.tokenExpiration}}</td>
              <td *ngIf="user.employee">{{user.employee.name}}</td>
              <td *ngIf="!user.employee"></td>
              <td align="center">
                <button type="button" class="btn btn-primary" (click)="openModal('update', user)"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger" (click)="openModal('delete', user)"><i class="fa fa-trash-o"></i></button>
              </td>
            </tr>
            <tr align="center" *ngIf="areUsersEmpty">
              <td colspan="5">No se encontraron usuarios</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-primary card-inverse">
        <pagination-controls 
          (pageChange)="p=$event" 
          #api 
          previousLabel="Anterior"
          nextLabel="Siguiente">
        </pagination-controls>
      </div>
  </div>
</section>