<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <form [formGroup]="objForm" (ngSubmit)="addObj()" autocomplete="off">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div *ngFor="let field of formFields" [class]="field.class">
              <label [for]="field.name" class="control-label">{{field.name | translate | capitalize}}:</label>
              <div class="input-group">
                <!-- INPUT -->
                <input *ngIf="field.tag === 'input'" [type]="field.tagType" class="form-control" [formControlName]="field.name"
                  [name]="field.name" [id]="field.name" [readonly]="readonly"
                  [ngClass]="{'is-invalid':!objForm.get(field.name).valid && formErrors[field.name]}"
                  (blur)="onValueChanged($event.target.id)" />

                <!-- SELECT -->
                <select *ngIf="field.tag === 'select'" class="form-control" [formControlName]="field.name" [id]="field.name"
                  [ngClass]="{'is-invalid':!objForm.get(field.name)?.valid && formErrors[field.name]}" (blur)="onValueChanged($event.target.id)">
                  <option *ngFor="let v of field.values" [value]="v" [disabled]="readonly" [selected]="obj[field.name] && obj[field.name] == v">
                    {{ v | translate | capitalize}}
                  </option>
                </select>

                <!-- AUTOCOMPLETE -->
                <div *ngIf="field.tag === 'autocomplete'" style="width: 100%;">
                  <ng-template #result let-r="result" let-t="term">
                    <ngb-highlight [result]="r.description" [term]="t"></ngb-highlight>
                  </ng-template>
                  <input [type]="field.tagType" class="form-control" [id]="field.name" [formControlName]="field.name"
                    [readonly]="readonly" [name]="field.name" [ngbTypeahead]="field.search" [resultTemplate]="result"
                    [inputFormatter]="field.format"
                    [ngClass]="{'is-invalid':!objForm.get(field.name).valid && formErrors[field.name]}"
                    (focus)="focus$[field.name].next($any($event).target.value)" (blur)="onValueChanged($event.target.id)" />
                </div>

                <!-- MOSTRAR ERROR -->
                <div class="invalid-feedback" [style.display]="(formErrors[field.name])? 'block': 'none'">
                  {{ formErrors[field.name] }}
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label for="applications">Aplicaciones:</label>
              <br>
              <label formArrayName="applications" *ngFor="let order of objForm.get('applications')['controls']; let i = index"
                style="margin-right: 20px; font-size: 20px;">
                <input type="checkbox" [formControlName]="i" />
                {{applications[i].name}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="modal-footer" *ngIf="operation !== 'view'">
    <button type="button" class="btn btn-light"
      (click)="activeModal.close('cancel')">{{'cancel' | translate | capitalize}}</button>
    <button type="button" (click)="addObj()" class="btn btn-primary" [disabled]="loading" *ngIf="operation !== 'delete'">
      <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
      <span *ngIf="!loading"> {{'save' | translate | capitalize}}</span>
      <span *ngIf="loading"> {{'loading' | translate | capitalize}}</span>
    </button>
    <button type="button" class="btn btn-danger" *ngIf="operation === 'delete'" [disabled]="loading" (click)="addObj()">
      <i class="fa" [ngClass]="{'fa-trash':!loading, 'fa-spinner fa-spin':loading}"></i>
      <span *ngIf="!loading"> {{'delete' | translate | capitalize}}</span>
      <span *ngIf="loading"> {{'loading' | translate | capitalize}}</span>
    </button>
  </div>
</section>
