<div class="modal-header">
	<h4 class="modal-title">Tipo de Caja</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<section class="container-fluid">
	<div class="center-content" *ngIf="alertMessage !== ''">
		<ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
			{{alertMessage}}
		</ngb-alert>
	</div>
	<form [formGroup]="cashBoxTypeForm" #formCashBox="ngForm" (ngSubmit)="addCashBoxType()" autocomplete="off">
		<div class="modal-body">
			<div class="row">
				<div class="form-group col-md-12">
					<label for="name" class="control-label">Nombre:</label>
					<div class="input-group">
						<input type="text" class="form-control" formControlName="name" name="name" id="name"
							[focus]="focusEvent" [readonly]="readonly"/>
					</div>
					<div *ngIf="formErrors.name" class="alert alert-danger">
						{{ formErrors.name }}
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer" *ngIf="operation !== 'view'">
			<button type="button" class="btn btn-light" (click)="activeModal.close('cancel')">Cancelar</button>
			<button type="submit" class="btn btn-primary" [disabled]="!cashBoxTypeForm.valid || loading" *ngIf="operation !== 'delete'">
				<i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
				<span *ngIf="!loading">Guardar</span>
				<span *ngIf="loading">Espere por favor</span>
			</button>
			<button type="button" class="btn btn-danger" *ngIf="operation === 'delete'"
				[disabled]="!cashBoxTypeForm.valid || loading" (click)="deleteCashBoxType()">
				<i class="fa" [ngClass]="{'fa-trash':!loading, 'fa-spinner fa-spin':loading}"></i>
				<span *ngIf="!loading">Eliminar</span>
				<span *ngIf="loading">Espere por favor</span>
			</button>
		</div>
	</form>
</section>