<div class="modal-header">
  <h4 class="modal-title" *ngIf="!readonly">Editar Valor de Variante {{variantValue.description}}</h4>
  <h4 class="modal-title" *ngIf="readonly">Valor de Variante {{variantValue.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="variantValueForm" #formUpdateVariantValue="ngForm" (ngSubmit)="updateVariantValue()" autocomplete="off">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-4">
          <label for="type" class="control-label">Tipo</label>
          <select class="form-control" formControlName="type">
            <option *ngFor="let variantType of variantTypes" [selected]="variantType._id===variantValue.type._id" [value]="variantType._id" [disabled]="readonly">
              {{variantType.name}}
            </option>
          </select>
          <div *ngIf="formErrors.type" class="alert alert-danger">
            {{ formErrors.type }}
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="order" class="control-label">Orden:</label>
          <input type="number" class="form-control" formControlName="order" name="order" id="order" [focus]="focusEvent" [readonly]="readonly" />
          <div *ngIf="formErrors.order" class="alert alert-danger">
            {{ formErrors.order }}
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="description" class="control-label">Descripción:</label>
          <input type="text" class="form-control" formControlName="description" name="description" id="description" [readonly]="readonly" />
          <div *ngIf="formErrors.description" class="alert alert-danger">
            {{ formErrors.description }}
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" *ngIf="!readonly">
      <button type="button" class="btn btn-light" (click)="activeModal.close('cancel')">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!variantValueForm.valid || loading || readonly">
        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Guardar Cambios</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
</section>