app-article {
    .center-content {
      margin-top: 30px;
    }
  
    .img-article {
      margin-top: 60px;
    }
  
    .badge {
      margin-left: 5px !important;
      padding: 5px;
    }
  
    .badge-ligth {
      border: 1px solid black;
    }
  
    img.mediana {
      width: 200px;
      height: 150px;
    }
  
    .especial {
      margin-top: 32px;
    }
  
    /* RESPONSIVE */
    @media (max-width: 767px) {
      .img-article {
        margin-top: 0px;
      }
    }
  
    .btnStyle {
      background-color: #d42638;
      padding: 4px 13px 6px 13px;
      border-radius: 5px;
      color: white;
      border: #d42638;
    }
  
    .btnStyle:hover {
      background-color: #C82333;
      padding: 4px 13px 6px 13px;
      border-radius: 5px;
      color: white;
    }
  
    .typeahead-container {
      position: relative;
    }
    
    .custom-typeahead + .dropdown-menu {
      max-height: 300px; 
      overflow-y: auto; 
      overflow-x: hidden;
      width: 95%; 
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    }
    
    
  }