.center-content {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      justify-content: center;
}

.table {
      box-shadow: 0px 0px 5px;
      border-radius: 10px;
      cursor: pointer;
 }

 .scroll-table {
      overflow-y: auto;
      height: 300px;
 }    

.header-sale-order {
      padding: 15px;
      background: #292B2C;
      color: white;
      margin-bottom: 15px;
}

.btn-action {
      width: 100%;
      border: 1px solid white;
      padding: 10px;
      cursor: pointer;
      background: #0275d8;
      color: white;
      height: 40px;
}

.btn-action:hover {
      background: #025aa5;
}

.breadcrumb {
      cursor: pointer;
}

.negro {
      border: 1px solid black;
}

.ticket {
      height: 400px;
}

.btn-large {
      height: 50px;
}

.color-default {
      background: #ffffff;
      border: 1px solid #292b2c;
}

.color-default:hover {
      background: #e6e6e6;
}

.color-red {
      background: #d9534f;
}

.color-red:hover {
      background: #c9302c;
}

.scroll {
      height: 500px;
      overflow-y: scroll;
}

 /*.row{
       border: 1px solid red;
 }
 .col-md-4, .col-md-8, .col-md-12, .col-md-3, .col-md-9 {
       border: 1px solid blue;
 }*/

