<section>
  <div class="row header-transaction">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2" *ngIf="transaction.table">
          <b>Mesa:</b> {{transaction.table.description}}
        </div>
        <div class="col-md-2" *ngIf="posType==='mostrador' && transaction.type">
          <b>{{transaction.type.name}} {{ transaction.number }}</b>
        </div>
        <div class="col-md-2" *ngIf="transaction.employeeClosing">
          <b *ngIf="posType!=='resto'">Empleado:</b>
          <b *ngIf="posType==='resto'">Mozo:</b>
          {{transaction.employeeClosing.name}}
        </div>
        <div class="col-md-2" *ngIf="transactionMovement && transactionMovement !=='Stock'">
          <b *ngIf="transactionMovement === 'Venta'">Cliente: </b>
          <b *ngIf="transactionMovement === 'Compra'">Proveedor: </b>
          <span *ngIf="!transaction.company && transactionMovement === 'Venta'">Consumidor final</span>
          <span *ngIf="transaction.company">{{transaction.company.name}}</span>
        </div>
        <div class="col-md-2" *ngIf="posType==='resto'">
          <b>Comensales:</b>
          {{transaction.diners}}
        </div>
        <div class="col-md-2" *ngIf="transaction && !transaction.endDate" (click)="openModal('change-date')">
          <b>Inicio:</b>
          {{transaction.startDate | dateFormat:'DD/MM/YYYY HH:mm'}}
        </div>
        <div class="col-md-2" *ngIf="transaction && transaction.endDate" (click)="openModal('change-date')">
          <b>Fecha:</b>
          {{transaction.endDate | dateFormat:'DD/MM/YYYY'}}
        </div>
        <div class="col-md-2" *ngIf="posType==='resto'">
          <a class="btn" (click)="openModal('change-employee')">
            <i class="fa fa-exchange"></i> Cambiar Empleado</a>
        </div>
        <div class="col-md-2" *ngIf="posType!=='resto' && posType!=='delivery' && userCountry==='AR'">
            <b>Dolar: {{dolar}}</b>
        </div>
      </div>
    </div>
  </div>
  <div class="row header-mx" *ngIf="userCountry === 'MX'">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <label for="expeditionPlace" class="control-label">Lugar de expedición ( C.P. ):</label>
          <input  type="text"
                  class="form-control"
                  [(ngModel)]="transaction.expeditionPlace"
                  (blur)="updateTransaction()">
        </div>
        <div class="form-group col-md-3">
          <label for="useOfCFDI" class="control-label">Uso de CFDI:</label>
          <select class="form-control" [(ngModel)]="transaction.useOfCFDI" (change)="updateTransaction()">
            <option *ngFor="let useOfCFDI of usesOfCFDI"
                    [ngValue]="useOfCFDI"
                    [selected]="(transaction.useOfCFDI &&
                                transaction.useOfCFDI._id &&
                                transaction.useOfCFDI._id === useOfCFDI._id)">
              {{ useOfCFDI.description }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="relationType" class="control-label">Tipo de Relación:</label>
          <select class="form-control" [(ngModel)]="transaction.relationType" (change)="updateTransaction()">
            <option *ngFor="let relationType of relationTypes"
                    [ngValue]="relationType"
                    [selected]="(transaction.relationType &&
                                transaction.relationType._id &&
                                transaction.relationType._id === relationType._id)">
              {{ relationType.description }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-message">
    <div class="col-md-12">
      <div class="center-content" *ngIf="alertMessage !== ''">
        <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
          {{alertMessage}}
        </ngb-alert>
      </div>
    </div>
  </div>
  <div class="row container-transaction">
    <div class="col-md-4 table-container">
      <div #containerMovementsOfArticles class="articles-container table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Cantidad</th>
              <th>Description</th>
              <th *ngIf="transaction.type && transaction.type.showPrices">Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movementOfArticle of movementsOfArticles" (click)="openModal('movement_of_article', movementOfArticle)">
              <td>
                <span class="badge badge-info">
                  <b>{{ movementOfArticle.amount}}</b>
                </span>
                <img *ngIf="movementOfArticle.article && (movementOfArticle.article.picture == 'default.jpg' || movementOfArticle.article.picture == undefined)" src="./../../../assets/img/default.jpg" height="50" width="50">
                <img *ngIf="movementOfArticle.article && (movementOfArticle.article.picture !== 'default.jpg' && movementOfArticle.article.picture !== undefined)" [src]="apiURL + 'get-image-article/'+movementOfArticle.article.picture" height="50" width="50">
              </td>
              <td>{{movementOfArticle.description}}
                <strong *ngIf="movementOfArticle.notes">
                  <br> {{movementOfArticle.notes}}
                </strong>
              </td>
              <td *ngIf="transaction.type && transaction.type.showPrices">{{movementOfArticle.salePrice | currency:'USD':'1.2-2'}}</td>
            </tr>
            <tr align="center " *ngIf="areMovementsOfArticlesEmpty ">
              <td colspan="10 ">Todavía no se cargaron productos al pedido</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row" *ngIf="transaction.type && transaction.type.showPrices">
        <table class="table table-hover">
          <tbody>
            <tr>
            <tr *ngIf="transactionMovement !== 'Stock'">
              <td align="right">
                <strong>Descuento</strong>
              </td>
              <td align="right">
                <strong>({{transaction.discountAmount | currency:'USD':'1.2-2'}})</strong>
              </td>
            </tr>
            <tr>
              <td align="right">
                <h3>
                  <b>TOTAL</b>
                </h3>
              </td>
              <td align="right">
                <h3>
                  <b>{{transaction.totalPrice | currency:'USD':'1.2-2'}}</b>
                </h3>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row" *ngIf="transactionMovement && transactionMovement !== 'Stock'">
        <div  *ngIf="transaction.type && !transaction.type.fastPayment"
              class="col-md-12 btn-action btn-large center-content"
              (click)="openModal('charge')">
          <span *ngIf="transactionMovement && transactionMovement ==='Compra'">Pagar</span>
          <span *ngIf="transactionMovement && transactionMovement ==='Venta'">Cobrar</span>
        </div>
        <div  *ngIf="transaction.type && transaction.type.fastPayment"
              class="col-md-6 btn-action btn-large center-content"
              (click)="openModal('charge', null, transaction.type.fastPayment)">
          <span>{{ transaction.type.fastPayment.name }}</span>
        </div>
        <div  *ngIf="transaction.type && transaction.type.fastPayment"
              class="col-md-6 btn-action btn-large center-content"
              (click)="openModal('charge')">
          <span *ngIf="transactionMovement && transactionMovement ==='Compra'">Pagar</span>
          <span *ngIf="transactionMovement && transactionMovement ==='Venta'">Cobrar</span>
        </div>
      </div>
      <div class="row" *ngIf="transactionMovement && transactionMovement !== 'Stock'">
        <div class="col-md-4 btn-action btn-large center-content" (click)="openModal('add_client')">
          <span *ngIf="transactionMovement && transactionMovement ==='Compra'">Proveedor</span>
          <span *ngIf="transactionMovement && transactionMovement ==='Venta'">Cliente</span>
        </div>
        <div class="col-md-4 btn-action btn-large center-content" (click)="openModal('apply_discount')">
          Descuento
        </div>
        <div class="col-md-4 btn-action btn-large center-content" (click)="openModal('cancel')">
          Anular
        </div>
      </div>
      <div class="row" *ngIf="transactionMovement && transactionMovement === 'Stock'">
        <div class="col-md-12 btn-action btn-large center-content" (click)="updateRealStock()">
          <span>Procesar Stock</span>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row filterArticle">
        <div class="col-md-12">
          <input type="text" class="form-control" [(ngModel)]="filterArticle" placeholder="Filtrar productos" (ngModelChange)="changeVisibilityArticle()" [focus]="focusEvent">
        </div>
      </div>
      <div class="row filterArticle">
        <div class="col-md-11">
          <nav class="breadcrumb">
            <span class="breadcrumb-item" [ngClass]="{'active':'areCategoriesVisible'}" (click)="showCategories()">Rubros</span>
            <span class="breadcrumb-item active" *ngIf="areArticlesVisible">{{ categorySelected.description }}</span>
            <span class="breadcrumb-item active" *ngIf="areArticlesVisible">Productos</span>
          </nav>
        </div>
        <div class="col-md-1 btn-action btn-large center-content" (click)="close()">
          Cerrar
        </div>
      </div>
      <div [ngClass]="{'row table-responsive img-container':areArticlesVisible}">
        <div class="col-md-12">
          <app-list-articles (eventAddItem)="addItem($event)" [areArticlesVisible]="areArticlesVisible" [filterArticle]="filterArticle" [transaction]="transaction" [filterCategorySelected]="categorySelected"></app-list-articles>
        </div>
      </div>
      <div [ngClass]="{'row table-responsive img-container':areCategoriesVisible}">
        <div class="col-md-12">
          <app-list-categories (eventSelectCategory)="showArticlesOfCategory($event)" [areCategoriesVisible]="areCategoriesVisible"></app-list-categories>
        </div>
      </div>
    </div>
  </div>
</section>

<!--MODAL IMPRESORA-->
<ng-template #contentPrinters let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Impresoras</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('close_click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <ul class="list-group">
            <li class="list-group-item center-content btn" *ngFor="let printer of printersAux" (click)="c(printer)">{{printer.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('cancel')">Cancelar</button>
  </div>
</ng-template>

<!--MODAL ERROR IMPRESORA-->
<ng-template #contentMessage let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Error de conexión</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('close_click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body container-fluid">
    <div class="row">
      <div class="col-md-12">
        Ha ocurrido un error de conexión con la impresora.
        <br> ¿Desea continuar?
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('cancel')">Cancelar</button>
    <button type="submit" class="btn btn-primary" (click)="c('y')">
      <span>Sí</span>
    </button>
  </div>
</ng-template>

<!--MODAL CAMBIAR FECHA-->
<ng-template #contentChangeDate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Cambiar Fecha</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('close_click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body container-fluid">
    <div class="row">
      <div class="col-md-12">
        <input  type="date"
                class="form-control"
                [(ngModel)]="transaction.endDate"
                placeholder="Fecha"
                [focus]="focusEvent">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('cancel')">Cancelar</button>
    <button type="submit" class="btn btn-primary" (click)="c('y')">
      <span>Cambiar</span>
    </button>
  </div>
</ng-template>

