<!--ADMIN-->
<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="card card-outline-primary">
    <div class="card-header bg-primary card-inverse">Lista de Salones
      <div class="pull-right">
        <button class="btn btn-primary" (click)="openModal('add', null)" >Agregar Salón</button>
        <button class="btn btn-primary" [ngClass]="{'fa fa-spinner fa-spin':loading}" (click)="refresh()" >Actualizar</button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter"></i>
        </span>
      </div>
    </div>
      <div class="card-block table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><i class="fa fa-bars"></i></th>
              <th (click)="orderBy('description')">Description </th>
            </tr>
            <tr *ngIf="areFiltersVisible">
                <th><input type="text" class="form-control" [(ngModel)]= "filterDescription" placeholder="Descripción..." ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let room of rooms | orderBy: orderTerm: propertyTerm
                                          | filter: filterDescription:'description' 
                                          | paginate: {  itemsPerPage: 9, currentPage: p }">
              <td align="left" width="90">
                <button type="button" class="btn btn-primary  btn-sm" (click)="openModal('update', room)"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger  btn-sm" (click)="openModal('delete', room)"><i class="fa fa-trash-o"></i></button>
              </td>
              <td class="flat">{{room.description}}</td>
            </tr>
            <tr align="center" *ngIf="areRoomsEmpty">
              <td colspan="2">No se encontraron salones</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-primary card-inverse">
        <pagination-controls 
          (pageChange)="p=$event" 
          #api 
          previousLabel="Anterior"
          nextLabel="Siguiente">
        </pagination-controls>
      </div>
  </div>
</section>