<!--ADMIN-->
<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="card card-outline-primary">
    <div class="card-header bg-primary card-inverse">Lista de Salones
      <div class="pull-right">
        <button class="btn btn-primary" (click)="openModal('add', null)" >Agregar Salón</button>
        <button class="btn btn-primary" [ngClass]="{'fa fa-spinner fa-spin':loading}" (click)="refresh()" >Actualizar</button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"></i>
        </span>
      </div>
    </div>
      <div class="card-block table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><i class="fa fa-bars"></i></th>
              <th (click)="orderBy('description')">Description </th>
            </tr>
            <tr *ngIf="areFiltersVisible">
                <th><input type="text" class="form-control" [(ngModel)]= "filterDescription" placeholder="Descripción..." ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let room of rooms | orderBy: orderTerm: propertyTerm
                                          | filter: filterDescription:'description' 
                                          | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
              <td align="left" width="90">
                <button type="button" class="btn btn-primary  btn-sm" (click)="openModal('update', room)"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger  btn-sm" (click)="openModal('delete', room)"><i class="fa fa-trash-o"></i></button>
              </td>
              <td class="flat">{{room.description}}</td>
            </tr>
            <tr align="center" *ngIf="areRoomsEmpty">
              <td colspan="2">No se encontraron salones</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-primary card-inverse">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <pagination-controls (pageChange)="p=$event" #api previousLabel="Anterior" nextLabel="Siguiente">
            </pagination-controls>
          </div>
          <div class="col-md-2"></div>
          Mostrar
          <div class="form-group col-md-1">
            <select class="form-control" [(ngModel)]="itemsPerPage">
              <option [value]="5" >5</option>
              <option [value]="10">10</option>
              <option [value]="15">15</option>
              <option [value]="20">20</option>
              <option [value]="50">50</option>
              <option [value]="100">100</option>
            </select>
          </div>
          ítems
        </div>
      </div>
  </div>
</section>