<!--Modal-->
<div class="modal-header">
	<h4 class="modal-title">Imprimir Resumen de cuenta</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.close('cancel')">
	<span aria-hidden="true">&times;</span>
	</button>
</div>
<section class="container-fluid">
	<div class="center-content" *ngIf="alertMessage !== ''">
        <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
          {{alertMessage}}
        </ngb-alert>
      </div>
		<div class="modal-body">
			<div class="row">
                <div class = "form-group col-md-2">
					<label for="withDetails" class="control-label">Detalle:</label>
					<select class="form-control"  [(ngModel)]="withDetails" >
						<option [ngValue]="true">Si</option>
						<option [ngValue]="false">No</option>
					</select>
                </div>
                <div class="col-md-6">
                    <label for="transactionType" class="control-label">
                        <b>Tipo</b>
                    </label>
                    <ng-multiselect-dropdown
                    [placeholder]="'Tipo de Transacción'"
                    [settings]="dropdownSettings"
                    [data]="transactionTypes"
                    [(ngModel)]="transactionTypesSelect"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                  >
                  </ng-multiselect-dropdown>
                </div>
                <div class = "form-group col-md-4">
                    <label for="employee" class="control-label">Empleado:</label>
                    <select class="form-control"  [(ngModel)]="employee" >
                        <option [ngValue]="null"></option>
                        <option *ngFor="let employee of employees" [value]="employee._id">{{employee.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class = "form-group col-md-3">
					<label for="startDate" class="control-label">De fecha:</label>
					<input type="date" class="form-control" [(ngModel)]="startDate" name="startDate" id="startDate">
                </div>
                <div class = "form-group col-md-3">
					<label for="endDate" class="control-label">A fecha:</label>
					<input type="date" class="form-control" [(ngModel)]="endDate" name="endDate" id="endDate">
                </div>
                <div class = "form-group col-md-4">
                    <label for="companyGroup" class="control-label">Grupo de Empresa:</label>
                    <select class="form-control"  [(ngModel)]="companyGroup" >
                        <option [ngValue]="null"></option>
                        <option *ngFor="let companyGroup of companyGroups" [value]="companyGroup._id">{{companyGroup.description}}</option>
                    </select>
                </div>
                <!--<div class="form-group col-md-6">
                    <ng-template #rtCompanies let-r="result" let-t="term">
                        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                    </ng-template>
                    <label for="company">Empresa:</label>
                    <input id="company" type="text" class="form-control" formControlName="company"
                        name="company" [ngbTypeahead]="searchCompanies" [resultTemplate]="rtCompanies"
                        [inputFormatter]="formatterCompanies" />
                </div>  --> 
            </div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-light" (click)="activeModal.close('cancel')">Cancelar</button>
			<button type="button" (click)="getTransactions()" class="btn btn-primary" [disabled]="loading" >
				<i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
				<span *ngIf="!loading">Imprimir Saldo</span>
				<span *ngIf="loading">Espere por favor</span>
            </button>
            <button type="button" (click)="printTotalExcel()" class="btn btn-primary" [disabled]="loading" >
				<i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
				<span *ngIf="!loading">Imprimir Total</span>
				<span *ngIf="loading">Espere por favor</span>
			</button>
		</div>
</section>

<!--Print-->
<iframe [src]="pdfURL" class="full-screen" frameborder="0" style="border:0; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%;" allowfullscreen type='application/pdf' *ngIf="pdfURL"></iframe>
