<div class="modal-header">
	<h4 class="modal-title">Eliminar Caja</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
	<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="center-content" *ngIf="alertMessage !== ''">
		<ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
			{{alertMessage}}
		</ngb-alert>
	</div>
  <p>¿Está seguro de eliminar la caja?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancelar</button>
  <button type="submit" class="btn btn-primary" (click)="deleteCashBox()" [focus]="focusEvent">Eliminar</button>
</div>