<section class="container-fluid" *ngIf="userType=='report'">
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Kardex de Producto
      <div class="pull-right">
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"> Filtrar</i>
        </span>
      </div>
    </div>
    <div class="card-block table-responsive">
      <div class="center-content" *ngIf="alertMessage !== ''">
        <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
          {{alertMessage}}
        </ngb-alert>
      </div>
      <div class="row container-filter">
        <div class="col-md-2 offset-md-3">
          <label for="startDate" class="control-label">
            <b>Fecha Desde:</b>
          </label>
          <input type="date" class="form-control" name="startDate" min="2000-01-01" [(ngModel)]="startDate" />
        </div>
        <div class="col-md-2">
          <label for="endDate" class="control-label">
            <b>Fecha Hasta:</b>
          </label>
          <input type="date" class="form-control" name="endDate" min="2000-01-01" [(ngModel)]="endDate" />
        </div>
        <div class="col-md-2" (click)="refresh()">
          <label for="btn-action" class="control-label"><b>Acción:</b></label>
          <span class="form-control btn-action center-content">
            <i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i>Actualizar
          </span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label *ngIf="companySelected" for="company" class="control-label"><b>{{companySelected.type}}:</b></label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3" *ngIf="articleSelected">
          <label for="code" class="control-label">Codigo:</label>
          <input type="text" class="form-control" [value]="articleSelected.code" readonly/>
        </div>
        <div class="form-group col-md-3" *ngIf="articleSelected">
          <label for="posDescription" class="control-label">Descripcion:</label>
          <input type="text" class="form-control" [value]="articleSelected.posDescription" readonly/>
        </div>
        <div class="form-group col-md-2" *ngIf="articleSelected && articleSelected.category">
          <label for="category" class="control-label">Rubro:</label>
          <input type="text" class="form-control" [value]="articleSelected.category.description" readonly/>
        </div>
        <div class="form-group col-md-2" *ngIf="articleSelected && !articleSelected.category">
          <label for="category" class="control-label">Rubro:</label>
          <input type="text" class="form-control" [value]="articleSelected.category.description" readonly/>
        </div>
        <div class="form-group col-md-2" *ngIf="articleSelected && articleSelected.make">
          <label for="make" class="control-label">Marca:</label>
          <input type="text" class="form-control" [value]="articleSelected.make.description" readonly/>
        </div>
        <div class="form-group col-md-2" *ngIf="articleSelected && !articleSelected.make">
          <label for="make" class="control-label">Marca:</label>
          <input type="text" class="form-control" [value]="" readonly/>
        </div>
        <div class="form-group col-md-10" *ngIf="!articleSelected">
          <input type="text" class="form-control" value="Seleccione un producto" readonly/>
        </div>
        <div class="col-md-2">
          <label for="btn" class="control-label" *ngIf="articleSelected">Acción:</label>
          <span class="form-control cursor-pointer center-content" (click)="openModal('article')">
            Cambiar
          </span>
        </div>
      </div>
      <div class="row center-content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="th transaction-data"></th>
              <th *ngIf="userCountry === 'AR'" colspan="6" class="th transaction-data">Datos de la transacción</th>
              <th *ngIf="userCountry !== 'AR'" colspan="5" class="th transaction-data">Datos de la transacción</th>
              <th colspan="3" class="th balance-data">Movimientos</th>
            </tr>
            <tr>
              <th class=""><i class="fa fa-bars"></i></th>
              <th class="">Fecha</th>
              <th class="">Movimiento</th>
              <th class="">Tipo</th>
              <th class="" *ngIf="userCountry === 'AR'">Punto de venta</th>
              <th class="">Letra</th>
              <th class="">Número</th>
              <th class="">Entrada</th>
              <th class="">Salida</th>
              <th class="">Stock</th>
            </tr>
            <tr *ngIf="areFiltersVisible" class="filters">
              <th></th>
              <th></th>
              <th><input type="text" class="form-control" [(ngModel)]="filters['transaction.type.transactionMovement']" (input)="getSummary()" placeholder="Movimiento..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filters['transaction.type.name']" (input)="getSummary()" placeholder="Tipo..."></th>
              <th *ngIf="userCountry === 'AR'"><input type="text" class="form-control" [(ngModel)]="filters['transaction.origin']" (input)="getSummary()" placeholder="Punto de venta..."  *ngIf="userCountry === 'AR'"></th>
              <th><input type="text" class="form-control" [(ngModel)]="filters['transaction.letter']" (input)="getSummary()" placeholder="Letra..."></th>
              <th><input type="text" class="form-control" [(ngModel)]="filters['transaction.number']" (input)="getSummary()" placeholder="Número..."></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movementsOfArticle of items | paginate: { itemsPerPage: itemsPerPage,
                                                                        currentPage: currentPage,
                                                                        totalItems: totalItems
                                                                      }">
              <td align="left" width="100">
                <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view-transaction', movementsOfArticle)" title="Ver"><i class="fa fa-eye"></i></button>
              </td>
              <td class="align-center" *ngIf="movementsOfArticle.transaction.endDate">{{movementsOfArticle.transaction.endDate | dateFormat : 'DD/MM/YYYY' }}</td>
              <td class="align-left" *ngIf="movementsOfArticle.transaction.type">{{movementsOfArticle.transaction.type[0].transactionMovement}}</td>
              <td class="align-left" *ngIf="movementsOfArticle.transaction.type">{{movementsOfArticle.transaction.type[0].name}}</td>
              <td class="align-center" *ngIf="userCountry === 'AR' && movementsOfArticle.transaction.type">{{movementsOfArticle.transaction.origin}}</td>
              <td class="align-center" *ngIf="movementsOfArticle.transaction.type">{{movementsOfArticle.transaction.letter}}</td>
              <td class="align-right" *ngIf="movementsOfArticle.transaction.type">{{movementsOfArticle.transaction.number}}</td>
              <td class="align-right" *ngIf="movementsOfArticle.stockMovement === 'Entrada'">{{movementsOfArticle.amount}}</td>
              <td class="align-right" *ngIf="movementsOfArticle.stockMovement !== 'Entrada'"></td>
              <td class="align-right" *ngIf="movementsOfArticle.stockMovement === 'Salida'">{{movementsOfArticle.amount}}</td>
              <td class="align-right" *ngIf="movementsOfArticle.stockMovement !== 'Salida'"></td>
              <td class="align-right">{{movementsOfArticle.balance}}</td>
            </tr>
            <tr align="center" *ngIf="!items || items.length === 0 && !loading">
              <td colspan="11">No se encontraron movimientos</td>
            </tr>
          </tbody>
          <tfoot>
            <td colspan="8" class="align-right">
              <strong>Stock Real</strong>
            </td>
            <td class="align-right">
              <strong>{{balance }}</strong>
            </td>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="card-footer bg-primary">
      <div class="row">
        <div class="col-md-10">
          <pagination-controls
            class="my-pagination"
            (pageChange)="currentPage=$event"
            #api
            previousLabel="Ant."
            nextLabel="Sig."
            autoHide="true">
          </pagination-controls>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" [(ngModel)]="itemsPerPage">
            <option [value]="5">Mostrar 5 ítems</option>
            <option [value]="10">Mostrar 10 ítems</option>
            <option [value]="15">Mostrar 15 ítems</option>
            <option [value]="20">Mostrar 20 ítems</option>
            <option [value]="50">Mostrar 50 ítems</option>
            <option [value]="100">Mostrar 100 ítems</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>