.card {
      margin-top: 50px;
      height:80vh;
}

.card-header {
      color: white;
}

.btn {
      cursor: pointer;
}

.table {
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
    cursor: pointer;
 }