<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="card card-outline-primary">
    <div class="card-header bg-primary card-inverse">Lista de Pedidos de Venta
      <div class="pull-right">
        <button class="btn btn-primary" (click)="refresh()" >Actualizar</button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="fa fa-filter"></i>
        </span>
      </div>
    </div>
      <div class="card-block">
        <table class="table table-hover">
          <thead>
            <tr>
            	<th (click)="orderBy('origin')">Origen</th>
            	<th (click)="orderBy('number')">Número</th>
            	<th (click)="orderBy('table')">Mesa</th>
	            <th (click)="orderBy('date')">Fecha</th>
	            <th (click)="orderBy('state')">Estado</th>
	            <th (click)="orderBy('observation')">Observación</th>
	            <th (click)="orderBy('totalPrice')">Precio Total</th>
            </tr>
            <tr *ngIf="areFiltersVisible">
                <th><input type="text" class="form-control" [(ngModel)]= "filterOrigin" placeholder="Origen..."></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterNumber" placeholder="Número..."></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterTable" placeholder="Mesa..."></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterEndDate" placeholder="Fecha..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterState" placeholder="Estado..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterObservation" placeholder="Observación..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterTotalPrice" placeholder="Precio Total..." ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions | orderBy: orderTerm: propertyTerm	| filter: filterOrigin:'origin' | filter: filterNumber:'number' 
                                        | filter: filterTable:'description':'table' | filter: filterEndDate:'date' | filter: filterState:'c' | filter: filterObservation:'observation' 
                                        | filter: filterTotalPrice:'totalPrice' | paginate: {  itemsPerPage: 9, currentPage: p }">
              <td>{{transaction.origin}}</td>
              <td>{{transaction.number}}</td>
              <td *ngIf="transaction.table">{{transaction.table.description}}</td>
              <td *ngIf="!transaction.table">0</td>
              <td *ngIf="!transaction.endDate">{{transaction.startDate | date: ['dd/MM/yyyy'] }}</td>
              <td *ngIf="transaction.endDate">{{transaction.endDate | date: ['dd/MM/yyyy'] }}</td>
              <td>
                <h6>
                  <span class="badge" [ngClass]="{'badge-danger':transaction.state==='Anulado',
                                                  'badge-success':transaction.state==='Cerrado', 
                                                  'badge-warning':transaction.state==='Abierto'}">
                    {{transaction.state}}
                  </span>
                </h6>
              </td>
              <td>{{transaction.observation}}</td>
              <td>{{transaction.totalPrice | currency:'USD':'1.2-2'}}</td>
            </tr>
            <tr align="center" *ngIf="areTransactionsEmpty">
              <td colspan="7">No se encontraron pedidos</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-primary card-inverse">
        <pagination-controls 
          (pageChange)="p=$event" 
          #api 
          previousLabel="Anterior"
          nextLabel="Siguiente">
        </pagination-controls>
      </div>
  </div>
</section>

<!--POS-->
<section class="row" *ngIf="userType=='pos'">
    <div class="table" *ngFor="let transaction of transactions | orderBy:[orderTerm]" (click)="addTransaction(transaction.code)">
        <p>{{transaction.code}}</p>
    </div>
</section>