<!-- SECCION VENTAS -->
<section class="container-fluid" *ngIf="userType=='admin' && listType==='Ventas'">
  <div class="center-content" *ngIf="alertMessage !== '' && totalItems > 0">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Listado de {{listType}}
      <div class="pull-right">
        <button class= "btn btn-primary" (click)="exportIVA()" *ngIf="userCountry === 'AR'">Exportar IVA</button>
        <button class="btn btn-primary" (click)="exportCiti()" *ngIf="userCountry === 'AR'">Exportar Régimen de Información</button>
        <button class="btn btn-primary fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span> Actualizar</span></button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"> Filtrar</i>
        </span>
      </div>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              <i class="fa fa-bars"></i>
            </th>
            <th (click)="orderBy('type.name')">Tipo</th>
            <th (click)="orderBy('origin')" *ngIf="userCountry === 'AR'">POS</th>
            <th (click)="orderBy('letter')">Letra</th>
            <th (click)="orderBy('number')">Número</th>
            <th (click)="orderBy('endDate')">Fecha</th>
            <th (click)="orderBy('company.name')">Cliente</th>
            <th *ngIf ="allowResto" (click)="orderBy('table.description')">Mesa</th>
            <th (click)="orderBy('employeeClosing.name')">Empleado</th>
            <th *ngIf ="allowResto" (click)="orderBy('turnOpening.startDate')">Turno</th>
            <th *ngIf ="allowResto" (click)="orderBy('diners')">Comensales</th>
            <th *ngIf ="(modules | async)?.money" (click)="orderBy('cashBox.number')">Caja</th>
            <th (click)="orderBy('madein')">Canal</th>
            <th (click)="orderBy('branchDestination.number')">Sucursal</th>
            <th (click)="orderBy('state')">Estado</th>
            <th (click)="orderBy('observation')">Observación</th>
            <th (click)="orderBy('balance')">Saldo</th>
            <th (click)="orderBy('discountAmount')">Descuento</th>
            <th (click)="orderBy('totalPrice')">Precio Total</th>
          </tr>
          <tr *ngIf="areFiltersVisible" class="filters">
            <th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['type.name']" (keydown.enter)="getTransactions()" placeholder="Tipo..."></th>
            <th *ngIf="userCountry === 'AR'"><input type="text" class="form-control" [(ngModel)]="filters['origin']" (keydown.enter)="getTransactions()" placeholder="POS..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['letter']" (keydown.enter)="getTransactions()" placeholder="Letra..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['number']" (keydown.enter)="getTransactions()" placeholder="Número..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['endDate']" (keydown.enter)="getTransactions()" placeholder="Fecha..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['company.name']" (keydown.enter)="getTransactions()" placeholder="Cliente..."></th>
            <th *ngIf="allowResto"><input type="text" class="form-control" [(ngModel)]="filters['table.description']" (keydown.enter)="getTransactions()" placeholder="Mesa..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['employeeClosing.name']" (keydown.enter)="getTransactions()" placeholder="Empleado..."></th>
            <th *ngIf="allowResto"><input type="text" class="form-control" [(ngModel)]="filters['turnOpening.startDate']" (keydown.enter)="getTransactions()" placeholder="Turno..."></th>
            <th *ngIf="allowResto"><input type="text" class="form-control" [(ngModel)]="filters['diners']" (keydown.enter)="getTransactions()" placeholder="Comensales..."></th>
            <th *ngIf="(modules | async)?.money"><input type="text" class="form-control" [(ngModel)]="filters['cashBox.number']" (keydown.enter)="getTransactions()" placeholder="Caja..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['madein']" (keydown.enter)="getTransactions()" placeholder="Canal..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['branchDestination.number']" (keydown.enter)="getTransactions()" placeholder="Sucursal..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['state']" (keydown.enter)="getTransactions()" placeholder="Estado..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['observation']" (keydown.enter)="getTransactions()" placeholder="Observación..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['balance']" (keydown.enter)="getTransactions()" placeholder="Saldo..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['discountAmount']" (keydown.enter)="getTransactions()" placeholder="Descuento..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['totalPrice']" (keydown.enter)="getTransactions()" placeholder="Precio Total..."></th>
          </tr>
        </thead>
        <tbody>
          <tr align="center" *ngIf="loading">
            <td colspan="16">Cargando...</td>
          </tr>
          <tr *ngFor="let transaction of transactions | paginate: { itemsPerPage: itemsPerPage,
                                                                      currentPage: currentPage,
                                                                      totalItems: totalItems
                                                                    }">
            <td align="left" width="150">
              <button type="button" 
                      class="btn btn-success  btn-sm" 
                      (click)="openModal('view', transaction)" 
                      title="Ver"><i class="fa fa-eye"></i>
              </button>
              <button type="button"
                      *ngIf="transaction.type.allowEdit &&
                            (!transaction.type.electronics ||
                            (transaction.type.electronics &&
                            transaction.state.toString() !== 'Cerrado'))"
                            class="btn btn-primary btn-sm"
                            (click)="openModal('edit', transaction)"
                            title="Editar"><i class="fa fa-pencil"></i>
              </button>
              <button type="button"
                      *ngIf="transaction.type.allowDelete &&
                            (!transaction.type.electronics ||
                            (transaction.type.electronics &&
                            transaction.state.toString() !== 'Cerrado'))"
                      class="btn btn-danger btn-sm"
                      (click)="openModal('delete', transaction)"
                      title="Eliminar"><i class="fa fa-trash-o"></i>
              </button>
              <button *ngIf="transaction.state === 'Cerrado'" 
                      type="button" 
                      class="btn btn-secondary btn-sm" 
                      (click)="openModal('print', transaction)" 
                      title="Imprimir"><i class="fa fa-print"></i>
              </button>
              <button type="button"
                      class="btn btn-secondary btn-sm" 
                      (click)="openModal('send-email', transaction)"                      
                      title="Enviar"><i class="fa fa-envelope"></i>                     
              </button>
            </td>
            <td *ngIf="transaction.type">{{transaction.type.name}}</td>
            <td *ngIf="!transaction.type"></td>
            <td *ngIf="userCountry === 'AR'">{{transaction.origin}}</td>
            <td>{{transaction.letter}}</td>
            <td>{{transaction.number}}</td>
            <td>{{transaction.endDate }}</td>
            <td *ngIf="transaction.company">{{transaction.company.name}}</td>
            <td *ngIf="!transaction.company">Consumidor Final</td>
            <td *ngIf ="allowResto && transaction.table">{{transaction.table.description}}</td>
            <td *ngIf ="allowResto && !transaction.table"></td>
            <td *ngIf="transaction.employeeClosing">{{transaction.employeeClosing.name}}</td>
            <td *ngIf="!transaction.employeeClosing"></td>
            <td *ngIf="allowResto && transaction.turnOpening">{{transaction.turnOpening.startDate }}</td>
            <td *ngIf="allowResto && !transaction.turnOpening"></td>
            <td *ngIf="allowResto && transaction.diners">{{transaction.diners}}</td>
            <td *ngIf="allowResto && !transaction.diners"></td>
            <td *ngIf="(modules | async)?.money && transaction.cashBox">{{transaction.cashBox.number}}</td>
            <td *ngIf="(modules | async)?.money && !transaction.cashBox"></td>
            <td>{{transaction.madein}}</td>
            <td *ngIf="transaction.branchDestination">{{transaction.branchDestination.number}}</td>
            <td *ngIf="!transaction.branchDestination"></td>
            <td>
              <h6>
                <span class="badge" [ngClass]="{'badge-danger':transaction.state==='Anulado',
                                                'badge-success':transaction.state==='Cerrado' || transaction.state==='Entregado',
                                                'badge-warning':transaction.state==='Abierto' || transaction.state==='Pendiente' || transaction.state==='Enviado'}">
                  {{transaction.state}}
                </span>
              </h6>
            </td>
            <td>{{transaction.observation}}</td>
            <td>{{transaction.balance | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
            <td>{{transaction.discountAmount | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
            <td>{{transaction.totalPrice | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
          </tr>
          <tr align="center" *ngIf="totalItems === 0 && !loading">
            <td colspan="16">No se encontraron transacciones</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer bg-primary">
      <div class="row">
        <div class="col-md-10">
          <pagination-controls
            class="my-pagination"
            (pageChange)="pageChange($event)"
            #api
            previousLabel="Ant."
            nextLabel="Sig."
            autoHide="true">
          </pagination-controls>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" [(ngModel)]="itemsPerPage" (change)="getTransactions()">
            <option [value]="5">Mostrar 5 Registros</option>
            <option [value]="10">Mostrar 10 Registros</option>
            <option [value]="15">Mostrar 15 Registros</option>
            <option [value]="20">Mostrar 20 Registros</option>
            <option [value]="50">Mostrar 50 Registros</option>
            <option [value]="100">Mostrar 100 Registros</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SECCION COMPRAS -->
<section class="container-fluid" *ngIf="userType=='admin' && listType==='Compras'">
  <div class="center-content" *ngIf="alertMessage !== '' && totalItems > 0">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Listado de {{listType}}
      <div class="pull-right">
        <button class= "btn btn-primary" (click)="exportIVA()" *ngIf="userCountry === 'AR'">Exportar IVA</button>
        <button class="btn btn-primary" (click)="exportCiti()" *ngIf="userCountry === 'AR'">Exportar Régimen de Información</button>
        <button class="btn btn-primary fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span> Actualizar</span></button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"> Filtrar</i>
        </span>
      </div>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              <i class="fa fa-bars"></i>
            </th>
            <th (click)="orderBy('type.name')">Tipo</th>
            <th (click)="orderBy('origin')" *ngIf="userCountry === 'AR'">POS</th>
            <th (click)="orderBy('letter')">Letra</th>
            <th (click)="orderBy('number')">Número</th>
            <th (click)="orderBy('endDate')">Fecha</th>
            <th (click)="orderBy('company.name')">Proveedor</th>
            <th (click)="orderBy('state')">Estado</th>
            <th (click)="orderBy('observation')">Observación</th>
            <th (click)="orderBy('balance')">Saldo</th>
            <th (click)="orderBy('discountAmount')">Descuento</th>
            <th (click)="orderBy('totalPrice')">Precio Total</th>
          </tr>
          <tr *ngIf="areFiltersVisible" class="filters">
            <th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['type.name']" (keydown.enter)="getTransactions()" placeholder="Tipo..."></th>
            <th *ngIf="userCountry === 'AR'"><input type="text" class="form-control" [(ngModel)]="filters['origin']" (keydown.enter)="getTransactions()" placeholder="POS..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['letter']" (keydown.enter)="getTransactions()" placeholder="Letra..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['number']" (keydown.enter)="getTransactions()" placeholder="Número..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['endDate']" (keydown.enter)="getTransactions()" placeholder="Fecha..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['company.name']" (keydown.enter)="getTransactions()" placeholder="Proveedor..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['state']" (keydown.enter)="getTransactions()" placeholder="Estado..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['observation']" (keydown.enter)="getTransactions()" placeholder="Observación..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['balance']" (keydown.enter)="getTransactions()" placeholder="Saldo..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['discountAmount']" (keydown.enter)="getTransactions()" placeholder="Descuento..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['totalPrice']" (keydown.enter)="getTransactions()" placeholder="Precio Total..."></th>
          </tr>
        </thead>
        <tbody>
          <tr align="center" *ngIf="loading">
            <td colspan="16">Cargando...</td>
          </tr>
          <tr *ngFor="let transaction of transactions | paginate: { itemsPerPage: itemsPerPage,
                                                                      currentPage: currentPage,
                                                                      totalItems: totalItems
                                                                    }">
            <td align="left" width="150">
              <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view', transaction)" title="Ver"><i class="fa fa-eye"></i></button>
              <button type="button" *ngIf="transaction.type.allowEdit" class="btn btn-primary btn-sm" (click)="openModal('edit', transaction)" title="Editar"><i class="fa fa-pencil"></i></button>
              <button type="button" *ngIf="transaction.type.allowDelete" class="btn btn-danger btn-sm" (click)="openModal('delete', transaction)" title="Eliminar"><i class="fa fa-trash-o"></i></button>
              <button *ngIf="transaction.state === 'Cerrado'" type="button" class="btn btn-secondary btn-sm" (click)="openModal('print', transaction)" title="Imprimir"><i class="fa fa-print"></i></button>
            </td>
            <td *ngIf="transaction.type">{{transaction.type.name}}</td>
            <td *ngIf="!transaction.type"></td>
            <td *ngIf="userCountry === 'AR'">{{transaction.origin}}</td>
            <td>{{transaction.letter}}</td>
            <td>{{transaction.number}}</td>
            <td>{{transaction.endDate }}</td>
            <td *ngIf="transaction.company">{{transaction.company.name}}</td>
            <td *ngIf="!transaction.company"></td>
            <td>
              <h6>
                <span class="badge" [ngClass]="{'badge-danger':transaction.state==='Anulado',
                                                'badge-success':transaction.state==='Cerrado' || transaction.state==='Entregado',
                                                'badge-warning':transaction.state==='Abierto' || transaction.state==='Pendiente' || transaction.state==='Enviado'}">
                  {{transaction.state}}
                </span>
              </h6>
            </td>
            <td>{{transaction.observation}}</td>
            <td>{{transaction.balance | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
            <td>{{transaction.discountAmount | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
            <td>{{transaction.totalPrice | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
          </tr>
          <tr align="center" *ngIf="totalItems === 0 && !loading">
            <td colspan="16">No se encontraron transacciones</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="card-footer bg-primary">
      <div class="row">
        <div class="col-md-10">
          <pagination-controls
            class="my-pagination"
            (pageChange)="pageChange($event)"
            #api
            previousLabel="Ant."
            nextLabel="Sig."
            autoHide="true">
          </pagination-controls>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" [(ngModel)]="itemsPerPage" (change)="getTransactions()">
            <option [value]="5">Mostrar 5 Registros</option>
            <option [value]="10">Mostrar 10 Registros</option>
            <option [value]="15">Mostrar 15 Registros</option>
            <option [value]="20">Mostrar 20 Registros</option>
            <option [value]="50">Mostrar 50 Registros</option>
            <option [value]="100">Mostrar 100 Registros</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SECCION STOCK Y FONDOS -->
<section class="container-fluid" *ngIf="userType=='admin' && ((((modules | async)?.stock) && listType==='Stock') || listType==='Fondos')">
  <div class="center-content" *ngIf="alertMessage !== '' && totalItems > 0">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Listado de {{listType}}
      <div class="pull-right">
        <button class="btn btn-primary fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span> Actualizar</span></button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"> Filtrar</i>
        </span>
      </div>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              <i class="fa fa-bars"></i>
            </th>
            <th (click)="orderBy('type.name')">Tipo</th>
            <th (click)="orderBy('number')">Número</th>
            <th (click)="orderBy('endDate')">Fecha</th>
            <th (click)="orderBy('branchDestination.number')">Sucursal</th>
            <th (click)="orderBy('state')">Estado</th>
            <th (click)="orderBy('observation')">Observación</th>
            <th (click)="orderBy('totalPrice')">Precio Total</th>
          </tr>
          <tr *ngIf="areFiltersVisible" class="filters">
            <th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['type.name']" (keydown.enter)="getTransactions()"placeholder="Tipo..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['number']" (keydown.enter)="getTransactions()" placeholder="Número..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['endDate']" (keydown.enter)="getTransactions()" placeholder="Fecha..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['branchDestination.number']" (keydown.enter)="getTransactions()" placeholder="Sucursal..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['state']" (keydown.enter)="getTransactions()" placeholder="Estado..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['observation']" (keydown.enter)="getTransactions()" placeholder="Observación..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['totalPrice']" (keydown.enter)="getTransactions()" placeholder="Precio Total..."></th>
          </tr>
        </thead>
        <tbody>
          <tr align="center" *ngIf="loading">
            <td colspan="16">Cargando...</td>
          </tr>
          <tr *ngFor="let transaction of transactions | paginate: { itemsPerPage: itemsPerPage,
                                                                      currentPage: currentPage,
                                                                      totalItems: totalItems
                                                                    }">
            <td align="left" width="150">
              <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view', transaction)" title="Ver"><i class="fa fa-eye"></i></button>
              <button type="button" *ngIf="transaction.type.allowEdit" class="btn btn-primary btn-sm" (click)="openModal('edit', transaction)" title="Editar"><i class="fa fa-pencil"></i></button>
              <button type="button" *ngIf="transaction.type.allowDelete" class="btn btn-danger btn-sm" (click)="openModal('delete', transaction)" title="Eliminar"><i class="fa fa-trash-o"></i></button>
              <button *ngIf="transaction.state === 'Cerrado'" type="button" class="btn btn-secondary btn-sm" (click)="openModal('print', transaction)" title="Imprimir"><i class="fa fa-print"></i></button>
            </td>
            <td *ngIf="transaction.type">{{transaction.type.name}}</td>
            <td *ngIf="!transaction.type"></td>
            <td>{{transaction.number}}</td>
            <td>{{transaction.endDate }}</td>
            <td *ngIf="transaction.branchDestination">{{transaction.branchDestination.number}}</td>
            <td *ngIf="!transaction.branchDestination"></td>
            <td>
              <h6>
                <span class="badge" [ngClass]="{'badge-danger':transaction.state==='Anulado',
                                                'badge-success':transaction.state==='Cerrado' || transaction.state==='Entregado',
                                                'badge-warning':transaction.state==='Abierto' || transaction.state==='Pendiente' || transaction.state==='Enviado'}">
                  {{transaction.state}}
                </span>
              </h6>
            </td>
            <td>{{transaction.observation}}</td>
            <td>{{transaction.totalPrice | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
          </tr>
          <tr align="center" *ngIf="totalItems === 0 && !loading">
            <td colspan="16">No se encontraron transacciones</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="card-footer bg-primary">
      <div class="row">
        <div class="col-md-10">
          <pagination-controls
            class="my-pagination"
            (pageChange)="pageChange($event)"
            #api
            previousLabel="Ant."
            nextLabel="Sig."
            autoHide="true">
          </pagination-controls>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" [(ngModel)]="itemsPerPage" (change)="getTransactions()">
            <option [value]="5">Mostrar 5 Registros</option>
            <option [value]="10">Mostrar 10 Registros</option>
            <option [value]="15">Mostrar 15 Registros</option>
            <option [value]="20">Mostrar 20 Registros</option>
            <option [value]="50">Mostrar 50 Registros</option>
            <option [value]="100">Mostrar 100 Registros</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>
