<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="card card-outline-primary">
    <div class="card-header bg-primary card-inverse">Lista de Tipos de Empleado
      <div class="pull-right">
        <button class="btn btn-primary" (click)="openModal('add', null)" >Agregar Tipo de Empleado</button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="fa fa-filter"></i>
        </span>
      </div>
    </div>
      <div class="card-block">
        <table class="table table-hover">
          <thead>
            <tr>
              <th (click)="orderBy('description')">Descripción </th>
              <th></th>
            </tr>
            <tr *ngIf="areFiltersVisible">
                <th><input type="text" class="form-control" [(ngModel)]= "filterDescription" placeholder="Nombre..." ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employeeType of employeeTypes | orderBy: [orderTerm] | filter: filterDescription:'description' | paginate: {  itemsPerPage: 9, currentPage: p }">
              <td>{{employeeType.description}}</td>
              <td align="center">
                <button type="button" class="btn btn-primary" (click)="openModal('update', employeeType)"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger" (click)="openModal('delete', employeeType)"><i class="fa fa-trash-o"></i></button>
              </td>
            </tr>
            <tr align="center" *ngIf="areEmployeeTypesEmpty">
              <td colspan="3">No se encontraron tipos de empleados</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-primary card-inverse">
        <pagination-controls 
          (pageChange)="p=$event" 
          #api 
          previousLabel="Anterior"
          nextLabel="Siguiente"
          nextLabel="Next">
        </pagination-controls>
      </div>
  </div>
</section>