<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="center-content" *ngIf="alertMessage !== '' && !areEmployeeTypesEmpty">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Lista de Tipos de Empleado
      <div class="pull-right">
        <button class="btn btn-primary" (click)="openModal('add', null)" >Agregar Tipo de Empleado</button>
        <button class="btn btn-primary" (click)="refresh()"[disabled]="loading"><i [ngClass]="{'fa fa-spinner fa-spin':loading}"></i><span *ngIf="loading">Cargando</span><span *ngIf="!loading">Actualizar</span></button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"></i>
        </span>
      </div>
    </div>
      <div class="card-block table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><i class="fa fa-bars"></i></th>
              <th (click)="orderBy('description')">Descripción </th>
            </tr>
            <tr *ngIf="areFiltersVisible">
                <th><input type="text" class="form-control" [(ngModel)]= "filterDescription" placeholder="Nombre..." ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employeeType of employeeTypes | filter: filterDescription:'description' 
                                                          | orderBy: orderTerm: propertyTerm
                                                          | paginate: { itemsPerPage: itemsPerPage, 
                                                                        currentPage: p, 
                                                                        totalItems: totalItems
                                                                      }">
              <td align="left" width="90">
                <button type="button" class="btn btn-primary btn-sm" (click)="openModal('update', employeeType)"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger btn-sm" (click)="openModal('delete', employeeType)"><i class="fa fa-trash-o"></i></button>
              </td>
              <td>{{employeeType.description}}</td>
            </tr>
            <tr align="center" *ngIf="areEmployeeTypesEmpty">
              <td colspan="3">No se encontraron tipos de empleados</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-primary">
        <div class="row">
          <div class="col-md-10">
            <pagination-controls 
                      class="my-pagination"
                      (pageChange)="p=$event" 
                      #api 
                      previousLabel="Ant." 
                      nextLabel="Sig."
                      autoHide="true">
            </pagination-controls>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="itemsPerPage">
              <option [value]="5">Mostrar 5 ítems</option>
              <option [value]="10">Mostrar 10 ítems</option>
              <option [value]="15">Mostrar 15 ítems</option>
              <option [value]="20">Mostrar 20 ítems</option>
              <option [value]="50">Mostrar 50 ítems</option>
              <option [value]="100">Mostrar 100 ítems</option>
            </select>
          </div>
        </div>
      </div>
  </div>
</section>