app-check-ledger {
  .check-filter {
    min-width: 320px;
    flex: 0 0 auto;

    app-searchable-dropdown,
    .searchable-dropdown-container {
      display: block;
      min-width: 320px;
    }
  }

  .card {
    border-radius: 0.75rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-height: auto;
  }
  .card .p-2 {
    min-width: 200px; /* Evitar que los detalles se compriman demasiado */
  }
}
