<div class="modal-header">
  <h4 class="modal-title">Agregar Impuesto</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="taxForm" (ngSubmit)="addTax()" autocomplete="off">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-4">
          <label for="code" class="control-label">Código:</label>
          <input type="text" class="form-control" formControlName="code" name="code" id="code" [focus]="focusEvent" [readonly]="readonly"/>
          <div *ngIf="formErrors.code" class="alert alert-danger">
            {{ formErrors.code }}
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="name" class="control-label">Nombre:</label>
          <input type="text" class="form-control" formControlName="name" name="name" id="name" [readonly]="readonly"/>
          <div *ngIf="formErrors.name" class="alert alert-danger">
            {{ formErrors.name }}
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="classification" class="control-label">Clasificación:</label>
          <select class="form-control" formControlName="classification">
            <option *ngFor="let classification of taxClassifications"
                    [selected]="tax.classification && classification===tax.classification"
                    [value]="classification"
                    [disabled]="readonly">
                    {{classification}}</option>
          </select>
          <div *ngIf="formErrors.classification" class="alert alert-danger">
            {{ formErrors.classification }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="type" class="control-label">Tipo:</label>
          <select class="form-control" formControlName="type">
            <option *ngFor="let type of taxTypes"
                    [selected]="tax.type && type===tax.type"
                    [value]="type"
                    [disabled]="readonly">
                    {{type}}
            </option>
          </select>
          <div *ngIf="formErrors.type" class="alert alert-danger">
            {{ formErrors.type }}
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="taxBase" class="control-label">Calculado sobre:</label>
          <select class="form-control" formControlName="taxBase">
            <option *ngFor="let taxBase of taxBases"
                    [selected]="tax.taxBase && taxBase===tax.taxBase"
                    [value]="taxBase"
                    [disabled]="readonly">
                    {{taxBase}}
            </option>
          </select>
          <div *ngIf="formErrors.taxBase" class="alert alert-danger">
            {{ formErrors.taxBase }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="percentage" class="control-label">Porcentaje:</label>
          <input type="number" class="form-control" formControlName="percentage" name="percentage" id="percentage" [readonly]="readonly"/>
          <div *ngIf="formErrors.percentage" class="alert alert-danger">
            {{ formErrors.percentage }}
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="amount" class="control-label">Monto:</label>
          <input type="number" class="form-control" formControlName="amount" name="amount" id="amount" [readonly]="readonly"/>
          <div *ngIf="formErrors.amount" class="alert alert-danger">
            {{ formErrors.amount }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="lastNumber" class="control-label">Último Número:</label>
          <input type="text" class="form-control" formControlName="lastNumber" name="lastNumber" id="lastNumber" [readonly]="readonly"/>
          <div *ngIf="formErrors.lastNumber" class="alert alert-danger">
            {{ formErrors.lastNumber }}
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="form-group col-md-4">
            <ng-template #rtAccounts let-r="result" let-t="term">
                <ngb-highlight [result]="r.description" [term]="t"></ngb-highlight>
            </ng-template>
            <label for="debitAccount">Cuenta Debito:</label>
            <input id="debitAccount" type="text" class="form-control" formControlName="debitAccount"
                name="account" [ngbTypeahead]="searchAccounts" [resultTemplate]="rtAccounts"
                [inputFormatter]="formatterAccounts" [readonly]="readonly" />
        </div>
        <div class="form-group col-md-4">
            <ng-template #rtAccounts let-r="result" let-t="term">
                <ngb-highlight [result]="r.description" [term]="t"></ngb-highlight>
            </ng-template>
            <label for="creditAccount">Cuenta Credito:</label>
            <input id="creditAccount" type="text" class="form-control" formControlName="creditAccount"
                name="creditAccount" [ngbTypeahead]="searchAccounts" [resultTemplate]="rtAccounts"
                [inputFormatter]="formatterAccounts" [readonly]="readonly" />
        </div>
        <div class="form-group col-md-4">
            <ng-template #rtPrinters let-r="result" let-t="term">
                <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
            </ng-template>
            <label for="printer">Impresora:</label>
            <input id="printer" type="text" class="form-control" formControlName="printer"
                name="printer" [ngbTypeahead]="searchPrinters" [resultTemplate]="rtPrinters"
                [inputFormatter]="formatterPrinters" [readonly]="readonly" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="activeModal.dismiss('cancel')">Cancelar</button>
        <button type="submit" class="btn btn-primary" [disabled]="!taxForm?.valid || loading"
            *ngIf="operation !== 'delete'">
            <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
            <span *ngIf="!loading">Guardar</span>
            <span *ngIf="loading">Espere por favor</span>
        </button>
        <button type="button" class="btn btn-danger" *ngIf="operation === 'delete'"
            [disabled]="!taxForm?.valid || loading" (click)="deleteTax()">
            <i class="fa" [ngClass]="{'fa-trash':!loading, 'fa-spinner fa-spin':loading}"></i>
            <span *ngIf="!loading">Eliminar</span>
            <span *ngIf="loading">Espere por favor</span>
        </button>
    </div>
  </form>
</section>