<section class="container-fluid" *ngIf="userType=='admin' ">
  <div class="center-content" *ngIf="alertMessage !== '' && totalItems > 0">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card ">
    <div class="card-header">
      <span>Listado de Estructuras</span>
      <div class="pull-right">
          <button class="btn" (click)="openModal('add', null)" ><i class="fa fa-plus">
            <span>Agregar</span>
          </i></button>
        <button class="btn fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span>Actualizar</span></button>
        
      </div>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <i class="fa fa-bars"></i>
            </th>
            <th (click)="orderBy('parent.code')">Codigo Padre</th>
            <th (click)="orderBy('parent.description')">Producto Padre</th>
            <th (click)="orderBy('child.code')">Codigo Hijo</th>
            <th (click)="orderBy('child.description')">Producto Hijo</th>
            <th (click)="orderBy('utilization')">Descuenta stock al realizar</th>
            <th (click)="orderBy('quantity')">Cantidad</th>
            <th (click)="orderBy('optional')">Opcional</th>
            <th (click)="orderBy('increasePrice')">Precio unitario de aumento</th>

          </tr>
          <tr class="filters">
            <th>
                <th><input type="text" class="form-control" [(ngModel)]="filters['parent.code']" (input)="getStructures()" placeholder="Codigo Padre..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['parent.description']" (input)="getStructures()" placeholder="Producto Padre..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['child.code']" (input)="getStructures()" placeholder="Codigo Hijo..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['child.description']" (input)="getStructures()" placeholder="Producto Hijo..."></th>

            <th><input type="text" class="form-control" [(ngModel)]="filters['utilization']" (input)="getStructures()" placeholder="Descuenta stock al realizar..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['quantity']" (input)="getStructures()" placeholder="Cantidad..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['optional']" (input)="getStructures()" placeholder="Opcional..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['increasePrice']" (input)="getStructures()" placeholder="Precio unitario de aumento..."></th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="99" style="padding: 0px">
              <app-progressbar [loading]="loading"></app-progressbar>
            </td>
          </tr>
          <tr *ngFor="let structure of structures | paginate: { itemsPerPage: itemsPerPage,
                                                                      currentPage: currentPage,
                                                                      totalItems: totalItems
                                                                    }">
            <td align="left" width="150">
              <button type="button"
                      class="btn btn-success  btn-sm" 
                      (click)="openModal('view', structure)" 
                      title="Ver"><i class="fa fa-eye"></i></button>
              <button type="button"
                      class="btn btn-primary btn-sm"
                      (click)="openModal('edit', structure)"
                      title="Editar"><i class="fa fa-pencil"></i>
              </button>
              <button type="button"
                      class="btn btn-danger btn-sm"
                      (click)="openModal('delete', structure)"
                      title="Eliminar"><i class="fa fa-trash-o"></i>
              </button>
            </td>
            <td>{{structure.parent.code}}</td>
            <td>{{structure.parent.description}}</td>
            <td>{{structure.child.code}}</td>
            <td>{{structure.child.description}}</td>
            <td>{{structure.utilization}}</td>
            <td align="right">{{structure.quantity}}</td>
            <td>{{structure.optional}}</td>
            <td align="right">{{structure.increasePrice | currency:'USD':'symbol-narrow':'1.2-2'}}</td>

          </tr>
          <tr align="center" *ngIf="totalItems === 0 && !loading">
            <td colspan="16">No se encontraron estructuras</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-10">
          <pagination-controls
            class="my-pagination"
            (pageChange)="pageChange($event)"
            #api
            previousLabel="Ant."
            nextLabel="Sig."
            autoHide="true">
          </pagination-controls>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" [(ngModel)]="itemsPerPage" (change)="getStructures()">
            <option [value]="5">Mostrar 5 Registros</option>
            <option [value]="10">Mostrar 10 Registros</option>
            <option [value]="15">Mostrar 15 Registros</option>
            <option [value]="20">Mostrar 20 Registros</option>
            <option [value]="50">Mostrar 50 Registros</option>
            <option [value]="100">Mostrar 100 Registros</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>