<div class="modal-header">
  <h4 class="modal-title" *ngIf="operation==='add'">Agregar Tipo de Relación</h4>
  <h4 class="modal-title" *ngIf="operation==='update' && relationType">Editar Tipo de Relación {{relationType.code}}</h4>
  <h4 class="modal-title" *ngIf="operation==='view' && relationType">Tipo de Relación {{relationType.code}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="center-content"  *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="relationTypeForm" (ngSubmit)="addRelationType()" autocomplete="off">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-12">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="code" class="control-label">Código:</label>
              <input type="text" class="form-control" formControlName="code" name="code" id="code" [readonly]="readonly" [focus]="focusEvent"/>
              <div *ngIf="formErrors.code" class="alert alert-danger">
                {{ formErrors.code }}
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="description" class="control-label">Description:</label>
              <input type="text" class="form-control" formControlName="description" name="description" id="description" [readonly]="readonly"/>
              <div *ngIf="formErrors.description" class="alert alert-danger">
                {{ formErrors.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" *ngIf="operation !== 'view'">
        <button type="button" class="btn btn-light" (click)="activeModal.dismiss('cancel')">Cancelar</button>
        <button type="submit" class="btn btn-primary" [disabled]="!relationTypeForm.valid || loading" *ngIf="operation !== 'delete'">
          <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
          <span *ngIf="!loading">Guardar</span>
          <span *ngIf="loading">Espere por favor</span>
        </button>
        <button type="button" 
                class="btn btn-danger" 
                *ngIf="operation === 'delete'" 
                [disabled]="!relationTypeForm.valid || loading" 
                (click)="deleteRelationType()">
          <i class="fa" [ngClass]="{'fa-trash':!loading, 'fa-spinner fa-spin':loading}"></i>
          <span *ngIf="!loading">Eliminar</span>
          <span *ngIf="loading">Espere por favor</span>
        </button>
      </div>
  </form>
</section>
