<div class="modal-header">
  <h4 class="modal-title">
    Banco <span *ngIf="bank">{{bank.name}}</span>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="bankForm" (ngSubmit)="addBank()" autocomplete="off">
    <div class="modal-body">
      <ul ngbNav #nav="ngbNav" class="nav-tabs" [orientation]="orientation">
        <li ngbNavItem>
          <a ngbNavLink>Datos principales</a>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="form-group col-md-12">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="code" class="control-label">Código</label>
                    <div class="input-group">
                      <input type="number" class="form-control" formControlName="code" name="code" id="code"
                        [readonly]="readonly" [focus]="focusEvent" />
                    </div>
                    <div *ngIf="formErrors.code" class="alert alert-danger">
                      {{ formErrors.code }}
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="agency" class="control-label">Sucursal</label>
                    <div class="input-group">
                      <input type="number" class="form-control" formControlName="agency" name="agency" id="agency"
                        [readonly]="readonly" />
                    </div>
                    <div *ngIf="formErrors.agency" class="alert alert-danger">
                      {{ formErrors.agency }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name" class="control-label">Nombre</label>
                    <div class="input-group">
                      <input type="text" class="form-control" formControlName="name" name="name" id="name"
                        [readonly]="readonly" />
                    </div>
                    <div *ngIf="formErrors.name" class="alert alert-danger">
                      {{ formErrors.name }}
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <ng-template #rtAccounts let-r="result" let-t="term">
                      <ngb-highlight [result]="r.description" [term]="t"></ngb-highlight>
                    </ng-template>
                    <label for="account">Cuenta Contable:</label>
                    <input id="account" type="text" class="form-control" formControlName="account" name="account"
                      [ngbTypeahead]="searchAccounts" [resultTemplate]="rtAccounts" [inputFormatter]="formatterAccounts"
                      [readonly]="readonly" />
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink *ngIf="this.operation !== 'add'">Auditoría</a>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="form-group col-md-12">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="control-label">Creado por:</label>
                    <label *ngIf="bank.creationUser" class="control-label"><b>{{bank.creationUser.name}}</b></label>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="control-label">El día:</label>
                    <label *ngIf="bank.creationDate" class="control-label"> <b>{{bank.creationDate |
                        dateFormat:'DD/MM/YYYY HH:mm:ss'}}</b></label>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="control-label">Última modificación por:</label>
                    <label *ngIf="bank.updateUser" class="control-label"><b>{{bank.updateUser.name}}</b></label>
                    <label *ngIf="!bank.updateUser" class="control-label"><b>-</b></label>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="control-label">El día:</label>
                    <label *ngIf="bank.updateDate" class="control-label"><b>{{bank.updateDate | dateFormat:'DD/MM/YYYY
                        HH:mm:ss'}}</b></label>
                    <label *ngIf="!bank.updateDate" class="control-label"><b>-</b></label>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
    <div class="modal-footer" *ngIf="operation !== 'view'">
      <button type="button" class="btn btn-light" (click)="activeModal.dismiss('cancel')">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!bankForm?.valid || loading"
        *ngIf="operation !== 'delete'">
        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Guardar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
      <button type="button" class="btn btn-danger" *ngIf="operation === 'delete'"
        [disabled]="!bankForm?.valid || loading" (click)="deleteBank()">
        <i class="fa" [ngClass]="{'fa-trash':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Eliminar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
</section>