<section class="container-fluid">
  <div class="card">
    <div class="card-header">
      <span style="color: #607d8b" *ngIf="operation === 'add' || operation === 'copy'">
        {{ 'add-make' | translate | capitalize }}
      </span>
      <span style="color: #607d8b" *ngIf="operation === 'update'">
        {{ 'edit' | translate | capitalize }} {{ make?.description ?? '' }}
      </span>
      <span style="color: #607d8b" *ngIf="operation === 'view' || operation === 'delete'">
        {{ make?.description ?? '' }}
      </span>
      <div class="pull-right">
        <button type="button" class="btn" (click)="returnTo()">
          <i class="fa fa-arrow-left"></i><span>{{ 'return' | translate | capitalize }}</span>
        </button>
        <button
          type="button"
          class="btn"
          [disabled]="loading"
          *ngIf="operation !== 'delete' && operation !== 'view'"
          (click)="handleMakeOperation()"
        >
          <i class="fa" [ngClass]="{ 'fa-save': !loading, 'fa-spinner fa-spin': loading }"></i>
          <span *ngIf="!loading"> {{ 'save' | translate | capitalize }}</span>
          <span *ngIf="loading"> {{ 'loading' | translate | capitalize }}</span>
        </button>
        <button
          type="button"
          class="btn btn-danger active"
          *ngIf="operation === 'delete'"
          [disabled]="loading"
          (click)="handleMakeOperation()"
        >
          <i class="fa" [ngClass]="{ 'fa-trash': !loading, 'fa-spinner fa-spin': loading }"></i>
          <span *ngIf="!loading">{{ 'delete' | translate | capitalize }}</span>
          <span *ngIf="loading">{{ 'loading' | translate | capitalize }}</span>
        </button>
      </div>
    </div>
    <div class="card-body scroll">
      <form [formGroup]="makeForm" (ngSubmit)="handleMakeOperation()" autocomplete="off">
        <!-- Datos principales -->
        <div class="row">
          <label class="form-group col-md-12">
            <b>{{ 'mainData' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-3">
            <label for="description" class="control-label">{{ 'description' | translate | capitalize }}:</label>
            <input
              type="text"
              class="form-control"
              formControlName="description"
              id="description"
              [focus]="focusEvent"
              [ngClass]="{
                'is-invalid': makeForm.get('description')?.touched && makeForm.get('description')?.invalid,
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="makeForm.get('description')?.touched && makeForm.get('description')?.hasError('required')"
            >
              {{ 'fieldRequired' | translate | capitalize }}
            </div>
          </div>
          <div class="form-group col-md-3">
            <label for="picture" class="control-label">{{ 'picture' | translate | capitalize }}:</label>
            <app-upload-file
              (uploadedUrls)="onImagesUploaded($event)"
              [folder]="'makes'"
              [existingImageUrl]="makeForm.get('picture')?.value"
            >
            </app-upload-file>
          </div>
        </div>
        <hr />
        <div class="row">
          <label class="form-group col-md-12">
            <b>{{ 'config' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-2">
            <label for="visibleSale" class="control-label">{{ 'make.visibleSale' | translate | capitalize }}</label>
            <select class="form-control" formControlName="visibleSale">
              <option [ngValue]="true">
                {{ 'true' | translate | capitalize }}
              </option>
              <option [ngValue]="false">
                {{ 'false' | translate | capitalize }}
              </option>
            </select>
          </div>
        </div>
        <hr />
        <div class="row">
          <label class="form-group col-md-12">
            <b>{{ 'audit' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'creationUser.name' | translate | capitalize }}:
                  <b>{{ make?.creationUser?.name || '' }}</b>
                </label>
              </div>
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'theDay' | translate | capitalize }}:
                  <b>{{ make?.creationDate ?? null | dateFormat: 'DD/MM/YYYY HH:mm:ss' }}</b>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'updateUser.name' | translate | capitalize }}:
                  <b>{{ make?.updateUser?.name || '' }}</b>
                </label>
              </div>
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'theDay' | translate | capitalize }}:
                  <b>{{ make?.updateDate ?? null | dateFormat: 'DD/MM/YYYY HH:mm:ss' }}</b>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  ID:<b>{{ make?._id || '' }}</b>
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
