<!--ESTADISTICAS GENERALES-->
<div class="card " *ngIf="listType === 'statistics'">
  <div class="card-header" *ngIf="transactionMovement === 'Venta'">Rubros más vendidos</div>
  <div class="card-header" *ngIf="transactionMovement === 'Compra'">Rubros más comprados</div>
  <div class="card-block table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Rubro </th>
          <th>Ítems </th>
          <th>Monto total </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="99" style="padding: 0px">
            <app-progressbar [loading]="loading"></app-progressbar>
          </td>
        </tr>
        <tr *ngFor="let item of items">
          <td class="flat">{{ item.category.description }}</td>
          <td class="flat" *ngIf="transactionMovement === 'Venta'">{{ item.count }}</td>
          <td class="flat" *ngIf="transactionMovement === 'Compra'">{{ item.count * -1 }}</td>
          <td class="flat" *ngIf="transactionMovement === 'Venta'">{{ item.total | currency:'USD':'symbol-narrow':'1.2-2' }}</td>
          <td class="flat" *ngIf="transactionMovement === 'Compra'">{{ item.total * -1 | currency:'USD':'symbol-narrow':'1.2-2' }}</td>
        </tr>
        <tr *ngIf="items.length > 0 && transactionMovement === 'Venta'" align="center">
          <td colspan="3"><a [routerLink]="['','admin','venta','rubros-mas-vendidos']">Ver más...</a></td>
        </tr>
        <tr *ngIf="items.length > 0 && transactionMovement === 'Compra'" align="center">
          <td colspan="3"><a [routerLink]="['','admin','compra','rubros-mas-comprados']">Ver más...</a></td>
        </tr>
        <tr align="center" *ngIf="areCategoriesEmpty && !loading && transactionMovement === 'Venta'">
          <td colspan="3">No se encontraron ventas por rubros</td>
        </tr>
        <tr align="center" *ngIf="areCategoriesEmpty && !loading && transactionMovement === 'Compra'">
          <td colspan="3">No se encontraron compras por rubros</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--REPORTE-->
<section class="container-fluid" *ngIf="listType !== 'statistics'">
  <div class="center-content" *ngIf="alertMessage !== '' && !areTurnsEmptys">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="row container-filter">
    <div class="col-md-2">
      <label for="branch" class="control-label">
        <b>Sucursal</b>
      </label>
      <select class="form-control" [(ngModel)]="branchSelectedId">
        <option [ngValue]="null" [disabled]="!allowChangeBranch">
          Todas
        </option>
        <option 
          *ngFor="let branch of branches" 
          [ngValue]="branch._id" 
          [disabled]="!allowChangeBranch"
          >
          {{branch.number}} - {{branch.name}}
        </option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="startDate" class="control-label">
        <b>Fecha Desde:</b>
      </label>
      <input type="date" class="form-control" name="startDate" min="2000-01-01" [(ngModel)]="startDate" />
    </div>
    <div class="col-md-2">
      <label for="startTime" class="control-label">
        <b>Hora Desde:</b>
      </label>
      <input type="time" class="form-control" name="startTime" [(ngModel)]="startTime" />
    </div>
    <div class="col-md-2">
      <label for="endDate" class="control-label">
        <b>Fecha Hasta:</b>
      </label>
      <input type="date" class="form-control" name="endDate" min="2000-01-01" [(ngModel)]="endDate" />
    </div>
    <div class="col-md-2">
      <label for="endTime" class="control-label">
        <b>Hora Hasta:</b>
      </label>
      <input type="time" class="form-control" name="endTime" [(ngModel)]="endTime" />
    </div>
    <div class="col-md-2" (click)="refresh()">
        <label for="action" class="control-label">
            <b>Acción:</b>
          </label>
      <span class="form-control btn-action center-content">
        <i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i>Actualizar
      </span>
    </div>
  </div>
  <div class="card  card-large">
    <div class="card-header" *ngIf="transactionMovement === 'Venta'">Rubros más vendidos</div>
    <div class="card-header" *ngIf="transactionMovement === 'Compra'">Rubros más comprados</div>
    <div class="card-block table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th (click)="orderBy('category.description')">Rubro</th>
            <th class="align-right" (click)="orderBy('count')">Ítems</th>
            <th class="align-right" (click)="orderBy('total')">Monto Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="99" style="padding: 0px">
              <app-progressbar [loading]="loading"></app-progressbar>
            </td>
          </tr>
          <tr *ngFor="let item of items">
            <td class="flat">{{ item.category.description }}</td>
            <td class="align-right" *ngIf="transactionMovement === 'Venta'">{{ item.count }}</td>
            <td class="align-right" *ngIf="transactionMovement === 'Compra'">{{ item.count * -1 }}</td>
            <td class="align-right" *ngIf="transactionMovement === 'Venta'">{{ item.total | currency:'USD':'symbol-narrow':'1.2-2' }}</td>
            <td class="align-right" *ngIf="transactionMovement === 'Compra'">{{ item.total * -1 | currency:'USD':'symbol-narrow':'1.2-2' }}</td>
          </tr>
          <tr align="center" *ngIf="areCategoriesEmpty && !loading && transactionMovement === 'Venta'">
            <td colspan="3">No se encontraron ventas por rubros</td>
          </tr>
          <tr align="center" *ngIf="areCategoriesEmpty && !loading && transactionMovement === 'Compra'">
            <td colspan="3">No se encontraron compras por rubros</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th><strong>Total</strong></th>
            <th class="align-right"><strong>{{totalItem}}</strong></th>
            <th class="align-right"><strong>{{totalAmount | currency:'USD':'symbol-narrow':'1.2-2' }}</strong></th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="card-footer">
    </div>
  </div>
</section>
