app-login {
	form .row {
		margin: 0px;
	}

	.center-content .row {
		width: 100%;
	}

	.box-login {
		margin-top: 100px;
		width: 500px;
		height: 500px;
		background-color: white;
		box-shadow: 2px 2px 10px #666;
		border-radius: 5px 5px;
		-moz-border-radius: 5px 5px;
		position: absolute;
	}
	
	.box-login-max {
		height: 600px;
	}
	
	.fondo-login {
		height: 100vh;
		background-color: #EBEDF0;
	}
	
	.logo {
		margin: 0 auto;
		margin-top: 10px;
	}

	/* RESPONSIVE */
	@media (max-width: 767px) {
		.box-login {
			margin-top: 50px;
			width: 80%;
			height: 80%;
			.row {
				margin: 0px;
			}
		} 
	}
}
