.center-content {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      justify-content: center;
}

.row {
      display: block;
}

.col-md-12 {
      width: 374px;
}