<div class="modal-header">
  <h4 class="modal-title">Agregar Rubro</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="center-content"  *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="categoryForm" #formAddCategory="ngForm" (ngSubmit)="addCategory()" autocomplete="off">
    <div class="modal-body">
      <ngb-tabset>
        <ngb-tab title="Datos principales">
          <ng-template ngbTabContent>
            <div class="row tab-content">
              <div class="form-group col-md-12">
                <div class="row">
                  <div class="form-group col-md-2">
                    <label for="order" class="control-label">Orden:</label>
                    <input type="text" class="form-control" formControlName="order" name="order" id="order" [focus]="focusEvent" [readonly]="readonly" />
                    <div *ngIf="formErrors.order" class="alert alert-danger">
                      {{ formErrors.order }}
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="description" class="control-label">Descripción:</label>
                    <input type="text" class="form-control" formControlName="description" name="description" id="description" [focus]="focusEvent" [readonly]="readonly"/>
                    <div *ngIf="formErrors.description" class="alert alert-danger">
                      {{ formErrors.description }}
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <div class="row">
                      <div class="col-md-12">
                        <label class="custom-file-label btn btn-action" for="customFileLang">Seleccionar Imagen</label>
                        <input type="file" class="custom-file-input" lang="es" accept="image/*" id="customFileLang" (change)="fileChangeEvent($event)"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <img [src]="imageURL" height="120" width="120">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Configuracion">
            <ng-template ngbTabContent>
              <div class="row tab-content">
                <div class="form-group col-md-12">
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="visibleInvoice" class="control-label">La marca es visible en la venta?</label>
                      <select class="form-control" formControlName="visibleInvoice">
                        <option value="true" >Si</option>
                        <option value="false" selected>No</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="ecommerceEnabled" class="control-label">¿Habilitado para Ecommerce?</label>
                      <select class="form-control" formControlName="ecommerceEnabled">
                        <option value="true">Si</option>
                        <option value="false" selected>No</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.close('cancel')">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!categoryForm.valid || loading" >
        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Guardar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
</section>
