<app-datatable
  *ngIf="showDatatable"
  [title]="title"
  [columns]="columns"
  [exportPermision]="exportPermision"
  [rowButtons]="rowButtons"
  [headerButtons]="headerButtons"
  [loading]="loading"
  [sort]="sort"
  [_service]="_service"
  (eventFunction)="emitEvent($event)"
  (beforeGetItems)="syncAdvancedFilters()"
>
  <div datatableFilters>
    <div class="datatable-filter-field">
      <label for="dataSelect" class="control-label">
        <b>Por Fecha de:</b>
      </label>
      <select class="form-control" [(ngModel)]="dateSelect">
        <option value="transactionOrigin.creationDate2">Creación Origen</option>
        <option value="transactionOrigin.updateDate2">Modificación Origen</option>
        <option value="transactionOrigin.endDate2">Finalización Origen</option>
        <option value="transactionDestination.creationDate2">Creación Destino</option>
        <option value="transactionDestination.updateDate2">Modificación Destino</option>
        <option value="transactionDestination.endDate2">Finalización Destino</option>
      </select>
    </div>
    <div class="datatable-filter-field">
      <label for="startDate" class="control-label">
        <b>Fecha Desde:</b>
      </label>
      <app-date-time-picker
        [(ngModel)]="startDate"
        name="startDate"
        [inputDatetimeFormat]="'dd/MM/yyyy'"
        [seconds]="false"
        [deferEmitUntilClose]="true"
      ></app-date-time-picker>
    </div>
    <div class="datatable-filter-field">
      <label for="endDate" class="control-label">
        <b>Fecha Hasta:</b>
      </label>
      <app-date-time-picker
        [(ngModel)]="endDate"
        name="endDate"
        [inputDatetimeFormat]="'dd/MM/yyyy'"
        [seconds]="false"
        [deferEmitUntilClose]="true"
      ></app-date-time-picker>
    </div>
  </div>
</app-datatable>
