<section class="container-fluid">
  <div class="card">
    <div class="card-header">
      <span style="color: #607d8b" *ngIf="operation === 'add' || operation === 'copy'">{{
        'add-transaction-type' | translate | capitalize
      }}</span>
      <span style="color: #607d8b" *ngIf="operation === 'update'"
        >{{ 'edit' | translate | capitalize }} {{ transactionType?.name }}</span
      >
      <span style="color: #607d8b" *ngIf="operation === 'view' || operation === 'delete'">{{
        transactionType?.name
      }}</span>
      <div class="pull-right">
        <button type="button" class="btn" (click)="returnTo()">
          <i class="fa fa-arrow-left"></i><span>{{ 'return' | translate | capitalize }}</span>
        </button>
        <button
          type="button"
          class="btn"
          [disabled]="loading"
          *ngIf="operation !== 'delete' && operation !== 'view'"
          (click)="handleTransactionTypes()"
        >
          <i class="fa" [ngClass]="{ 'fa-save': !loading, 'fa-spinner fa-spin': loading }"></i>
          <span *ngIf="!loading"> {{ 'save' | translate | capitalize }}</span>
          <span *ngIf="loading"> {{ 'loading' | translate | capitalize }}</span>
        </button>
        <button
          type="button"
          class="btn btn-danger active"
          *ngIf="operation === 'delete'"
          [disabled]="loading"
          (click)="handleTransactionTypes()"
        >
          <i class="fa" [ngClass]="{ 'fa-trash': !loading, 'fa-spinner fa-spin': loading }"></i>
          <span *ngIf="!loading">{{ 'delete' | translate | capitalize }}</span>
          <span *ngIf="loading">{{ 'loading' | translate | capitalize }}</span>
        </button>
      </div>
    </div>
    <app-progressbar [loading]="loading"></app-progressbar>
    <div class="card-body scroll">
      <form [formGroup]="transactionTypeForm" autocomplete="off" (keydown.enter)="onEnter()" *ngIf="!loading">
        <div class="row">
          <label class="form-group col-md-12">
            <b>{{ 'mainData' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-1">
            <label for="order" class="control-label">{{ 'order' | translate | capitalize }}:</label>
            <input type="text" class="form-control" formControlName="order" autocomplete="off" [focus]="focusEvent" />
          </div>
          <div class="form-group col-md-3">
            <label for="branch" class="control-label">{{ 'branch' | translate | capitalize }}</label>
            <div class="d-flex align-items-start">
              <div class="flex-grow-1">
                <app-typeahead-dropdown
                  [control]="transactionTypeForm.get('branch')"
                  [data]="branches"
                  [keyField]="'_id'"
                  [displayField]="'name'"
                ></app-typeahead-dropdown>
              </div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="user-name-new" class="control-label">{{ 'name' | translate | capitalize }}:</label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              name="user-name-new"
              id="user-name-new"
              autocomplete="off"
              [focus]="focusEvent"
              [ngClass]="{
                'is-invalid': transactionTypeForm.get('name')?.touched && transactionTypeForm.get('name')?.invalid,
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="transactionTypeForm.get('name')?.touched && transactionTypeForm.get('name')?.hasError('required')"
            >
              {{ 'fieldRequired' | translate | capitalize }}
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="abbreviation" class="control-label">{{ 'abbreviation' | translate | capitalize }}:</label>
            <input
              type="text"
              class="form-control"
              formControlName="abbreviation"
              autocomplete="off"
              [focus]="focusEvent"
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-3">
            <label for="transactionMovement" class="control-label">{{ 'movement' | translate | capitalize }}:</label>
            <select
              class="form-control"
              formControlName="transactionMovement"
              [ngClass]="{
                'is-invalid':
                  transactionTypeForm.get('transactionMovement')?.touched &&
                  transactionTypeForm.get('transactionMovement')?.invalid,
              }"
            >
              <option [ngValue]="'Venta'">{{ 'sale' | translate | capitalize }}</option>
              <option [ngValue]="'Stock'">{{ 'stock' | translate | capitalize }}</option>
              <option [ngValue]="'Fondos'">{{ 'funds' | translate | capitalize }}</option>
              <option [ngValue]="'Producción'">{{ 'production' | translate | capitalize }}</option>
            </select>
            <div
              class="invalid-feedback"
              *ngIf="
                transactionTypeForm.get('transactionMovement')?.touched &&
                transactionTypeForm.get('transactionMovement')?.hasError('required')
              "
            >
              {{ 'fieldRequired' | translate | capitalize }}
            </div>
          </div>
          <div class="form-group col-md-3">
            <label for="currentAccount" class="control-label">{{ 'currentAccount' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="currentAccount">
              <option *ngFor="let currentAccount of currentAccounts" [ngValue]="currentAccount">
                {{ currentAccount | translate | capitalize }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="movement" class="control-label">{{ 'movement' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="movement">
              <option *ngFor="let movement of movements" [ngValue]="movement">
                {{ movement | translate | capitalize }}
              </option>
            </select>
          </div>
        </div>
        <hr />
        <div class="row">
          <label class="form-group col-md-12">
            <b>{{ 'permissions' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-2">
            <label for="level" class="control-label">{{ 'level' | translate | capitalize }}:</label>
            <input type="number" class="form-control" formControlName="level" autocomplete="off" [focus]="focusEvent" />
          </div>
          <div class="form-group col-md-2">
            <label for="allowEdit" class="control-label">{{ 'allowEdit' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="allowEdit">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <label for="allowDelete" class="control-label">{{ 'allowDelete' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="allowDelete">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="allowAPP" class="control-label">{{ 'allowAPP' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="allowAPP">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="allowTransactionClose" class="control-label"
              >{{ 'allowTransactionClose' | translate | capitalize }}:</label
            >
            <select class="form-control" formControlName="allowTransactionClose">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
        </div>
        <hr />
        <div class="row">
          <label *ngIf="this.operation !== 'add'" class="form-group col-md-12">
            <b>{{ 'numeration' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-2">
            <label for="electronics" class="control-label">{{ 'electronics' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="electronics">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="tax" class="control-label">{{ 'tax' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="tax">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="requestTaxes" class="control-label">{{ 'requestTaxes' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="requestTaxes">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="automaticNumbering" class="control-label"
              >{{ 'automaticNumbering' | translate | capitalize }}:</label
            >
            <select class="form-control" formControlName="automaticNumbering">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="fiscalCode" class="control-label">{{ 'fiscalCode' | translate | capitalize }}:</label>
            <input
              type="text"
              class="form-control"
              formControlName="fiscalCode"
              autocomplete="off"
              [focus]="focusEvent"
            />
          </div>
          <div class="form-group col-md-2">
            <label for="defectUseOfCFDI" class="control-label">{{ 'defectUseOfCFDI' | translate | capitalize }}:</label>
            <input
              type="text"
              class="form-control"
              formControlName="defectUseOfCFDI"
              autocomplete="off"
              [focus]="focusEvent"
            />
          </div>
          <div class="form-group col-md-2">
            <div>
              <label for="codeA" class="control-label">{{ 'codeA' | translate | capitalize }}:</label>
              <input type="text" class="form-control" formControlName="codeA" autocomplete="off" [focus]="focusEvent" />
            </div>
            <div>
              <label for="codeB" class="control-label">{{ 'codeB' | translate | capitalize }}:</label>
              <input type="text" class="form-control" formControlName="codeB" autocomplete="off" [focus]="focusEvent" />
            </div>
            <div>
              <label for="codeC" class="control-label">{{ 'codeC' | translate | capitalize }}:</label>
              <input type="text" class="form-control" formControlName="codeC" autocomplete="off" [focus]="focusEvent" />
            </div>
            <div>
              <label for="codeD" class="control-label">{{ 'codeD' | translate | capitalize }}:</label>
              <input type="text" class="form-control" formControlName="codeD" autocomplete="off" [focus]="focusEvent" />
            </div>
            <div>
              <label for="codeE" class="control-label">{{ 'codeE' | translate | capitalize }}:</label>
              <input type="text" class="form-control" formControlName="codeE" autocomplete="off" [focus]="focusEvent" />
            </div>
            <div>
              <label for="codeM" class="control-label">{{ 'codeM' | translate | capitalize }}:</label>
              <input type="text" class="form-control" formControlName="codeM" autocomplete="off" [focus]="focusEvent" />
            </div>
            <div>
              <label for="codeR" class="control-label">{{ 'codeR' | translate | capitalize }}:</label>
              <input type="text" class="form-control" formControlName="codeR" autocomplete="off" [focus]="focusEvent" />
            </div>
            <div>
              <label for="codeT" class="control-label">{{ 'codeT' | translate | capitalize }}:</label>
              <input type="text" class="form-control" formControlName="codeT" autocomplete="off" [focus]="focusEvent" />
            </div>
            <div>
              <label for="codeZ" class="control-label">{{ 'codeZ' | translate | capitalize }}:</label>
              <input type="text" class="form-control" formControlName="codeZ" autocomplete="off" [focus]="focusEvent" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-2">
            <label for="fixedOrigin" class="control-label">{{ 'fixedOrigin' | translate | capitalize }}:</label>
            <input
              type="number"
              class="form-control"
              formControlName="fixedOrigin"
              autocomplete="off"
              [focus]="focusEvent"
            />
          </div>
          <div class="form-group col-md-2">
            <label for="fixedLetter" class="control-label">{{ 'fixedLetter' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="fixedLetter">
              <option [ngValue]="X">{{ 'X' | translate | capitalize }}</option>
              <option [ngValue]="A">{{ 'A' | translate | capitalize }}</option>
              <option [ngValue]="B">{{ 'B' | translate | capitalize }}</option>
              <option [ngValue]="C">{{ 'C' | translate | capitalize }}</option>
              <option [ngValue]="D">{{ 'D' | translate | capitalize }}</option>
              <option [ngValue]="E">{{ 'E' | translate | capitalize }}</option>
              <option [ngValue]="M">{{ 'M' | translate | capitalize }}</option>
              <option [ngValue]="R">{{ 'R' | translate | capitalize }}</option>
              <option [ngValue]="T">{{ 'T' | translate | capitalize }}</option>
              <option [ngValue]="Z">{{ 'Z' | translate | capitalize }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="expirationDate" class="control-label">{{ 'expirationDate' | translate | capitalize }}:</label>
            <input
              type="date"
              class="form-control"
              formControlName="expirationDate"
              autocomplete="off"
              [focus]="focusEvent"
            />
          </div>
          <div class="form-group col-md-2">
            <label for="automaticCreation" class="control-label"
              >{{ 'automaticCreation' | translate | capitalize }}:</label
            >
            <select class="form-control" formControlName="automaticCreation">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="resetOrderNumber" class="control-label"
              >{{ 'resetOrderNumber' | translate | capitalize }}:</label
            >
            <select class="form-control" formControlName="resetOrderNumber">
              <option [ngValue]="Caja">{{ 'Caja' | translate | capitalize }}</option>
              <option [ngValue]="Cantidad">{{ 'Cantidad' | translate | capitalize }}</option>
              <option [ngValue]="Tiempo">{{ 'Tiempo' | translate | capitalize }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="maxOrderNumber" class="control-label">{{ 'maxOrderNumber' | translate | capitalize }}:</label>
            <input
              type="number"
              class="form-control"
              formControlName="maxOrderNumber"
              autocomplete="off"
              [focus]="focusEvent"
            />
          </div>
          <div class="form-group col-md-2">
            <label for="orderNumber" class="control-label">{{ 'orderNumber' | translate | capitalize }}:</label>
            <input
              type="number"
              class="form-control"
              formControlName="orderNumber"
              autocomplete="off"
              [focus]="focusEvent"
            />
          </div>
          <div class="form-group col-md-2">
            <label for="branch" class="control-label">{{ 'cashBoxType' | translate | capitalize }}:</label>
            <div class="d-flex align-items-start">
              <div class="flex-grow-1">
                <app-typeahead-dropdown
                  [control]="transactionTypeForm.get('cashBoxType')"
                  [data]="cashBoxTypes"
                  [keyField]="'_id'"
                  [displayField]="'name'"
                ></app-typeahead-dropdown>
              </div>
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="optionalAFIP" class="control-label">{{ 'optionalAFIP' | translate | capitalize }}:</label>
            <div class="d-flex align-items-start">
              <div class="flex-grow-1">
                <!-- <app-typeahead-dropdown
                  [control]="transactionTypeForm.get('optionalAFIP')"
                  [data]="cashBoxTypes"
                  [keyField]="'_id'"
                  [displayField]="'name'"
                ></app-typeahead-dropdown> -->
              </div>
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="optionalAFIP" class="control-label">{{ 'optionalAFIP.value' | translate | capitalize }}:</label>
            <input
              type="text"
              class="form-control"
              formControlName="optionalAFIP"
              autocomplete="off"
              [focus]="focusEvent"
            />
          </div>
        </div>
        <hr />
        <div class="row">
          <label class="form-group col-md-12">
            <b>{{ 'Personalizado' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="requestCompany" class="control-label">{{ 'requestCompany' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="requestCompany">
              <option [ngValue]="null"></option>
              <option [ngValue]="Cliente">{{ 'client' | translate | capitalize }}</option>
              <option [ngValue]="Proveedor">{{ 'provider' | translate | capitalize }}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="company" class="control-label">{{ 'company' | translate | capitalize }}:</label>
            <div class="d-flex align-items-start">
              <div class="flex-grow-1">
                <app-typeahead-dropdown
                  [control]="transactionTypeForm.get('company')"
                  [data]="companies"
                  [keyField]="'_id'"
                  [displayField]="'name'"
                ></app-typeahead-dropdown>
              </div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="allowCompanyDiscount" class="control-label"
              >{{ 'allowCompanyDiscount' | translate | capitalize }}:</label
            >
            <select class="form-control" formControlName="allowCompanyDiscount">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="allowPriceList" class="control-label">{{ 'allowPriceList' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="allowPriceList">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="requestEmployee" class="control-label">{{ 'requestEmployee' | translate | capitalize }}:</label>
            <div class="d-flex align-items-start">
              <div class="flex-grow-1">
                <app-typeahead-dropdown
                  [control]="transactionTypeForm.get('requestEmployee')"
                  [data]="employeeTypes"
                  [keyField]="'_id'"
                  [displayField]="'description'"
                ></app-typeahead-dropdown>
              </div>
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="requestCurrency" class="control-label">{{ 'requestCurrency' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="requestCurrency">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="defectOrders" class="control-label">{{ 'defectOrders' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="defectOrders">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-3">
            <label for="requestTransport" class="control-label"
              >{{ 'requestTransport' | translate | capitalize }}:</label
            >
            <select class="form-control" formControlName="requestTransport">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="finishState" class="control-label">{{ 'finishState' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="finishState">
              <option *ngFor="let state of transactionState" [ngValue]="state">
                {{ state | translate | capitalize }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="isSubscription" class="control-label">{{ 'isSubscription' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="isSubscription">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
        </div>
        <hr />
        <div class="row">
          <label *ngIf="this.operation !== 'add'" class="form-group col-md-12">
            <b>{{ 'product' | translate | capitalize }}</b>
          </label>
        </div>

        <div class="row">
          <div class="form-group col-md-2">
            <label for="requestArticles" class="control-label">{{ 'requestArticles' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="requestArticles">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="modifyArticle" class="control-label">{{ 'modifyArticle' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="modifyArticle">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="modifyArticle" class="control-label">{{ 'modifyArticle' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="modifyArticle">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="showPriceType" class="control-label">{{ 'showPriceType' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="showPriceType">
              <option *ngFor="let priceType of priceTypes" [ngValue]="priceType">
                {{ priceType | translate | capitalize }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="entryAmount" class="control-label">{{ 'entryAmount' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="entryAmount">
              <option *ngFor="let entryAmount of entryAmounts" [ngValue]="entryAmount">
                {{ entryAmount | translate | capitalize }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="showDescriptionType" class="control-label"
              >{{ 'showDescriptionType' | translate | capitalize }}:</label
            >
            <select class="form-control" formControlName="showDescriptionType">
              <option *ngFor="let descriptionType of descriptionTypes" [ngValue]="descriptionType">
                {{ descriptionType | translate | capitalize }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="updatePrice" class="control-label">{{ 'updatePrice' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="updatePrice">
              <option [ngValue]="null"></option>
              <option [ngValue]="'Precio Base'">{{ 'Precio Base' | translate | capitalize }}</option>
              <option [ngValue]="'Ultima Compra'">{{ 'Ultima Compra' | translate | capitalize }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="updateArticle" class="control-label">{{ 'updateArticle' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="updateArticle">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="groupsArticles" class="control-label">{{ 'groupsArticles' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="groupsArticles">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
        </div>

        <hr />
        <div class="row">
          <label *ngIf="this.operation !== 'add'" class="form-group col-md-12">
            <b>{{ 'stock' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-2">
            <label for="modifyStock" class="control-label">{{ 'modifyStock' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="modifyStock">
              <option [ngValue]="true">{{ 'true' | translate | capitalize }}</option>
              <option [ngValue]="false">{{ 'false' | translate | capitalize }}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="stockMovement" class="control-label">{{ 'stockMovement' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="stockMovement">
              <option *ngFor="let stokMovement of stockMovements" [ngValue]="stokMovement">
                {{ stokMovement | translate | capitalize }}
              </option>
            </select>
          </div>
        </div>

        <hr />
        <div class="row">
          <label *ngIf="this.operation !== 'add'" class="form-group col-md-12">
            <b>{{ 'audit' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'creationUser.name' | translate | capitalize }}:
                  <b>{{ transactionType?.creationUser?.name || '' }}</b>
                </label>
              </div>
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'theDay' | translate | capitalize }}:
                  <b>{{ transactionType?.creationDate ?? null | dateFormat: 'DD/MM/YYYY HH:mm:ss' }}</b>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'updateUser.name' | translate | capitalize }}:
                  <b>{{ transactionType?.updateUser?.name || '' }}</b>
                </label>
              </div>
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'theDay' | translate | capitalize }}:
                  <b>{{ transactionType?.updateDate ?? null | dateFormat: 'DD/MM/YYYY HH:mm:ss' }}</b>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  ID:<b>{{ transactionType?._id || '' }}</b>
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
