<section class="container-fluid">
  <div class="card card-large">
    <div class="card-header">
      <span>Pedidos Tienda Nube</span>
      <div class="pull-right">
        <button
          class="btn fa fa-cloud"
          [disabled]="loading"
          (click)="openModal('dateTn', null)"
        >
          Sincronizar
        </button>
        <button
          class="btn fa fa-refresh"
          (click)="refresh()"
          [disabled]="loading"
        >
          <i [ngClass]="{ 'fa-spin': loading }"></i>Actualizar
        </button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th [width]="50">
              <i class="fa fa-bars"></i>
            </th>
            <ng-container *ngFor="let column of columns">
              <th *ngIf="column.visible" (click)="orderBy(column.name)">
                <i *ngIf="sort[column.name] === 1" class="fa fa-sort-up"></i>
                <i *ngIf="sort[column.name] === -1" class="fa fa-sort-down"></i>
                <i *ngIf="!sort[column.name]" class="fa fa-sort"></i>
                {{ column.name | translate | capitalize }}
              </th>
            </ng-container>
          </tr>
          <tr class="filters">
            <th></th>
            <ng-container *ngFor="let column of columns">
              <th *ngIf="column.visible">
                <!-- Input para columnas sin defaultFilter -->
                <input
                  *ngIf="!column.defaultFilter && column.datatype !== 'boolean'"
                  type="text"
                  class="form-control"
                  [ngClass]="{
                    disabled: loading,
                    enabled: !loading,
                    'has-data': filters[column.name],
                  }"
                  [(ngModel)]="filters[column.name]"
                  (keydown.enter)="addFilters()"
                  placeholder="{{ column.name | translate }}"
                  [disabled]="!column.filter || loading"
                />

                <!-- Select para columnas booleanas -->
                <select
                  class="form-control"
                  *ngIf="column.datatype === 'boolean'"
                  [(ngModel)]="filters[column.name]"
                  (change)="addFilters()"
                >
                  <option
                    value=""
                    [ngClass]="{ disabled: loading, enabled: !loading }"
                    [disabled]="!column.filter || loading"
                  >
                    {{ 'select filter' | translate | capitalize }}
                  </option>
                  <option
                    [value]="true"
                    [ngClass]="{ disabled: loading, enabled: !loading }"
                    [disabled]="!column.filter || loading"
                  >
                    {{ 'true' | translate | capitalize }}
                  </option>
                  <option
                    [value]="false"
                    [ngClass]="{ disabled: loading, enabled: !loading }"
                    [disabled]="!column.filter || loading"
                  >
                    {{ 'false' | translate | capitalize }}
                  </option>
                </select>
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="99" style="padding: 0px">
              <app-progressbar [loading]="loading"></app-progressbar>
            </td>
          </tr>
          <tr *ngFor="let transaction of transactions">
            <ng-container>
              <td align="left" width="150">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="openModal('view-transaction', null, transaction)"
                  title="Ver"
                >
                  <i class="fa fa-eye"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-light"
                  (click)="openModal('print', null, transaction)"
                  title="Imprimir"
                >
                  <i class="fa fa-print"></i>
                </button>
              </td>
              <td>
                {{ transaction.startDate }}
              </td>
              <td>{{ transaction.type.name }}</td>
              <td>
                <b>{{ transaction.number }}</b>
              </td>
              <td *ngIf="transaction.company">
                {{ transaction.company.name }}
              </td>
              <td>
                <div class="btn-group mr-3">
                  <button
                    type="button"
                    class="btn"
                    [ngClass]="{
                      'btn-state-canceled':
                        transaction?.deliveryAddress?.shippingStatus?.toString() ===
                        'Desempaquetado',
                      'btn-state-close':
                        transaction?.deliveryAddress?.shippingStatus?.toString() ===
                        'Enviado',
                      'btn-state-open':
                        transaction?.deliveryAddress?.shippingStatus?.toString() ===
                        'No enviado',
                    }"
                  >
                    {{ transaction?.deliveryAddress?.shippingStatus ?? '' }}
                  </button>

                  <div
                    class="btn-group"
                    ngbDropdown
                    role="group"
                    aria-label="Button group with nested dropdown"
                  >
                    <button
                      class="btn dropdown-toggle-split"
                      ngbDropdownToggle
                      [ngClass]="{
                        'btn-state-canceled':
                          transaction?.deliveryAddress?.shippingStatus?.toString() ===
                          'Desempaquetado',
                        'btn-state-close':
                          transaction?.deliveryAddress?.shippingStatus?.toString() ===
                          'Enviado',
                        'btn-state-open':
                          transaction?.deliveryAddress?.shippingStatus?.toString() ===
                          'No enviado',
                      }"
                    ></button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <button
                        *ngIf="
                          transaction?.deliveryAddress?.shippingStatus?.toString() ===
                          'Desempaquetado'
                        "
                        ngbDropdownItem
                        (click)="
                          changeStateOfTransaction(transaction, 'packed')
                        "
                      >
                        Empaquetado
                      </button>
                      <button
                        ngbDropdownItem
                        (click)="
                          openModal('fulfilledTn', 'fulfilled', transaction)
                        "
                      >
                        Enviado
                      </button>
                    </div>
                  </div>
                </div>
              </td>
              <td *ngIf="!transaction.company">Consumidor Final</td>
              <td>
                <div
                  class="btn-group mr-3"
                  *ngIf="transaction.tiendaNubeId !== undefined"
                >
                  <button
                    type="button"
                    class="btn"
                    [ngClass]="{
                      'btn-state-close':
                        transaction?.state?.toString() === 'Cerrado',
                      'btn-state-open':
                        transaction?.state?.toString() === 'Abierto',
                      'btn-state-canceled':
                        transaction?.state?.toString() === 'Anulado',
                    }"
                  >
                    {{ transaction.state }}
                  </button>

                  <div
                    class="btn-group"
                    ngbDropdown
                    role="group"
                    aria-label="Button group with nested dropdown"
                  >
                    <button
                      class="btn dropdown-toggle-split"
                      ngbDropdownToggle
                      id="dropdownConfig"
                      [ngClass]="{
                        'btn-state-close':
                          transaction?.state?.toString() === 'Cerrado',
                        'btn-state-open':
                          transaction?.state?.toString() === 'Abierto',
                        'btn-state-canceled':
                          transaction?.state?.toString() === 'Anulado',
                      }"
                    ></button>

                    <div
                      class="dropdown-menu"
                      ngbDropdownMenu
                      aria-labelledby="dropdownConfig"
                    >
                      <button
                        ngbDropdownItem
                        (click)="changeStateOfTransaction(transaction, 'open')"
                        *ngIf="
                          transaction?.state?.toString() !== 'Anulado' &&
                          transaction?.state?.toString() !== 'Abierto'
                        "
                      >
                        Abierto
                      </button>
                      <button
                        ngbDropdownItem
                        (click)="
                          changeStateOfTransaction(transaction, 'closed')
                        "
                        *ngIf="
                          transaction?.state?.toString() !== 'Anulado' &&
                          transaction?.state?.toString() !== 'Cerrado'
                        "
                      >
                        Cerrado
                      </button>
                      <button
                        ngbDropdownItem
                        (click)="
                          openModal('canceledTn', 'canceled', transaction)
                        "
                        *ngIf="transaction?.state?.toString() !== 'Anulado'"
                      >
                        Anulado
                      </button>
                      <!-- <button
                      ngbDropdownItem
                      (click)="changeStateOfTransaction(transaction, 'packed')"
                    >
                      Empaquetado
                    </button>
                    <button
                      ngbDropdownItem
                      (click)="
                        openModal('fulfilledTn', 'fulfilled', transaction)
                      "
                    >
                      Enviado
                    </button> -->
                    </div>
                  </div>
                </div>
              </td>
              <td>
                {{ transaction.paymentMethodEcommerce | translate }}
              </td>
              <td style="white-space: normal">{{ transaction.observation }}</td>
              <td>
                {{
                  transaction.balance
                    | currency: 'USD' : 'symbol-narrow' : '1.2-2'
                }}
              </td>
              <td>
                {{
                  transaction.totalPrice
                    | currency: 'USD' : 'symbol-narrow' : '1.2-2'
                }}
              </td>
            </ng-container>
          </tr>
          <tr
            align="center"
            *ngIf="
              (!transactions || transactions.length === 0) &&
              this.loading === false
            "
          >
            <td colspan="10">No se encontraron pedidos</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-10">
          <ngb-pagination
            [collectionSize]="totalItems"
            [(page)]="currentPage"
            [maxSize]="5"
            [boundaryLinks]="true"
            [pageSize]="itemsPerPage"
            (pageChange)="pageChange($event)"
          ></ngb-pagination>
        </div>
        <div class="form-group col-md-2">
          <select
            class="form-control"
            [(ngModel)]="itemsPerPage"
            (change)="changeItemsPerPage()"
          >
            <option [value]="5">
              {{ 'show 5 records' | translate | capitalize }}
            </option>
            <option [value]="10">
              {{ 'show 10 records' | translate | capitalize }}
            </option>
            <option [value]="20">
              {{ 'show 20 records' | translate | capitalize }}
            </option>
            <option [value]="50">
              {{ 'show 50 records' | translate | capitalize }}
            </option>
            <option [value]="100">
              {{ 'show 100 records' | translate | capitalize }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>
