<section class="container-fluid" *ngIf="userType=='admin' ">
  <div class="center-content" *ngIf="alertMessage !== '' && totalItems > 0">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">
      <span>Listado de Sucursales</span>
      <div class="pull-right">
          <button class="btn btn-primary" (click)="openModal('add', null)" ><i class="fa fa-plus">
            <span>Agregar Sucursal</span>
          </i></button>
        <button class="btn btn-primary fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span> Actualizar</span></button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"> Filtrar</i>
        </span>
      </div>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              <i class="fa fa-bars"></i>
            </th>
            <th (click)="orderBy('number')">Número</th>
            <th (click)="orderBy('name')">Nombre</th>
          </tr>
          <tr *ngIf="areFiltersVisible" class="filters">
            <th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['number']" (input)="getBranches()" placeholder="Número..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['name']" (input)="getBranches()" placeholder="Nombre..."></th>
          </tr>
        </thead>
        <tbody>
          <tr align="center" *ngIf="loading">
            <td colspan="4">Cargando...</td>
          </tr>
          <tr *ngFor="let branch of branches | paginate: { itemsPerPage: itemsPerPage,
                                                                      currentPage: currentPage,
                                                                      totalItems: totalItems
                                                                    }">
            <td align="left" width="150">
              <button type="button"
                      class="btn btn-success  btn-sm" 
                      (click)="openModal('view', branch)" 
                      title="Ver"><i class="fa fa-eye"></i></button>
              <button type="button"
                      class="btn btn-primary btn-sm"
                      (click)="openModal('edit', branch)"
                      title="Editar"><i class="fa fa-pencil"></i>
              </button>
              <button type="button"
                      class="btn btn-danger btn-sm"
                      (click)="openModal('delete', branch)"
                      title="Eliminar"><i class="fa fa-trash-o"></i>
              </button>
            </td>
            <td>{{branch.number}}</td>
            <td>{{branch.name}}</td>
          </tr>
          <tr align="center" *ngIf="totalItems === 0 && !loading">
            <td colspan="16">No se encontraron sucursales</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="card-footer bg-primary">
      <div class="row">
        <div class="col-md-10">
          <pagination-controls
            class="my-pagination"
            (pageChange)="pageChange($event)"
            #api
            previousLabel="Ant."
            nextLabel="Sig."
            autoHide="true">
          </pagination-controls>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" [(ngModel)]="itemsPerPage" (change)="getBranches()">
            <option [value]="5">Mostrar 5 Registros</option>
            <option [value]="10">Mostrar 10 Registros</option>
            <option [value]="15">Mostrar 15 Registros</option>
            <option [value]="20">Mostrar 20 Registros</option>
            <option [value]="50">Mostrar 50 Registros</option>
            <option [value]="100">Mostrar 100 Registros</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>