<div class="modal-header">
  <h4 class="modal-title">Importar</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">

  <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
    {{alertMessage}}
  </ngb-alert>
  <ul id="lista1" *ngIf="status200?.length > 0">
    <li>
      Operación realizada con éxito
    </li>
    <li>
      <span class="separador">: </span> {{ status200?.length }}
    </li>

  </ul>
  <ul id="lista2" *ngIf="status500?.length > 0">
    <li>
      No se encontro el articulo: {{status500?.length}}
    </li>

    <p>Codigos:</p>
    <li *ngFor="let item of status500;">
      <span class="separador">| </span> {{ item.code }}
    </li>
  </ul>
  <ul id="lista2" *ngIf="statusCode?.length > 0">
    <li>
      No se ingreso ningun codigo: {{statusCode?.length}}
    </li>
    <li *ngFor="let item of statusCode;">
      <span class="separador">| </span> {{ item.code }}
    </li>

  </ul>
  <form [formGroup]="importForm" (ngSubmit)="import()" autocomplete="off" enctype="multipart/form-data">

    <div class="modal-body">

      <div class="row">
        <div class="form-group col-md-12">
          <label for="filePath" class="control-label">Archivo:</label>
          <input type="file" class="form-control" formControlName="filePath" (change)="onFileChange($event)" />


          <div *ngIf="formErrors.filePath" class="alert alert-danger">
            {{ formErrors.filePath }}
          </div>
          <div>

          </div>
        </div>
      </div>
    </div>
    <a href="/assets/modelo_producto.xlsx" target="_self" download>Descargar Modelo</a>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="activeModal.close('cancel')">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="">
        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Importar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
</section>