#lista1 {
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
}
.separador {
    color: rgb(87, 87, 87);
}
#lista1 li {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgb(149, 255, 123);
}

#lista2 {
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
}

#lista2 li {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgb(255, 123, 123);
}
#lista2 p {
    margin: auto;
    color: rgb(255, 123, 123);
}