<div class="modal-header">
  <h4 class="modal-title">Importar</h4>
  <h4 *ngIf='type === "actualizar-producto"' class="modal-title">: Actualizar Productos</h4>
  <h4 *ngIf='type === "alta-producto"' class="modal-title">: Crear Productos</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')" [disabled]="loading">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
    {{alertMessage}}
  </ngb-alert>
  <ul id="lista1" *ngIf="status200?.length > 0">
    <li>
      Operación realizada con éxito
    </li>
    <li>
      <span class="separador">: </span> {{ status200?.length }}
    </li>

  </ul>
  <ul id="lista1" *ngIf="countArticles > 0">
    <li>
      Productos actualizados con éxito
    </li>
    <li>
      <span class="separador">: </span> {{ countArticles }}
    </li>

  </ul>
  <ul id="lista2" *ngIf="status500?.length > 0">
    <li>
      No se encontro el articulo: {{status500?.length}} Errores
    </li>

    <p>Codigos:</p>
    <li *ngFor="let item of status500;">
      <span class="separador">| </span> {{ item.code }}
    </li>
  </ul>
  <ul id="lista2" *ngIf="statusCode?.length > 0">
    <li>
      <!-- No se ingreso ningun codigo: {{statusCode?.length}} Filas => -->
      {{statusCode[0].message}}: {{statusCode?.length}} Filas =>
    </li>
    <li *ngFor="let item of statusCode;">
      <span class="separador">| </span> {{ item.filaExcel }}
    </li>

  </ul>

  <!-- <ul id="lista2" *ngIf="statusCode?.length > 0">
    <li>
      Productos existentes: {{statusCode?.length}} Filas =>
    </li>
    <li *ngFor="let item of statusCode;">
      <span class="separador">| </span> {{ item.filaExcel }}
    </li>

  </ul> -->
  <form [formGroup]="importForm" (ngSubmit)="import()" autocomplete="off" enctype="multipart/form-data">

    <div class="modal-body">

      <div class="row">
        <div *ngIf='type === "actualizar-producto"' class="form-group col-md-12">
          <label for="selectProvider">Filtrar por proveedor:</label>
          <select   formControlName='selectProvider' name="selectProvider" id="selectProvider">
            <option [ngValue]='null'></option>
            <option *ngFor="let provider of providers" [ngValue]='provider._id'>
            {{provider.name}}</option>
          </select>
        </div>
        <div class="form-group col-md-12">
          <label for="filePath" class="control-label">Archivo:</label>
          <input type="file" class="form-control" formControlName="filePath" (change)="onFileChange($event)" />


          <div *ngIf="formErrors.filePath" class="alert alert-danger">
            {{ formErrors.filePath }}
          </div>
          <div>

          </div>
        </div>
      </div>
    </div>
    <a *ngIf='type === "actualizar-producto"' href="/assets/modelo_producto_actualizar.xlsx" target="_self"
      download>Descargar Modelo Actulizar</a><br>
    <a *ngIf='type === "alta-producto"' href="/assets/modelo_producto_crear.xlsx" target="_self" download>Descargar
      Modelo Crear</a>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="activeModal.close('cancel')" [disabled]="loading">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="loading">
        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Importar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
</section>