<!--ESTADISTICAS GENERALES-->
<div class="card card-outline-primary" *ngIf="listType === 'statistics'">
  <div class="card-header bg-primary">Ventas por cliente
  </div>
  <div class="card-block table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Cliente </th>
          <th>Transacciones </th>
          <th>Monto total </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td class="flat">{{ item.company.name }}</td>
          <td class="flat">{{ item.count }}</td>
          <td class="flat">{{ item.total | currency:'USD':'1.2-2' }}</td>
        </tr>
        <tr align="center" *ngIf="areCompaniesEmpty">
          <td colspan="3">No se encontraron ventas por clientes</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--REPORTE-->
<section class="container-fluid" *ngIf="listType !== 'statistics'">
  <div class="center-content" *ngIf="alertMessage !== '' && !areTurnsEmptys">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card card-outline-primary card-large">
    <div class="card-header bg-primary">Ventas por cliente
      <div class="pull-right">
        <button class="btn btn-primary fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span> Actualizar</span></button>
      </div>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th (click)="orderBy('company.name')">Cliente</th>
            <th (click)="orderBy('count')">Transacciones</th>
            <th (click)="orderBy('total')">Monto Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td class="flat">{{ item.company.name }}</td>
            <td class="flat">{{ item.count }}</td>
            <td class="flat">{{ item.total | currency:'USD':'1.2-2' }}</td>
          </tr>
          <tr align="center" *ngIf="areCompaniesEmpty">
            <td colspan="3">No se encontraron ventas por clientes</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer bg-primary">
    </div>
  </div>
</section>
