<div class="modal-header">
  <h4 class="modal-title">Imprimir Lista de Precios</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <label for="withImage" class="control-label">Con Imagen:</label>
        <select class="form-control" [(ngModel)]="filters.image">
          <option [value]="true">Si</option>
          <option [value]="false" selected>No</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="priceList"> {{ 'price-list' | translate | capitalize }}:</label>
        <app-multi-select-dropdown
          [data]="priceLists"
          [(ngModel)]="filters.priceList"
          [textField]="'name'"
          placeholder="Lista de precio"
          [multi]="false"
        >
        </app-multi-select-dropdown>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="make"> {{ 'make' | translate | capitalize }}:</label>
        <app-multi-select-dropdown
          [data]="makes"
          [(ngModel)]="filters.makes"
          [textField]="'description'"
          placeholder="Marcas"
        >
        </app-multi-select-dropdown>
      </div>

      <div class="col-md-6">
        <label for="category">{{ 'category' | translate | capitalize }}:</label>
        <app-multi-select-dropdown
          [data]="categories"
          [(ngModel)]="filters.categories"
          [textField]="'description'"
          placeholder="Categorias"
        >
        </app-multi-select-dropdown>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="activeModal.close('cancel')">Cancelar</button>
    <button class="btn btn-primary" [disabled]="loading" (click)="toPrint()">
      <i class="fa" [ngClass]="{ 'fa-save': !loading, 'fa-spinner fa-spin': loading }"></i>
      <span *ngIf="!loading">Imprimir</span>
      <span *ngIf="loading">Espere por favor</span>
    </button>
  </div>
</section>
