app-list-articles-pos {
    img {
          image-rendering: auto;
    }
    
    .articles-list {
          height: 70vh;
          overflow: scroll;
    }
    
    .iarticle {
          width: 120px;
          height: 160px;
          margin: 4px;
          float: left;
          text-align: center;
          cursor: pointer;
          position: relative;
    }
    
    .iarticle:hover {
          opacity: 0.5;
    }
    
    .image-title {
          color: black;
          font-size: 17px;
          width: 100%;
    }

    .number-price {
          height: 20px;
          position: absolute;
          right: 0px; 
    }
    
    #make {
          font-family:Arial;
          font-weight: bold;
          font-size: 3mm;
    }

    

      /* RESPONSIVE */
      @media (max-width: 767px) {
            .iarticle {
                  width: 110px;
                  height: 130px;
                  img {
                        width: 90px;
                        height: 90px;
                  }
            }
      }
}