<iframe [src]="pdfURL" width="500" height="600" type='application/pdf' *ngIf="pdfURL"></iframe>
<section class="center-content" #contentTicket>
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="row sale-order" *ngIf="typePrint==='charge'">
    <div class="row space-in-white">
      <div class="col-md-12 center-content title">
        CONFITERIA LA PALMA - CASA DE TE
      </div>
    </div>
    <div class="row space-in-white">
      <div class="col-md-12">
        CUIT Nro.: 30-61432547-6
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        25 de Mayo 2028 - San Francisco
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        Tel: (03564) 424423
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        PV Nro: {{transaction.origin}}
      </div>
      <div class="col-md-7" align="right">
        Nro T: {{transaction.number}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        Fecha: {{transaction.endDate | date:'dd/MM/yyyy'}}
      </div>
      <div class="col-md-5" align="right">
        Hora: {{transaction.endDate | date:'HH:mm'}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-5" *ngIf="transaction.table">
        Mesa: {{transaction.table.description}}
      </div>
      <div class="col-md-7" *ngIf="transaction.employeeClosing" align="right">
        Mozo: {{transaction.employeeClosing.code}} - {{transaction.employeeClosing.name}}
      </div>
    </div>
    <div class="row" *ngIf="transaction.company">
      <div class="col-md-12">
        Cliente: {{transaction.company.name}}
      </div>
    </div>
    <div class="row" *ngIf="!transaction.company">
      <div class="col-md-12">
        Cliente: Consumidor Final
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        DESC.
      </div>
      <div class="col-md-2">
        CANT
      </div>
      <div class="col-md-4">
        MONTO
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <div class="row" *ngFor="let movementOfArticle of movementsOfArticles">
      <div class="col-md-6">
        {{movementOfArticle.description}}
      </div>
      <div class="col-md-2" align="right">
        {{movementOfArticle.amount}}
      </div>
      <div class="col-md-4" align="right">
        {{movementOfArticle.salePrice * movementOfArticle.amount | currency:'USD': '1.2-2'}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        Descuento:
      </div>
      <div class="col-md-8" align="right">
        {{transaction.discount | number: '1.2-2'}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        Total:
      </div>
      <div class="col-md-8" align="right">
        {{transaction.totalPrice | number: '1.2-2'}}
      </div>
    </div>
    <div class="row space-in-white">
      <div class="col-md-12 center-content">
        Ticket no válido como factura.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 center-content">
        ----Gracias por su visita.----
      </div>
    </div>
  </div>
  <div class="row sale-order" *ngIf="typePrint==='bill'">
    <div class="row space-in-white">
      <div class="col-md-12 center-content title">
        CONFITERIA LA PALMA - CASA DE TE
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        25 de Mayo 2028 - San Francisco
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        Tel: (03564) 424423
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        Fecha: {{transaction.endDate | date:'dd/MM/yyyy'}}
      </div>
      <div class="col-md-5" align="right">
        Hora: {{transaction.endDate | date:'HH:mm'}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-5" *ngIf="transaction.table">
        Mesa: {{transaction.table.description}}
      </div>
      <div class="col-md-7" *ngIf="transaction.employeeClosing" align="right">
        Mozo: {{transaction.employeeClosing.code}} - {{transaction.employeeClosing.name}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        DESC.
      </div>
      <div class="col-md-2">
        CANT
      </div>
      <div class="col-md-4">
        MONTO
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <div class="row" *ngFor="let movementOfArticle of movementsOfArticles">
      <div class="col-md-6">
        {{movementOfArticle.description}}
      </div>
      <div class="col-md-2" align="right">
        {{movementOfArticle.amount}}
      </div>
      <div class="col-md-4" align="right">
        {{movementOfArticle.salePrice * movementOfArticle.amount | number:'1.2-2'}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        Subtotal:
      </div>
      <div class="col-md-8" align="right">
        {{transaction.subtotalPrice | number: '1.2-2'}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        Descuento:
      </div>
      <div class="col-md-8" align="right">
        {{transaction.discount | number: '1.2-2'}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        Total:
      </div>
      <div class="col-md-8" align="right">
        {{transaction.totalPrice | number: '1.2-2'}}
      </div>
    </div>
  </div>
  <div class="row sale-order" *ngIf="typePrint==='kitchen' || typePrint==='bar'">
    <div class="row space-in-white">
      <div class="col-md-12 center-content title">
        CONFITERIA LA PALMA - CASA DE TE
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        Fecha: {{transaction.endDate | date:'dd/MM/yyyy'}}
      </div>
      <div class="col-md-5" align="right">
        Hora: {{transaction.endDate | date:'HH:mm'}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-5" *ngIf="transaction.table">
        Mesa: {{transaction.table.description}}
      </div>
      <div class="col-md-7" *ngIf="transaction.employeeClosing" align="right">
        Mozo: {{transaction.employeeClosing.code}} - {{transaction.employeeClosing.name}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        DESC.
      </div>
      <div class="col-md-3">
        CANT
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <div class="row" *ngFor="let movementOfArticle of movementsOfArticles">
      <div class="col-md-9">
        {{movementOfArticle.description}}
      </div>
      <div class="col-md-3" align="right">
        {{movementOfArticle.amount}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
  </div>
  <div class="row content-turn" #ticketTurn *ngIf="typePrint==='turn'">
    <table>
      <tbody>
        <tr>
          <td colspan="12" align="center">
            <b>
              <font face="Courier">CIERRE DE TURNO</font>
            </b>
            <td>
        </tr>
        <tr *ngIf="companyName">
          <td colspan="12" align="center">
            <b>
              <font face="Courier">{{companyName}}</font>
            </b>
            <td>
        </tr>
        <tr *ngIf="turn.employee">
          <td colspan="12">
            <font face="Courier" size="2">Mozo: {{turn.employee.name}}</font>
          </td>
        </tr>
        <tr *ngIf="turn.startDate">
          <td colspan="12">
            <font face="Courier" size="2">Apertura: {{turn.startDate}}</font>
          </td>
        </tr>
        <tr *ngIf="turn.endDate">
          <td colspan="12">
            <font face="Courier" size="2">Cierre: {{turn.endDate}}</font>
          </td>
        </tr>
        <tr *ngIf="shiftClosingTransaction">
          <td colspan="12">
            <font face="Courier" size="2">Facturado: {{shiftClosingTransaction.invoicedAmount | currency:'USD':'1.2-2'}}</font>
          </td>
        </tr>
        <tr *ngIf="!shiftClosingTransaction">
          <td colspan="12">
            <font face="Courier" size="2">Facturado: $0.00</font>
          </td>
        </tr>
        <tr *ngIf="shiftClosingTransaction">
          <td colspan="12">
            <font face="Courier" size="2">Tiquets: {{shiftClosingTransaction.amountOrders}}</font>
          </td>
        </tr>
        <tr *ngIf="!shiftClosingTransaction">
          <td colspan="12">
            <font face="Courier" size="2">Tiquets: 0</font>
          </td>
        </tr>
        <tr *ngIf="shiftClosingTransaction">
          <td colspan="12">
            <font face="Courier" size="2">Tiques Anulados: {{shiftClosingTransaction.amountOrdersCanceled}}</font>
          </td>
        </tr>
        <tr *ngIf="!shiftClosingTransaction">
          <td colspan="12">
            <font face="Courier" size="2">Tiquets Anulados: 0</font>
          </td>
        </tr>
        <tr *ngIf="shiftClosingTransaction && shiftClosingTransaction.detailCanceled !== ''">
          <td colspan="12">
            <font face="Courier" size="2">
              <b>Detalle de Tiquets Anulados:</b>
            </font>
          </td>
        </tr>
        <tr *ngIf="shiftClosingTransaction && shiftClosingTransaction.detailCanceled !== ''">
          <td colspan="12">
            <font face="Courier" size="2">{{shiftClosingTransaction.detailCanceled}}</font>
          </td>
        </tr>
        <tr *ngIf="shiftClosingMovementOfArticle && shiftClosingMovementOfArticle.deletedItems !== ''">
          <td colspan="12">
            <font face="Courier" size="2">
              <b>Detalle de Productos Anulados:</b>
            </font>
          </td>
        </tr>
        <tr *ngIf="shiftClosingMovementOfArticle && shiftClosingMovementOfArticle.deletedItems !== ''">
          <td colspan="12">
            <font face="Courier" size="2">{{shiftClosingMovementOfArticle.deletedItems}}</font>
          </td>
        </tr>
        <tr *ngIf="shiftClosingMovementOfCash && shiftClosingTransaction">
          <td colspan="12">
            <font face="Courier" size="2">
              <b>Detalle de Medios de Pago</b>
            </font>
          </td>
        </tr>
        <tr *ngIf="shiftClosingMovementOfCash && shiftClosingMovementOfCash.cash !== 0">
          <td colspan="12">
            <font face="Courier" size="2">Efectivo: {{shiftClosingMovementOfCash.cash | currency:'USD':'1.2-2'}}</font>
          </td>
        </tr>
        <tr *ngIf="shiftClosingMovementOfCash && shiftClosingMovementOfCash.currentAccount !== 0">
          <td colspan="12">
            <font face="Courier" size="2">Cuenta Corriente: {{shiftClosingMovementOfCash.currentAccount | currency:'USD':'1.2-2'}}</font>
          </td>
        </tr>
        <tr *ngIf="shiftClosingMovementOfCash && shiftClosingMovementOfCash.creditCard !== 0">
          <td colspan="12">
            <font face="Courier" size="2">Tarjeta de Crédito: {{shiftClosingMovementOfCash.creditCard | currency:'USD':'1.2-2'}}</font>
          </td>
        </tr>
        <tr *ngIf="shiftClosingMovementOfCash && shiftClosingMovementOfCash.debitCard !== 0">
          <td colspan="12">
            <font face="Courier" size="2">Tarjeta de Débito: {{shiftClosingMovementOfCash.debitCard | currency:'USD':'1.2-2'}}</font>
          </td>
        </tr>
        <tr *ngIf="shiftClosingMovementOfCash && shiftClosingMovementOfCash.thirdPartyCheck !== 0">
          <td colspan="12">
            <font face="Courier" size="2">Cheque de Terceros: {{shiftClosingMovementOfCash.thirdPartyCheck | currency:'USD':'1.2-2'}}</font>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row content-btn-print">
    <div class="col-md-12 center-content">
      <button type="submit" class="btn btn-primary btn-print" (click)="print()">
        Imprimir
      </button>
    </div>
  </div>
</section>

<!--MODAL IMPRESORA-->
<ng-template #contentPrinters let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Impresoras</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('close_click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <ul class="list-group">
            <li class="list-group-item center-content" *ngFor="let printer of printersAux" (click)="c(printer)">{{printer.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('cancel')">Cancelar</button>
  </div>
</ng-template>