.sale-order {
	width: 300px;
	border: 1px solid #DCDCDC;
	font: 13px Courier;
}

.content-turn {
	border: 1px solid #DCDCDC;
	padding: 20px;
}

.content-btn-print {
	width: 300px;
}

.btn-print {
	margin-top: 30px;
}

.row {
	font: sans-serif;
}

.center-content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.row {
	margin-left: 4px;
	margin-right: 4px;
}

.space-in-white {
	margin-top: 10px;
}

.title {
	font-weight: 900;
}

section {
	padding-top: 45px;
	padding-bottom: 45px;
}

.full-screen {
	left: -400px;
	position: absolute;
	width: 100vh;
	height: 100vh;
}