<!--ADMIN-->
<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="center-content" *ngIf="alertMessage !== '' && !areMakesEmpty">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card ">
    <div class="card-header">Listado de Marcas
      <div class="pull-right">
        <button class="btn" (click)="openModal('add', null)"><i class="fa fa-plus"> Agregar Marca</i></button>
        <button class="btn fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i>Actualizar</button>
        
      </div>
    </div>
      <div class="card-block table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><i class="fa fa-bars"></i></th>
              <th (click)="orderBy('description')">Descripción </th>
            </tr>
            <tr class="filters">
              <th></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterDescription" placeholder="Descripción..." ></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="99" style="padding: 0px">
                <app-progressbar [loading]="loading"></app-progressbar>
              </td>
            </tr>
            <tr *ngFor="let make of makes | filter: filterDescription:'description'
                                          | orderBy: orderTerm: propertyTerm
                                          | paginate: { itemsPerPage: itemsPerPage,
                                                        currentPage: p,
                                                        totalItems: totalItems
                                                      }">
              <td align="left" width="130">
                <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view', make)" title="Ver"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-primary btn-sm" (click)="openModal('update', make)" title="Modificar"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger btn-sm" (click)="openModal('delete', make)" title="Eliminar"><i class="fa fa-trash-o"></i></button>
              </td>
              <td class="flat">{{make.description}}</td>
            </tr>
            <tr align="center" *ngIf="areMakesEmpty && !loading">
              <td colspan="2">No se encontraron marcas</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-10">
            <pagination-controls
                      class="my-pagination"
                      (pageChange)="p=$event"
                      #api
                      previousLabel="Ant."
                      nextLabel="Sig."
                      autoHide="true">
            </pagination-controls>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="itemsPerPage">
              <option [value]="5">Mostrar 5 Registros</option>
              <option [value]="10">Mostrar 10 Registros</option>
              <option [value]="15">Mostrar 15 Registros</option>
              <option [value]="20">Mostrar 20 Registros</option>
              <option [value]="50">Mostrar 50 Registros</option>
              <option [value]="100">Mostrar 100 Registros</option>
            </select>
          </div>
        </div>
      </div>
  </div>
</section>
