app-view-gallery {

    .row {
        margin-right: 0px !important;
    }
    .tile {
        /*min-height: 200px;*/
        background-color: #ccc;
        background-size: cover !important;
        //height:  100vh;
        display: flex;
        background-position: center center;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    div {
        text-align: center;
        img {
            image-rendering: auto;
        }
    }

}
