<button *ngIf="viewBotton" (click)="openFullscreen()">fullscreen</button>

<div class="barcode" *ngIf="gallery && gallery.barcode">
  <ngb-carousel
    class="barcode"
    *ngIf="images?.length > 0"
    [interval]="gallery.colddown * 1000"
    [pauseOnHover]="false"
    [showNavigationArrows]="false"
  >
    <ng-template ngbSlide *ngFor="let image of images; let i = index">
      <div style="height: 80vh" class="picsum-img-wrapper">
        <img [src]="image" [alt]="'Slide ' + (i + 1)" />
      </div>
    </ng-template>
  </ngb-carousel>

  <div class="row align-items-center">
    <div *ngIf="article" class="col-4">
      <div class="text-center">
        <img
          *ngIf="articleImage"
          [src]="articleImage"
          class="img-fluid rounded shadow-lg"
        />
      </div>
    </div>

    <div *ngIf="article" class="col-6">
      <h1 class="display-5 mb-3">{{ article.description }}</h1>
      <h3>
        {{ article.salePrice | currency : 'USD' : 'symbol-narrow' : '1.2-2' }}
      </h3>
      <p [innerHTML]="article?.observation"></p>

      <!-- <h3 class="mt-4">Métodos de Pago</h3>
      <h6 *ngFor="let option of paymentMethod">
        {{ option.name }}
      </h6> -->
    </div>
  </div>

  <div class="row pl-3">
    <div class="col-4">
      <label> Ingrese codigo de barra </label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="filterArticle"
        (keydown.enter)="getArticle()"
        [focus]="focusEvent"
      />
    </div>
  </div>
</div>
