:root {
    --size: 100vh;
}
app-view-gallery {
    .tile {
        /*min-height: 200px;*/
        background-color: #ccc;
        background-size: cover !important;
        height: var(--size);
        display: flex;
        background-position: center center;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
}
