<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="center-content" *ngIf="alertMessage !== '' && !areTablesEmpty">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Lista de Mesas
      <div class="pull-right">
        <button class="btn btn-primary" (click)="openModal('add', null)">Agregar Mesa</button>
        <button class="btn btn-primary" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-spinner fa-spin':loading}"></i><span *ngIf="loading">Cargando</span><span *ngIf="!loading">Actualizar</span></button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"></i>
        </span>
      </div>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><i class="fa fa-bars"></i></th>
            <th (click)="orderBy('description')">Descripción</th>
            <th (click)="orderBy('room','description')">Salón</th>
            <th (click)="orderBy('chair')">Sillas</th>
            <th (click)="orderBy('state')">Estado</th>
          </tr>
          <tr *ngIf="areFiltersVisible">
            <th></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterDescription" placeholder="Descripción..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterRoom" placeholder="Salón..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterChair" placeholder="Sillas..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterState" placeholder="Estado..."></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let table of tables | orderBy: orderTerm: propertyTerm  | filter: filterDescription:'description' | filter: filterRoom:'description':'room' 
                                                                    | filter: filterChair:'chair' | filter: filterState:'state' 
                                                                    | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
            <td align="left" width="130">
              <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view', table)"><i class="fa fa-eye"></i></button>
              <button type="button" class="btn btn-primary btn-sm" (click)="openModal('update', table)"><i class="fa fa-pencil"></i></button>
              <button type="button" class="btn btn-danger btn-sm" (click)="openModal('delete', table)"><i class="fa fa-trash-o"></i></button>
            </td>
            <td>{{table.description}}</td>
            <td *ngIf="table.room">{{table.room.description}}</td>
            <td *ngIf="!table.room"></td>
            <td>{{table.chair}}</td>
            <td>
              <h6>
                <span class="badge" [ngClass]="{'badge-danger':table.state==='Ocupada' || table.state==='No Habilitada' || table.state==='Reservada',
                                                'badge-success':table.state==='Disponible', 
                                                'badge-warning':table.state==='Pendiente'}">
                    {{table.state}}
                  </span>
              </h6>
            </td>
          </tr>
          <tr align="center" *ngIf="areTablesEmpty">
            <td colspan="5">No se encontraron mesas</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer bg-primary">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <pagination-controls (pageChange)="p=$event" #api previousLabel="Anterior" nextLabel="Siguiente">
          </pagination-controls>
        </div>
        <div class="col-md-1"></div>
        <div class="form-group col-md-2">
          <select class="form-control" [(ngModel)]="itemsPerPage">
              <option [value]="5">Mostrar 5 ítems</option>
              <option [value]="10">Mostrar 10 ítems</option>
              <option [value]="15">Mostrar 15 ítems</option>
              <option [value]="20">Mostrar 20 ítems</option>
              <option [value]="50">Mostrar 50 ítems</option>
              <option [value]="100">Mostrar 100 ítems</option>
            </select>
        </div>
      </div>
    </div>
  </div>
</section>

<!--POS-->
<section *ngIf="userType=='pos'">
  <div class="row center-content">
    <div *ngIf="alertMessage !== ''">
      <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
        {{alertMessage}}
      </ngb-alert>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let table of tables | orderBy:[orderTerm] | filter: filterRoom:'description':'room'">
      <div class="itable" [ngClass]="{ 'itable-busy':table.state==='Ocupada' || table.state==='Reservada',
                                        'itable-disabled':table.state==='No Habilitada',
                                        'itable-enabled':table.state==='Disponible',
                                        'itable-pending':table.state==='Pendiente'}" 
                          (click)="openModal('select-employee', table)">
        <div class="col-md-2 offset-md-8" align="right">
            <span class="badge badge-warning" *ngIf="table.state==='Ocupada' || table.state==='Reservada' || table.state==='Pendiente'">
              <b>{{table.chair}}</b>
            </span>
        </div>
        <div class="row table-description">
          <div class="col-md-12" align="center">
            <b>{{table.description}}</b>
          </div>
        </div>
        <div class="row" align="bottom">
          <div class="col-md-12 employee-name" align="center">
            <b  *ngIf="table.employee && table.state !== 'Disponible'">{{table.employee.name}}</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>