.card {
      margin-top: 50px;
      height: 820px;
}

.itable {
    background: #d9534f;
    width: 150px;
    height: 150px;
    margin: 50px;
    float: left;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 5px;
}

.itable-enabled {
    background: #5cb85c;
    width: 150px;
    height: 150px;
    margin: 50px;
    float: left;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 5px;
}

.itable-disabled {
    background: #d9534f;
    width: 150px;
    height: 150px;
    margin: 50px;
    float: left;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 5px;
}

.itable-pending {
    background: #f0ad4e;
    width: 150px;
    height: 150px;
    margin: 50px;
    float: left;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 5px;
}

.itable p, .itable-disabled p, .itable-enabled p, .itable-pending p {
    font-size: 30px;
    margin-top: 30px;
} 

.table {
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
    cursor: pointer;
 }

.center-content {
    margin-top: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}