.center-content {
      margin-top: 30px;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      justify-content: center;
}

.card {
      margin-top: 50px;
      height:80vh;
}

.card-header {
      color: white;
}

.btn {
      cursor: pointer;
}

.itable {
    background: #d9534f;
    width: 100px;
    height: 100px;
    margin: 25px;
    float: left;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0px 0px 5px;
}

.itable-enabled {
    background: #5cb85c;
    width: 100px;
    height: 100px;
    margin: 25px;
    float: left;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0px 0px 5px;
}

.itable-busy {
    background: #d9534f;
    width: 100px;
    height: 100px;
    margin: 25px;
    float: left;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0px 0px 5px;
}

.itable-disabled {
    background: #d1d1d1;
    width: 100px;
    height: 100px;
    margin: 25px;
    float: left;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0px 0px 5px;
}

.itable-pending {
    background: #f0ad4e;
    width: 100px;
    height: 100px;
    margin: 25px;
    float: left;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0px 0px 5px;
}

.itable p, .itable-disabled p, .itable-enabled p, .itable-pending p {
    font-size: 30px;
    font: bold;
    margin-top: 10px;
    color: white;
} 

.employee-name, .table-number, .table-description {
    color: white;
}

.table-description {
    font-size: 30px;
}

.table {
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
    cursor: pointer;
 }

.center-content {
    margin-top: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}