<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="card card-outline-primary">
    <div class="card-header bg-primary card-inverse">Lista de Mesas
      <div class="pull-right">
        <button class="btn btn-primary" (click)="openModal('add', null)" >Agregar Mesa</button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="fa fa-filter"></i>
        </span>
      </div>
    </div>
      <div class="card-block">
        <table class="table table-hover">
          <thead>
            <tr>
	            <th (click)="orderBy('description')">Descripción</th>
	            <th (click)="orderBy('room','description')">Salón</th>
	            <th (click)="orderBy('chair')">Sillas</th>
	            <th (click)="orderBy('state')">Estado</th>
              <th></th>
            </tr>
            <tr *ngIf="areFiltersVisible">
                <th><input type="text" class="form-control" [(ngModel)]= "filterDescription" placeholder="Descripción..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterRoom" placeholder="Salón..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterChair" placeholder="Sillas..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterState" placeholder="Estado..." ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let table of tables | orderBy: orderTerm: propertyTerm  | filter: filterDescription:'description' | filter: filterRoom:'description':'room' 
                                                                    | filter: filterChair:'chair' | filter: filterState:'state' 
                                                                    | paginate: {  itemsPerPage: 9, currentPage: p }" >
              <td>{{table.description}}</td>
              <td>{{table.room.description}}</td>
              <td>{{table.chair}}</td>
              <td><h6><span class="badge badge-default">{{table.state}}</span></h6></td>
              <td align="center">
                <button type="button" class="btn btn-primary" (click)="openModal('update', table)"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger" (click)="openModal('delete', table)"><i class="fa fa-trash-o"></i></button>
              </td>
            </tr>
            <tr align="center" *ngIf="areTablesEmpty">
              <td colspan="5">No se encontraron mesas</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-primary card-inverse">
        <pagination-controls 
          (pageChange)="p=$event" 
          #api 
          previousLabel="Anterior"
          nextLabel="Siguiente">
        </pagination-controls>
      </div>
  </div>
</section>

<!--POS-->
<section class="row" *ngIf="userType=='pos'">
    <div *ngFor="let table of tables | orderBy:[orderTerm] | filter: filterRoom:'description':'room'" >
      <div  [ngClass]="{'itable itable-disabled':table.state==='No Habilitada',
                        'itable itable-enabled':table.state==='Disponible',
                        'itable itable-pending':table.state==='Pendiente',
                        'itable itable-disabled':table.state==='Ocupada'}"
            (click)="openModal('select_employee', table, table.employee)">
        <p>{{table.description}}</p>
        <b *ngIf="table.employee && table.state !== 'Disponible'">{{table.employee.name}}</b>
      </div>
    </div>
</section>

<!--MODAL SELECCIONAR MOZO-->
<ng-template #content let-c="close" let-d="dismiss">
  <div  class="modal-header">
    <h4 class="modal-title">Empleado</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('close_click')">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <section class="container-fluid">
    <div class="center-content"  *ngIf="alertMessage">
      <ngb-alert (close)="alertMessage=''">
        {{alertMessage}}
      </ngb-alert>
    </div>
    <form [formGroup]="selectEmployeeForm" #formSelectEmployee="ngForm" (ngSubmit)="c('select_employee')" autocomplete="off">
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-md-12">
            <label for="employee" class="control-label">Asignar el empleado</label>
            <select class="form-control" formControlName="employee">
              <option *ngFor="let employee of employees" [selected]="employee._id==tableSelected.employee._id" [ngValue]="employee">
                {{employee.name}}
              </option>
            </select>
            <div *ngIf="formErrors.employee" class="alert alert-danger">
              {{ formErrors.employee }}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('cancel')">Cancelar</button>
        <button type="submit" class="btn btn-primary" [disabled]="!selectEmployeeForm.valid || loading" >
          <i [ngClass]="{'fa fa-save':!loading, 'fa-refresh fa-spin':loading}"></i>
          <span *ngIf="!loading">Aceptar</span>
          <span *ngIf="loading">Espere por favor</span>
        </button>
      </div>
    </form>
  </section>
</ng-template>