.center-content {
      margin-top: 30px;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      justify-content: center;
}

.card {
      margin-top: 50px;
      height:80vh;
}

.card-header {
      color: white;
}

.btn {
      cursor: pointer;
}

.itable {
    background: #d9534f;
    width: 100px;
    height: 100px;
    margin: 25px;
    float: left;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 2px;
}

.itable-enabled {
    background: #5cb85c;
}

.itable-busy {
    background: #d9534f;
}

.itable-disabled {
    background: #d1d1d1;
}

.itable-pending {
    background: #f0ad4e;
}

.table-description {
    font-size: 30px;
    font: bold;
    color: white;
} 

.number-chair {
    height: 20px;
}

.itable:hover {
    opacity: 0.5;
}

.employee-name, .table-number, .table-description {
    color: white;
}

.table-description {
    font-size: 30px;
}

.table {
    box-shadow: 0px 0px 2px;
    border-radius: 5px;
    cursor: pointer;
 }

.center-content {
    margin-top: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.my-pagination /deep/ .ngx-pagination {
    color: white;
}

::placeholder {
      color: #D8D8D8;
}

.filters {
      background-color: #F8F8F8;
}