<div class="modal-header">
	<h4 class="modal-title">Agregar Caja</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
	<span aria-hidden="true">&times;</span>
	</button>
</div>
<section class="container-fluid">
	<div class="center-content"  *ngIf="alertMessage !== ''">
		<ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
			{{alertMessage}}
		</ngb-alert>
	</div>
	<form [formGroup]="cashBoxForm" #formAddCashBox="ngForm" (ngSubmit)="addCashBox()" autocomplete="off">
		<div class="modal-body">
			<div class="row">
				<div class="form-group col-md-12">
					<label for="openingCash" class="control-label">Importe Apertura:</label>
					<div class="input-group">
						<input type="text" class="form-control" formControlName="openingCash" name="openingCash" id="openingCash" [focus]="focusEvent"/>
					</div>
					<div *ngIf="formErrors.openingCash" class="alert alert-danger">
						{{ formErrors.openingCash }}
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" (click)="activeModal.close('cancel')">Cancelar</button>
			<button type="submit" class="btn btn-primary" [disabled]="!cashBoxForm.valid || loading">
				<i [ngClass]="{'fa fa-save':!loading, 'fa-refresh fa-spin':loading}"></i>
				<span *ngIf="!loading">Guardar</span>
				<span *ngIf="loading">Espere por favor</span>
			</button>
		</div>
	</form>
</section>