<div class="modal-header">
	<h4 class="modal-title">Agregar Artículo</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
	<span aria-hidden="true">&times;</span>
	</button>
</div>
<section class="container-fluid">
	<div class="center-content"  *ngIf="alertMessage !== ''">
		<ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
			{{alertMessage}}
		</ngb-alert>
	</div>
	<form [formGroup]="articleForm" #formAddArticle="ngForm" (ngSubmit)="addArticle()" autocomplete="off">
		<div class="modal-body">
			<div class="row">
				<div class="form-group col-md-8">
					<div class="row">
						<div class="form-group col-md-6">
							<label for="make" class="control-label">Marca</label>
							<select class="form-control" formControlName="make">
								<option *ngFor="let make of makes" [ngValue]="make">{{make.description}}</option>
							</select>
							<div *ngIf="formErrors.make" class="alert alert-danger">
								{{ formErrors.make }}
							</div>
						</div>
						<div class="form-group col-md-6">
							<label for="code" class="control-label">Código:</label>
							<input type="text" class="form-control" formControlName="code" name="code" id="code"/>
							<div *ngIf="formErrors.code" class="alert alert-danger">
								{{ formErrors.code }}
							</div>
						</div>
					</div>
				</div>
				<div class="form-group col-md-4">
					<input type="file" accept="image/*" (change)="fileChangeEvent($event)"/>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-8">
					<label for="description" class="control-label">Descripción:</label>
					<input type="text" class="form-control" formControlName="description" name="description" id="description"/>
					<div *ngIf="formErrors.description" class="alert alert-danger">
						{{ formErrors.description }}
					</div>
				</div>
				<div class="form-group col-md-4">
					<label for="posDescription" class="control-label">Descripción POS:</label>
					<input type="text" class="form-control" formControlName="posDescription" name="posDescription" id="posDescription" [value]="articleForm.value.description | slice:0:10"/>
					<div *ngIf="formErrors.posDescription" class="alert alert-danger">
						{{ formErrors.posDescription }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					<label for="category" class="control-label">Rubro</label>
					<select class="form-control" formControlName="category">
						<option *ngFor="let category of categories" [ngValue]="category">{{category.description}}</option>
					</select>
					<div *ngIf="formErrors.category" class="alert alert-danger">
						{{ formErrors.category }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					<label for="observation" class="control-label">Observación:</label>
					<div class="input-group">
						<textarea type="text" class="form-control" formControlName="observation" name="observation" id="observation" rows="2"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-8">
					<label for="salePrice" class="control-label">Precio de Venta:</label>
					<div class="input-group">
						<span class="input-group-addon">$</span>
						<input type="number" class="form-control" formControlName="salePrice" name="salePrice" id="salePrice" step="0.01"/>
					</div>
					<div *ngIf="formErrors.salePrice" class="alert alert-danger">
						{{ formErrors.salePrice }}
					</div>
				</div>
				<div class="form-group col-md-4">
					<label for="type" class="control-label">Tipo</label>
					<select class="form-control" formControlName="type">
						<option *ngFor="let type of types" [ngValue]="type">{{type}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" (click)="activeModal.close('cancel')">Cancelar</button>
			<button type="submit" class="btn btn-primary" [disabled]="!articleForm.valid || loading" >
				<i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
				<span *ngIf="!loading">Guardar</span>
				<span *ngIf="loading">Espere por favor</span>
			</button>
		</div>
	</form>
</section>