.center-content {
  margin-top: 30px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.btn {
  cursor: pointer;
}

.btnStyle {
  background-color: #d42638;
  padding: 4px 13px 6px 13px;
  border-radius: 5px;
  color: white;
  border: #d42638;
}

.btnStyle:hover {
  background-color: #c82333;
  padding: 4px 13px 6px 13px;
  border-radius: 5px;
  color: white;
}
