<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="center-content" *ngIf="alertMessage !== '' && !areTurnsEmptys">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Listado de Turnos
      <div class="pull-right">
        <button class="btn btn-primary fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span> Actualizar</span></button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"> Filtrar</i>
        </span>
      </div>
    </div>
      <div class="card-block table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><i class="fa fa-bars"></i></th>
              <th (click)="orderBy('startDate')">Apertura</th>
              <th (click)="orderBy('endDate')">Cierre</th>
              <th (click)="orderBy('state')">Estado</th>
              <th (click)="orderBy('employee','name')">Empleado</th>
            </tr>
            <tr *ngIf="areFiltersVisible" class="filters"><th>
              <th><input type="date" class="form-control" [(ngModel)]="filterStartDate" placeholder="Apertura..."></th>
              <th><input type="date" class="form-control" [(ngModel)]= "filterEndDate" placeholder="Cierre..."></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterState" placeholder="Estado..."></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterEmployee" placeholder="Empleado..." ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let turn of turns | filter: filterStartDate:'startDate'
                                          | filter: filterEndDate:'endDate'
                                          | filter: filterState:'state'
                                          | filter: filterEmployee:'name':'employee'
                                          | orderBy: orderTerm: propertyTerm
                                          | paginate: { itemsPerPage: itemsPerPage,
                                                        currentPage: p,
                                                        totalItems: totalItems
                                                      }">
              <td align="left" width="100">
                <button *ngIf="turn.state === 'Cerrado'" type="button" class="btn btn-secondary btn-sm" (click)="openModal('print', turn)" title="Imprimir">
                  <i class="fa fa-print"></i>
                </button>
              </td>
              <td>{{turn.startDate | dateFormat:'DD/MM/YYYY hh:mm:ss' }}</td>
              <td *ngIf="turn.endDate">{{turn.endDate | dateFormat:'DD/MM/YYYY hh:mm:ss'  }}</td>
              <td *ngIf="!turn.endDate"></td>
              <td>
                <h6>
                  <span class="badge" [ngClass]="{'badge-success':turn.state==='Cerrado',
                                                'badge-warning':turn.state==='Abierto'}">
                    {{turn.state}}
                  </span>
                </h6>
              </td>
              <td>{{turn.employee.name}}</td>
            </tr>
            <tr align="center" *ngIf="areTurnsEmpty && !loading">
              <td colspan="13">No se encontraron turnos</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-primary">
        <div class="row">
          <div class="col-md-10">
            <pagination-controls
                      class="my-pagination"
                      (pageChange)="p=$event"
                      #api
                      previousLabel="Ant."
                      nextLabel="Sig."
                      autoHide="true">
            </pagination-controls>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="itemsPerPage">
              <option [value]="5">Mostrar 5 Registros</option>
              <option [value]="10">Mostrar 10 Registros</option>
              <option [value]="15">Mostrar 15 Registros</option>
              <option [value]="20">Mostrar 20 Registros</option>
              <option [value]="50">Mostrar 50 Registros</option>
              <option [value]="100">Mostrar 100 Registros</option>
            </select>
          </div>
        </div>
      </div>
  </div>
</section>
