<section class="container-fluid">
    <div class="center-content" *ngIf="alertMessage !== '' && totalItems > 0">
        <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
            {{alertMessage}}
        </ngb-alert>
    </div>
    <div class="card ">
        <div class="card-header">
            <span>Listado de Recursos</span>
            <div class="pull-right">
                <button class="btn" (click)="openModal('add', null)"><i
                        class="fa fa-plus"></i><span>Agregar</span></button>
                <button class="btn fa fa-refresh" (click)="refresh()" [disabled]="loading"><i
                        [ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span>Actualizar</span></button>
            </div>
        </div>
        <div class="card-block table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <i class="fa fa-bars"></i>
                        </th>
                        <th (click)="orderBy('name')">Nombre</th>
                        <th (click)="orderBy('type')">Tipo</th>
                        <th (click)="orderBy('file')">Archivo</th>
                    </tr>
                    <tr class="filters">
                        <th>
                        <th><input type="text" class="form-control" [(ngModel)]="filters['name']" (input)="getResources()" placeholder="Nombre..."></th>
                        <th><input type="text" class="form-control" [(ngModel)]="filters['type']" (input)="getResources()" placeholder="Tipo..."></th>
                        <th><input type="text" class="form-control" [(ngModel)]="filters['file']" (input)="getResources()" placeholder="Archivo..."></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="99" style="padding: 0px">
                            <app-progressbar [loading]="loading"></app-progressbar>
                        </td>
                    </tr>
                    <tr *ngFor="let resource of resources | paginate: { itemsPerPage: itemsPerPage,
                                                                        currentPage: currentPage,
                                                                        totalItems: totalItems
                                                                      }">
                        <td align="left" width="150">
                            <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view', resource)"
                                title="Ver"><i class="fa fa-eye"></i></button>
                            <button type="button" class="btn btn-primary btn-sm" (click)="openModal('edit', resource)"
                                title="Editar"><i class="fa fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="openModal('delete', resource)"
                                title="Eliminar"><i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                        <td>{{resource.name}}</td>
                        <td>{{resource.type}}</td>
                        <td>{{resource.file}}</td>
                    </tr>
                    <tr align="center" *ngIf="totalItems === 0 && !loading">
                        <td colspan="16">No se encontraron Recursos</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-10">
                    <pagination-controls class="my-pagination" (pageChange)="pageChange($event)" #api
                        previousLabel="Ant." nextLabel="Sig." autoHide="true">
                    </pagination-controls>
                </div>
                <div class="form-group col-md-2">
                    <select class="form-control" [(ngModel)]="itemsPerPage" (change)="getResources()">
                        <option [value]="5">Mostrar 5 Registros</option>
                        <option [value]="10">Mostrar 10 Registros</option>
                        <option [value]="15">Mostrar 15 Registros</option>
                        <option [value]="20">Mostrar 20 Registros</option>
                        <option [value]="50">Mostrar 50 Registros</option>
                        <option [value]="100">Mostrar 100 Registros</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>