<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="center-content" *ngIf="alertMessage !== '' && !areCashBoxesEmpty">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Lista de Cajas
      <div class="pull-right">
        <button class="btn btn-primary" (click)="openModal('add', null)" >Agregar Caja</button>
        <button class="btn btn-primary" (click)="refresh()"[disabled]="loading"><i [ngClass]="{'fa fa-spinner fa-spin':loading}"></i><span *ngIf="loading">Cargando</span><span *ngIf="!loading">Actualizar</span></button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"></i>
        </span>
      </div>
    </div>
      <div class="card-block table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><i class="fa fa-bars"></i></th>
              <th (click)="orderBy('code')"> # <i class="fa fa-fw fa-sort"></i></th>
              <th (click)="orderBy('openingDate')">Fecha Apertura</th>
              <th (click)="orderBy('closingDate')">Fecha Cierre</th>
              <th (click)="orderBy('openingCash')">Importe Apertura</th>
              <th (click)="orderBy('closingCash')">Importe Cierre</th>
              <th (click)="orderBy('invoicedCash')">Facturado</th>
              <th (click)="orderBy('difference')">Diferencia</th>
              <th (click)="orderBy('state')">Estado</th>
            </tr>
            <tr *ngIf="areFiltersVisible">
                <th><input type="text" class="form-control" [(ngModel)]= "filterCode" placeholder="#..."></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterOpeningDate" placeholder="Fecha Apertura..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterClosingDate" placeholder="Fecha Cierre..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterOpeningCash" placeholder="Importe Apertura..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterClosingCash" placeholder="Importe Cierre..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterInvoicedCash" placeholder="Facturado..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterDifference" placeholder="Diferencia..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterState" placeholder="Estado..." ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cashBox of cashBoxes | orderBy: orderTerm: propertyTerm | filter: filterCode:'code' | filter: filterOpeningDate:'openingDate'
                                                                          | filter: filterClosingDate:'closingDate' | filter: filterOpeningCash:'openingCash'
                                                                          | filter: filterClosingCash:'closingCash' | filter: filterInvoicedCash:'invoicedCash'
                                                                          | filter: filterDifference:'difference' | filter: filterState:'state'
                                                                          | paginate: { itemsPerPage: itemsPerPage, 
                                                                                        currentPage: p, 
                                                                                        totalItems: totalItems
                                                                                      }">
              <td align="left" width="90">
                <button type="button" class="btn btn-danger btn-sm" (click)="openModal('delete', cashBox)"><i class="fa fa-trash-o"></i></button>
              </td>
              <td>{{cashBox.code}}</td>
              <td>{{cashBox.openingDate | date: ['MM/dd/yyyy'] }}</td>
              <td>{{cashBox.closingDate | date: ['MM/dd/yyyy']}}</td>
              <td>{{cashBox.openingCash | currency:'USD':'1.2-2'}}</td>
              <td>{{cashBox.closingCash | currency:'USD':'1.2-2'}}</td>
              <td>{{cashBox.invoicedCash | currency:'USD':'1.2-2'}}</td>
              <td>{{cashBox.difference | currency:'USD':'1.2-2'}}</td>
              <td><h6><span class="badge badge-default">{{cashBox.state}}</span></h6></td>
            </tr>
            <tr align="center" *ngIf="areCashBoxesEmpty">
              <td colspan="9">No se encontraron cajas</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-primary">
        <div class="row">
          <div class="col-md-10">
            <pagination-controls 
                      class="my-pagination"
                      (pageChange)="p=$event" 
                      #api 
                      previousLabel="Ant." 
                      nextLabel="Sig."
                      autoHide="true">
            </pagination-controls>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="itemsPerPage">
              <option [value]="5">Mostrar 5 ítems</option>
              <option [value]="10">Mostrar 10 ítems</option>
              <option [value]="15">Mostrar 15 ítems</option>
              <option [value]="20">Mostrar 20 ítems</option>
              <option [value]="50">Mostrar 50 ítems</option>
              <option [value]="100">Mostrar 100 ítems</option>
            </select>
          </div>
        </div>
      </div>
  </div>
</section>