<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="center-content" *ngIf="alertMessage !== '' && !areCashBoxesEmpty">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Listado de Cajas
      <div class="pull-right">
        <button class="btn btn-primary fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span> Actualizar</span></button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"> Filtrar</i>
        </span>
      </div>
    </div>
      <div class="card-block table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><i class="fa fa-bars"></i></th>
              <th (click)="orderBy('openingDate')">Fecha Apertura</th>
              <th (click)="orderBy('closingDate')">Fecha Cierre</th>
              <th (click)="orderBy('state')">Estado</th>
              <th (click)="orderBy('employee','name')">Empleado</th>
            </tr>
            <tr *ngIf="areFiltersVisible" class="filters">
              <th></th>
              <th><input type="date" class="form-control" [(ngModel)]= "filterOpeningDate" placeholder="Fecha Apertura..." ></th>
              <th><input type="date" class="form-control" [(ngModel)]= "filterClosingDate" placeholder="Fecha Cierre..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterState" placeholder="Estado..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterEmployee" placeholder="Empleado..." ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cashBox of cashBoxes  | filter: filterOpeningDate:'openingDate'
                                                  | filter: filterClosingDate:'closingDate'
                                                  | filter: filterState:'state'
                                                  | filter: filterState:'name':'employee'
                                                  | orderBy: orderTerm: propertyTerm
                                                  | paginate: { itemsPerPage: itemsPerPage, 
                                                                currentPage: p, 
                                                                totalItems: totalItems
                                                              }">
              <td align="left" width="100">
                <button *ngIf="cashBox.state === 'Cerrada'" type="button" class="btn btn-secondary btn-sm" (click)="openModal('print', cashBox)" title="Imprimir">
                    <i class="fa fa-print"></i>
                </button>
              </td>
              <td>{{cashBox.openingDate | dateFormat:'DD/MM/YYYY HH:mm' }}</td>
              <td>{{cashBox.closingDate | dateFormat:'DD/MM/YYYY HH:mm' }}</td>
              <td>
                <h6>
                  <span class="badge" [ngClass]="{'badge-success':cashBox.state==='Cerrada', 
                                                  'badge-warning':cashBox.state==='Abierta'}">
                    {{cashBox.state}}
                  </span>
                </h6>
              </td>
              <td *ngIf="cashBox.employee">{{cashBox.employee.name}}</td>
              <td *ngIf="!cashBox.employee"></td>
            </tr>
            <tr align="center" *ngIf="areCashBoxesEmpty">
              <td colspan="4">No se encontraron cajas</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-primary">
        <div class="row">
          <div class="col-md-10">
            <pagination-controls 
                      class="my-pagination"
                      (pageChange)="p=$event" 
                      #api 
                      previousLabel="Ant." 
                      nextLabel="Sig."
                      autoHide="true">
            </pagination-controls>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="itemsPerPage">
              <option [value]="5">Mostrar 5 ítems</option>
              <option [value]="10">Mostrar 10 ítems</option>
              <option [value]="15">Mostrar 15 ítems</option>
              <option [value]="20">Mostrar 20 ítems</option>
              <option [value]="50">Mostrar 50 ítems</option>
              <option [value]="100">Mostrar 100 ítems</option>
            </select>
          </div>
        </div>
      </div>
  </div>
</section>