<!--ADMIN-->
<section class="container-fluid" *ngIf="userType=='admin'">
	<div class="center-content" *ngIf="alertMessage !== '' && !areCategoriesEmpty">
		<ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
			{{alertMessage}}
		</ngb-alert>
	</div>
	<div class="card ">
		<div class="card-header">Listado de Rubros
			<div class="pull-right">
				<button class="btn" (click)="openModal('add', null)"><i
						class="fa fa-plus"></i><span>Agregar</span></button>
				<button class="btn fa fa-refresh" (click)="refresh()" [disabled]="loading"><i
						[ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span>Actualizar</span></button>

			</div>
		</div>
		<div class="card-block table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th><i class="fa fa-bars"></i></th>
						<th (click)="orderBy('order')">Orden </th>
						<th (click)="orderBy('description')">Description </th>
						<th (click)="orderBy('visibleInvoice')">Visible en la factura </th>
						<th (click)="orderBy('visibleOnSale')">Visible en la venta </th>
                        <th (click)="orderBy('visibleOnPurchase')">Visible en la compra </th>
                        <th (click)="orderBy('isRequiredOptional')">Obligatorio para opcional </th>                        
                        <th (click)="orderBy('parent','description')">Padre </th>

					</tr>
					<tr class="filters">
						<th></th>
						<th><input type="text" class="form-control" [(ngModel)]="filterOrder" placeholder="Orden...">
						</th>
						<th><input type="text" class="form-control" [(ngModel)]="filterDescription"
								placeholder="Descripción..."></th>
						<th><input type="text" class="form-control" [(ngModel)]="filterVisibleInvoice"
								placeholder="Visible en la factura..."></th>
						<th><input type="text" class="form-control" [(ngModel)]="filterVisibleOnSale"
								placeholder="Visible en la venta..."></th>
						<th><input type="text" class="form-control" [(ngModel)]="filterVisibleOnPurchase"
                                placeholder="Visible en la compra..."></th>
                        <th><input type="text" class="form-control" [(ngModel)]="filterIsRequiredOptional"
                                    placeholder="Visible en la compra..."></th>
                        <th><input type="text" class="form-control" [(ngModel)]="filterParent"
                                        placeholder="Padre..."></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="99" style="padding: 0px">
							<app-progressbar [loading]="loading"></app-progressbar>
						</td>
					</tr>
					<tr *ngFor="let category of categories  | filter: filterOrder:'order'
															| filter: filterDescription:'description'
															| filter: filterVisibleInvoice:'visibleInvoice'
															| filter: filterVisibleOnSale:'visibleOnSale'
                                                            | filter: filterVisibleOnPurchase:'visibleOnPurchase'
                                                            | filter : filterIsRequiredOptional : 'isRequiredOptional'
                                                            | filter : filterParent : 'description' : 'parent'
															| orderBy: orderTerm: propertyTerm
															| paginate: { itemsPerPage: itemsPerPage,
                                                                  currentPage: p,
                                                                  totalItems: totalItems
                                                                }">
						<td align="left" width="130">
							<button type="button" class="btn btn-success  btn-sm" (click)="openModal('view', category)"
								title="Ver"><i class="fa fa-eye"></i></button>
							<button type="button" class="btn btn-primary  btn-sm"
								(click)="openModal('update', category)" title="Modificar"><i
									class="fa fa-pencil"></i></button>
							<button type="button" class="btn btn-danger  btn-sm" (click)="openModal('delete', category)"
								title="Eliminar"><i class="fa fa-trash-o"></i></button>
						</td>
						<td class="flat">{{category.order}}</td>
						<td class="flat">{{category.description}}</td>
						<td class="flat">{{category.visibleInvoice}}</td>
						<td class="flat">{{category.visibleOnSale}}</td>
                        <td class="flat">{{category.visibleOnPurchase}}</td>
                        <td class="flat">{{category.isRequiredOptional}}</td>
                        <td class="flat" *ngIf="category.parent">{{category.parent.description}}</td>
                        <td class="flat" *ngIf="!category.parent"></td>

					</tr>
					<tr align="center" *ngIf="areCategoriesEmpty && !loading">
						<td colspan="7">No se encontraron rubros</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="card-footer">
			<div class="row">
				<div class="col-md-10">
					<pagination-controls class="my-pagination" (pageChange)="p=$event" #api previousLabel="Ant."
						nextLabel="Sig." autoHide="true">
					</pagination-controls>
				</div>
				<div class="form-group col-md-2">
					<select class="form-control" [(ngModel)]="itemsPerPage">
						<option [value]="5">Mostrar 5 Registros</option>
						<option [value]="10">Mostrar 10 Registros</option>
						<option [value]="15">Mostrar 15 Registros</option>
						<option [value]="20">Mostrar 20 Registros</option>
						<option [value]="50">Mostrar 50 Registros</option>
						<option [value]="100">Mostrar 100 Registros</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</section>