<div class="modal-header">
  <h4 class="modal-title">Agregar Depósito</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="depositForm" #formAddDeposit="ngForm" (ngSubmit)="addDeposit()" autocomplete="off">
    <div class="modal-body">
			<div class="row">
        <div class="form-group col-md-4">
          <label for="branch" class="control-label">Sucursal</label>
          <select class="form-control" formControlName="branch">
            <option *ngFor="let branch of branches" 
                    [value]="branch._id" 
                    [disabled]="readonly"
                    [selected]="(deposit.branch && deposit.branch._id && branch._id===deposit.branch._id) ||
                                (deposit.branch && branch._id===deposit.branch)">
                    {{ branch.number }} - {{ branch.name }}
            </option>
          </select>
          <div *ngIf="formErrors.branch" class="alert alert-danger">
            {{ formErrors.branch }}
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="name" class="control-label">Nombre:</label>
          <input type="text" class="form-control" formControlName="name" name="name" id="name" [focus]="focusEvent" [readonly]="readonly"/>
          <div *ngIf="formErrors.name" class="alert alert-danger">
            {{ formErrors.name }}
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="capacity" class="control-label">Capacidad:</label>
          <input type="number" class="form-control" formControlName="capacity" capacity="capacity" id="capacity" [readonly]="readonly"/>
        </div>
      </div>
    </div>
    <div class="modal-footer" *ngIf="operation !== 'view'">
      <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('cancel')">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!depositForm.valid || loading" *ngIf="operation !== 'delete'">
        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Guardar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
      <button type="button" 
              class="btn btn-danger" 
              *ngIf="operation === 'delete'" 
              [disabled]="!depositForm.valid || loading" 
              (click)="deleteDeposit()">
        <i class="fa" [ngClass]="{'fa-trash':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Eliminar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
</section>