<div class="modal-header">
  <h4 class="modal-title">Agregar Campo de Empresa</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="center-content"  *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="companyFieldForm" (ngSubmit)="addCompanyField()" autocomplete="off">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-12">
          <label for="name" class="control-label">Nombre:</label>
          <input type="text" class="form-control" formControlName="name" name="name" id="name" [focus]="focusEvent"/>
          <div *ngIf="formErrors.name" class="alert alert-danger">
            {{ formErrors.name }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="datatype" class="control-label">Tipo de dato</label>
          <select class="form-control" formControlName="datatype">
            <option *ngFor="let datatype of datatypes" [selected]="companyField.datatype === datatype">{{ datatype }}</option>
          </select>
        </div>
          <div class="form-group col-md-6">
            <label for="value" class="control-label">Valor:</label>
            <input type="text" class="form-control" formControlName="value" name="value" id="value"/>
            <div *ngIf="formErrors.value" class="alert alert-danger">
              {{ formErrors.value }}
            </div>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="activeModal.close('cancel')">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!companyFieldForm.valid || loading" >
        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Guardar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
</section>
