app-upload-file {
  .upload-container {
    position: relative;
    display: inline-block;
  }

  input[type='file'] {
    display: none;
  }

  .custom-file-label {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }

  .preview-image {
    margin-top: 50px;
    width: 600px;
    height: 400px;
    object-fit: none;
    display: block;
  }
}
