<!-- <div class="upload-container flex">
  <input type="file" #fileInput id="fileInput" (change)="onFileSelected($event)" hidden />

  <div *ngIf="imageUrl">
    <img [src]="imageUrl" alt="Imagen no disponible" class="preview-image" (click)="fileInput.click()" />
  </div>

  <div *ngIf="!imageUrl">
    <img
      src="./../../../assets/img/default.jpg"
      alt="No hay imagen"
      class="preview-image"
      (click)="fileInput.click()"
    />
  </div>
</div> -->

<div class="upload-container flex">
  <input type="file" #fileInput id="fileInput" (change)="onFileSelected($event)" hidden />

  <div class="image-wrapper" (click)="fileInput.click()">
    <img
      [src]="imageUrl || './../../../assets/img/default.jpg'"
      style="height: 200px; width: 250px; display: block; margin: auto"
      alt="No hay imagen"
      class="preview-image"
    />

    <button type="button" class="delete-btn" *ngIf="imageUrl" (click)="onDeleteImage($event, imageUrl)">×</button>
  </div>
</div>
