<section class="container-fluid">
  <div class="card">
    <div class="card-header">
      <span style="color: #607d8b" *ngIf="operation === 'add' || operation === 'copy'">
        {{ 'add-currency-value' | translate | capitalize }}
      </span>
      <span style="color: #607d8b" *ngIf="operation === 'update'">
        {{ 'edit' | translate | capitalize }} {{ currencyValue?.name ?? '' }}
      </span>
      <span style="color: #607d8b" *ngIf="operation === 'view' || operation === 'delete'">
        {{ currencyValue?.name ?? '' }}
      </span>
      <div class="pull-right">
        <button type="button" class="btn" (click)="returnTo()">
          <i class="fa fa-arrow-left"></i>
          <span>{{ 'return' | translate | capitalize }}</span>
        </button>
        <button
          type="button"
          class="btn"
          [disabled]="loading"
          *ngIf="operation !== 'delete' && operation !== 'view'"
          (click)="handleCurrencyValueOperation()"
        >
          <i class="fa" [ngClass]="{ 'fa-save': !loading, 'fa-spinner fa-spin': loading }"></i>
          <span *ngIf="!loading"> {{ 'save' | translate | capitalize }}</span>
          <span *ngIf="loading"> {{ 'loading' | translate | capitalize }}</span>
        </button>
        <button
          type="button"
          class="btn btn-danger active"
          *ngIf="operation === 'delete'"
          [disabled]="loading"
          (click)="handleCurrencyValueOperation()"
        >
          <i class="fa" [ngClass]="{ 'fa-trash': !loading, 'fa-spinner fa-spin': loading }"></i>
          <span *ngIf="!loading">{{ 'delete' | translate | capitalize }}</span>
          <span *ngIf="loading">{{ 'loading' | translate | capitalize }}</span>
        </button>
      </div>
    </div>
    <div class="card-body scroll">
      <form [formGroup]="currencyValueForm" (ngSubmit)="handleCurrencyValueOperation()" autocomplete="off">
        <!-- Datos principales -->
        <div class="row">
          <label class="form-group col-md-12">
            <b>{{ 'mainData' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-3">
            <label for="name" class="control-label">{{ 'name' | translate | capitalize }}:</label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              id="name"
              [focus]="focusEvent"
              [ngClass]="{
                'is-invalid': currencyValueForm.get('name')?.touched && currencyValueForm.get('name')?.invalid,
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="currencyValueForm.get('name')?.touched && currencyValueForm.get('name')?.hasError('required')"
            >
              {{ 'fieldRequired' | translate | capitalize }}
            </div>
          </div>
          <div class="form-group col-md-3">
            <label for="value" class="control-label">{{ 'value' | translate | capitalize }}:</label>
            <input
              type="number"
              class="form-control"
              formControlName="value"
              id="value"
              [ngClass]="{
                'is-invalid': currencyValueForm.get('value')?.touched && currencyValueForm.get('value')?.invalid,
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="currencyValueForm.get('value')?.touched && currencyValueForm.get('value')?.hasError('required')"
            >
              {{ 'fieldRequired' | translate | capitalize }}
            </div>
            <div
              class="invalid-feedback"
              *ngIf="currencyValueForm.get('value')?.touched && currencyValueForm.get('value')?.hasError('pattern')"
            >
              {{ 'invalidNumber' | translate | capitalize }}
            </div>
          </div>
        </div>
        <hr />
      </form>
    </div>
  </div>
</section>
