<!--Price-->
<section class="container-fluid" *ngIf="articleFields.length > 0 && location =='Price'">
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="articleFieldsForm" #formAddVariantValue="ngForm" (ngSubmit)="addArticleFields()" autocomplete="off">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-5">
          <label for="articleField" class="control-label">Campo:</label>
          <select class="form-control" formControlName="articleField" (change)="changeValues()">
            <option *ngFor="let articleField of articleFieldsPrice" [ngValue]="articleField">{{articleField.name}}</option>
          </select>
          <div *ngIf="formErrors.name" class="alert alert-danger">
            {{ formErrors.name }}
          </div>
        </div>
        <div class="form-group col-md-5">
          <label for="value" class="control-label" *ngIf="articleFieldsForm.value.datatype === 'Número'">Monto:</label>
          <label for="value" class="control-label" *ngIf="articleFieldsForm.value.datatype === 'Porcentaje'">Porcentaje:</label>
          <div class="input-group">
            <input value="number" class="form-control" formControlName="value" name="value" id="value" step="1"/>
          </div>
          <div *ngIf="formErrors.value" class="alert alert-danger">
            {{ formErrors.value }}
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for="value" class="control-label">Acción:</label>
          <div class="input-group">
            <button type="submit" class="btn btn-success" [disabled]="!articleFieldsForm.valid || loading">Agregar</button>
          </div>
        </div>
      </div>
      <div class="row">
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let fieldAux of fields">
              <td align="left" width="130" *ngIf="fieldAux.datatype !== 'Alfabético'">
                <button type="button" class="btn btn-danger btn-sm" title="Eliminar" (click)="deleteArticlField(fieldAux)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
              <td class="flat" *ngIf="fieldAux.datatype !== 'Alfabético'">{{fieldAux.name}}</td>
              <td class="flat" *ngIf="fieldAux.datatype === 'Porcentaje'">{{fieldAux.value}}%</td>
              <td class="flat" *ngIf="fieldAux.datatype !== 'Porcentaje'">{{fieldAux.value}}</td>
              <td class="flat" *ngIf="fieldAux.datatype !== 'Alfabético'">{{fieldAux.amount | currency:'USD':'symbol-narrow':'1.3-3'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</section>
<!--Campos Personalizados-->
<section class="container-fluid" *ngIf="articleFields.length > 0 && location =='Custom'">
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="articleFieldsForm" #formAddVariantValue="ngForm" (ngSubmit)="addArticleFields()" autocomplete="off">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-5">
          <label for="articleField" class="control-label">Campo:</label>
          <select class="form-control" formControlName="articleField" (change)="changeValues()">
            <option *ngFor="let articleField of articleFieldsCustom" [ngValue]="articleField">{{articleField.name}}</option>
          </select>
          <div *ngIf="formErrors.name" class="alert alert-danger">
            {{ formErrors.name }}
          </div>
        </div>
        <div class="form-group col-md-5">
          <label for="value" class="control-label" >Valor:</label>
          <div class="input-group">
            <input value="number" class="form-control" formControlName="value" name="value" id="value" step="1"/>
          </div>
          <div *ngIf="formErrors.value" class="alert alert-danger">
            {{ formErrors.value }}
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for="value" class="control-label">Acción:</label>
          <div class="input-group">
            <button type="submit" class="btn btn-success" [disabled]="!articleFieldsForm.valid || loading">Agregar</button>
          </div>
        </div>
      </div>
      <div class="row">
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let fieldAux of fields">
              <td align="left" width="130" *ngIf="fieldAux.datatype === 'Alfabético'">
                <button type="button" class="btn btn-danger btn-sm" title="Eliminar" (click)="deleteArticlField(fieldAux)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
              <td class="flat" *ngIf="fieldAux.datatype === 'Alfabético'">{{fieldAux.name}}</td>
              <td class="flat" *ngIf="fieldAux.datatype === 'Alfabético'">{{fieldAux.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</section>