<div class="dropdown-container">
  <div class="dropdown-header" (click)="toggleDropdown()">
    {{ getSelectedItemsText() || placeholder }}
  </div>
  <div *ngIf="isOpen" class="dropdown-list">
    <div *ngIf="allowSearch" class="search-box">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar..." />
    </div>
    <div *ngFor="let item of filteredItems()" class="dropdown-item">
      <input type="checkbox" [checked]="isSelected(item)" (change)="toggleSelection(item)" />
      {{ item[textField] }}
    </div>
  </div>
</div>
