<div class="dropdown-container" [id]="uniqueId">
  <div class="dropdown-header" (click)="toggleDropdown()">
    <div class="selected-text" [class.placeholder]="!hasSelection()">
      {{ getSelectedItemsText() }}
    </div>
    <i class="fa" [ngClass]="{ 'fa-arrow-down': !isOpen, 'fa-arrow-up': isOpen }"></i>
  </div>
  <div *ngIf="isOpen" class="dropdown-list">
    <div *ngIf="allowSearch" class="search-box">
      <i class="fa fa-search search-icon"></i>
      <input
        class="form-control"
        type="text"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchChange()"
        placeholder="Buscar..."
        (click)="$event.stopPropagation()"
      />
    </div>
    <div class="dropdown-items-container">
      <div *ngIf="filteredItems().length === 0" class="no-results">
        {{ noResultsText }}
      </div>
      <div
        *ngFor="let item of filteredItems()"
        class="dropdown-item"
        [class.selected]="isSelected(item)"
        (click)="toggleSelection(item)"
      >
        <span>{{ item[textField] }}</span>
      </div>
    </div>
  </div>
</div>
