.list-transaction {
  .container-filter {
    margin-bottom: 0.75rem;
  }

  ::ng-deep > app-datatable > .container-fluid {
    padding: 0 !important;
    margin-top: 0 !important;
    background-color: transparent;
  }

  ::ng-deep app-datatable {
    .card-large {
      min-height: calc(100vh - 180px);
      max-height: calc(100vh - 180px);
    }

    .table-responsive {
      height: calc(100vh - 270px);
    }
  }
}
