<button *ngIf="viewBotton" (click)="openFullscreen()" class="btn btn-primary w-100">Pantalla Completa</button>
<div *ngIf="gallery && gallery.barcode">
  <div class="row">
    <div class="col-12">
      <ngb-carousel
        class="barcode"
        *ngIf="images?.length > 0"
        [interval]="gallery.interval * 1000"
        [pauseOnHover]="false"
        [showNavigationArrows]="false"
      >
        <ng-template ngbSlide *ngFor="let image of images; let i = index">
          <div class="picsum-img-wrapper text-center">
            <img [src]="image" [alt]="'Slide ' + (i + 1)" class="img-fluid" />
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

  <div class="row align-items-center" style="height: 30vh">
    <div class="col-md-3">
      <div class="imgProduct content" *ngIf="article">
        <img *ngIf="article.picture" [src]="acticle.picture" class="img-fluid rounded shadow-lg" />
      </div>
      <h4>Ingrese código de barras</h4>
      <input
        type="text"
        class="barcode form-control"
        [(ngModel)]="filterArticle"
        (keydown.enter)="getArticle()"
        [focus]="focusEvent"
      />
    </div>
    <div *ngIf="article" class="col-md-9 d-flex justify-content-center align-items-center text-center article-details">
      <div class="content">
        <h2 class="display-5 mb-3">{{ article.description }}</h2>
        <h1>
          {{ article.salePrice | currency : 'USD' : 'symbol-narrow' : '1.2-2' }}
        </h1>
        <p [innerHTML]="article?.observation"></p>
      </div>
    </div>
  </div>
</div>
