app-view-gallery {
  .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .picsum-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ocupa todo el espacio disponible */
  }

  .picsum-img-wrapper img {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: contain; /* Ajuste de imagen sin recortar */
  }

  .content img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
  }

  /* Estilos generales */
  h1,
  h3 {
    font-size: 2.5rem;
  }

  .form-control {
    height: 55px;
    font-size: 1.5rem;
  }

  /* Estilos para pantallas grandes como el tótem o computadoras */
  @media (min-width: 1200px) {
    .picsum-img-wrapper img {
      max-width: 90%;
      max-height: 50vh;
    }

    .imgProduct img {
      max-width: 90%;
      max-height: 33vh;
    }

    h1,
    h3 {
      font-size: 3rem; /* Tamaño del texto más grande */
    }
  }

  /* Estilos para pantallas medianas, como una computadora normal */
  @media (min-width: 768px) and (max-width: 1199px) {
    .picsum-img-wrapper img {
      max-width: 90%;
      max-height: 60vh;
    }

    h1,
    h3 {
      font-size: 2rem; /* Tamaño del texto más pequeño */
    }
  }

  /* Estilos para pantallas pequeñas como tablets o teléfonos */
  @media (max-width: 767px) {
    .picsum-img-wrapper img {
      max-width: 100%;
      max-height: 50vh;
    }
    .imgProduct img {
      max-width: 90%;
      max-height: 25vh;
    }
    h1,
    h3 {
      font-size: 1.5rem;
    }
  }

  .article-details {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centra el texto */
    height: 100%; /* Asegura que la altura ocupe el espacio disponible */
  }

  .article-details h1 {
    font-size: 3rem; /* Ajusta el tamaño del precio */
  }

  .article-details h2 {
    font-size: 2rem; /* Ajusta el tamaño de la descripción */
    margin-bottom: 10px;
  }

  .article-details p {
    margin-top: 10px; /* Añade un pequeño margen entre los elementos */
  }
}
