<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="center-content" *ngIf="alertMessage !== '' && !areCompaniesEmpty">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Listado de {{type}}es
      <div class="pull-right">
        <!-- <button class="btn btn-primary" (click)="openMail()"> Enviar Mail </button> -->
        <button class="btn btn-primary" *ngIf="identity.name === 'soporte'" (click)="openModal('import', null)"><i class="fa fa-cloud-upload"></i> Importar</button>
        <button class="btn btn-primary" (click)="exportAsXLSX()"><i class="fa fa-cloud-download"></i> Exportar </button>
        <button class="btn btn-primary" (click)="openModal('add', null)"><i class="fa fa-plus"> Agregar Empresa</i></button>
        <button class="btn btn-primary fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span> Actualizar</span></button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"> Filtrar</i>
        </span>
      </div>
    </div>
      <div class="card-block table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><i class="fa fa-bars"></i></th>
              <th (click)="orderBy('name')">Nombre</th>
              <th (click)="orderBy('fantasyName')">Nombre de Fantasía</th>
              <th (click)="orderBy('vatCondition','description')" *ngIf="userCountry === 'AR'">Condición de IVA</th>
              <th (click)="orderBy('vatCondition','description')" *ngIf="userCountry !== 'AR'">Régimen Fiscal</th>
              <th (click)="orderBy('identificationType','name')">Tipo Identificación</th>
              <th (click)="orderBy('identificationValue')">Nro Identificación</th>
              <th (click)="orderBy('address')">Dirección</th>
              <th (click)="orderBy('addressNumber')">Número</th>
              <th (click)="orderBy('city')">Ciudad</th>
              <th (click)="orderBy('phones')">Teléfonos</th>
              <th (click)="orderBy('emails')">Emails</th>
              <th (click)="orderBy('birthday')">Cumpleaños</th>
              <th (click)="orderBy('allowCurrentAccount')">Cta. Cte.</th>
              <th (click)="orderBy('observation')">Observación</th>
            </tr>
            <tr *ngIf="areFiltersVisible" class="filters">
              <th></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterName" placeholder="Nombre..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterFantasyName" placeholder="Nombre de Fantasía..." ></th>
              <th *ngIf="userCountry === 'AR'"><input type="text" class="form-control" [(ngModel)]= "filterVATCondition" placeholder="Condición de IVA..."></th>
              <th *ngIf="userCountry !== 'AR'"><input type="text" class="form-control" [(ngModel)]= "filterVATCondition" placeholder="Régimen Fiscal..."></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterIdentificationType" placeholder="Tipo Identificación..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterIdentificationValue" placeholder="Nro Identificación..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterAddress" placeholder="Dirección..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterAddressNumber" placeholder="Número..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterCity" placeholder="Ciudad..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterPhones" placeholder="Teléfonos..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterEmails" placeholder="Emails..." ></th>
              <th><input type="date" class="form-control" [(ngModel)]= "filterBirthday" placeholder="Cumpleaños..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterAllowCurrentAccount" placeholder="Cta. Cte..." ></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterObservation" placeholder="Observación..." ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of companies  | filter: filterName:'name'
                                                  | filter: filterFantasyName:'fantasyName'
                                                  | filter: filterVATCondition:'description':'vatCondition'
                                                  | filter: filterIdentificationType:'name':'identificationType'
                                                  | filter: filterIdentificationValue:'identificationValue'
                                                  | filter: filterAddress:'address'
                                                  | filter: filterAddressNumber:'addressNumber'
                                                  | filter: filterCity:'city'
                                                  | filter: filterPhones:'phones'
                                                  | filter: filterEmails:'emails'
                                                  | filter: filterBirthday:'birthday'
                                                  | filter: filterAllowCurrentAccount:'allowCurrentAccount'
                                                  | filter: filterObservation:'observation'
                                                  | orderBy: orderTerm: propertyTerm
                                                  | paginate: { itemsPerPage: itemsPerPage,
                                                                currentPage: p,
                                                                totalItems: totalItems
                                                              }">
              <td nowrap align="left" width="130">
                <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view', company)" title="Ver"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-primary btn-sm" (click)="openModal('update', company)" title="Modificar"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger btn-sm" (click)="openModal('delete', company)" title="Eliminar"><i class="fa fa-trash-o"></i></button>
              </td>
              <td>{{company.name}}</td>
              <td>{{company.fantasyName}}</td>
              <td *ngIf="company.vatCondition">{{company.vatCondition.description}}</td>
              <td *ngIf="!company.vatCondition">Consumidor Final</td>
              <td  align="center" *ngIf="company.identificationType">{{company.identificationType.name}}</td>
              <td align="center" *ngIf="!company.identificationType"></td>
              <td nowrap >{{company.identificationValue}}</td>
              <td>{{company.address}}</td>
              <td>{{company.addressNumber}}</td>
              <td>{{company.city}}</td>
              <td>{{company.phones}}</td>
              <td>{{company.emails}}</td>
              <td>{{company.birthday | dateFormat:'DD/MM/YYYY'}}</td>
              <td>{{company.allowCurrentAccount}}</td>
              <td>{{company.observation}}</td>
            </tr>
            <tr align="center" *ngIf="areCompaniesEmpty && !loading">
              <td colspan="15">No se encontraron empresas</td>
            </tr>
          </tbody>
          <tfoot>
            <td><b>CANTIDAD</b></td>
            <td>{{totalItems}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tfoot>
        </table>
      </div>
      <div class="card-footer bg-primary">
        <div class="row">
          <div class="col-md-10">
            <pagination-controls
                      class="my-pagination"
                      (pageChange)="p=$event"
                      #api
                      previousLabel="Ant."
                      nextLabel="Sig."
                      autoHide="true">
            </pagination-controls>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="itemsPerPage">
              <option [value]="5">Mostrar 5 Registros</option>
              <option [value]="10">Mostrar 10 Registros</option>
              <option [value]="15">Mostrar 15 Registros</option>
              <option [value]="20">Mostrar 20 Registros</option>
              <option [value]="50">Mostrar 50 Registros</option>
              <option [value]="100">Mostrar 100 Registros</option>
            </select>
          </div>
        </div>
      </div>
  </div>
</section>

<section class="container-fluid" *ngIf="userType=='pos'">
  <div class="center-content" *ngIf="alertMessage !== '' && !areCompaniesEmpty">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Listado de Empresas
      <div class="pull-right">
        <button class="btn btn-primary" (click)="openModal('add', null)"><i class="fa fa-plus"> Agregar Empresa</i></button>
        <button class="btn btn-primary fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span> Actualizar</span></button>
      </div>
    </div>
      <div class="card-block table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th (click)="orderBy('name')">Nombre </th>
              <th (click)="orderBy('name')" *ngIf="userCountry === 'AR'">Condición IVA </th>
              <th (click)="orderBy('name')" *ngIf="userCountry !== 'AR'">Régimen Fiscal </th>
              <th (click)="orderBy('identificationValue')">Identificador</th>
              <th (click)="orderBy('address')">Dirección </th>
              <th (click)="orderBy('addressNumber')">Número </th>
              <th (click)="orderBy('phones')">Teléfonos </th>
            </tr>
            <tr>
                <th><input type="text" class="form-control" [(ngModel)]= "filterName" placeholder="Nombre..." ></th>
                <th *ngIf="userCountry === 'AR'"><input type="text" class="form-control" [(ngModel)]= "filterVATCondition" placeholder="Condición IVA..." ></th>
                <th *ngIf="userCountry !== 'AR'"><input type="text" class="form-control" [(ngModel)]= "filterVATCondition" placeholder="Régimen Fiscal..."></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterIdentificationValue" placeholder="Identificador" ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterAddress" placeholder="Dirección..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterAddressNumber" placeholder="Número..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterPhones" placeholder="Teléfonos..." ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of companies  | orderBy: orderTerm: propertyTerm
                                                  | filter: filterCode:'code'
                                                  | filter: filterName:'name'
                                                  | filter: filterVATCondition:'description':'vatCondition'
                                                  | filter: filterIdentificationValue:'identificationValue'
                                                  | filter: filterAddress:'address'
                                                  | filter: filterAddressNumber:'addressNumber'
                                                  | filter: filterPhones:'phones'
                                                  | paginate: { itemsPerPage: itemsPerPage,
                                                                currentPage: p,
                                                                totalItems: totalItems
                                                              }"
                (click)="selectCompany(company)">
              <td>{{company.name}}</td>
              <td *ngIf="company.vatCondition">{{company.vatCondition.description}}</td>
              <td *ngIf="!company.vatCondition">Consumidor Final</td>
              <td>{{company.identificationValue}}</td>
              <td>{{company.address}}</td>
              <td>{{company.addressNumber}}</td>
              <td>{{company.phones}}</td>
            </tr>
            <tr align="center" *ngIf="areCompaniesEmpty && !loading">
              <td colspan="8">No se encontraron empresas</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-primary">
        <div class="row">
          <div class="col-md-10">
            <pagination-controls
                    class="my-pagination"
                    (pageChange)="p=$event"
                    #api
                    previousLabel="Ant."
                    nextLabel="Sig."
                    autoHide="true">
            </pagination-controls>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="itemsPerPage">
              <option [value]="5">Mostrar 5 Registros</option>
              <option [value]="10">Mostrar 10 Registros</option>
              <option [value]="15">Mostrar 15 Registros</option>
              <option [value]="20">Mostrar 20 Registros</option>
              <option [value]="50">Mostrar 50 Registros</option>
              <option [value]="100">Mostrar 100 Registros</option>
            </select>
          </div>
        </div>
      </div>
  </div>
</section>
