.card {
      margin-top: 50px;
      height:80vh;
}

.btn {
      cursor: pointer;
}

.table {
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
    cursor: pointer;
 }

 .pos {
      padding-top: 30px;
      height: 700px;
 }