<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="card card-outline-primary">
    <div class="card-header bg-primary card-inverse">Lista de Empresas
      <div class="pull-right">
        <button class="btn btn-primary" (click)="openMail(companies)"> Enviar Mail </button>
        <button class="btn btn-primary" (click)="openModal('add', null)" >Agregar Empresa</button>
        <button class="btn btn-primary" (click)="refresh()"><i [ngClass]="{'fa fa-spinner fa-spin':loading}"></i> Actualizar</button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"></i>
        </span>
      </div>
    </div>
      <div class="card-block table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><i class="fa fa-bars"></i></th>
              <th (click)="orderBy('code')">Número </th>
              <th (click)="orderBy('name')">Nombre </th>
              <th (click)="orderBy('fantasyName')">Nombre de Fantasía </th>
              <th (click)="orderBy('type')">Tipo </th>
              <th (click)="orderBy('CUIT')">CUIT </th>
              <th (click)="orderBy('address')">Dirección </th>
              <th (click)="orderBy('city')">Ciudad </th>
              <th (click)="orderBy('phones')">Teléfonos </th>
              <th (click)="orderBy('emails')">Emails </th>
            </tr>
            <tr *ngIf="areFiltersVisible">
                <th><input type="text" class="form-control" [(ngModel)]= "filterCode" placeholder="Número..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterName" placeholder="Nombre..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterFantasyName" placeholder="Nombre de Fantasía..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterType" placeholder="Tipo..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterCUIT" placeholder="CUIT..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterAddress" placeholder="Dirección..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterCity" placeholder="Ciudad..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterPhones" placeholder="Teléfonos..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterEmails" placeholder="Emails..." ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of companies  | orderBy: orderTerm: propertyTerm  
                                                  | filter: filterCode:'code'
                                                  | filter: filterName:'name' 
                                                  | filter: filterFantasyName:'fantasyName'
                                                  | filter: filterType:'type'
                                                  | filter: filterCUIT:'CUIT'
                                                  | filter: filterAddress:'address'
                                                  | filter: filterCity:'city' 
                                                  | filter: filterPhones:'phones' 
                                                  | filter: filterEmails:'emails'
                                                  | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
              <td align="left" width="90">
                <button type="button" class="btn btn-primary btn-sm" (click)="openModal('update', company)"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger btn-sm" (click)="openModal('delete', company)"><i class="fa fa-trash-o"></i></button>
              </td>
              <td>{{company.code}}</td>
              <td>{{company.name}}</td>
              <td>{{company.fantasyName}}</td>
              <td>{{company.type}}</td>
              <td>{{company.CUIT}}</td>
              <td>{{company.address}}</td>
              <td>{{company.city}}</td>
              <td>{{company.phones}}</td>
              <td>{{company.emails}}</td>
            </tr>
            <tr align="center" *ngIf="areCompaniesEmpty">
              <td colspan="10">No se encontraron empresas</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-primary card-inverse">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <pagination-controls (pageChange)="p=$event" #api previousLabel="Anterior" nextLabel="Siguiente">
            </pagination-controls>
          </div>
          <div class="col-md-2"></div>
          Mostrar
          <div class="form-group col-md-1">
            <select class="form-control" [(ngModel)]="itemsPerPage">
              <option [value]="5" >5</option>
              <option [value]="10">10</option>
              <option [value]="15">15</option>
              <option [value]="20">20</option>
              <option [value]="50">50</option>
              <option [value]="100">100</option>
            </select>
          </div>
          ítems
        </div>
      </div>
  </div>
</section>

<section class="container-fluid pos" *ngIf="userType=='pos'">
  <table class="table table-hover">
    <thead>
      <tr>
        <th (click)="orderBy('code')">Número </th>
        <th (click)="orderBy('name')">Nombre </th>
        <th (click)="orderBy('CUIT')">CUIT </th>
      </tr>
      <tr>
          <th><input type="text" class="form-control" [(ngModel)]= "filterCode" placeholder="Número..." ></th>
          <th><input type="text" class="form-control" [(ngModel)]= "filterName" placeholder="Nombre..." ></th>
          <th><input type="text" class="form-control" [(ngModel)]= "filterCUIT" placeholder="CUIT..." ></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies  | orderBy: orderTerm: propertyTerm
                                            | filter: filterCode:'code' 
                                            | filter: filterName:'name' 
                                            | filter: filterCUIT:'CUIT' 
                                            | paginate: { itemsPerPage: itemsPerPage, currentPage: p }"
          (click)="selectCompany(company)">
        <td>{{company.code}}</td>
        <td>{{company.name}}</td>
        <td>{{company.CUIT}}</td>
      </tr>
      <tr align="center" *ngIf="areCompaniesEmpty">
        <td colspan="3">No se encontraron empresas</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls 
    (pageChange)="p=$event" 
    #api 
    previousLabel="Anterior"
    nextLabel="Siguiente">
  </pagination-controls>
</section>