app-list-companies {
      .card {
            margin-top: 50px;
            height:80vh;
      }
td {
            white-space: nowrap;
       }      
      .center-content {
            margin-top: 30px;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-justify-content: center;
            justify-content: center;
      }
      
      .card-header {
            color: white;
      }
      
      .btn {
            cursor: pointer;
      }
      
      .table {
          box-shadow: 0px 0px 2px;
          border-radius: 5px;
          cursor: pointer;
          border: none;
          width: 100%;
          border-collapse: collapse;
      }

      .td { 
            padding: 5px 10px;
            text-align: center;
            border: 1px solid #999;
      }
      
      .tr:nth-child(1) {
            background: #dedede;
      }

      .pos {
            padding-top: 20px;
            height: 700px;
      }
      
      .my-pagination /deep/ .ngx-pagination {
          color: white;
      }
      
      ::placeholder {
            color: #D8D8D8;
      }
      
      .filters {
            background-color: #F8F8F8;
      }
      
      /* .modal-size-6 > .modal-dialog {
        max-width: 1200px !important;
        width: 1200px !important;
      } */
}


@media (min-width: 1100px) {
      .modal-lg {
            max-width: 1000px;
      }
}

@media (min-width: 1400px) {
      .modal-lg {
            max-width: 1200px;
      }
}