<!--ADMIN-->
<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="center-content" *ngIf="alertMessage !== '' && !areMakesEmpty">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Listado de Ubicaciones
      <div class="pull-right">
        <button class="btn btn-primary" (click)="openModal('add', null)"><i class="fa fa-plus"> Agregar Ubicacion</i></button>
        <button class="btn btn-primary fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span> Actualizar</span></button>
        <!-- <button class="btn btn-primary" (click)="openModal('import', null)">Importar Marcas</button> -->
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"> Filtrar</i>
        </span>
      </div>
    </div>
      <div class="card-block table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><i class="fa fa-bars"></i></th>
              <th (click)="orderBy('description')">Descripción </th>
            </tr>
            <tr *ngIf="areFiltersVisible" class="filters">
              <th></th>
              <th><input type="text" class="form-control" [(ngModel)]= "filterDescription" placeholder="Descripción..." ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let location of locations | filter: filterDescription:'description' 
                                          | orderBy: orderTerm: propertyTerm
                                          | paginate: { itemsPerPage: itemsPerPage, 
                                                        currentPage: p, 
                                                        totalItems: totalItems
                                                      }">
              <td align="left" width="130">
                <button type="button" class="btn btn-success  btn-sm" (click)="openModal('view', location)" title="Ver"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-primary btn-sm" (click)="openModal('update', location)" title="Modificar"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger btn-sm" (click)="openModal('delete', location)" title="Eliminar"><i class="fa fa-trash-o"></i></button>
              </td>
              <td class="flat">{{location.description}}</td>
            </tr>
            <tr align="center" *ngIf="areLocationssEmpty">
              <td colspan="2">No se encontraron Ubicaciones</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-primary">
        <div class="row">
          <div class="col-md-10">
            <pagination-controls 
                      class="my-pagination"
                      (pageChange)="p=$event" 
                      #api 
                      previousLabel="Ant." 
                      nextLabel="Sig."
                      autoHide="true">
            </pagination-controls>
          </div>
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="itemsPerPage">
              <option [value]="5">Mostrar 5 ítems</option>
              <option [value]="10">Mostrar 10 ítems</option>
              <option [value]="15">Mostrar 15 ítems</option>
              <option [value]="20">Mostrar 20 ítems</option>
              <option [value]="50">Mostrar 50 ítems</option>
              <option [value]="100">Mostrar 100 ítems</option>
            </select>
          </div>
        </div>
      </div>
  </div>
</section>