<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="card card-outline-primary">
    <div class="card-header bg-primary">Resúmenes de Cuentas
      <div class="pull-right">
          <span (click)="areFiltersVisible = !areFiltersVisible">
              <i class="btn btn-primary fa fa-filter" data-toggle="tooltip" data-placement="top" title="Aplicar Filtros"> Filtrar</i>
          </span>
      </div>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
              <th (click)="orderBy('_id','name')">Nombre</th>
              <th (click)="orderBy('_id','type')">Tipo</th>
              <th (click)="orderBy('_id','DNI')">DNI</th>
              <th (click)="orderBy('_id','CUIT')">CUIT</th>
              <th (click)="orderBy('balance')">Saldo</th>
          </tr>
          <tr *ngIf="areFiltersVisible" class="filters">
            <th><input type="text" class="form-control" [(ngModel)]= "filterName" placeholder="Nombre..." ></th>
            <th><input type="text" class="form-control" [(ngModel)]= "filterType" placeholder="Tipo..." ></th>
            <th><input type="text" class="form-control" [(ngModel)]= "filterDNI" placeholder="DNI..." ></th>
            <th><input type="text" class="form-control" [(ngModel)]= "filterCUIT" placeholder="CUIT..." ></th>
            <th><input type="text" class="form-control" [(ngModel)]= "filterBalance" placeholder="Saldo..." ></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items | filter: filterName:'name':'_id'
                                        | filter: filterType:'type':'_id'
                                        | filter: filterDNI:'DNI':'_id'
                                        | filter: filterCUIT:'CUIT':'_id'
                                        | filter: filterBalance:'balance'
                                        ">
            <td class="flat">{{ item._id.name }}</td>
            <td class="flat">{{ item._id.type }}</td>
            <td class="flat">{{ item._id.DNI }}</td>
            <td class="flat">{{ item._id.CUIT }}</td>
            <td class="flat">{{ item.balance | currency:'USD':'1.2-2'  }}</td>
          </tr>
          <tr align="center" *ngIf="areItemsEmpty">
            <td colspan="3">No se encontraron cuentas</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
