<section class="container-fluid" *ngIf="userType=='admin'">
    <div class="card ">
      <div class="card-header">Resúmenes de Cuentas
        <div class="pull-right">
            <span (click)="openModal('print2')">
                <i class="btn fa fa-print" data-toggle="tooltip" data-placement="top" title="Imprimir detalle"> Imprimir detalle sin saldo</i>
            </span>
            <span (click)="openModal('print')">
                <i class="btn fa fa-print" data-toggle="tooltip" data-placement="top" title="Imprimir detalle"> Imprimir detalle con saldo</i>
            </span>
        </div>
      </div>
      <div class="card-block table-responsive">
        <div class="center-content" *ngIf="alertMessage !== '' && !areTablesEmpty">
          <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
            {{alertMessage}}
          </ngb-alert>
        </div>
        <div class="row container-filter">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <label for="dataSelect" class="control-label">
              <b>Por Vencimiento de:</b>
            </label>
            <select class="form-control" [(ngModel)]="dataSelect">
              <option value="transaction" >Transacción</option>
              <option value="movement-of-cash">Pago</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="startDate" class="control-label">
              <b>Fecha Desde:</b>
            </label>
            <input type="date" class="form-control" name="startDate" min="2000-01-01" [(ngModel)]="startDate" />
          </div>
          <div class="col-md-2">
            <label for="endDate" class="control-label">
              <b>Fecha Hasta:</b>
            </label>
            <input type="date" class="form-control" name="endDate" min="2000-01-01" [(ngModel)]="endDate" />
          </div>
          <div class="col-md-2" (click)="refresh()">
            <label for="btn-action" class="control-label"><b>Acción:</b></label>
            <span class="form-control btn-action center-content">
              <i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i>Actualizar
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th class="align-center" (click)="orderBy('companyName')">Nombre</th>
                  <th class="align-center" (click)="orderBy('identificationValue')">Identificador</th>
                  <th class="align-center" (click)="orderBy('companyAddress')">Dirección</th>
                  <th class="align-center" (click)="orderBy('companyPhones')">Teléfono</th>
                  <th class="align-center" (click)="orderBy('companyEmails')">Email</th>
                  <th class="align-center" (click)="orderBy('companyEmployee')">Empleado asignado</th>
                  <th class="align-center" (click)="orderBy('balance')">Saldo</th>
                </tr>
                <tr class="filters">
                  <th></th>
                  <th><input type="text" class="form-control" [(ngModel)]= "filterCompanyName" placeholder="Nombre..." ></th>
                  <th><input type="text" class="form-control" [(ngModel)]= "filterIdentificationValue" placeholder="Identificador..." ></th>
                  <th><input type="text" class="form-control" [(ngModel)]= "filterCompanyAddress" placeholder="Dirección..." ></th>
                  <th><input type="text" class="form-control" [(ngModel)]= "filterCompanyPhones" placeholder="Teléfono..." ></th>
                  <th><input type="text" class="form-control" [(ngModel)]= "filterCompanyEmails" placeholder="Email..." ></th>
                  <th><input type="text" class="form-control" [(ngModel)]= "filterCompanyEmployee" placeholder="Empleado asignado..." ></th>
                  <th><input type="text" class="form-control" [(ngModel)]= "filterBalance" placeholder="Saldo..." ></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="99" style="padding: 0px">
                    <app-progressbar [loading]="loading"></app-progressbar>
                  </td>
                </tr>
                <tr *ngFor="let item of items | filter: filterCompanyName:'companyName'
                                              | filter: filterIdentificationValue:'identificationValue'
                                              | filter: filterCompanyAddress:'companyAddress'
                                              | filter: filterCompanyPhones:'companyPhones'
                                              | filter: filterCompanyEmails:'companyEmails'
                                              | filter: filterCompanyEmployee:'companyEmployee'
                                              | filter: filterBalance:'balance'
                                              | orderBy: orderTerm: propertyTerm
                                              | paginate: { itemsPerPage: itemsPerPage,
                                                            currentPage: p,
                                                            totalItems: totalItems
                                                          }"
                    [ngClass]="{'credit':item.balance>0,'debit':item.balance<0}">
                  <td align="left" width="130">
                    <button type="button" class="btn btn-success  btn-sm" (click)="viewDetailCureentAccount(item._id.companyId)" title="Ver"><i class="fa fa-eye"></i></button>
                    <a *ngIf="item.companyPhones" class="btn btn-default btn-sm icon-ws" href="https://web.whatsapp.com/send?phone=54{{item.companyPhones}}&text=''" target="_blank"><i class="fa fa-whatsapp"></i></a>
                  </td>
                  <td class="flat ws-normal">{{ item.companyName }}</td>
                  <td class="flat align-center">{{ item.identificationValue }}</td>
                  <td class="flat ws-normal">{{ item.companyAddress }}</td>
                  <td class="flat ws-normal">{{ item.companyPhones }}</td>
                  <td class="flat ws-normal">{{ item.companyEmails }}</td>
                  <td class="flat ws-normal">{{ item.companyEmployee }}</td>
                  <td class="align-right" *ngIf="item.balance>=0">
                    <strong>{{item.balance | currency:'USD':'symbol-narrow':'1.2-2'}}</strong>
                  </td>
                  <td class="align-right" *ngIf="item.balance<0">
                    <strong>{{item.balance | currency:'USD':'symbol-narrow':'1.2-2'}}</strong>
                  </td>
                </tr>
                <tr align="center" *ngIf="items.length === 0 && !loading">
                  <td colspan="9">No se encontraron cuentas</td>
                </tr>
              </tbody>
              <tfoot>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="align-right">
                  <strong>Total</strong>
                </td>
                <td class="align-right">
                  <b>
                    ${{ calculateTotal(items
                    | filter: filterCompanyName:'companyName'
                    | filter: filterCompanyType:'companyType'
                    | filter: filterIdentificationValue:'identificationValue'
                    | filter: filterCompanyAddress:'companyAddress'
                    | filter: filterCompanyPhones:'companyPhones'
                    | filter: filterCompanyEmails:'companyEmails'
                    | filter: filterCompanyEmployee:'companyEmployee'
                    | filter: filterBalance:'balance'  , 'balance', '1.2-2') }}
                  </b>
                </td>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-10">
          <pagination-controls class="my-pagination" (pageChange)="p=$event" #api previousLabel="Ant." nextLabel="Sig."
            autoHide="true">
          </pagination-controls>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" [(ngModel)]="itemsPerPage">
            <option [value]="5">Mostrar 5 Registros</option>
            <option [value]="10">Mostrar 10 Registros</option>
            <option [value]="15">Mostrar 15 Registros</option>
            <option [value]="20">Mostrar 20 Registros</option>
            <option [value]="50">Mostrar 50 Registros</option>
            <option [value]="100">Mostrar 100 Registros</option>
          </select>
        </div>
      </div>
    </div>
  </section>
  