app-list-summary-of-accounts {
  .card {
    margin-top: 50px;
    height:80vh;
  }
  
  .container-filter {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .card-header {
    color: white;
  }
  
  .btn {
    cursor: pointer;
  }
  
  .table {
    box-shadow: 0px 0px 2px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .credit {
    background: #dff0d8;
  }
  
  .debit {
     background: #f2dede;
  }
  
  .center-content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
  }
  
  .my-pagination /deep/ .ngx-pagination {
    color: white;
  }
  
  ::placeholder {
    color: #D8D8D8;
  }
  
  .filters {
    background-color: #F8F8F8;
  }
  
  .btn-action {
    width: 100%;
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
    background: #0275d8;
    color: white;
    height: 45px;
  }
  
  .btn-action:hover {
    background: #025aa5;
  }
  
  .align-right {
    text-align: right;
  }
  
  .align-left {
    text-align: left;
  }
  
  .align-center {
    text-align: center;
  }
}

@media (min-width: 1100px) {
  .modal-lg {
        max-width: 1000px;
  }
}

@media (min-width: 1400px) {
  .modal-lg {
        max-width: 1200px;
  }
}