app-list-summary-of-accounts {

    .align-right {
        text-align: right;
      }
      
      .align-left {
        text-align: left;
      }
      
      .align-center {
        text-align: center;
      }
      .icon-ws {
        background-color: #01E675;
        color: white;
      }
}