<section class="container-fluid" *ngIf="userType=='admin' ">
  <div class="center-content" *ngIf="alertMessage !== '' && totalItems > 0">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="card ">
    <div class="card-header">Listado de Tipos de Cancelaciones
      <div class="pull-right">
          <button class="btn" (click)="openModal('add', null)" ><i class="fa fa-plus"></i><span>Agregar</span></button>
        <button class="btn fa fa-refresh" (click)="refresh()" [disabled]="loading"><i [ngClass]="{'fa fa-refresh fa-spin':loading}"></i><span>Actualizar</span></button>
        
      </div>
    </div>
    <div class="card-block table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th colspan="2" >Transacción Cancelada</th>
            <th colspan="3" >Transacción Cancelatoria</th>
          </tr>
          <tr>
            <th>
              <i class="fa fa-bars"></i>
            </th>
            <th (click)="orderBy('origin.transactionMovement')">Tipo</th>
            <th (click)="orderBy('origin.name')">Nombre</th>
            <th (click)="orderBy('destination.transactionMovement')" >Tipo</th>
            <th (click)="orderBy('destination.name')" >Nombre</th>
            <th (click)="orderBy('modifyBalance')">Modifica el Saldo</th>
          </tr>
          <tr class="filters">
            <th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['origin.transactionMovement']" (input)="getCancellationTypes()" placeholder="Tipo de Transacción Cancelada..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['origin.name']" (input)="getCancellationTypes()" placeholder="Nombre de Transacción Cancelada..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['destination.transactionMovement']" (input)="getCancellationTypes()" placeholder="Tipo de Transacción Cancelatoria..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['destination.name']" (input)="getCancellationTypes()" placeholder="Nombre de Transacción Cancelatoria..."></th>
            <th><input type="text" class="form-control" [(ngModel)]="filters['modifyBalance']" (input)="getCancellationTypes()" placeholder="Modifica el Saldo..."></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="99" style="padding: 0px">
              <app-progressbar [loading]="loading"></app-progressbar>
            </td>
          </tr>
          <tr *ngFor="let cancellationType of cancellationTypes | paginate: { itemsPerPage: itemsPerPage,
                                                                      currentPage: currentPage,
                                                                      totalItems: totalItems
                                                                    }">
            <td align="left" width="150">
              <button type="button"
                      class="btn btn-success  btn-sm" 
                      (click)="openModal('view', cancellationType)" 
                      title="Ver"><i class="fa fa-eye"></i></button>
              <button type="button"
                      class="btn btn-primary btn-sm"
                      (click)="openModal('edit', cancellationType)"
                      title="Editar"><i class="fa fa-pencil"></i>
              </button>
              <button type="button"
                      class="btn btn-danger btn-sm"
                      (click)="openModal('delete', cancellationType)"
                      title="Eliminar"><i class="fa fa-trash-o"></i>
              </button>
            </td>
            <td>{{cancellationType.origin.transactionMovement}}</td>
            <td>{{cancellationType.origin.name}}</td>
            <td>{{cancellationType.destination.transactionMovement}}</td>
            <td>{{cancellationType.destination.name}}</td>
            <td>{{cancellationType.modifyBalance}}</td>
          <tr align="center" *ngIf="totalItems === 0 && !loading">
            <td colspan="6">No se encontraron cancelaciones</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-10">
          <pagination-controls
            class="my-pagination"
            (pageChange)="pageChange($event)"
            #api
            previousLabel="Ant."
            nextLabel="Sig."
            autoHide="true">
          </pagination-controls>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" [(ngModel)]="itemsPerPage" (change)="getCancellationTypes()">
            <option [value]="5">Mostrar 5 Registros</option>
            <option [value]="10">Mostrar 10 Registros</option>
            <option [value]="15">Mostrar 15 Registros</option>
            <option [value]="20">Mostrar 20 Registros</option>
            <option [value]="50">Mostrar 50 Registros</option>
            <option [value]="100">Mostrar 100 Registros</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>