<section class="container-fluid">
  <div class="card card-large">
    <div class="card-header">
      <span>Pedidos App</span>
      <div class="pull-right">
        <button class="btn fa fa-refresh" (click)="refresh()" [disabled]="loading">
          <i [ngClass]="{ 'fa-spin': loading }"></i>Actualizar
        </button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th [width]="50">
              <i class="fa fa-bars"></i>
            </th>
            <ng-container *ngFor="let column of columns">
              <th *ngIf="column.visible" (click)="orderBy(column.name)">
                <i *ngIf="sort[column.name] === 1" class="fa fa-sort-up"></i>
                <i *ngIf="sort[column.name] === -1" class="fa fa-sort-down"></i>
                <i *ngIf="!sort[column.name]" class="fa fa-sort"></i>
                {{ column.name | translate | capitalize }}
              </th>
            </ng-container>
          </tr>
          <tr class="filters">
            <th></th>
            <ng-container *ngFor="let column of columns">
              <th *ngIf="column.visible">
                <input
                  *ngIf="!column.defaultFilter && column.datatype !== 'boolean'"
                  type="text"
                  class="form-control"
                  [ngClass]="{
                    disabled: loading,
                    enabled: !loading,
                    'has-data': filters[column.name],
                  }"
                  [(ngModel)]="filters[column.name]"
                  (keydown.enter)="addFilters()"
                  placeholder="{{ column.name | translate }}"
                  [disabled]="!column.filter || loading"
                />
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="99" style="padding: 0px">
              <app-progressbar [loading]="loading"></app-progressbar>
            </td>
          </tr>
          <tr *ngFor="let transaction of transactions">
            <ng-container>
              <td align="left" width="80">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="openModal('view-transaction', transaction)"
                  title="Ver"
                >
                  <i class="fa fa-eye"></i>
                </button>
              </td>
              <td>{{ transaction?.type?.name }}</td>
              <td>
                <b>{{ transaction?.number }}</b>
              </td>
              <td>{{ transaction?.startDate }}</td>
              <td *ngIf="transaction.company">
                {{ transaction?.company?.name }}
              </td>
              <td>{{ transaction?.state }}</td>
              <td>{{ transaction?.employeeClosing?.name }}</td>
              <td>
                {{ transaction?.totalPrice | currency: 'USD' : 'symbol-narrow' : '1.2-2' }}
              </td>
              <td>
                {{ transaction?.balance | currency: 'USD' : 'symbol-narrow' : '1.2-2' }}
              </td>
            </ng-container>
          </tr>
          <tr align="center" *ngIf="(!transactions || transactions.length === 0) && this.loading === false">
            <td colspan="10">No se encontraron pedidos</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-10">
          <ngb-pagination
            *ngIf="itemsPerPage < totalItems"
            [collectionSize]="totalItems"
            [(page)]="currentPage"
            [maxSize]="5"
            [boundaryLinks]="true"
            [pageSize]="itemsPerPage"
            (pageChange)="pageChange($event)"
          ></ngb-pagination>
        </div>

        <div class="form-group col-md-2">
          <select class="form-control" [(ngModel)]="itemsPerPage" (change)="getTransactions()">
            <option [value]="5">
              {{ 'show 5 records' | translate | capitalize }}
            </option>
            <option [value]="10">
              {{ 'show 10 records' | translate | capitalize }}
            </option>
            <option [value]="20">
              {{ 'show 20 records' | translate | capitalize }}
            </option>
            <option [value]="50">
              {{ 'show 50 records' | translate | capitalize }}
            </option>
            <option [value]="100">
              {{ 'show 100 records' | translate | capitalize }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>
