.card {
    margin-top: 50px;
    height:80vh;
}

.card-header {
    color: white;
}

.btn {
    cursor: pointer;
}

.table {
    cursor: pointer;
}

.center-content {
    margin-top: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.my-pagination /deep/ .ngx-pagination {
  color: #0275D8;
}

::placeholder {
    color: #D8D8D8;
}

.filters {
    background-color: #F8F8F8;
}