<div class="modal-header">
  <h4 class="modal-title">Editar Rubro</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="center-content"  *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="categoryForm" #formUpdateCategory="ngForm" (ngSubmit)="updateCategory()" autocomplete="off">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-8">
          <label for="description" class="control-label">Descripción:</label>
          <input type="text" class="form-control" formControlName="description" name="description" id="description" [focus]="focusEvent"/>
          <div *ngIf="formErrors.description" class="alert alert-danger">
            {{ formErrors.description }}
          </div>
         </div> 
        <div class="form-group col-md-4">
					<img *ngIf="category.picture == 'default.jpg' || category.picture == undefined" src="./../../../assets/img/default.jpg" height="120" width="120">
					<img *ngIf="category.picture !== 'default.jpg' && category.picture !== undefined" [src]="apiURL + 'get-imagen/'+category.picture" height="120" width="120">
					<input type="file" accept="image/*" (change)="fileChangeEvent($event)"/>
				</div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.close('cancel')">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!categoryForm.valid || loading" >
        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Guardar Cambios</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
</section>