<div class="modal-header">
  <h4 class="modal-title">Método de Pago</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="paymentMethodForm" #formAddPaymentMethod="ngForm" (ngSubmit)="addPaymentMethod()" autocomplete="off">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-3">
          <label for="code" class="control-label">Código:</label>
          <input type="number" class="form-control" formControlName="code" name="code" id="code" [focus]="focusEvent" [readonly]="readonly"/>
          <div *ngIf="formErrors.code" class="alert alert-danger">
            {{ formErrors.code }}
          </div>
        </div>
        <div class="form-group col-md-9">
          <label for="name" class="control-label">Nombre:</label>
          <input type="text" class="form-control" formControlName="name" name="name" id="name" [readonly]="readonly"/>
          <div *ngIf="formErrors.name" class="alert alert-danger">
            {{ formErrors.name }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="discount" class="control-label">Descuento:</label>
          <div class="input-group">
            <span class="input-group-addon">%</span>
            <input type="number" class="form-control" formControlName="discount" name="discount" id="discount" [readonly]="readonly" />
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="surcharge" class="control-label">Recargo:</label>
          <div class="input-group">
            <span class="input-group-addon">%</span>
            <input type="number" class="form-control" formControlName="surcharge" name="surcharge" id="surcharge" [readonly]="readonly"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="isCurrentAccount" class="control-label">¿Es de tipo cuenta corriente?</label>
          <select class="form-control" formControlName="isCurrentAccount">
            <option [disabled]="readonly" value="true">Si</option>
            <option [disabled]="readonly" value="false" selected>No</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="acceptReturned" class="control-label">¿Acepta vuelto?</label>
          <select class="form-control" formControlName="acceptReturned">
            <option [disabled]="readonly" value="true">Si</option>
            <option [disabled]="readonly" value="false" selected>No</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="inputAndOuput" class="control-label">¿Es un método de entrada/salida?</label>
          <select class="form-control" formControlName="inputAndOuput">
            <option [disabled]="readonly" value="true">Si</option>
            <option [disabled]="readonly" value="false" selected>No</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="checkDetail" class="control-label">¿Pide detalle de cheque?</label>
          <select class="form-control" formControlName="checkDetail">
            <option [disabled]="readonly" value="true">Si</option>
            <option [disabled]="readonly" value="false" selected>No</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="cardDetail" class="control-label">¿Pide detalle de tarjeta?</label>
          <select class="form-control" formControlName="cardDetail">
            <option [disabled]="readonly" value="true">Si</option>
            <option [disabled]="readonly" value="false" selected>No</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="allowToFinance" class="control-label">¿Permite financiar?</label>
          <select class="form-control" formControlName="allowToFinance" >
            <option  [disabled]="readonly" value="true">Si</option>
            <option   [disabled]="readonly" value="false" selected>No</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="cashBoxImpact" class="control-label">¿Afecta la caja diaria?</label>
          <select class="form-control" formControlName="cashBoxImpact" >
            <option [disabled]="readonly" value="true">Si</option>
            <option [disabled]="readonly" value="false" selected>No</option>
          </select>
        </div>
      </div>
      <!--<div class="row">
          <div class="form-group col-md-12">
            <label for="company" class="control-label">Pide empresa</label>
              <div class="input-group">
                <select class="form-control" formControlName="company">
                  <option *ngFor="let companyType of companyTypes"
                          [ngValue]="companyType"
                          [selected]="paymentMethod.company === companyType"
                          [disabled]="readonly"
                  >{{ companyType }}</option>
                </select>
              </div>
          </div>
      </div>-->
      <div class="row">
            <div class="form-group col-md-12">
              <label for="bankReconciliation" class="control-label">¿Tiene conciliación?</label>
              <select class="form-control" formControlName="bankReconciliation">
                <option [disabled]="readonly" value="true">Si</option>
                <option [disabled]="readonly" value="false" selected>No</option>
              </select>
          </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="observation" class="control-label">Observación</label>
          <div class="input-group">
            <textarea type="text" class="form-control" formControlName="observation" name="observation" id="observation" rows="2" [readonly]="readonly"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer" *ngIf="operation !== 'view'">
      <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('cancel')">Cancelar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!paymentMethodForm.valid || loading" *ngIf="operation !== 'delete'">
        <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Guardar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
      <button type="button" 
              class="btn btn-danger" 
              *ngIf="operation === 'delete'" 
              [disabled]="!paymentMethodForm.valid || loading" 
              (click)="deletePaymentMethod()">
        <i class="fa" [ngClass]="{'fa-trash':!loading, 'fa-spinner fa-spin':loading}"></i>
        <span *ngIf="!loading">Eliminar</span>
        <span *ngIf="loading">Espere por favor</span>
      </button>
    </div>
  </form>
</section>
