<div class="modal-header">
	<h4 class="modal-title" *ngIf="transaction && transaction.type">{{transaction.type.name}}</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<section class="container-fluid">
	<div class="center-content" *ngIf="alertMessage !== ''">
		<ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
			{{alertMessage}}
		</ngb-alert>
	</div>
	<form [formGroup]="transactionForm" #formAddTransaction="ngForm" (ngSubmit)="addTransaction()" autocomplete="off">
		<div class="modal-body">
			<div class="row" *ngIf="transaction && transaction.type && transaction.type.requestCompany">
				<div class="form-group col-md-12">
					<label for="company" class="control-label">{{ transaction.type.requestCompany }}:</label>
				</div>
			</div>
			<div class="row" *ngIf="transaction && transaction.type && transaction.type.requestCompany">
				<div class="form-group col-md-10">
					<input type="text" class="form-control" formControlName="company" name="company" readonly />
				</div>
				<div class="col-md-2" align="right">
					<button type="button" class="btn btn-light" (click)="changeCompany()"
						[disabled]="readonly || !transaction.electronics || transaction.state.toString() === 'Cerrado' || existsCancellations">
						Cambiar
					</button>
				</div>
			</div>
			<div class="row" *ngIf="transaction && transaction.type && transaction.type.requestEmployee">
				<div class="form-group col-md-12">
					<label for="employeeOpening" class="control-label">Asignar
						{{ transaction.type.requestEmployee.description }}</label>
					<select class="form-control" formControlName="employeeOpening">
						<option *ngFor="let employee of employees"
							[selected]="transaction.employeeOpening && employee._id === transaction.employeeOpening._id"
							[value]="employee._id">
							{{employee.name}}
						</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					<label for="date" class="control-label">Fecha:</label>
					<input type="date" class="form-control" formControlName="date" name="date" min="2000-01-01"
						[readonly]="readonly" [focus]="focusEvent" (blur)="loadVATPeriod()"/>
					<div *ngIf="formErrors.date" class="alert alert-danger">
						{{ formErrors.date }}
					</div>
				</div>
			</div>
			<div class="row" *ngIf="transaction && transaction.type && !transaction.type.automaticNumbering">
				<div class="form-group col-md-2" *ngIf="userCountry === 'AR'">
					<label for="origin" class="control-label">POS:</label>
					<input type="number" class="form-control" formControlName="origin" name="origin" min="0"
						[focus]="focusEvent" [readonly]="readonly || transaction.type.fixedOrigin" />
					<div *ngIf="formErrors.origin" class="alert alert-danger">
						{{ formErrors.origin }}
					</div>
				</div>
				<div class="form-group col-md-2">
					<label for="letter" class="control-label">Letra:</label>
					<select class="form-control" formControlName="letter">
						<option *ngFor="let letter of letters"
							[selected]="(!transaction.letter && transaction.company && transaction.company.vatCondition && transaction.company.vatCondition.transactionLetter === letter) || transaction.letter === letter"
							[value]="letter"
							[disabled]="readonly || (transaction.type.fixedLetter !== undefined && transaction.type.fixedLetter !== null && transaction.type.fixedLetter !== '')">
							{{ letter }}
						</option>
					</select>
					<div *ngIf="formErrors.letter" class="alert alert-danger">
						{{ formErrors.letter }}
					</div>
				</div>
				<div class="form-group col-md-4">
					<label for="number" class="control-label">Número:</label>
					<input type="number" class="form-control" formControlName="number" name="number" min="1"
						[readonly]="readonly" />
					<div *ngIf="formErrors.number" class="alert alert-danger">
						{{ formErrors.number }}
					</div>
				</div>
			</div>
			<div class="row" *ngIf="transaction && transaction.type && transaction.type.tax">
				<div class="form-group col-md-12">
					<label for="VATPeriod" class="control-label">Período de IVA:</label>
					<input type="text" class="form-control" formControlName="VATPeriod" name="VATPeriod"
						[readonly]="readonly || transaction.type.transactionMovement.toString() === 'Venta'" />
					<div *ngIf="formErrors.VATPeriod" class="alert alert-danger">
						{{ formErrors.VATPeriod }}
					</div>
				</div>
			</div>
			<div class="row"
				*ngIf="transaction && transaction.type && transaction.type.requestTaxes && !transaction.type.requestArticles">
				<div class="form-group col-md-6">
					<label for="basePrice" class="control-label">Importe Gravado:</label>
					<div class="input-group">
						<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">$</span></div>
						<input type="number" class="form-control" formControlName="basePrice" name="basePrice" min="0"
							step="1" (blur)="updatePrices('basePrice')"
							[readonly]="readonly || transaction.state.toString() === 'Cerrado' || transaction.state.toString() === 'Anulado'" />
					</div>
					<div *ngIf="formErrors.basePrice" class="alert alert-danger">
						{{ formErrors.basePrice }}
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="exempt" class="control-label">Importe Exento:</label>
					<div class="input-group">
						<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">$</span></div>
						<input type="number" class="form-control" formControlName="exempt" name="exempt" min="0"
							step="1" (blur)="updatePrices('exempt')"
							[readonly]="readonly || transaction.state.toString() === 'Cerrado' || transaction.state.toString() === 'Anulado'" />
					</div>
					<div *ngIf="formErrors.exempt" class="alert alert-danger">
						{{ formErrors.exempt }}
					</div>
				</div>
			</div>
			<app-add-article-tax (eventAddArticleTax)="addTransactionTaxes($event)" [articleTaxes]="taxes"
				[transaction]="transaction" [filtersTaxClassification]="filtersTaxClassification"
				*ngIf="transaction && transaction.type && transaction.type.requestTaxes && !transaction.type.requestArticles">
			</app-add-article-tax>
			<div class="row"
				*ngIf="showButtonCancelation && transaction && transaction.company && ((transaction.state.toString() !== 'Cerrado' && transaction.state.toString() !== 'Anulado') || transaction.balance != 0)">
				<div class="col-md-12 center-content">
					<button type="button" class="btn btn-light" (click)="openModal('list-cancellations')">
						Buscar Transacciones a Cancelar
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label for="totalPrice" class="control-label">Importe Total:</label>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					<div class="input-group">
						<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">$</span></div>
						<input type="number" class="form-control" formControlName="totalPrice" name="totalPrice" min="0"
							step="1" (blur)="updatePrices('totalPrice')"
							[readonly]="readonly || transaction.state.toString() === 'Cerrado' || transaction.state.toString() === 'Anulado' || !transaction.type || transaction.type.requestArticles" />
					</div>
					<div *ngIf="formErrors.totalPrice" class="alert alert-danger">
						{{ formErrors.totalPrice }}
					</div>
				</div>
			</div>
			<div class="row" *ngIf="transaction.state.toString() !== 'Abierto'">
				<div class="col-md-12">
					<label for="balance" class="control-label">Saldo:</label>
					<div class="input-group">
						<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">$</span></div>
						<input type="number" class="form-control" formControlName="balance" name="balance"
							(change)="validateBalance()" [readonly]="readonly" />
					</div>
					<div *ngIf="formErrors.balance" class="alert alert-danger">
						{{ formErrors.balance }}
					</div>
				</div>
			</div>
            <div class="row" *ngIf="transaction && transaction.type && transaction.type.allowAccounting">
				<div class="form-group col-md-12">
                    <ng-template #rtAccounts let-r="result" let-t="term">
                        <ngb-highlight [result]="r.description" [term]="t"></ngb-highlight>
                    </ng-template>
                    <label for="account" class="control-label">Cuenta Contable:</label>
                    <input id="account" type="text" class="form-control" formControlName="account"
                        name="account" [ngbTypeahead]="searchAccounts" [focus]="focusEvent" [resultTemplate]="rtAccounts"
                        [inputFormatter]="formatterAccounts" [readonly]="readonly" />
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					<label for="observation" class="control-label">Observación:</label>
					<textarea type="text" class="form-control" formControlName="observation" name="observation"
						id="observation" rows="2" [disabled]="readonly">
          			</textarea>
				</div>
			</div>
			<div class="row" *ngIf="transaction && 
                              transaction.type && 
                              transaction.type.allowEdit && 
                              transaction._id && 
                              transaction._id !== '' &&
                              userType === 'admin' &&
                              posType !== 'cuentas-corrientes'">
				<div class="form-group col-md-12">
					<label for="state" class="control-label">Estado</label>
					<select class="form-control" formControlName="state">
						<option *ngFor="let state of states"
							[selected]="transaction && transaction.state && state === transaction.state"
							[value]="state">
							{{state}}
						</option>
					</select>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-light" (click)="activeModal.close('cancel')">Cancelar</button>
			<button type="submit" class="btn btn-primary" [disabled]="!transactionForm.valid || loading">
				<i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
				<span *ngIf="!loading">Siguiente</span>
				<span *ngIf="loading">Espere por favor</span>
			</button>
		</div>
	</form>
</section>