<div>
  <img class="presentation-image" src="assets/image.png" alt="Presentación" />
  <div class="align-items-start">
    <div *ngFor="let category of getMenuCategories()" class="category col-md-12">
      <div class="card m-3">
        <div class="card-body">
          <!-- Título con imagen de fondo -->
          <div class="category-title" [style.background-image]="'url(' + getCategoryImage(category) + ')'">
            <h5 class="card-title text-center">
              {{ category }}
            </h5>
          </div>
          <!-- Lista de productos -->
          <div *ngFor="let product of getProduct(category)">
            <div class="d-flex justify-content-between align-items-center">
              <p class="card-text mb-0">
                {{ product }}
              </p>
              <div class="product-price-line">
                <span class="product-price"> ${{ menu[category][product].price }} </span>
              </div>
            </div>
            <div class="product-divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
