<div *ngIf="menu?.length">
  <img class="presentation-image" src="assets/image.png" alt="Presentación" />

  <div class="align-items-start">
    <div *ngFor="let category of menu" class="category">
      <div class="card m-3">
        <div class="category-header" [style.backgroundImage]="'url(' + category.picture + ')'">
          <h5 class="card-title">
            {{ category.name }}
          </h5>
        </div>

        <div class="card-body">
          <ng-container *ngIf="category.products?.length">
            <div *ngFor="let product of category.products">
              <div class="product-item">
                <p class="product-description">
                  {{ product.description }}
                </p>
                <div class="product-price-line">
                  <span class="product-price"> ${{ product.price }} </span>
                </div>
              </div>
              <div class="divider"></div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
