.presentation-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.category-header {
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 1.5rem;
  color: white;
  text-align: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.4);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.card {
  background-color: #f7f3e9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-body {
  background-color: #f1e8de;
  padding: 1.5rem;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin-top: unset;
  }
}

.product-description {
  font-size: 1rem;
  color: #4a2e2b;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-bottom: 0px;
}

.product-price-line {
  text-align: right;
}

.product-price {
  color: #4a2e2b;
  font-size: 1.25rem;
  font-weight: 600;
}

.divider {
  height: 2px;
  background: linear-gradient(to left, #f1e8de, #666);
  margin: 5px 0;
}

.card {
  min-height: unset;
  max-height: unset;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
