.presentation-image {
  width: 100%;
}

.product-price {
  min-width: 3rem;
  bottom: 0;
  right: 0;
  padding-left: 0.2rem;
  text-align: right;
  z-index: 2;
}

.card-body {
  background-color: #f1e8de;
}

.category {
  padding-left: 1px;
  padding-right: 1px;
}
