<div class="modal-header">
    <h4 class="modal-title">Forma de pago</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<section class="container-fluid">
    <div class="center-content" *ngIf="alertMessage !== ''">
        <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
            {{alertMessage}}
        </ngb-alert>
    </div>
    <form [formGroup]="movementOfCashForm" autocomplete="off"
        (ngSubmit)="(loading) ? $event.stopPropagation() : addMovementOfCash()">
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="transactionAmount" class="control-label">Importe de la transacción:</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">$</span></div>
                        <input type="number" class="form-control" formControlName="transactionAmount"
                            name="transactionAmount" readonly />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <div class="btn-group-vertical">
                        <button type="button" *ngFor="let paymentMethod of paymentMethods" class="btn btn-select"
                            [ngClass]="{'btn-primary':paymentMethod._id===paymentMethodSelected._id, 'btn-outline-primary':paymentMethod._id!==paymentMethodSelected._id}"
                            (click)="(loading) ? $event.stopPropagation() : changePaymentMethod(paymentMethod)">
                            {{ paymentMethod.name }}
                        </button>
                    </div>
                    <div *ngIf="formErrors.paymentMethod" class="alert alert-danger">
                        {{ formErrors.paymentMethod }}
                    </div>
                </div>
                <div class="form-group col-md-9">
                    <div class="row">
                        <div
                            [ngClass]="{'col-md-6':transaction?.type?.showKeyboard, 'col-md-12':!transaction?.type?.showKeyboard}">
                            <div class="row">
                                <div class="form-group" class="col-md-12">
                                    <label
                                        *ngIf="transaction && transaction.type && transaction.type.movement.toString() === 'Entrada'"
                                        for="amountToPay" class="control-label">Importe:</label>
                                    <label
                                        *ngIf="transaction && transaction.type && transaction.type.movement.toString() === 'Salida'"
                                        for="amountToPay" class="control-label">Importe a pagar:</label>
                                    <div class="input-group">
                                        <div *ngIf="!paymentMethodSelected?.currency" class="input-group-prepend"><span
                                                class="input-group-text" id="basic-addon1">$</span></div>
                                        <div *ngIf="paymentMethodSelected?.currency" class="input-group-prepend"><span
                                                class="input-group-text" id="basic-addon1">{{paymentMethodSelected.currency.sign}}</span></div>
                                        <input (input)="onInputChange($event)" class="form-control input"
                                            formControlName="amountToPay" name="amountToPay" min="0" step="1"
                                            [focus]="focusEvent" (change)="changeAmountToPay()" />
                                    </div>
                                    <div *ngIf="formErrors.amountToPay" class="alert alert-danger">
                                        {{ formErrors.amountToPay }}
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="paymentMethodSelected?.currency">
                                <div class="form-group col-md-6">
                                    <label for="quotationNative" class="control-label">Cotización:</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" formControlName="quotationNative"
                                            name="quotationNative" min="0" step="1"
                                            (change)="changeQuotationNative()" />
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="quotationAmount" class="control-label">En {{ currencyNative.name
                                        }}:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"
                                                id="basic-addon1">$</span></div>
                                        <input type="number" class="form-control" formControlName="quotationAmount"
                                            name="quotationAmount" min="0" step="1" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="amountPaid" class="control-label">Importe abonado:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"
                                                id="basic-addon1">$</span></div>
                                        <input type="number" class="form-control" formControlName="amountPaid"
                                            name="amountPaid" step="1" readonly />
                                    </div>
                                    <div *ngIf="formErrors.amountPaid" class="alert alert-danger">
                                        {{ formErrors.amountPaid }}
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="paymentMethodSelected?.acceptReturned" class="row">
                                <div class="form-group col-md-12">
                                    <label for="paymentChange" class="control-label">Su vuelto es:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"
                                                id="basic-addon1">$</span></div>
                                        <input type="number" class="form-control" name="paymentChange"
                                            formControlName="paymentChange" min="0" step="1" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="transaction.type.showKeyboard">
                            <div class="simple-keyboard"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="paymentMethodSelected && (
                                ( paymentMethodSelected.discount &&
                                  paymentMethodSelected.discount > 0) ||
                                ( paymentMethodSelected.surcharge &&
                                  paymentMethodSelected.surcharge > 0))">
                <div class="form-group col-md-4">
                    <label for="discount" class="control-label">Descuento:</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">%</span></div>
                        <input type="number" class="form-control" formControlName="discount" name="discount" min="0"
                            step="1" readonly />
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="surcharge" class="control-label">Recargo:</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">%</span></div>
                        <input type="number" class="form-control" formControlName="surcharge" name="surcharge" min="0"
                            step="1" readonly />
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="amountDiscount" class="control-label">Monto Descuento/Recargo:</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">$</span></div>
                        <input type="number" class="form-control" step="1" formControlName="amountDiscount"
                            name="amountDiscount" readonly />
                    </div>
                </div>
            </div>
            <div *ngIf="paymentMethodSelected &&
                      paymentMethodSelected.inputAndOuput &&
                      transaction.type.movement.toString() === 'Salida'" class="form-group col-md-6">
                <button type="button" class="btn btn-outline-primary"
                    (click)="(loading) ? $event.stopPropagation() : openModal('list-movements-of-cashes',null)">Buscar en Cartera</button>
            </div>
            <div *ngIf="paymentMethodSelected &&
                    paymentMethodSelected.checkDetail &&
                    (!paymentMethodSelected.inputAndOuput ||
                    transaction.type.movement.toString() === 'Entrada')">
                <div class="row">
                    <div class="form-group col-md-6">
                        <b>Datos del cheque:</b>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="number" class="control-label">Comprobante:</label>
                        <input type="text" class="form-control" name="number" formControlName="number" />
                        <div *ngIf="formErrors.number" class="alert alert-danger">
                            {{ formErrors.number }}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="expirationDate" class="control-label">Fecha Vencimiento:</label>
                        <input type="date" class="form-control" formControlName="expirationDate" name="expirationDate"
                            min="2000-01-01" (blur)="changePercentageCommission()" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <ng-template #rtBanks let-r="result" let-t="term">
                            <ngb-highlight
                                [result]="r.name + ' (Cód: ' + r.code + ')' + ((r.agency) ? ' (Suc: ' + r.agency + ')' : '') + ((r.account) ? ' (Cuenta: ' + r.account + ')' : '')"
                                [term]="t"></ngb-highlight>
                        </ng-template>
                        <label for="bank">Banco:</label>
                        <input id="bank" type="text" class="form-control" formControlName="bank" name="bank"
                            [ngbTypeahead]="searchBanks" [resultTemplate]="rtBanks" [inputFormatter]="formatterBanks" />
                    </div>
                </div>
                <div *ngIf="paymentMethodSelected && paymentMethodSelected.checkPerson" class="row">
                    <div class="form-group col-md-6">
                        <label for="deliveredBy" class="control-label">Entregado por:</label>
                        <input type="text" class="form-control" name="deliveredBy" formControlName="deliveredBy" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="receiver" class="control-label">Destinatario:</label>
                        <input type="text" class="form-control" name="receiver" formControlName="receiver" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="titular" class="control-label">Titular:</label>
                        <input type="text" class="form-control" name="titular" formControlName="titular" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="CUIT" class="control-label">CUIT:</label>
                        <input type="text" class="form-control" name="CUIT" formControlName="CUIT" />
                        <div *ngIf="formErrors.CUIT" class="alert alert-danger">
                            {{ formErrors.CUIT }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"
                *ngIf="paymentMethodSelected && (
                                ( paymentMethodSelected.commission &&
                                  paymentMethodSelected.commission > 0)) && transaction.type.movement.toString() === 'Entrada'">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="taxPercentage" class="control-label">IVA:</label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"
                                        id="basic-addon1">%</span></div>
                                <input type="number" class="form-control" formControlName="taxPercentage"
                                    name="taxPercentage" min="0" step="1" (blur)="changeVatOfExpenses()" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <label for="percentageCommission" class="control-label">Tasa de Servicios Diaria:</label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"
                                        id="basic-addon1">%</span></div>
                                <input type="number" class="form-control" formControlName="percentageCommission"
                                    name="percentageCommission" min="0" step="1"
                                    (blur)="changePercentageCommission()" />
                            </div>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="commissionAmount" class="control-label">Monto Tasa de Servicios Diaria:</label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"
                                        id="basic-addon1">$</span></div>
                                <input type="number" class="form-control" min="0" step="1"
                                    formControlName="commissionAmount" name="commissionAmount"
                                    (blur)="changePercentageCommission(movementOfCashForm?.value.commissionAmount)" />
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="daysCommission" class="control-label">Días calculados:</label>
                            <div class="input-group">
                                <input type="number" class="form-control" formControlName="daysCommission"
                                    name="daysCommission" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"
                *ngIf="paymentMethodSelected && (
                                ( paymentMethodSelected.administrativeExpense &&
                                  paymentMethodSelected.administrativeExpense > 0)) && transaction.type.movement.toString() === 'Entrada'">
                <div class="form-group col-md-6">
                    <label for="percentageAdministrativeExpense" class="control-label">Gasto administrativo:</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">%</span></div>
                        <input type="number" class="form-control" formControlName="percentageAdministrativeExpense"
                            name="percentageAdministrativeExpense" min="0" step="1"
                            (blur)="changePercentageAdministrativeExpense()" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="administrativeExpenseAmount" class="control-label">Monto Gasto administrativo:</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">$</span></div>
                        <input type="number" class="form-control" min="0" step="1"
                            formControlName="administrativeExpenseAmount" name="administrativeExpenseAmount"
                            (blur)="changePercentageAdministrativeExpense(movementOfCashForm?.value.administrativeExpenseAmount)" />
                    </div>
                </div>
            </div>
            <div class="row"
                *ngIf="paymentMethodSelected && (
                                ( paymentMethodSelected.otherExpense &&
                                  paymentMethodSelected.otherExpense > 0)) && transaction.type.movement.toString() === 'Entrada'">
                <div class="form-group col-md-6">
                    <label for="percentageOtherExpense" class="control-label">Otros Gastos:</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">%</span></div>
                        <input type="number" class="form-control" formControlName="percentageOtherExpense"
                            name="percentageOtherExpense" min="0" step="1" (blur)="changePercentageOtherExpense()" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="otherExpenseAmount" class="control-label">Monto Otros Gastos:</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">$</span></div>
                        <input type="number" class="form-control" min="0" step="1" formControlName="otherExpenseAmount"
                            name="otherExpenseAmount"
                            (blur)="changePercentageOtherExpense(movementOfCashForm?.value.otherExpenseAmount)" />
                    </div>
                </div>
            </div>
            <div class="row"
                *ngIf="paymentMethodSelected && paymentMethodSelected.isCurrentAccount && !paymentMethodSelected.allowToFinance">
                <div class="form-group col-md-12">
                    <label for="expirationDate" class="control-label">Fecha Vencimiento:</label>
                    <input type="date" class="form-control" formControlName="expirationDate" name="expirationDate"
                        min="2000-01-01" (blur)="changePercentageCommission()" />
                </div>
            </div>
            <div class="row" *ngIf="paymentMethodSelected && paymentMethodSelected.allowToFinance">
                <div class="form-group col-md-12 box-finance">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <b>Financiación</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label for="quota" class="control-label">Cant. Cuotas:</label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i
                                            class="fa fa-list-ol"></i></span></div>
                                <input type="number" class="form-control" formControlName="quota" name="quota" min="0"
                                    step="1" (change)="calculateQuotas('quota')" />
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="period" class="control-label">Período:</label>
                            <select class="form-control" formControlName="period" (change)="calculateQuotas('quota')">
                                <option value="Mensual">Meses</option>
                                <option value="Anual">Años</option>
                                <option value="Diario">Días</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="days" class="control-label">Cant. Período</label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i
                                            class="fa fa-calendar"></i></span></div>
                                <input type="number" class="form-control" formControlName="days" name="days" min="0"
                                    step="1" (change)="calculateQuotas('quota')" />
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="interestPercentage" class="control-label">T.N.A:</label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"
                                        id="basic-addon1">%</span></div>
                                <input type="number" class="form-control" formControlName="interestPercentage"
                                    name="interestPercentage" min="0" step="1" (change)="calculateQuotas('quota')" />
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="interestType" class="control-label">Tipo de cálculo:</label>
                            <select class="form-control" formControlName="interestType"
                                (change)="calculateQuotas('quota')">
                                <option value="Interés Simple">Interés Simple</option>
                                <option value="Francés">Francés</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" *ngIf="movementOfCashForm?.value.interestPercentage > 0">
                        <div class="col-md-12 form-group">
                            <label for="taxPercentage" class="control-label">IVA:</label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"
                                        id="basic-addon1">%</span></div>
                                <input type="number" class="form-control" formControlName="taxPercentage"
                                    name="taxPercentage" min="0" step="1" (blur)="calculateQuotas('quota')" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-1">
                            <label for="quota" class="control-label">Cuota:</label>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="expirationDate" class="control-label">Fecha:</label>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="quota" class="control-label">Amortización:</label>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="quota" class="control-label">Interés:</label>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="quota" class="control-label">IVA:</label>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="amount" class="control-label">Monto:</label>
                        </div>
                    </div>
                    <div class="row" *ngFor="let mov of movementsOfCashesToFinance">
                        <div class="form-group col-md-1">
                            <input type="number" class="form-control" name="quota" min="0" step="1" [value]="mov.quota"
                                readonly />
                        </div>
                        <div class="form-group col-md-3">
                            <input type="date" class="form-control" name="expirationDate" min="0" step="1"
                                #expirationDateMov [value]="mov.expirationDate"
                                (blur)="calculateQuotas('expirationDate', expirationDateMov.value, mov)" />
                        </div>
                        <div class="form-group col-md-2">
                            <input type="number" class="form-control" name="capital" min="0" step="1"
                                [value]="mov.capital" readonly />
                        </div>
                        <div class="form-group col-md-2">
                            <input type="number" class="form-control" name="capital" min="0" step="1"
                                [value]="mov.interestAmount" readonly />
                        </div>
                        <div class="form-group col-md-2">
                            <input type="number" class="form-control" name="capital" min="0" step="1"
                                [value]="mov.taxAmount" readonly />
                        </div>
                        <div class="form-group col-md-2">
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text"
                                        id="basic-addon1">$</span></div>
                                <input type="number" class="form-control" name="amountPaid" min="0" step="1"
                                    #amountPaidMov [value]="mov.amountPaid" readonly
                                    (change)="calculateQuotas('amountPaid', amountPaidMov.value, mov)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="observation" class="control-label">Observación:</label>
                    <textarea type="text" class="form-control" formControlName="observation" name="observation"
                        id="observation" rows="2">
                    </textarea>
                </div>
            </div>
            <div *ngIf="paymentMethodSelected && paymentMethodSelected.allowBank" class="row">
                <div class="form-group col-md-12">
                    <ng-template #rtBanks let-r="result" let-t="term">
                        <ngb-highlight
                            [result]="r.name + ' (Cód: ' + r.code + ')' + ((r.agency) ? ' (Suc: ' + r.agency + ')' : '') + ((r.account) ? ' (Cuenta: ' + r.account + ')' : '')"
                            [term]="t"></ngb-highlight>
                    </ng-template>
                    <label for="bank">Banco:</label>
                    <input id="bank" type="text" class="form-control" formControlName="bank" name="bank"
                        [ngbTypeahead]="searchBanks" [resultTemplate]="rtBanks" [inputFormatter]="formatterBanks" />
                </div>
            </div>
            <div class="row table-responsive" *ngIf="movementsOfCashes && movementsOfCashes.length > 0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="130">
                                <i class="fa fa-bars"></i>
                            </th>
                            <th>Método</th>
                            <th>Comprobante</th>
                            <th>Cuota</th>
                            <th>Vencimiento</th>
                            <th>Monto</th>
                            <th>Tasa de Servicios Diaria</th>
                            <th>Gastos adm.</th>
                            <th>Otros gastos</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let movement of movementsOfCashes | orderBy: orderTerm: propertyTerm">
                            <td align="left" width="130">
                                <button type="button" class="btn btn-danger btn-sm" title="Eliminar"
                                    (click)="(loading) ? $event.stopPropagation() : openModal('delete', movement)">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                            <td class="flat">{{ movement?.type?.name }}</td>
                            <td class="flat">{{ movement.number }}</td>
                            <td class="flat">{{ movement.quota }}</td>
                            <td class="flat">{{ movement.expirationDate | dateFormat:'DD/MM/YYYY' }}</td>
                            <td align="right" class="flat">
                                {{ movement.amountPaid | currency:'USD':'symbol-narrow':'1.2-2' }}
                            </td>
                            <td align="right" class="flat">
                                {{ movement.commissionAmount | currency:'USD':'symbol-narrow':'1.2-2' }}
                            </td>
                            <td align="right" class="flat">
                                {{ movement.administrativeExpenseAmount | currency:'USD':'symbol-narrow':'1.2-2' }}
                            </td>
                            <td align="right" class="flat">
                                {{ movement.otherExpenseAmount | currency:'USD':'symbol-narrow':'1.2-2' }}
                            </td>
                            <td align="right" class="flat">
                                {{ (movement.amountPaid - movement.commissionAmount -
                                movement.administrativeExpenseAmount - movement.otherExpenseAmount) |
                                currency:'USD':'symbol-narrow':'1.2-2' }}
                            </td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr *ngIf="transaction && transaction.type && !transaction.type.requestCurrency">
                            <td colspan="5" align="right">
                                <b>TOTALES</b>
                            </td>
                            <td align="right" class="flat">
                                <b>{{getTotalAmount('amountPaid') | currency:'USD':'symbol-narrow':'1.2-2'}}</b>
                            </td>
                            <td align="right" class="flat">
                                <b>{{getTotalAmount('commissionAmount') | currency:'USD':'symbol-narrow':'1.2-2'}}</b>
                            </td>
                            <td align="right" class="flat">
                                <b>{{getTotalAmount('administrativeExpenseAmount') |
                                    currency:'USD':'symbol-narrow':'1.2-2'}}</b>
                            </td>
                            <td align="right" class="flat">
                                <b>{{getTotalAmount('otherExpenseAmount') | currency:'USD':'symbol-narrow':'1.2-2'}}</b>
                            </td>
                            <td align="right" class="flat">
                                <b>{{getTotalAmount('total') | currency:'USD':'symbol-narrow':'1.2-2'}}</b>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="(loading) ? $event.stopPropagation() : cancel()">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="loading || isFormSubmitted">
                <i class="fa" [ngClass]="{'fa-save':!loading, 'fa-spinner fa-spin':loading}"></i>
                <span *ngIf="!loading">Guardar</span>
                <span *ngIf="loading">Espere por favor</span>
            </button>
            <button type="button" class="btn btn-success" [disabled]="loading || isFormSubmitted"
                *ngIf="transaction.type.allowZero" (click)="(loading) ? $event.stopPropagation() : finish()">
                <i class="fa" [ngClass]="{'fa-check':!loading, 'fa-spinner fa-spin':loading}"></i>
                <span *ngIf="!loading">Finalizar</span>
                <span *ngIf="loading">Espere por favor</span>
            </button>
        </div>
    </form>
</section>