<div class="modal-header">
  <h4 class="modal-title">Ingresar comprobante</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body container-fluid">
  <div class="row">
    <div class="col-md-3" *ngIf="cancellationTypes?.length > 0">
      <label for="type">{{ 'transaction' | translate | capitalize }}</label>
      <select class="form-control" [(ngModel)]="canceledTransactions.typeId">
        <option
          *ngFor="let canc of cancellationTypes"
          [selected]="canc?.origin._id && canc?.origin._id === canceledTransactions.typeId._id"
          [value]="canc.origin._id"
        >
          {{ canc?.origin?.name }}
        </option>
      </select>
    </div>
    <div class="col-md-3" *ngIf="cancellationTypes?.length > 0">
      <label for="origin">{{ 'transactionOrigin' | translate | capitalize }}</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="canceledTransactions.origin"
        placeholder="Pto Venta"
        [focus]="focusEvent"
      />
    </div>
    <div class="col-md-3" *ngIf="cancellationTypes?.length > 0">
      <label for="letter">{{ 'transactionLetter' | translate | capitalize }}</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="canceledTransactions.letter"
        placeholder="Letra"
        [focus]="focusEvent"
      />
    </div>
    <div class="col-md-3" *ngIf="cancellationTypes?.length > 0">
      <label for="number">{{ 'transactionNumber' | translate | capitalize }}</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="canceledTransactions.number"
        placeholder="Número"
        [focus]="focusEvent"
      />
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="checkInformationCancellation()">
    <span>{{ 'save' | translate | capitalize }}</span>
  </button>
</div>
