<div class="modal-header">
    <h4 class="modal-title">Editar Tipo de Empleado</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<section class="container-fluid">
    <div class="center-content"  *ngIf="alertMessage">
        <ngb-alert (close)="alertMessage=''">
            {{alertMessage}}
        </ngb-alert>
    </div>
    <form [formGroup]="employeeTypeForm" #formUpdateEmployee="ngForm" (ngSubmit)="updateEmployeeType()" autocomplete="off">
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="description" class="control-label">Descripción:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" formControlName="description" name="description" id="description" [focus]="focusEvent"/>
                    </div>
                    <div *ngIf="formErrors.description" class="alert alert-danger">
                        {{ formErrors.description }}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="activeModal.close('cancel')">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="!employeeTypeForm.valid || loading" >
                <i [ngClass]="{'fa fa-save':!loading, 'fa-refresh fa-spin':loading}"></i>
                <span *ngIf="!loading">Editar</span>
                <span *ngIf="loading">Espere por favor</span>
            </button>
        </div>
    </form>
</section>