<section class="container-fluid">
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <form [formGroup]="articleTaxForm" #formAddArticleTax="ngForm" (ngSubmit)="addArticleTax()" autocomplete="off">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-4">
          <label for="tax" class="control-label">Impuesto:</label>
          <select class="form-control" formControlName="tax" (change)="changeTax('tax')">
            <option *ngFor="let tax of taxes" [ngValue]="tax">{{tax.name}}</option>
          </select>
          <div *ngIf="formErrors.tax" class="alert alert-danger">
            {{ formErrors.tax }}
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="percentage" class="control-label">Porcentaje:</label>
          <div class="input-group">
            <input type="number" class="form-control" formControlName="percentage" name="percentage" id="percentage" step="1" (blur)="changeTax('percentage')"/>
            <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">%</span></div>
          </div>
          <div *ngIf="formErrors.percentage" class="alert alert-danger">
            {{ formErrors.percentage }}
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="taxAmount" class="control-label">Monto:</label>
          <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">$</span></div>
            <input type="number" class="form-control" formControlName="taxAmount" name="taxAmount" id="taxAmount" step="1" (blur)="changeTax('taxAmount')"/>
          </div>
          <div *ngIf="formErrors.taxAmount" class="alert alert-danger">
            {{ formErrors.taxAmount }}
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for="value" class="control-label">Acción:</label>
          <div class="input-group">
            <button type="submit" class="btn btn-success" [disabled]="!articleTaxForm.valid || loading">Agregar</button>
          </div>
        </div>
      </div>
      <div class="row">
        <table class="table table-striped">
          <tbody>
            <tr *ngFor="let articleTaxAux of articleTaxes">
              <td align="left" width="130">
                <button 
                  *ngIf="!transaction || (transaction && articleTaxAux.tax.classification !== 'Impuesto')"
                  type="button" 
                  class="btn btn-danger btn-sm" 
                  title="Eliminar" 
                  (click)="deleteArticleTax(articleTaxAux)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
              <td class="flat">{{articleTaxAux.tax.name}}</td>
              <td class="flat">{{articleTaxAux.taxBase | currency:'USD':'symbol-narrow':'1.3-3'}}</td>
              <td class="flat">{{articleTaxAux.percentage}} %</td>
              <td class="flat">{{articleTaxAux.taxAmount | currency:'USD':'symbol-narrow':'1.3-3'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</section>
