<div class="modal-header">
  <h4 class="modal-title" *ngIf="transaction.type && userCountry === 'AR'">{{transaction.type.name}}
    {{transaction.origin}}-{{transaction.letter}}-{{transaction.number}}</h4>
  <h4 class="modal-title" *ngIf="transaction.type && userCountry !== 'AR'">{{transaction.type.name}}
    {{transaction.letter}}-{{transaction.number}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close_click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<section class="container-fluid">
  <div class="center-content" *ngIf="alertMessage !== ''">
    <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
      {{alertMessage}}
    </ngb-alert>
  </div>
  <div class="modal-body">
    <ngb-tabset [orientation]="orientation">
      <ngb-tab title="Datos">
        <ng-template ngbTabContent>
          <div class="row" *ngIf="transaction && transaction.type && transaction.type.transactionMovement.toString() !== 'Stock'">
            <div class="form-group col-md-8">
              <label for="company" class="control-label"
                *ngIf="transaction && transaction.type && transaction.type.transactionMovement.toString() === 'Venta'">Cliente</label>
              <label for="company" class="control-label"
                *ngIf="transaction && transaction.type && transaction.type.transactionMovement.toString() === 'Compra'">Proveedor</label>
              <div class="input-group">
                <div class="input-group-prepend" *ngIf="transaction.company">
                  <span class="input-group-text bg-success pointer" id="basic-addon1" (click)="openModal('view-company')">
                    <i class="fa fa-eye" style="color: white;"></i>
                  </span>
                </div>
                <input type="text" class="form-control" name="date" *ngIf="transaction.company"
                  value="{{transaction.company.name}}" readonly />
                <input type="text" class="form-control" name="date" *ngIf="!transaction.company" value="Consumidor Final"
                  readonly />
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="state" class="control-label">{{ transaction.state }}</label>
              <input type="text" class="form-control" name="state" value="{{transaction.state}}" readonly />
            </div>
          </div>
          <div class="row" *ngIf="transaction.type && transaction.type.requestEmployee">
            <div class="form-group col-md-12">
              <label for="employeeOpening" class="control-label"
                *ngIf="transaction.type">{{ transaction.type.requestEmployee.description }}</label>
              <input type="text" class="form-control" name="date" *ngIf="transaction.employeeClosing"
                value="{{transaction.employeeClosing.name}}" readonly />
              <input type="text" class="form-control" name="date" *ngIf="!transaction.employeeClosing" value="" readonly />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="date" class="control-label">Fecha:</label>
              <input type="text" class="form-control" name="date" value="{{transaction.endDate | dateFormat:'DD/MM/YYYY'}}"
                readonly *ngIf="transaction.endDate" />
              <input type="text" class="form-control" name="date" value="{{transaction.startDate | dateFormat:'DD/MM/YYYY'}}"
                readonly *ngIf="!transaction.endDate" />
            </div>
            <div class="form-group col-md-3" *ngIf="userCountry === 'AR'">
              <label for="origin" class="control-label">Punto de venta:</label>
              <input type="origin" class="form-control" name="origin" min="0" value="{{transaction.origin}}" readonly />
            </div>
            <div class="form-group col-md-2">
              <label for="letter" class="control-label">Tipo:</label>
              <input type="text" class="form-control" name="letter" value="{{transaction.letter}}" readonly />
            </div>
            <div class="form-group col-md-3">
              <label for="number" class="control-label">Número:</label>
              <input type="number" class="form-control" name="number" min="0" value="{{transaction.number}}" readonly />
            </div>
          </div>
          <div class="row" *ngIf="transaction.branchDestination">
            <div class="form-group col-md-6">
              <label for="letter" class="control-label">Sucursal:</label>
              <input type="text" class="form-control" name="letter" value="{{transaction.branchDestination.name}}" readonly />
            </div>
            <div class="form-group col-md-6">
              <label for="number" class="control-label">Depósito:</label>
              <input type="text" class="form-control" name="number" min="0" value="{{transaction.depositDestination.name}}"
                readonly />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="exempt" class="control-label">Importe Exento:</label>
              <input type="text" class="form-control" name="exempt" value="{{transaction.exempt}}" readonly />
            </div>
            <div class="form-group col-md-4">
              <label for="discountAmount" class="control-label">Descuento:</label>
              <input type="text" class="form-control" name="discountAmount" value="{{transaction.discountAmount}}" readonly />
            </div>
            <div class="form-group col-md-4">
              <label for="VATPeriod" class="control-label">Período de IVA:</label>
              <input type="text" class="form-control" name="VATPeriod" value="{{transaction.VATPeriod}}" readonly />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="totalPrice" class="control-label">Importe Total:</label>
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">$</span></div>
                <input type="number" class="form-control" name="totalPrice" min="0" step="1" value="{{transaction.totalPrice}}"
                  readonly />
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="balance" class="control-label">Saldo:</label>
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">$</span></div>
                <input type="number" class="form-control" name="balance" min="0" step="1" value="{{transaction.balance}}"
                  readonly />
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="balance" class="control-label">Cotización:</label>
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">$</span></div>
                <input type="number" class="form-control" name="balance" min="0" step="1" value="{{transaction.quotation}}"
                  readonly />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="observation" class="control-label">Observación:</label>
              <textarea type="text" class="form-control" name="observation" id="observation" rows="2" readonly>
                {{transaction.observation}}
              </textarea>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab [disabled]="areMovementsOfArticlesEmpty">
        <ng-template ngbTabTitle>Productos</ng-template>
        <ng-template ngbTabContent>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Cant</th>
                  <th>Rubro</th>
                  <th>Marca</th>
                  <th>Código</th>
                  <th>Descripción</th>
                  <th>Desc. Corta</th>
                  <th>Precio Unitario</th>
                  <th>Precio Total</th>
                  <th>Depósito</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let movementOfArticle of movementsOfArticles">
                  <td align="left" width="100">
                    <button type="button" class="btn btn-success btn-sm"
                      *ngIf="movementOfArticle.article && movementOfArticle.article._id"
                      (click)="openModal('view-article', movementOfArticle.article)" title="Ver"><i
                        class="fa fa-eye"></i></button>
                  </td>
                  <td>{{movementOfArticle.amount}}</td>
                  <td *ngIf="movementOfArticle.category">{{movementOfArticle.category.description}}
                  </td>
                  <td *ngIf="!movementOfArticle.category"></td>
                  <td *ngIf="movementOfArticle.make">{{movementOfArticle.make.description}}</td>
                  <td *ngIf="!movementOfArticle.make"></td>
                  <td>{{movementOfArticle.code}}</td>
                  <td>{{movementOfArticle.description}}
                    <strong *ngIf="movementOfArticle.notes">
                      <br>
                      {{movementOfArticle.notes}}
                    </strong>
                  </td>
                  <td>{{movementOfArticle.article.posDescription}}</td>
                  <td>{{movementOfArticle.unitPrice | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                  <td>{{movementOfArticle.salePrice | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                  <td *ngIf="movementOfArticle.deposit">{{movementOfArticle.deposit.name}}</td>
                  <td *ngIf="!movementOfArticle.deposit"></td>
                </tr>
                <tr align="center " *ngIf="areMovementsOfArticlesEmpty ">
                  <td colspan="10 ">No existen productos en la transacción</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab [disabled]="!transaction.taxes || transaction.taxes.length === 0">
        <ng-template ngbTabTitle>Impuestos</ng-template>
        <ng-template ngbTabContent>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Impuesto</th>
                  <th>Porcentaje</th>
                  <th>Gravado</th>
                  <th>Monto</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tax of transaction.taxes">
                  <td>{{tax.tax.name}}</td>
                  <td>{{tax.percentage}}</td>
                  <td>{{tax.taxBase | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                  <td>{{tax.taxAmount | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Métodos de Pago" [disabled]="areMovementsOfCashesEmpty">
        <ng-template ngbTabContent>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Método</th>
                  <th>Cuota</th>
                  <th>Monto</th>
                  <th>Comprobante</th>
                  <th>Vencimiento</th>
                  <th>Banco</th>
                  <th>Observación</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let movementOfCash of movementsOfCashes | orderBy: orderTerm: propertyTerm">
                  <td (click)="pushCurrencyValue(movementOfCash)">{{movementOfCash.type.name}}</td>
                  <td>{{movementOfCash.quota}}</td>
                  <td>{{movementOfCash.amountPaid | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                  <td>{{movementOfCash.number}}</td>
                  <td>{{movementOfCash.expirationDate | dateFormat:'DD/MM/YYYY' }}</td>
                  <td *ngIf="movementOfCash.bank">{{movementOfCash.bank.name}}</td>
                  <td *ngIf="!movementOfCash.bank"></td>
                  <td style="white-space: normal;">{{movementOfCash.observation}}</td>
                </tr>

                <tr align="center " *ngIf="movementsOfCashes.length === 0">
                  <td colspan="10">No existen método de pagos en la transacción</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-striped" *ngIf="showDetails && currencyValue && currencyValue.length > 0">
              <thead>
                <th>Cantidad</th>
                <th>Valor</th>
                <th>Total</th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let currency of currencyValue">
                  <td>{{currency.quantity}}</td>
                  <td>{{currency.value}}</td>
                  <td>{{currency.quantity*currency.value | currency:'USD':'symbol-narrow':'1.2-2' }}
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Envío" [disabled]="!transaction.deliveryAddress">
        <ng-template ngbTabContent>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Tipo</th>
                  <th>Provincia</th>
                  <th>Ciudad</th>
                  <th>Dirección</th>
                  <th>Número</th>
                  <th>Piso</th>
                  <th>Departamento</th>
                  <th>Código Postal</th>
                  <th>Observación</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{transaction.deliveryAddress.type}}</td>
                  <td>{{transaction.deliveryAddress.state}}</td>
                  <td>{{transaction.deliveryAddress.city}}</td>
                  <td>{{transaction.deliveryAddress.name}}</td>
                  <td>{{transaction.deliveryAddress.number}}</td>
                  <td>{{transaction.deliveryAddress.flat}}</td>
                  <td>{{transaction.deliveryAddress.floor}}</td>
                  <td>{{transaction.deliveryAddress.postalCode}}</td>
                  <td style="white-space: normal;">{{transaction.deliveryAddress.observation}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="AFIP" *ngIf="transaction.type && transaction.type.electronics && userCountry === 'AR'">
        <ng-template ngbTabContent>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>CAE</th>
                  <th>Fecha Vencimiento CAE</th>
                </tr>
              </thead>
              <tbody>
                <td>{{transaction.CAE}}</td>
                <td>{{transaction.CAEExpirationDate | dateFormat:'DD/MM/YYYY' }}</td>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="SAT" *ngIf="transaction.type && transaction.type.electronics && userCountry === 'MX'">
        <ng-template ngbTabContent>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Sello SAT</th>
                </tr>
              </thead>
              <tbody>
                <td>{{transaction.SATStamp}}</td>
              </tbody>
            </table>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Sello CFD</th>
                </tr>
              </thead>
              <tbody>
                <td>{{transaction.CFDStamp}}</td>
              </tbody>
            </table>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Cadena Original SAT</th>
                </tr>
              </thead>
              <tbody>
                <td>{{transaction.stringSAT}}</td>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Transacciones Canceladas">
        <ng-template ngbTabContent>
          <app-movement-of-cancellation [transactionDestinationViewId]="transaction._id" [selectionView]="false">
          </app-movement-of-cancellation>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Transacciones Cancelatorias">
        <ng-template ngbTabContent>
          <app-movement-of-cancellation [transactionOriginViewId]="transaction._id" [selectionView]="false">
          </app-movement-of-cancellation>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Auditoría">
        <ng-template ngbTabContent>
          <div class="row tab-content">
            <div class="form-group col-md-12">
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="control-label">Creado por:</label>
                  <label *ngIf="transaction.creationUser" class="control-label"><b>{{transaction.creationUser.name}}</b></label>
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label">El día:</label>
                  <label *ngIf="transaction.creationDate" class="control-label">
                    <b>{{transaction.creationDate | dateFormat:'DD/MM/YYYY hh:mm:ss'}}</b></label>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="control-label">Última modificación por:</label>
                  <label *ngIf="transaction.updateUser" class="control-label"><b>{{transaction.updateUser.name}}</b></label>
                  <label *ngIf="!transaction.updateUser" class="control-label"><b>-</b></label>
                </div>
                <div class="form-group col-md-6">
                  <label class="control-label">El día:</label>
                  <label *ngIf="transaction.updateDate"
                    class="control-label"><b>{{transaction.updateDate | dateFormat:'DD/MM/YYYY hh:mm:ss'}}</b></label>
                  <label *ngIf="!transaction.updateDate" class="control-label"><b>-</b></label>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="control-label">Id:</label>
                  <label class="control-label"><b>{{transaction._id}}</b></label>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="modal-footer">
  </div>
</section>
