<section class="container-fluid">
  <div class="card">
    <div class="card-header">
      <span style="color: #607d8b" *ngIf="operation === 'add' || operation === 'copy'">{{
        'add-article' | translate | capitalize
      }}</span>
      <span style="color: #607d8b" *ngIf="operation === 'update'"
        >{{ 'edit' | translate | capitalize }} {{ article?.code ?? '' }}</span
      >
      <span style="color: #607d8b" *ngIf="operation === 'view' || operation === 'delete'">
        {{ article?.code ?? '' }}</span
      >
      <div class="pull-right">
        <button type="button" class="btn" (click)="returnTo()">
          <i class="fa fa-arrow-left"></i><span>{{ 'return' | translate | capitalize }}</span>
        </button>
        <button
          type="button"
          class="btn"
          [disabled]="loading"
          *ngIf="operation !== 'delete' && operation !== 'view'"
          (click)="handleArticleOperation()"
        >
          <i class="fa" [ngClass]="{ 'fa-save': !loading, 'fa-spinner fa-spin': loading }"></i>
          <span *ngIf="!loading"> {{ 'save' | translate | capitalize }}</span>
          <span *ngIf="loading"> {{ 'loading' | translate | capitalize }}</span>
        </button>
        <button
          *ngIf="operation === 'delete'"
          type="button"
          class="btn btn-danger active"
          [disabled]="loading"
          (click)="handleArticleOperation()"
        >
          <i class="fa" [ngClass]="{ 'fa-trash': !loading, 'fa-spinner fa-spin': loading }"></i>
          <span *ngIf="!loading">{{ 'delete' | translate | capitalize }}</span>
          <span *ngIf="loading">{{ 'loading' | translate | capitalize }}</span>
        </button>
      </div>
    </div>
    <app-progressbar [loading]="loading"></app-progressbar>
    <div class="card-body scroll">
      <form [formGroup]="articleForm" (ngSubmit)="handleArticleOperation()" autocomplete="off" *ngIf="!loading">
        <div class="row">
          <label class="col-md-12">
            <b>{{ 'mainData' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-2">
                <label for="order">{{ 'order' | translate | capitalize }}:</label>
                <input type="number" class="form-control" formControlName="order" name="order" id="order" />
              </div>
              <div class="col-md-5">
                <label for="code">{{ 'code' | translate | capitalize }}:</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="code"
                  name="code"
                  id="code"
                  [focus]="focusEvent"
                  [ngClass]="{
                      'is-invalid': articleForm.get('code')?.touched && articleForm.get('code')?.invalid,
                    }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="articleForm.get('code')?.touched && articleForm.get('code')?.hasError('required')"
                >
                  {{ 'fieldRequired' | translate | capitalize }}
                </div>
              </div>
              <div class="col-md-5">
                <label for="barcode">{{ 'barcode' | translate | capitalize }}:</label>
                <input type="text" class="form-control" formControlName="barcode" name="barcode" id="barcode" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="make"> {{ 'make' | translate | capitalize }}:</label>
                <app-typeahead-dropdown
                  [control]="articleForm.get('make')"
                  [data]="makes"
                  [readonly]="readonly"
                  [keyField]="'_id'"
                  [displayField]="'description'"
                ></app-typeahead-dropdown>
              </div>

              <div class="col-md-6">
                <label for="category">{{ 'category' | translate | capitalize }}:</label>
                <app-typeahead-dropdown
                  [control]="articleForm.get('category')"
                  [data]="categories"
                  [readonly]="readonly"
                  [keyField]="'_id'"
                  [displayField]="'description'"
                ></app-typeahead-dropdown>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">
                <label for="description">{{ 'description' | translate | capitalize }}:</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="description"
                  name="description"
                  id="description"
                  (blur)="loadPosDescription()"
                  [ngClass]="{
                      'is-invalid': articleForm.get('description')?.touched && articleForm.get('description')?.invalid,
                    }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    articleForm.get('description')?.touched && articleForm.get('description')?.hasError('required')
                  "
                >
                  {{ 'fieldRequired' | translate | capitalize }}
                </div>
              </div>
              <div class="col-md-5">
                <label for="posDescription">{{ 'posDescription' | translate | capitalize }}:</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="posDescription"
                  name="posDescription"
                  id="posDescription"
                  [ngClass]="{
                      'is-invalid': articleForm.get('posDescription')?.touched && articleForm.get('posDescription')?.invalid,
                    }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    articleForm.get('posDescription')?.touched &&
                    articleForm.get('posDescription')?.hasError('required')
                  "
                >
                  {{ 'fieldRequired' | translate | capitalize }}
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    articleForm.get('posDescription')?.touched &&
                    articleForm.get('posDescription')?.hasError('maxlength')
                  "
                >
                  {{
                    'max-length'
                      | translate : { max: articleForm.get('posDescription')?.errors?.maxlength?.requiredLength || 0 }
                      | capitalize
                  }}
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4" style="text-align: center">
            <app-upload-file
              (uploadedUrls)="onImagesUploaded($event)"
              [folder]="'article'"
              [existingImageUrl]="articleForm.get('picture')?.value"
            >
            </app-upload-file>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="unitOfMeasurement">{{ 'unitOfMeasurement' | translate | capitalize }}:</label>
            <app-typeahead-dropdown
              [control]="articleForm.get('unitOfMeasurement')"
              [data]="unitOfMeasurements"
              [readonly]="readonly"
              [keyField]="'_id'"
              [displayField]="'name'"
            ></app-typeahead-dropdown>
          </div>
          <div class="col-md-4">
            <label for="printIn">{{ 'printIn' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="printIn">
              <option
                *ngFor="let printIn of printIns"
                [ngValue]="printIn"
                [disabled]="readonly || (article && article.type && article.type.toString() === 'Variante')"
              >
                {{ printIn }}
              </option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="favourite">{{ 'favourite' | translate | capitalize }}:</label>
            <select class="form-control" formControlName="favourite">
              <option [ngValue]="true" [disabled]="readonly">
                {{ 'true' | translate | capitalize }}
              </option>
              <option [ngValue]="false" [disabled]="readonly">
                {{ 'false' | translate | capitalize }}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="observation">{{ 'observation' | translate | capitalize }}</label>
            <quill-editor
              formControlName="observation"
              [modules]="quillConfig.modules"
              [theme]="quillConfig.theme"
              style="width: 100%"
            >
            </quill-editor>
          </div>
        </div>
        <hr />
        <div class="row">
          <label class="col-md-12">
            <b>{{ 'price' | translate | capitalize }}</b>
          </label>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label for="basePrice">{{ 'basePrice' | translate | capitalize }}:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">$</span>
              </div>
              <input
                type="number"
                class="form-control"
                formControlName="basePrice"
                name="basePrice"
                (blur)="updatePrices('basePrice'); onValueChanged($event.target.id)"
                [ngClass]="{
                  'is-invalid': articleForm.get('basePrice')?.touched && articleForm.get('basePrice')?.invalid,
                }"
              />
            </div>
            <div
              class="invalid-feedback"
              *ngIf="articleForm.get('basePrice')?.touched && articleForm.get('basePrice')?.hasError('required')"
            >
              {{ 'fieldRequired' | translate | capitalize }}
            </div>
          </div>
          <div class="col-md-3">
            <label class="control-label">{{ 'lastPurchasePrice' | translate | capitalize }}:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">$</span>
              </div>
              <input type="number" class="form-control" formControlName="purchasePrice" readonly />
            </div>
          </div>
          <div class="col-md-3">
            <label class="control-label">{{ 'priceCostStructure' | translate | capitalize }}:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">$</span>
              </div>
              <input type="number" class="form-control" formControlName="costPrice2" readonly />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label for="tax" class="control-label">Impuesto:</label>
            <select class="form-control">
              <option value=""></option>
              <option *ngFor="let tax of taxes" [disabled]="readonly">
                {{ tax.name }}
              </option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="percentage" class="control-label">Porcentaje:</label>
            <div class="input-group">
              <input type="number" class="form-control" name="percentage" id="percentage" step="1" />
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">%</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <label for="taxAmount" class="control-label">Monto:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">$</span>
              </div>
              <input type="number" class="form-control" name="taxAmount" id="taxAmount" step="1" />
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="value" class="control-label">Acción:</label>
            <div class="input-group">
              <button type="submit" class="btn btn-success">Agregar</button>
            </div>
          </div>
        </div>

        <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th width="130">Acción</th>
                <th>Impuesto</th>
                <th>Base Imponible</th>
                <th>Porcentaje</th>
                <th>Monto del Impuesto</th>
              </tr>
            </thead>
            <tbody>
              <tr
                [formGroup]="articleTaxAux"
                *ngFor="let articleTaxAux of this.articleForm.get('taxes').controls; let i = index"
              >
                <td align="left" width="130">
                  <button type="button" class="btn btn-danger btn-sm" title="Eliminar" (click)="deleteArticleTax(i)">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
                <td class="flat">{{ articleTaxAux.get('tax').value?.name ?? '' }}</td>
                <td class="flat">
                  {{ articleTaxAux.get('taxBase').value | currency : 'USD' : 'symbol-narrow' : '1.2-2' }}
                </td>
                <td class="flat">{{ articleTaxAux.get('percentage').value }} %</td>
                <td class="flat">
                  {{ articleTaxAux.get('taxAmount').value | currency : 'USD' : 'symbol-narrow' : '1.2-2' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <hr />
        <div class="row">
          <label class="col-md-12">
            <b>{{ 'audit' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <label>
                  {{ 'creationUser.name' | translate | capitalize }}:
                  <b>{{ article?.creationUser?.name ?? '' }}</b>
                </label>
              </div>
              <div class="col-md-6">
                <label>
                  {{ 'theDay' | translate | capitalize }}:
                  <b>{{ article?.creationDate ?? null | dateFormat : 'DD/MM/YYYY HH:mm:ss' }}</b>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>
                  {{ 'updateUser.name' | translate | capitalize }}:
                  <b>{{ article?.updateUser?.name ?? '' }}</b>
                </label>
              </div>
              <div class="col-md-6">
                <label>
                  {{ 'theDay' | translate | capitalize }}:
                  <b>{{ article?.updateDate ?? null | dateFormat : 'DD/MM/YYYY HH:mm:ss' }}</b>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>
                  {{ 'id' | translate | capitalize }}:
                  <b>{{ article?._id ?? '' }}</b>
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
