<section class="container-fluid">
  <div class="card">
    <div class="card-header">
      <span style="color: #607d8b" *ngIf="operation === 'add' || operation === 'copy'">
        {{ 'add-origin' | translate | capitalize }}
      </span>
      <span style="color: #607d8b" *ngIf="operation === 'update'">
        {{ 'edit' | translate | capitalize }} {{ origin?.number ?? '' }}
      </span>
      <span style="color: #607d8b" *ngIf="operation === 'view' || operation === 'delete'">
        {{ origin?.number ?? '' }}
      </span>
      <div class="pull-right">
        <button type="button" class="btn" (click)="returnTo()">
          <i class="fa fa-arrow-left"></i><span>{{ 'return' | translate | capitalize }}</span>
        </button>
        <button
          type="button"
          class="btn"
          [disabled]="loading"
          *ngIf="operation !== 'delete' && operation !== 'view'"
          (click)="handleOriginOperation()"
        >
          <i class="fa" [ngClass]="{ 'fa-save': !loading, 'fa-spinner fa-spin': loading }"></i>
          <span *ngIf="!loading"> {{ 'save' | translate | capitalize }}</span>
          <span *ngIf="loading"> {{ 'loading' | translate | capitalize }}</span>
        </button>
        <button
          type="button"
          class="btn btn-danger active"
          *ngIf="operation === 'delete'"
          [disabled]="loading"
          (click)="handleOriginOperation()"
        >
          <i class="fa" [ngClass]="{ 'fa-trash': !loading, 'fa-spinner fa-spin': loading }"></i>
          <span *ngIf="!loading">{{ 'delete' | translate | capitalize }}</span>
          <span *ngIf="loading">{{ 'loading' | translate | capitalize }}</span>
        </button>
      </div>
    </div>
    <div class="card-body scroll">
      <form [formGroup]="originForm" (ngSubmit)="handleOriginOperation()" autocomplete="off">
        <!-- Datos principales -->
        <div class="row">
          <label class="form-group col-md-12">
            <b>{{ 'mainData' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-3">
            <label for="description" class="control-label">{{ 'number' | translate | capitalize }}:</label>
            <input
              type="number"
              class="form-control"
              formControlName="number"
              id="number"
              [focus]="focusEvent"
              [ngClass]="{
                'is-invalid': originForm.get('number')?.touched && originForm.get('number')?.invalid,
              }"
            />
            <div
              class="invalid-feedback"
              *ngIf="originForm.get('number')?.touched && originForm.get('number')?.hasError('required')"
            >
              {{ 'fieldRequired' | translate | capitalize }}
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="control-label">{{ 'branch' | translate | capitalize }}</label>
            <app-typeahead-dropdown
              placeholder="{{ 'branch' | translate | capitalize }}"
              [control]="originForm.get('branch')"
              [data]="branchs"
              [keyField]="'_id'"
              [displayField]="'name'"
            ></app-typeahead-dropdown>
          </div>
        </div>

        <hr />
        <div class="row">
          <label class="form-group col-md-12">
            <b>{{ 'audit' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'creationUser.name' | translate | capitalize }}:
                  <b>{{ origin?.creationUser?.name || '' }}</b>
                </label>
              </div>
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'theDay' | translate | capitalize }}:
                  <b>{{ origin?.creationDate ?? null | dateFormat : 'DD/MM/YYYY HH:mm:ss' }}</b>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'updateUser.name' | translate | capitalize }}:
                  <b>{{ origin?.updateUser?.name || '' }}</b>
                </label>
              </div>
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'theDay' | translate | capitalize }}:
                  <b>{{ origin?.updateDate ?? null | dateFormat : 'DD/MM/YYYY HH:mm:ss' }}</b>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  ID:<b>{{ origin?._id || '' }}</b>
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
