<section class="container-fluid">
  <div class="card">
    <div class="card-header">
      <span style="color: #607d8b" *ngIf="operation === 'add' || operation === 'copy'">{{
        'add-category' | translate | capitalize
      }}</span>
      <span style="color: #607d8b" *ngIf="operation === 'update'"
        >{{ 'edit' | translate | capitalize }} {{ category?.description ?? '' }}</span
      >
      <span style="color: #607d8b" *ngIf="operation === 'view' || operation === 'delete'">
        {{ category?.description ?? '' }}</span
      >
      <div class="pull-right">
        <button type="button" class="btn" (click)="returnTo()">
          <i class="fa fa-arrow-left"></i><span>{{ 'return' | translate | capitalize }}</span>
        </button>
        <button
          type="button"
          class="btn"
          [disabled]="loading"
          *ngIf="operation !== 'delete' && operation !== 'view'"
          (click)="handleCategoryOperation()"
        >
          <i class="fa" [ngClass]="{ 'fa-save': !loading, 'fa-spinner fa-spin': loading }"></i>
          <span *ngIf="!loading"> {{ 'save' | translate | capitalize }}</span>
          <span *ngIf="loading"> {{ 'loading' | translate | capitalize }}</span>
        </button>
        <button
          *ngIf="operation === 'delete'"
          type="button"
          class="btn btn-danger active"
          [disabled]="loading"
          (click)="handleCategoryOperation()"
        >
          <i class="fa" [ngClass]="{ 'fa-trash': !loading, 'fa-spinner fa-spin': loading }"></i>
          <span *ngIf="!loading">{{ 'delete' | translate | capitalize }}</span>
          <span *ngIf="loading">{{ 'loading' | translate | capitalize }}</span>
        </button>
      </div>
    </div>
    <div class="card-body scroll">
      <form [formGroup]="categoryForm" (ngSubmit)="handleCategoryOperation()" autocomplete="off">
        <div class="row">
          <label class="form-group col-md-12">
            <b>{{ 'mainData' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <!-- Orden -->
              <div class="form-group col-md-2">
                <label for="order" class="control-label">{{ 'order' | translate | capitalize }}:</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="order"
                  name="order"
                  id="order"
                  [readonly]="readonly"
                />
              </div>

              <!-- Descripción -->
              <div class="form-group col-md-8">
                <label for="description" class="control-label">{{ 'description' | translate | capitalize }}:</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="description"
                  name="description"
                  id="description"
                  [focus]="focusEvent"
                  [ngClass]="{
                    'is-invalid': categoryForm.get('description')?.touched && categoryForm.get('description')?.invalid
                  }"
                  [readonly]="readonly"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    categoryForm.get('description')?.touched && categoryForm.get('description')?.hasError('required')
                  "
                >
                  {{ 'fieldRequired' | translate | capitalize }}
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Padre -->
              <div class="form-group col-md-10">
                <label for="parent" class="control-label">{{ 'parent' | translate | capitalize }}:</label>
                <app-typeahead-dropdown
                  [control]="categoryForm.get('parent')"
                  [data]="categories"
                  [readonly]="readonly"
                  [keyField]="'_id'"
                  [displayField]="'description'"
                ></app-typeahead-dropdown>
              </div>
            </div>

            <div class="row">
              <!-- Observación -->
              <div class="form-group col-md-10">
                <label for="observation" class="control-label">{{ 'observation' | translate | capitalize }}:</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="observation"
                  name="observation"
                  id="observation"
                  [readonly]="readonly"
                />
              </div>
            </div>
          </div>

          <!-- Imagen -->
          <div class="form-group col-md-4">
            <!-- <label for="picture" class="control-label">{{ 'picture' | translate | capitalize }}:</label> -->
            <app-upload-file
              (uploadedUrls)="onImagesUploaded($event)"
              [folder]="'category'"
              [existingImageUrl]="categoryForm.get('picture')?.value"
            >
            </app-upload-file>
          </div>
        </div>

        <hr />
        <div class="row">
          <div class="form-group col-md-2">
            <label for="favourite" class="control-label">Destacado</label>
            <select class="form-control" formControlName="favourite">
              <option [ngValue]="true" [disabled]="readonly">
                {{ 'true' | translate | capitalize }}
              </option>
              <option [ngValue]="false" [disabled]="readonly">
                {{ 'false' | translate | capitalize }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="isRequiredOptional" class="control-label">Requiere opcional</label>
            <select class="form-control" formControlName="isRequiredOptional">
              <option [ngValue]="true" [disabled]="readonly">
                {{ 'true' | translate | capitalize }}
              </option>
              <option [ngValue]="false" [disabled]="readonly">
                {{ 'false' | translate | capitalize }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="publishWooCommerce" class="control-label">WooCommerce</label>
            <select class="form-control" formControlName="publishWooCommerce">
              <option [ngValue]="true" [disabled]="readonly">
                {{ 'true' | translate | capitalize }}
              </option>
              <option [ngValue]="false" [disabled]="readonly">
                {{ 'false' | translate | capitalize }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="publishTiendaNube" class="control-label">Tienda Nube</label>
            <select class="form-control" formControlName="publishTiendaNube">
              <option [ngValue]="true" [disabled]="readonly">
                {{ 'true' | translate | capitalize }}
              </option>
              <option [ngValue]="false" [disabled]="readonly">
                {{ 'false' | translate | capitalize }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="showMenu" class="control-label">Carta Digital</label>
            <select class="form-control" formControlName="showMenu">
              <option [ngValue]="true" [disabled]="readonly">
                {{ 'true' | translate | capitalize }}
              </option>
              <option [ngValue]="false" [disabled]="readonly">
                {{ 'false' | translate | capitalize }}
              </option>
            </select>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="form-group col-md-2">
            <label for="visibleInvoice" class="control-label">Visible en la factura</label>
            <select class="form-control" formControlName="visibleInvoice">
              <option [ngValue]="true" [disabled]="readonly">
                {{ 'true' | translate | capitalize }}
              </option>
              <option [ngValue]="false" [disabled]="readonly">
                {{ 'false' | translate | capitalize }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="visibleOnSale" class="control-label">Visible en la venta</label>
            <select class="form-control" formControlName="visibleOnSale">
              <option [ngValue]="true" [disabled]="readonly">
                {{ 'true' | translate | capitalize }}
              </option>
              <option [ngValue]="false" [disabled]="readonly">
                {{ 'false' | translate | capitalize }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="visibleOnPurchase" class="control-label">Visible en la compra</label>
            <select class="form-control" formControlName="visibleOnPurchase">
              <option [ngValue]="true" [disabled]="readonly">
                {{ 'true' | translate | capitalize }}
              </option>
              <option [ngValue]="false" [disabled]="readonly">
                {{ 'false' | translate | capitalize }}
              </option>
            </select>
          </div>
        </div>
        <hr />
        <div class="row">
          <label class="form-group col-md-12">
            <b>{{ 'audit' | translate | capitalize }}</b>
          </label>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'creationUser.name' | translate | capitalize }}:
                  <b>{{ category?.creationUser?.name ?? '' }}</b>
                </label>
              </div>
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'theDay' | translate | capitalize }}:
                  <b>{{ category?.creationDate ?? null | dateFormat : 'DD/MM/YYYY HH:mm:ss' }}</b>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'updateUser.name' | translate | capitalize }}:
                  <b>{{ category?.updateUser?.name ?? '' }}</b>
                </label>
              </div>
              <div class="form-group col-md-6">
                <label class="control-label">
                  {{ 'theDay' | translate | capitalize }}:
                  <b>{{ category?.updateDate ?? null | dateFormat : 'DD/MM/YYYY HH:mm:ss' }}</b>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-3">
                <label class="control-label">
                  {{ 'id' | translate | capitalize }}:
                  <b>{{ category?._id ?? '' }}</b>
                </label>
              </div>
              <div class="form-group col-md-3">
                <label class="control-label">
                  {{ 'wooId' | translate | capitalize }}:
                  <b>{{ category?.wooId ?? '' }}</b>
                </label>
              </div>
              <div class="form-group col-md-3">
                <label class="control-label">
                  {{ 'tiendaNubeId' | translate | capitalize }}:
                  <b>{{ category?.tiendaNubeId ?? '' }}</b>
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
