<div class="modal-header">
	<h4 class="modal-title" *ngIf="op === 'cancel'">Anular Transacción</h4>
	<h4 class="modal-title" *ngIf="op === 'delete'">Eliminar Transacción</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
	<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="center-content" *ngIf="alertMessage !== ''">
		<ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
			{{alertMessage}}
		</ngb-alert>
  </div>
	<p *ngIf="op === 'cancel' && transaction && transaction.type">¿Está seguro de anular la transacción <b>{{transaction.type.name}} Nro {{transaction.number}}</b>?</p>
	<p *ngIf="op === 'delete' && transaction && transaction.type">¿Está seguro de eliminar la transacción <b>{{transaction.type.name}} Nro {{transaction.number}}</b>?</p>
	<p *ngIf="op === 'delete' && transaction && transaction.type && transaction.type.modifyStock">
		<b>Recuerde realizar el ajuste de stock necesario al eliminar la transacción.</b>
	</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModal.close('close_click')">Cancelar</button>
  <button type="submit" class="btn btn-primary" (click)="cancelTransaction()" [focus]="focusEvent" *ngIf="op === 'cancel'" [disabled]="loading">Anular</button>
  <button type="submit" class="btn btn-danger" (click)="deleteTransaction()" [focus]="focusEvent"*ngIf="op === 'delete'" [disabled]="loading">Eliminar</button>
</div>
