<!--ADMIN-->
<section class="container-fluid" *ngIf="userType=='admin'">
  <div class="card card-outline-primary">
    <div class="card-header bg-primary card-inverse">Lista de Artículos
      <div class="pull-right">
        <button class="btn btn-primary" (click)="openModal('add', null)" >Agregar Artículo</button>
        <span (click)="areFiltersVisible = !areFiltersVisible">
          <i class="fa fa-filter"></i>
        </span>
      </div>
    </div>
      <div class="card-block">
        <table class="table table-hover">
          <thead>
            <tr>
              <th (click)="orderBy('code')"> # <i class="fa fa-fw fa-sort"></i></th>
              <th (click)="orderBy('description')">Description </th>
              <th (click)="orderBy('make','description')">Marca</th>
              <th (click)="orderBy('category','description')">Rubro</th>
              <th (click)="orderBy('salePrice')">Precio de Venta</th>
              <th (click)="orderBy('unitOfMeasure')">Unidad de Medida</th>
              <th (click)="orderBy('observation')">Observation</th>
              <th (click)="orderBy('barcode')">Codigo de Barra</th>
              <th (click)="orderBy('type')">Tipo</th>
              <th></th>
            </tr>
            <tr *ngIf="areFiltersVisible">
                <th><input type="text" class="form-control" [(ngModel)]= "filterCode" placeholder="#..."></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterDescription" placeholder="Descripción..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterMake" placeholder="Marca..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterCategory" placeholder="Rubro..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterSalePrice" placeholder="Precio de Venta..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterUnitOfMeasure" placeholder="Unidad de Medida..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterTermObservation" placeholder="Observación..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterTermBarcode" placeholder="Código de Barra..." ></th>
                <th><input type="text" class="form-control" [(ngModel)]= "filterType" placeholder="Tipo..." ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let article of articles | orderBy: [orderTerm]:property | filter: filterCode:'code' | filter: filterDescription:'description' | filter: filterMake:'description':'make'
                                                                        | filter: filterCategory:'description':'category' | filter: filterSalePrice:'salePrice' | filter: filterUnitOfMeasure:'unitOfMeasure'
                                                                        | filter: filterTermObservation:'observation' | filter: filterTermBarcode:'barcode' | filter: filterType:'type'
                                                                        | paginate: {  itemsPerPage: 9, currentPage: p }">
              <td class="flat">{{article.code}}</td>
              <td class="flat">{{article.description}}</td>
              <td class="flat">{{article.make.description}}</td>
              <td class="flat">{{article.category.description}}</td>
              <td class="flat">{{article.salePrice | currency:'USD':'1.2-2'}}</td>
              <td class="flat">{{article.unitOfMeasure}}</td>
              <td class="flat">{{article.observation}}</td>
              <td class="flat">{{article.barcode}}</td>
              <td class="flat">{{article.type}}</td>
              <td align="center">
                <button type="button" class="btn btn-primary" (click)="openModal('update', article)"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-danger" (click)="openModal('delete', article)"><i class="fa fa-trash-o"></i></button>
              </td>
            </tr>
            <tr align="center" *ngIf="areArticlesEmpty">
              <td colspan="10">No se encontraron artículos</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-primary card-inverse">
        <pagination-controls 
          (pageChange)="p=$event" 
          #api 
          previousLabel="Anterior"
          nextLabel="Siguiente"
          nextLabel="Next">
        </pagination-controls>
      </div>
  </div>
</section>

<!--POS-->
<section  class="container-fluid" *ngIf="userType=='pos'">
  <!--<input type="search" class="form-control" [(ngModel)]= "filterDescription" placeholder="Buscar artículo.." (onfocus)="showArticles()">-->
  <div class="row" *ngIf="areArticlesVisible"> 
    <div *ngFor="let article of articles | filter: filterCategory.description:'description':'category'" >
      <div class="iarticle" (click)="addItem(article)">
        <p>{{article.description}}</p>
      </div>
    </div>
  </div>
</section>